{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block situation %} {% endblock situation %}

{% block content %}

    <section class="howitworks_title">
        <div>
            {% trans "how it works" %}
        </div>
    </section>
    <section class="howitworks">
        <div class="columb columb_1">
            <img src="{% static 'site/img/img_1.png' %}" alt="{% trans "Set Your Migration Plan" %}" />
            <div class="title">
                {% trans "Set Your Migration Plan" %}
            </div>
            <div class="text">
                {% trans "Define where you want to go. (i.e. 'Work and live in Australia', 'study in Canada'...)" %}
            </div>
        </div>
        <div class="columb columb_2">
            <img src="{% static 'site/img/img_2.png' %}" alt="{% trans "Get Help" context "imperative" %}" />
            <div class="title">
                {% trans "Get Help" context "imperative" %}
            </div>
            <div class="text">
                {% trans "Get free help from our community or sign-up for a premium account to get full access to our awesome tools." %}
            </div>
        </div>
        <div class="columb columb_3">
            <img src="{% static 'site/img/img_3.png' %}" alt="{% trans "Move to Your Dream Country" %}" />
            <div class="title">
                {% trans "Move to Your Dream Country" %}
            </div>
            <div class="text">
                {% trans "All you need to choose a country, apply for the visa, improve your english, validate your school records, apply for job offers, etc..." %}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="but">
             <a href="{% url 'site:signup' %}" class="bt-edit button">{% trans "Start now. It’s Free!" %}</a>
        </div>
        <div class="clearfix"></div>
        <br /><br /><br />
    </section>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {


        });

    </script>

{% endblock scripts %}