{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Inline CSS -->
    <link rel="stylesheet" href="{% static "common/jquery-flexslider/css/flexslider.css" %}" />
    <link rel="stylesheet" href="{% static "common/light-gallery/css/lightGallery.css" %}" />

{% endblock head %}

{% block body %}
    <body class="dashboard generic-product consulting">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block header %}
    {{ block.super }}
    <div class="clearfix"></div>
    <div class="content_e_book">
        <div class="title">
            {% trans 'Immigration Evaluation' %}
        </div>
        <div class="text">
            {% trans 'Get ready for your dream country' %}
        </div>
        <div class="text2">
            {{ city.title }}
        </div>
        <a href="#" class="scroll-down">
            <img src="{% static 'site/img/arrow_bottom.png' %}" alt="{% trans 'arrow-bottom' %}" />
        </a>
    </div>
{% endblock header %}

{% block situation %} {% endblock situation %}

{% block content %}


    {% if LANGUAGE_CODE == 'en' %}
        <section class="books_block">
            {% include "site/_common/status.html" %}
        </section>
    {% endif %}
    
    <section class="books_block">
        <div class="left">
            <div class="title">
                {{ city.workshop_text }}
                <br />
                <span>{{ city.workshop_sub_text }}</span>
            </div>
            <div class="text">
                {% trans "Analyze your chances to immigrate to Canada or Australia." %}
                <ul>
                    <li>{% trans "Duration: 1 hour and a half (in group)" %}</li>
                    <li>{% trans "Learn immigration options and measure your chances" %}</li>
                    <li>{% trans "How to start and execute your plan" %}</li>
                    <li>{% trans "How to study, work and do business in Canada or Australia" %}</li>
                    <li>{% trans "How to take your family to Canada or Australia" %}</li>
                    <li>{% trans "Calculate your immigration points to understand your chances" %}</li>
                    <li>{% trans "Receive an immigration e-book and International CV templates" %}</li>
                </ul>
                <span class="small">{% trans "You will receive a confirmation email after the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>65,00<sup></sup><!--<sup>90</sup>--></span>
                </div>
                <div class="but">
                    <a href="{{ city.workshop_link }}" class="bt-edit button">{% trans "Buy" %}</a>
                </div>

            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/consulting-workshop.png' %}" alt="{% trans 'Immigration Consulting' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="line"></div>

    <section class="books_block">
        <div class="left">
            <div class="title">
                {{ city.individual_text }}
                <br />
                <span>{{ city.individual_sub_text }}</span>
            </div>
            <div class="text">
                {% trans "Analyze your individual chances (or as a couple) to immigrate to Canada or Australia." %}
                <ul>
                    <li>{% trans "Duration: 1 hour" %}</li>
                    <li>{% trans "Immigration options accordingly to your profile" %}</li>
                    <li>{% trans "Personal step-by-step plan" %}</li>
                    <li>{% trans "How to study, work and do business in Canada or Australia" %}</li>
                    <li>{% trans "How to take your family to Canada or Australia" %}</li>
                    <li>{% trans "Evaluation of your immigration points" %}</li>
                    <li>{% trans "Individual report" %}</li>
                    <li>{% trans "1 year subscription to the" %} <a href="{% url 'marketplace:subscription' %}" target="_blank">Immi Box</a>, {% trans "including tools for CV preparation, visa application, english evaluation, etc..." %} </li>
                </ul>
                <span class="small">{% trans "You will be able to schedule a day and time before the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>160,00<sup></sup><!--<sup>90</sup>--></span>
                </div>
                <div class="but">
                    <a href="{{ city.individual_link }}" class="bt-edit button">{% trans "Buy" %}</a>
                </div>

            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/consulting-individual.png' %}" alt="{% trans 'Immigration Consulting' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <br /><br />

    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "You guys built a very rich content, with excellent hints. This guide could easily save months of research of information." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-tania.png' %}" alt="{% trans 'testmonial-tania-antonieli' %}" />
                        </div>
                        <div class="text2">Tânia Antonieli<br /><span>{% trans "Project Manager" %}</span></div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "I had no idea I had most of the requirements to get a visa to live in Canada until I read the e-book." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-igor.png' %}" alt="{% trans 'testmonial-igor-freitas' %}" />
                        </div>
                        <div class="text2">Igor Freitas<br /><span>{% trans "Personal Trainer and Musician" %}</span></div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="call_to_action">
        <div class="left">
            {% trans "Full access to all the tools?" %}
        </div>
        <div class="but">
            <a href="{% url 'marketplace:subscription' %}" class="bt-edit button">{% trans "Subscribe Now" %}</a>
        </div>
    </section>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/jquery-ui/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-flexslider/js/jquery.flexslider.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {


            // plugin for testmonials slides
            $( '.flexslider' ).flexslider({
                animation: "slide"
            });

            // scrolls down arrow effect
            $( 'a.scroll-down' ).click( function( event ) {
                event.preventDefault();
                $('html,body').animate({
                  scrollTop: $( ".books_block").first().offset().top
                }, 1000);
            });

            // makes arrow bounce
            $( "a.scroll-down img" ).effect( "bounce", { distance: 40, times: 10 }, 3400 );

        });

    </script>

{% endblock scripts %}