{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="login-wrapper">

        <!-- Main -->
        <section id="main" class="main">

            <div class="inner">
                <header class="major">
                    <h1>{% trans "RECOVER PASSWORD" %}</h1>
                </header>

                <div class="row">

                    <div class="6u 12u$(small)">

                        <!-- Form -->
                        <h3>{% trans "WE WILL SEND YOU A LINK TO RESET YOUR PASSWORD" %}</h3>

                        <form method="post" action="">

                            {% csrf_token %}

                            <div class="row uniform">

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.email.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.email }}
                                        <span><span>{{ form.email.label }}</span></span>
                                    </label>
                                    {{ form.email.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$">
                                    <ul class="actions">
                                        <li>
                                            <input type="submit" value="{% trans "Recover Password" %}" class="special" />
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </form>

                    </div>

                    <div class="12u align-center">
                        <p>
                            {% trans "Not registered yet?" %}
                            <a href="{% url 'member:signup' %}">{% trans "Sign up here" %}</a>
                        </p>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){

            // Tracks "password reset"
            {% if track_password_reset %}
                track_event('{{ tracking_event_requested_password_reset }}', {
                    'password_reset_url': '{{ password_reset_url }}'
                });
            {% endif %}

        });


    </script>

{% endblock scripts %}
