{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="signup-wrapper">

        <!-- Main -->
        <section id="main" class="main">

            <div class="inner">
                <header class="major">
                    <h1>{% trans "SET YOUR NEW PASSWORD" %}</h1>
                </header>

                <div class="row">

                    <div class="6u 12u$(small)">

                        <!-- Form -->
                        <h3>{% trans "CHOOSE A NEW PASSWORD AND CONFIRM IT" %}</h3>

                        <form method="post" action="">

                            {% csrf_token %}

                            <div class="row uniform">

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.password.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.password }}
                                        <span><span>{{ form.password.label }}</span></span>
                                    </label>
                                    {{ form.password.errors }}
                                </div>

                               <!-- Break -->
                                <div class="12u$ form-field {% if form.password_confirmation.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.password_confirmation }}
                                        <span><span>{{ form.password_confirmation.label }}</span></span>
                                    </label>
                                    {{ form.password_confirmation.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$">
                                    <ul class="actions">
                                        <li>
                                            <input type="submit" value="{% trans "RESET PASSWORD" %}" class="special" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="12u align-center">
                        <p>
                            {% trans "Don't want to change your password?" %}
                            <a href="{% url "member:login" %}">{% trans "Log in here" %}</a>
                        </p>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){


        });


    </script>

{% endblock scripts %}
