{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="signup-wrapper">

        <!-- Main -->
        <section id="main" class="main">

            <div class="inner">
                <header class="major">
                    <h1>{% trans "Sign Up" %}</h1>
                </header>

                <div class="row">

                    <div class="6u 12u$(small)">

                        <!-- Form -->
                        <h3>{% trans "Create Your Account" %}</h3>

                        <form method="post" action="">

                            {% csrf_token %}

                            <div class="row uniform">

                                <div class="6u 12u$(xsmall) form-field {% if form.first_name.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.first_name }}
                                        <span><span>{{ form.first_name.label }}</span></span>
                                    </label>
                                    {{ form.first_name.errors }}
                                </div>

                                <div class="6u$ 12u$(xsmall) form-field {% if form.last_name.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.last_name }}
                                        <span><span>{{ form.last_name.label }}</span></span>
                                    </label>
                                    {{ form.last_name.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.country.errors %}has-error{% endif %}">
                                    <label>
                                        <div class="select-wrapper">
                                            {{ form.country }}
                                        </div>
                                        <span><span>{{ form.country.label }}</span></span>
                                    </label>
                                    {{ form.country.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.email.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.email }}
                                        <span><span>{{ form.email.label }}</span></span>
                                    </label>
                                    {{ form.email.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.password.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.password }}
                                        <span><span>{{ form.password.label }}</span></span>
                                    </label>
                                    {{ form.password.errors }}
                                </div>

                                <!-- Break -->
                                {% for radio in form.gender %}
                                    <div class="3u{% if forloop.first %} -6u 3u(small) -5u(small){% else %}${% endif %}">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}

                                <!-- Break -->
                                <div class="12u$">
                                    <ul class="actions">
                                        <li>
                                            <input type="submit" value="{% trans "Create Account" %}" class="special" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="6u 12u$(small)">

                        <div class="facebook">

                            <p>{% trans "or alternatively, you can:" %}</p>

                            <div class="8u -2u 12u(medium) -0u(medium)">
                                <ul class="actions vertical">
                                    <li>
                                        <a href="#" class="facebook-button button special fit icon fa-facebook-official">
                                            {% trans "Sign-up with Facebook" %}
                                        </a>
                                        <div class="facebook-loading" style="display: none;">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="12u align-center">
                        <p>
                            {% trans "Already registered?" %}
                            <a href="{% url "member:login" %}">{% trans "Log in here" %}</a>
                        </p>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'site/js/facebook.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            facebook.setup_login({
                facebook_login_url: "{% url "member:login_facebook" %}",
                redirect_url: "{% url 'member:dashboard' %}?next={{ next }}",
                facebook_app_id: '{{ facebook_app_id }}',
                facebook_button_element: '.facebook-button',
                facebook_loading_element: '.facebook-loading',
            });

        });


    </script>

{% endblock scripts %}
