{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <body class="dashboard choose">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}

    <div class="content choose-destiny">
        <h2 class="title">{% trans "Immigration Points Calculator" %}</h2>
        <div class="steps">
            <div class="step-one step">
                <div class="top">
                    <h3 class="subtitle">{% trans "Edit your information:" %}</h3>
                </div>
                <ul>
                    <li class="item">
                        <div class="personal information-field">
                            <div class="progress">
                                <strong class="type">{% trans "Personal" %}</strong>
                                <div class="progress-track">
                                    <div class="progress-fill progress-fill-{{ personal_percentage_css_color }}" style="width: {{ personal_percentage|default:2 }}%"></div>
                                </div>
                                <div class="porcentage">{{ personal_percentage }}%</div>
                                <p>{% trans "Completed" %}</p>
                            </div>
                            <a href="{% url 'points:edit_personal' %}" class="bt-edit">{% trans "Edit" %}</a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="language information-field">
                            <div class="progress">
                                <strong class="type">{% trans "Language" %}</strong>
                                <div class="progress-track">
                                    <div class="progress-fill progress-fill-{{ language_percentage_css_color }}" style="width: {{ language_percentage|default:2 }}%"></div>
                                </div>
                                <div class="porcentage">{{ language_percentage }}%</div>
                                <p>{% trans "Completed" %}</p>
                            </div>
                            <a href="{% url 'points:edit_language' %}" class="bt-edit">{% trans "Edit" %}</a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="education information-field">
                            <div class="progress">
                                <strong class="type">{% trans "Education" %}</strong>
                                <div class="progress-track">
                                    <div class="progress-fill progress-fill-{{ education_percentage_css_color }}" style="width: {{ education_percentage|default:2 }}%"></div>
                                </div>
                                <div class="porcentage">{{ education_percentage }}%</div>
                                <p>{% trans "Completed" %}</p>
                            </div>
                            <a href="{% url 'points:edit_education' %}" class="bt-edit">{% trans "Edit" %}</a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="work information-field">
                            <div class="progress">
                                <strong class="type">{% trans "Work" %}</strong>
                                <div class="progress-track">
                                    <div class="progress-fill progress-fill-{{ work_percentage_css_color }}" style="width: {{ work_percentage|default:2 }}%"></div>
                                </div>
                                <div class="porcentage">{{ work_percentage }}%</div>
                                <p>{% trans "Completed" %}</p>
                            </div>
                            <a href="{% url 'points:edit_work' %}" class="bt-edit">{% trans "Edit" %}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="step-two step">
                <div class="top">
                    <h3 class="subtitle">{% trans "Your points per country:" %}</h3>
                </div>
                <ul class="countries-list">
                    <li class="country-item au">
                        <div class="country">
                            <div class="circle-progress-bar australia"></div>
                            <div class="score">
                                <span class="name">{% trans "Australia" %}</span>
                                <p><strong class="points">{{ au_points }}</strong> <span>{% trans "POINTS" %}</span> <em>{% trans "OF" %} <i>{{ au_min_points }}</i> {% trans "REQUIRED" %}</em></p>
                            </div>
                        </div>
                    </li>
                    <li class="country-item ca">
                        <div class="country">
                            <div class="circle-progress-bar canada"></div>
                            <div class="score">
                                <span class="name">{% trans "Canada" %}</span>
                                <p><strong class="points">{{ ca_points }}</strong> <span>{% trans "Points" %}</span> <em>{% trans "OF" %} <i>{{ ca_min_points }}</i> {% trans "REQUIRED" %}</em></p>
                            </div>
                        </div>
                    </li>
                    <li class="country-item nz">
                        <div class="country">
                            <div class="circle-progress-bar newzealand"></div>
                            <div class="score">
                                <span class="name">{% trans "New Zealand" %}</span>
                                <p><strong class="points">{{ nz_points }}</strong> <span>{% trans "Points" %}</span> <em>{% trans "OF" %} <i>{{ nz_min_points }}</i> {% trans "REQUIRED" %}</em></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="step-three step">
                <div class="top">
                    <h3 class="subtitle">{% trans "Get help to migrate:" %}</h3>
                </div>
                <div class="choose-country">
                    <p>
                        {% blocktrans %}
                        <strong>Choose Country</strong></p>
                        {% endblocktrans %}
                </div>
                <div class="step-by-step">
                    <p class="locked">{% trans "You still don’t have enough points<br />to migrate to this country" %}</p>
                    <ul class="step-by">
                        <li class="item check"><a href="#">{% trans "Check country result" %}</a></li>
                        <li class="item moving-to"><a href="#">{% trans "Get professional help" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'common/circle-progress/js/circle-progress.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            $( '.circle-progress-bar.australia' ).circleProgress({
                value: ( parseInt( '{{ au_percentage|default:2 }}' ) / 100 ),
                size: 108,
                fill: {
                    image: '{% static "site/img/pattern-"|add:au_percentage_css_color|add:"-small.png" %}'
                }
            });

            $( '.circle-progress-bar.canada' ).circleProgress({
                value: ( parseInt( '{{ ca_percentage|default:2 }}' ) / 100 ),
                size: 108,
                fill: {
                    image: '{% static "site/img/pattern-"|add:ca_percentage_css_color|add:"-small.png" %}'
                }
            });

            $( '.circle-progress-bar.newzealand' ).circleProgress({
                value: ( parseInt( '{{ nz_percentage|default:2 }}' ) / 100 ),
                size: 108,
                fill: {
                    image: '{% static "site/img/pattern-"|add:nz_percentage_css_color|add:"-small.png" %}'
                }
            });

            $( '.country-item.au' ).click( function( event ) {
                $( this ).css( 'background', '#DED6E2' );
                $( '.country-item.ca' ).css( 'background', '#f8f8f8' );
                $( '.country-item.nz' ).css( 'background', '#f8f8f8' );
                $( '.choose-country' ).hide();
                $( '.step-by-step' ).fadeIn( 'fast' );
                $( '.step-by-step .item.check a').attr( 'href', '{% url 'points:situation' 'australia' %}' );
                $( '.step-by-step .item.moving-to a').attr( 'href', '{% url 'points:professional_help' 'australia' %}' );
                {% if au_points < au_min_points %}
                    $( '.step-by-step p.locked' ).show();
                {% else  %}
                    $( '.step-by-step p.locked' ).hide();
                {% endif %}
            });

            $( '.country-item.ca' ).click( function( event ) {
                $( this ).css( 'background', '#DED6E2' );
                $( '.country-item.au' ).css( 'background', '#f8f8f8' );
                $( '.country-item.nz' ).css( 'background', '#f8f8f8' );
                $( '.choose-country' ).hide();
                $( '.step-by-step' ).fadeIn( 'fast' );
                $( '.step-by-step .item.check a').attr( 'href', '{% url 'points:situation' 'canada' %}' );
                $( '.step-by-step .item.moving-to a').attr( 'href', '{% url 'points:professional_help' 'canada' %}' );
                {% if ca_points < ca_min_points %}
                    $( '.step-by-step p.locked' ).show();
                {% else  %}
                    $( '.step-by-step p.locked' ).hide();
                {% endif %}
            });

            $( '.country-item.nz' ).click( function( event ) {
                $( this ).css( 'background', '#DED6E2' );
                $( '.country-item.au' ).css( 'background', '#f8f8f8' );
                $( '.country-item.ca' ).css( 'background', '#f8f8f8' );
                $( '.choose-country' ).hide();
                $( '.step-by-step' ).fadeIn( 'fast' );
                $( '.step-by-step .item.check a').attr( 'href', '{% url 'points:situation' 'new-zealand' %}' );
                $( '.step-by-step .item.moving-to a').attr( 'href', '{% url 'points:professional_help' 'new-zealand' %}' );
                {% if nz_points < nz_min_points %}
                    $( '.step-by-step p.locked' ).show();
                {% else  %}
                    $( '.step-by-step p.locked' ).hide();
                {% endif %}
            });

        });

    </script>

{% endblock scripts %}