{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <body class="dashboard choose about">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}

    <div class="content results">
        <div class="result">
            <aside class="country-result {{ country_name }}">
                <div class="country">
                    <strong>{{ country_name_as_label }}</strong>
                </div>
            </aside>
            <div class="main">
                <ul class="options">
                    <li class="option situation"><a href="{% url 'points:situation' country_name %}">{% trans "My situation" %}</a></li>
                    <li class="option visa"><a href="{% url 'points:visa_application' country_name %}">{% trans "Visa application" %}</a></li>
                    <li class="option movingto active"><a href="{% url 'points:professional_help' country_name %}">{% trans "Get expert help" %}</a></li>
                </ul>
                <div class="visa-application guide-steps">
                    <div class="visa-topics">

                        <div class="visa-topic">

                            <p class="text"> <a href="{% url 'marketplace:professionals' %}">{% trans "Click Here" %}:</a>{% trans " to search for an expert that can help you with you migration plan." %}</p>
                            <img src="{% static "site/img/temp-visa-image.jpg" %}" />

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // Tabs click option
            $('.option').click(function(event) {
                window.location = $( this ).find( 'a:first' ).attr( 'href' );
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}