{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <body class="dashboard choose about">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}

    <div class="content results">
        <div class="result">
            <aside class="country-result new-zealand">
                <div class="country">
                    <strong>{{ country_name_as_label }}</strong>
                </div>
            </aside>
            <div class="main">
                <ul class="options">
                    <li class="option situation active">{% trans "My situation" %}</li>
                    <li class="option visa">{% trans "Visa application" %}</li>
                    <li class="option movingto">{% trans "Get expert help" %}</li>
                </ul>
                <div class="my-situation guide-steps">
                    <div class="graph">

                        <div class="circle-progress-bar newzealand">

                        </div>
                        <div class="score">
                            <p><strong class="points">{{ total_points }}</strong> <span>{% trans "Points" %}</span> <em>{% trans "Of" %} <i>{{ min_points }}</i> {% trans "REQUIRED" %}</em></p>
                        </div>
                        <div class="skills">
                            <ul class="skills-list">
                                <li class="skill">
                                    <strong class="type personal">{% trans 'Personal' %}</strong>
                                    <div class="progress-track">
                                        <div class="progress-fill progress-fill-{{ personal_percentage_css_color }}" style="width: {{ personal_percentage|default:2 }}%"></div>
                                    </div>
                                    <strong class="points"><span>{{ personal_points }}</span> {% trans "POINTS" %} <em>({% trans "of" %} {{ personal_max_points }})</em></strong>
                                </li>
                                <li class="skill">
                                    <strong class="type professional">{% trans 'Language' %}</strong>
                                    <div class="progress-track">
                                        <div class="progress-fill progress-fill-{{ language_percentage_css_color }}" style="width: {{ language_percentage|default:2 }}%"></div>
                                    </div>
                                    <strong class="points"><span>{{ language_points }}</span> {% trans "POINTS" %} <em>({% trans "of" %} {{ language_max_points }})</em></strong>
                                </li>
                                <li class="skill">
                                    <strong class="type education">{% trans 'Education' %}</strong>
                                    <div class="progress-track">
                                        <div class="progress-fill progress-fill-{{ education_percentage_css_color }}" style="width: {{ education_percentage|default:2 }}%"></div>
                                    </div>
                                    <strong class="points"><span>{{ education_points }}</span> {% trans "POINTS" %} <em>({% trans "of" %} {{ education_max_points }})</em></strong>
                                </li>
                                <li class="skill">
                                    <strong class="type work">{% trans 'Work' %}</strong>
                                    <div class="progress-track">
                                        <div class="progress-fill progress-fill-{{ work_percentage_css_color }}" style="width: {{ work_percentage|default:2 }}%"></div>
                                    </div>
                                    <strong class="points"><span>{{ work_points }}</span> {% trans "POINTS" %} <em>({% trans "of" %} {{ work_max_points }})</em></strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hints">

                        <p class="{% if status_success %}success{% else %}locked{% endif %}">{{ status_message }}</p>

                        <h3 class="subtitle">{% trans "Hints" %}</h3>
                        <ul>
                            {% for hint in hints %}
                                <li class="hint">{{ hint|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'common/circle-progress/js/circle-progress.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            $( '.circle-progress-bar' ).circleProgress({
                value: ( parseInt( '{{ percentage_total|default:2 }}' ) / 100 ),
                size: 370,
                thickness: "12",
                fill: {
                    image: '{% static "site/img/pattern-"|add:percentage_total_css_color|add:"-big.png" %}'
                }
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}