*.pyc
*.pem
.idea/*
*/.idea
*/.idea/*
infra/.vagrant
log/
log/*
src/wannamigrate/_settings/local.py
debug.log
src/upload/*
src/wannamigratevenv
src/wannamigratevenv/*
src/celerybeat-schedule
src/~/
*.DS_Store
*.sock
*.pid
*.sh
*.ssh
*/.ssh/*
