{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="stories-wrapper">

        <!-- Main -->
        <section id="main" class="main grey">

            <div class="inner">

                <header class="major">
                    <h1>{% trans "Immi Stories" %} - {{ request.session.country_name }}</h1>
                </header>

                <p class="intro align-center">
                    {% blocktrans %}
                        A new series about real immigrants in the country they
                        chose to live. <br />The decision to leave, the immigration process, the job
                        hunting and many other challenges they faced until settling down.
                    {% endblocktrans %}
                </p>

                {% for post in posts %}
                    <div class="row listing-post">

                        <div class="4u 12u$(small)">
                            <div class="box">
                                <span class="image fit">
                                    <a href="{% url 'story:details' request.session.country_slug post.slug %}" title="{{ post.title }}">
                                        <img src="{{ post.image_1.small.url }}" alt="{{ post.title }}" />
                                    </a>
                                </span>
                                <div class="content">
                                    <a href="{% url 'story:details' request.session.country_slug post.slug %}" title="{{ post.title }}">
                                        <h3>{{ post.title|truncatechars:95 }}</h3>
                                        <p>
                                            {{ post.html_content|safe|striptags|truncatechars_html:140 }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>

        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'common/jquery-match-height/js/jquery.matchHeight.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            // For Keeping equal heights of homepage blocks
            $('.box').matchHeight({
                property: 'height'
            });

        });

    </script>

{% endblock scripts %}
