{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Inline CSS -->
    <link rel="stylesheet" href="{% static "common/font-awesome/css/font-awesome.css" %}" />
    <link rel="stylesheet" href="{% static "site/css/login.css" %}" />

{% endblock head %}

{% block situation %} {% endblock situation %}

{% block content %}

    <div class="content login" style="width: 100%">

        <div id="login-container">

            <div class="signin-card">

                <!-- HEADER -->
                <h2 class="login-header title">{% trans 'Sign up' %}</h2>
                <!-- ./HEADER -->

                <!-- BODY -->
                <div class="login-body">

                    {% include "site/_common/status.html" %}

                    <form id="signup_form_email" class="signup_item" method="post" role="form" action="">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="{{ type }}" />
                        <div class="error-element inline">{{ form.name }}</div> {{ form.name.errors }}
                        <div class="error-element inline">{{ form.email }}</div> {{ form.email.errors }}
                        <div class="error-element inline">{{ form.email_confirmation }}</div> {{ form.email_confirmation.errors }}
                        <div class="error-element inline">{{ form.password }}</div> {{ form.password.errors }}
                        <button id="signup_button_submit" type="submit" class="button bt-login">{% trans "Sign-Up" %}</button>
                    </form>

                    <div id="login-social-container" class="login_item signup_item">
                        <div class="f14 regular dark-grey text-center">
                            {% trans "Alternatively, you can sign up using:" %}
                        </div>
                        <div id="social-login-buttons-container">
                            <a title="{% trans "Login with Facebook" %}" href="{% url 'social:begin' 'facebook' %}" class="social-login facebook f16">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a title="{% trans "Login with Linkedin" %}" href="{% url 'social:begin' 'linkedin' %}" class="social-login linkedin f16">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a title="{% trans "Login with Google" %}" href="{% url 'social:begin' 'google-oauth2' %}" class="social-login google f16">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <a class="switcher button" href="{% url 'site:login' %}{% if next %}?next={{next}}{% endif %}">
                        {% trans "Already registered?" %} <span class="bold"> {% trans "Log in" %} </span>
                    </a>

                </div>

                <!-- LOGIN FOOTER -->
                <div class="login-footer f10 grey regular">
                    {% url 'site:terms' as terms_url %}
                    {% url 'site:privacy' as privacy_url %}
                    {% blocktrans %}
                        By clicking on Sign up, you will be automatically accepting Wanna Migrate's
                        <a class="bold green" target="_blank" href="{{ terms_url }}">Terms and Conditions</a>
                        and  <a class="bold green" target="_blank" href="{{ privacy_url }}">Privacy Police</a>.
                    {% endblocktrans %}
                </div>
                <!-- ./LOGIN FOOTER -->

            </div>


        </div>

    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // JS FORM Validation
            $( "#signup_form_email" ).submit( function() {
                return validate_empty_fields( this, 'id_name,id_email,id_email_confirmation,id_password' );
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}