{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'admin/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            // Jquery Formset
            $( '#main_form tbody tr' ).formset();

            // JS for onload
            {{ on_load|default:'' }}
        });
        
    </script>
    
{% endblock head %}


{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit Topic</h1>
                </div>
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            Topic Details
                        </div>
                        
                        <div class="panel-body">
                            <form action="{{ action_url|default:'' }}" method="post" id="main_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        {% for field in form %}
                                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                                <label class="control-label" for="{{ form.post_type.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="text-center buttons">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i>Save</button>
                                    <a href="{{ cancel_url }}" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
                                </div>

                            </form>    
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}







