{% extends "admin/layouts/main.html" %}
{% load string_extras %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        /** JQuery onload */
        $(document).ready(function() {
        });
    </script>
{% endblock head %}

{% block content %}

            <div class="row">            
                <div class="col-lg-12">
                    <h1 class="page-header">Topic details</h1>
                </div>
            </div>
            
            {% include "admin/layouts/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Topic ID# {{ topic.id }}
                        </div>
                                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                
                                    <dl class="dl-horizontal">
                                        
                                        <dt>Name:</dt>
                                        <dd>
                                            {{ topic.name }}
                                        </dd>

                                        <dt>Created date:</dt>
                                        <dd>
                                            {{ topic.created_date }}                                 
                                        </dd>

                                        <dt>Modified date:</dt>
                                        <dd>
                                            {{ topic.modified_date }}                                 
                                        </dd>
                                    </dl>
                                    
                                    <div class="text-center buttons">
                                        <a href="{% url 'admin:qa_list_topic' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i>Go Back</a>
                                        <a href="{% url 'admin:qa_edit_topic' topic.id %}" class="btn btn-default"><i class="fa fa-edit"></i>Edit Data</a>
                                        <a href="#" onclick="confirm_delete( '{% url 'admin:qa_delete_topic' topic.id %}' )" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
                                    </div>
                                    
                                </div>

                            </div>
                            
                        </div>
                   
                    </div>
                    
                </div>
            
            </div>

{% endblock content %}







