{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'admin/js/jquery-ui/css/ui-lightness/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/wm_editor.css' %}" rel="stylesheet">

    <style>
        /** Topics autocomplete css */
        .topic { margin-right: 10px; }
        .bt-remove-topic 
        {
            cursor: pointer;
            color: #0000AA;
        }
        .bt-remove-topic:hover{ color: #0099CC !important; }
        
        /** Owner autocomplete css */
        .custom-combobox 
        {
            position: relative;
            display: inline-block;
        }
        .custom-combobox-toggle
        {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }
        .custom-combobox-input, input, option
        {
            margin: 0;
            padding: 5px 10px;
        }
    </style>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'admin/js/jquery.formset.js' %}"></script>
    <script src="{% static 'admin/js/jquery-ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'admin/js/custom-combobox.js' %}"></script>
    <script src="{% static 'site/js/wm_editor.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            // Jquery Formset
            $( '#main_form tbody tr' ).formset();

            // JS for onload
            {{ on_load|default:'' }}

            // Owner autocomplete
            $("#{{ form.owner.id_for_label }}").combobox();
            $("#toggle").click(function() {
                $("#{{ form.owner.id_for_label }}").toggle();
            });

            $("#{{ form.body.id_for_label }}").wm_editor();


        });
        
    </script>
    
{% endblock head %}


{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add New Post</h1>
                </div>
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            Post Details
                        </div>
                        
                        <div class="panel-body">
                            <form action="{{ action_url|default:'' }}" method="post" id="main_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Hidden fields -->
                                        {{ form.parent }}
                                        {{ form.parent.errors }}
                                        {{ form.post_type }}
                                        {{ form.post_type.errors }}
                                        <!-- Owner -->
                                        <div class="form-group {% if form.owner.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.owner.id_for_label }}">{{ form.owner.label }}</label>
                                            {{ form.owner }}
                                            {{ form.owner.errors }}
                                        </div>
                                        <!-- Body -->
                                        <div class="form-group {% if form.body.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                                            {{ form.body }}
                                            {{ form.body.errors }}
                                        </div>
                                        <!-- Anonymous -->
                                        <div class="form-group {% if form.is_anonymous.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.is_anonymous.id_for_label }}">{{ form.is_anonymous.label }}</label>
                                            {{ form.is_anonymous }}
                                            {{ form.is_anonymous.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center buttons">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i>Save</button>
                                    <a href="{{ cancel_url }}" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
                                </div>

                            </form>    
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}







