{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'admin/js/jquery-ui/css/ui-lightness/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/wm_editor.css' %}" rel="stylesheet">

    <style>
        /** Topics autocomplete css */
        .topic { margin-right: 10px; }
        .bt-remove-topic 
        {
            cursor: pointer;
            color: #0000AA;
        }
        .bt-remove-topic:hover{ color: #0099CC !important; }
    </style>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'admin/js/jquery.formset.js' %}"></script>
    <script src="{% static 'admin/js/jquery-ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'admin/js/autotopics.js' %}"></script>
    <script src="{% static 'site/js/wm_editor.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            // Jquery Formset
            $( '#main_form tbody tr' ).formset();

            // JS for onload
            {{ on_load|default:'' }}

            // Topics autocomplete
            $("#{{ form.related_topics.id_for_label }}").autotopics();
            $("#{{ form.body.id_for_label }}").wm_editor();

        });
        
    </script>
    
{% endblock head %}


{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit {{ post_type }}</h1>
                </div>
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            {{ post_type }} Details
                        </div>
                        
                        <div class="panel-body">
                            <form action="{{ action_url|default:'' }}" method="post" id="main_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Title -->
                                        <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                            {{ form.title }}
                                            {{ form.title.errors }}
                                        </div>
                                        <!-- Body -->
                                        <div class="form-group {% if form.body.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                                            {{ form.body }}
                                            {{ form.body.errors }}
                                        </div>
                                        <!-- Anonymous -->
                                        <div class="form-group {% if form.is_anonymous.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.is_anonymous.id_for_label }}">{{ form.is_anonymous.label }}</label>
                                            {{ form.is_anonymous }}
                                            {{ form.is_anonymous.errors }}
                                        </div>
                                        <!-- Topics -->
                                        <div class="form-group {% if form.related_topics.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ form.related_topics.id_for_label }}">{{ form.related_topics.label }}</label>
                                            {{ form.related_topics }}
                                            {{ form.related_topics.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center buttons">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i>Save</button>
                                    <a href="{{ cancel_url }}" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
                                </div>

                            </form>    
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}







