{% extends "admin/layouts/main.html" %}
{% load staticfiles %}
{% load string_extras %}

{% block head %}

    {{ block.super }}
            
{% endblock head %}


{% block content %}


            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Posts
                        <a href="{% url 'admin:qa_add_post' %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i>
                            Add New
                        </a>
                    </h1>
                    
                </div>
                
            </div>
            
            {% include "admin/layouts/status.html" %}
            
            <div class="row">
                
                <div class="col-lg-12">
                
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            List of all posts
                        </div>
                        
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="datatable_data">
                                    
                                    <thead>
                                        <tr>
                                            <th>ID #</th>
                                            <th>Content</th>
                                            <th>Type</th>
                                            <th>Is Anonymous?</th>
                                            <th aria-label="" style="width: 91px;" colspan="1" rowspan="1" class="sorting_disabled"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                {% if post.title %}
                                                    <td>{{ post.title }}</td>
                                                {% else %}
                                                    <td>{{ post.body }}</td>
                                                {% endif %}
                                                <td>{{ post.post_type.name }}</td>
                                                <td>{{ post.is_anonymous|yes_or_no }}</td>
                                                <td>
                                                    <div class="btn-group btn-group-xs">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-cog"></i>
                                                            <i class="fa fa-caret-down"></i>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu left" role="menu">
                                                            <li><a href="{% url 'admin:qa_view_post' post.id %}" class=""><i class="fa fa-search"></i>View Details</a></li>
                                                            <li><a href="{% url 'admin:qa_edit_post' post.id %}" class=""><i class="fa fa-edit"></i>Edit Data</a></li>
                                                            <li><a href="#" onclick="javascript: confirm_delete( '{% url 'admin:qa_delete_post' post.id %}'); "><i class="fa fa-trash-o"></i>Remove</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
  
{% endblock content %}