{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="guide-wrapper details">

        <!-- Main -->
        <section id="main" class="main">

            <div class="inner">


                <header class="major">
                    <h1>{{ chapter.sort_order }}- {{ chapter.title }}</h1>
                </header>

                {% for section in sections %}

                    <div class="section" id="section-{{ section.id }}">

                        <h2 class="align-left">{{ chapter.sort_order }}.{{ section.sort_order }}- {{ section.title }}</h2>

                        <div class="reading-text">
                            {{ section.html_content|safe|linebreaks }}
                        </div>

                        {% if section.image %}
                            <span class="image main align-center">
                                <img src="{{ section.image.medium.url }}" alt="{{ section.title }}" />
                            </span>
                        {% endif %}

                    </div>

                {% endfor %}

                <div class="align-center">
                    <ul class="actions">
                        <li>
                            <a href="{% url 'guide:index' request.session.country_slug %}" class="button">
                                {% trans "Check Out The Full Guide" %}
                            </a>
                        </li>
                    </ul>
                </div>


            </div>

        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){

        });

    </script>

{% endblock scripts %}
