{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="guide-wrapper">

        <!-- Main -->
        <section id="main" class="main grey">

            <div class="inner">

                <header class="major">
                    <h1>{% trans "Immigration Guide to" %} {{ request.session.country_name }}</h1>
                </header>

                <p class="intro align-center">
                    {% blocktrans %}
                        To identify the most appropriate visa for your circumstances, you need to first understand all the options.
                        <br />Follow the guide below before executing your immigration plan.
                    {% endblocktrans %}
                </p>

                <div class="row">

                    {% regroup sections by chapter as chapter_list %}

                    {% for group in chapter_list %}

                        {% with chapter=group.grouper %}

                            <div class="4u -4u 12u$(small) {% if not chapter.is_free %}locked{% endif %}">

                                <a href="{% url 'guide:chapter_details' request.session.country_slug chapter.slug %}">
                                    <h2>
                                        {{ chapter.sort_order }}- {{ chapter.title }}
                                    </h2>


                                    <div class="box">
                                        {% if not chapter.is_free %}
                                            <div class="lock">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        {% endif %}
                                        <div class="content">
                                            <ul>
                                                {% for section in group.list %}
                                                    <li>
                                                            {{ section.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                </a>

                            </div>

                        {% endwith %}

                    {% endfor %}

                </div>

            </div>

        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){

        });

    </script>

{% endblock scripts %}
