{% extends "_layouts/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}

<section id="banner" class="home-wrapper"></section>

{% block dashboard_content %}

    <div class="guide">

        <p class="intro align-center">
            {% blocktrans %}
                This section is locked. Please complete the guide first and contact us if you have
                any questions.
            {% endblocktrans %}
        </p>

        <div class="summary">
            <h3 class="align-center">
                <a href="{% url 'company:contact' %}">{% trans "Contact Us" %}</a>
            </h3>
        </div>

    </div>

{% endblock dashboard_content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){

        });

    </script>

{% endblock scripts %}
