{% load i18n %}
{% load staticfiles %}
{% load string_extras %}

<ul class="avatar-name-list">
    {% for content in contents %}
        <li class="item">
            <a href="{{ content.url }}">
                {% if content.avatar %}
                    <img src="{% static content.avatar %}" class="avatar" />
                {% else %}
                    <img src="{% static 'site/img/thumb-professional.jpg' %}" class="avatar" />
                {% endif %}
                <p class="name">{{ content.name }}</p>
            </a>
        </li>
    {% empty %}
        <li class="item empty">{% trans "Empty" %}</li>
    {% endfor %}
</ul>