{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    <div class="content social">
        {% include "qa/common/side_menu.html" %}
        <section class="content">
            <div class="questions-answers">
                <h3 class="special-title">{{ special_title }}</h3>
                <div class="content-questionsAnswers">

                    {% include "qa/common/avatar_name_listing.html" %}
                </div>
            </div>
        </section>
    </div>

{% endblock content %}


{% block scripts %}
    {{ block.super }}
    {% include "_layouts/analytics.html" %}
{% endblock scripts %}