{% load i18n %}
{% load string_extras %}
{% load object_extras %}

{% with url_append=obj|get_class|lower %}
{% with follow_url="qa:ajax_follow_"|add:url_append unfollow_url="qa:ajax_unfollow_"|add:url_append %}
    {% if obj.is_followed %}
        <a id="bt-toggle-follow-{{ obj|get_class|lower }}-{{ obj.id }}" href="{% url unfollow_url obj.slug %}" data-toggle-url="{% url follow_url obj.slug %}" data-toggle-name="{% trans "Follow" %}" data-name="{% trans "UnFollow" %}" class="data-link bt-follow bt-toggle-follow">
            {% trans "Unfollow" %}
            <span class="count">{{ obj.total_followers|kmi }}</span>
        </a>
    {% else %}
        <a id="bt-toggle-follow-{{ obj|get_class|lower }}-{{ obj.id }}" href="{% url follow_url obj.slug %}" data-toggle-url="{% url unfollow_url obj.slug %}" data-toggle-name="{% trans "Unfollow" %}" data-name="{% trans "Follow" %}" class="data-link bt-follow bt-toggle-follow">
            {% trans "Follow" %}
            <span class="count">{{ obj.total_followers|kmi }}</span>
        </a>
    {% endif %}
{% endwith %}
{% endwith %}