{% load string_extras %}
<section class="sidebar">
    <!-- <a href="#" class="bt-back back-toKnowledge">Back to Knowledge Base</a> -->
    <div class="sidebar-default">
        <div class="itens knowledge-base">
            <h3 class="title">knowledge Base</h3>
            <ul>
                <li class="item {% if knowledge_menu_selected %} active {% endif %}">
                    <a href="{% url "qa:list_posts" %}">All</a>
                </li>
                <li class="item {% if questions_menu_selected %} active {% endif %}">
                    <a href="{% url "qa:list_questions" %}">Questions & answers</a>
                </li>
                <li class="item {% if blogposts_menu_selected %} active {% endif %}">
                    <a href="{% url "qa:list_blogposts" %}">Post</a>
                </li>
            </ul>
        </div>
        {% with stats=user.userstats %}
        <div class="itens personal">
            <h3 class="title">Personal</h3>
            <ul>
                <li class="item {% if topics_menu_selected %} active {% endif %}">
                    <a href="{% url "qa:list_topics" %}">Topics {% if user.is_authenticated %}<span id="following_topics_counter" class="count">({{ stats.total_topics_following|kmi }})</span>{% endif %}</a>
                </li>
                <li class="item {% if answers_menu_selected %} active {% endif %}">
                    <a href="#">Answers {% if user.is_authenticated %}<span  id="answers_counter" class="count">({{ stats.total_answers|kmi }})</span>{% endif %}</a>
                </li>
                <li class="item {% if reading_list_menu_selected %} active {% endif %}">
                    <a href="#">Reading list {% if user.is_authenticated %}<span  id="reading_list_counter" class="count">({{ stats.total_questions_following|add:stats.total_blogposts_following|kmi }})</span>{% endif %}</a>
                </li>
            </ul>
        </div>
        <div class="itens social">
            <h3 class="title">Social</h3>
            <ul>
                <li class="item {% if following_menu_selected %} active {% endif %}">
                    <a href="#">Following {% if user.is_authenticated %}<span  id="users_following_counter" class="count">({{ stats.total_users_following|kmi }})</span>{% endif %}</a>
                </li>
                <li class="item {% if followers_menu_selected %} active {% endif %}">
                    <a href="#">Followers {% if user.is_authenticated %}<span  id="users_followers_counter" class="count">({{ stats.total_users_followers|kmi }})</span>{% endif %}</a>
                </li>
            </ul>
        </div>
        {% endwith %}
    </div>
</section>