{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Inline CSS -->
    <link rel="stylesheet" href="{% static "common/jquery-flexslider/css/flexslider.css" %}" />
    <link rel="stylesheet" href="{% static "common/light-gallery/css/lightGallery.css" %}" />

{% endblock head %}

{% block body %}
    <body class="dashboard generic-product ielts-course">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block header %}
    {{ block.super }}
    <div class="clearfix"></div>
    <div class="content_e_book">
        <div class="title">
            {% trans 'IELTS Course' %}
        </div>
        <div class="text">
            {% trans 'Study online for your English Exam' %}
        </div>
        <div class="text2">
            {% trans 'Made by specialists' %}
        </div>
        <a href="#" class="scroll-down">
            <img src="{% static 'site/img/arrow_bottom.png' %}" alt="{% trans 'arrow-bottom' %}" />
        </a>
    </div>
{% endblock header %}

{% block situation %} {% endblock situation %}

{% block content %}

    <form id="service_type_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="service_type_id" id="service_type_id" value="" />
    </form>
    
    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Online Course - IELTS Express' %}
            </div>
            <div class="text">
                {% trans "IELTS Express is a <span>fast</span> online preparation course for the IELTS test. Our easy to use, step by step course covers all four IELTS modules. With over 100 activities and approximately 200 study pages, IELTS Express will boost your confidence and help improve your IELTS score. You will get:" %}
                <ul>
                    <li>{% trans "Skype call for a course introduction" %}</li>
                    <li>{% trans "45 days access" %}</li>
                    <li>{% trans "Over 100 interactive activities" %}</li>
                    <li>{% trans "Answers for all activities" %}</li>
                    <li>{% trans "Clear explanations and examples for each strategy and skill" %}</li>
                    <li>{% trans "IELTS test tips and study strategies" %}</li>
                    <li>{% trans "Definitions of unfamiliar words" %}</li>
                    <li>{% trans "Personal feedback on 1 writing task" %}</li>
                </ul>
                <span class="small">{% trans "After the payment, we will contact you to schedule a skype call to give you all the instructions." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>135,00<sup></sup><!--<sup>90</sup>--></span>
                </div>
                <div class="but">
                    <a href="#" data-servicetypeid="23" class="bt-edit button">{% trans "Buy Course" %}</a>
                </div>
                <div class="preview">
                    <a href="#" class="open-gallery ielts-express">{% trans "preview course" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <ul class="gallery ielts-express">
                <li data-src="{% static 'site/img/ielts-courses-ielts-express-preview-1.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-express.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-express-preview-2.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-express.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-express-preview-3.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-express.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-express-preview-4.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-express.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
            </ul>
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="line"></div>

    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Online Course - IELTS Express' %}
            </div>
            <div class="text">
                {% trans "IELTS Master is a comprehensive online preparation course for the IELTS test. You get <span>3 months</span> access to our easy to use, step by step course. With four practice tests, recording tools to practice your speaking and online tutors, IELTS Master will boost your confidence and help improve your IELTS score. You will get:" %}
                <ul>
                    <li>{% trans "Skype call for a course introduction" %}</li>
                    <li>{% trans "3 months access" %}</li>
                    <li>{% trans "Practice tests in all 4 modules - Reading, Writing, Listening and Speaking." %}</li>
                    <li>{% trans "More than 260 activities in over 1000 study pages of content" %}</li>
                    <li>{% trans "500 pages of teaching material" %}</li>
                    <li>{% trans "Over 5 hours of audio recordings" %}</li>
                    <li>{% trans "Test tips and study strategies in all modules" %}</li>
                    <li>{% trans "Personal feedback on 2 writing tasks" %}</li>
                </ul>
                <span class="small">{% trans "After the payment, we will contact you to schedule a skype call to give you all the instructions." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>250,00<sup></sup><!--<sup>90</sup>--></span>
                </div>
                <div class="but">
                    <a href="#" data-servicetypeid="24" class="bt-edit button">{% trans "Buy Course" %}</a>
                </div>
                <div class="preview">
                    <a href="#" class="open-gallery ielts-master">{% trans "preview course" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <ul class="gallery ielts-master">
                <li data-src="{% static 'site/img/ielts-courses-ielts-master-preview-1.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-master.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-master-preview-2.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-master.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-master-preview-3.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-master.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
                <li data-src="{% static 'site/img/ielts-courses-ielts-master-preview-4.jpg' %}">
                    <img src="{% static 'site/img/ielts-courses-ielts-master.png' %}" alt="{% trans 'Online Course IELTS Express' %}" />
                </li>
            </ul>
        </div>
    </section>

    <div class="clearfix"></div>

    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "You guys built a very rich content, with excellent hints. This guide could easily save months of research of information." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-tania.png' %}" alt="{% trans 'testmonial-tania-antonieli' %}" />
                        </div>
                        <div class="text2">Tânia Antonieli<br /><span>{% trans "Project Manager" %}</span></div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our readers say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "I had no idea I had most of the requirements to get a visa to live in Canada until I read the e-book." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-igor.png' %}" alt="{% trans 'testmonial-igor-freitas' %}" />
                        </div>
                        <div class="text2">Igor Freitas<br /><span>{% trans "Personal Trainer and Musician" %}</span></div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="call_to_action">
        <div class="left">
            {% trans "Sign-up and get more help" %}
        </div>
        <div class="but">
            <a href="{% url 'site:dashboard' %}" class="bt-edit button">{% trans "Start now. It's free" %}</a>
        </div>
    </section>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/jquery-ui/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-flexslider/js/jquery.flexslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/light-gallery/js/lightGallery.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // submits form for each button
            $( '.books_block .books_bottom .but a' ).click( function( event ) {
                event.preventDefault();
                $( "#service_type_id" ).val( $( this ).attr( 'data-servicetypeid' ) );
                $( "#service_type_form" ).submit();
            });


            // plugin for testmonials slides
            $( '.flexslider' ).flexslider({
                animation: "slide"
            });

            // scrolls down arrow effect
            $( 'a.scroll-down' ).click( function( event ) {
                event.preventDefault();
                $('html,body').animate({
                  scrollTop: $( ".books_block").first().offset().top
                }, 1000);
            });

            // makes arrow bounce
            $( "a.scroll-down img" ).effect( "bounce", { distance: 40, times: 10 }, 3400 );

            // Image gallery
            $( ".gallery" ).lightGallery({
                lang: { allPhotos: '{% trans "First pages" %}' }
            });
            $( 'a.open-gallery.ielts-express' ).click( function( event ) {
                event.preventDefault();
                $( ".gallery.ielts-express li" ).first().trigger( "click" );
            });
            $( 'a.open-gallery.ielts-master' ).click( function( event ) {
                event.preventDefault();
                $( ".gallery.ielts-master li" ).first().trigger( "click" );
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}