{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">

{% endblock head %}


{% block content %}

<!-- Page Header -->
<div class="section-header">
    <h1>{% trans "Edit account's password" %}</h1>
    <p>{% trans "Edit your password." %}</p>
</div>

<div class="edit-container">
    {% include "site/_common/status.html" %}
</div>
<div class="edit-container">
    {% include "site/_common/form.html" %}
</div>
    

{% endblock content %}