{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">

{% endblock head %}


{% block content %}

<!-- Page Header -->
<div class="section-header">
    <h1>{% trans "My Account" %}</h1>
    <p>{% trans "Your account settings." %}</p>
</div>

<div class="cards-wrapper">
    {% include "site/_common/status.html" %}
</div>
<div class="cards-wrapper">
    <!-- Info card for Avatar -->
    <div class="info-card">
        <div class="block-row">
            <h1>{% trans "Avatar" %}</h1>
        </div>

        <div class="block-row">
            {% if user.userpersonal.avatar.medium.url %}
                <img class="avatar" src="{{ user.userpersonal.avatar.medium.url }}" />
            {% else %}
                <img class="avatar" src="{% static 'site/img/no-avatar.png' %}" />
            {% endif %}
        </div>
        <!--div class="block-row text-right">
            <a href="#" class="bt bt-default">Edit</a>
        </div-->
    </div>

    <!-- Info card for E-mail and Language settings -->
    <div class="info-card">
        <div class="block-row">
            <h1>{% trans "E-mail and preferred language" %}</h1>
        </div>
        <div class="table-row">
            <div class="label">{% trans "Name" %}</div>
            <div class="content">{{ user.name }}</div>
        </div>
        <div class="table-row">
            <div class="label">{% trans "E-mail" %}</div>
            <div class="content">{{ user.email }}</div>
        </div>
        <div class="table-row">
            <div class="label">{% trans "Preferred language" %}</div>
            {% get_language_info for user.preferred_language as lang %}
            <div class="content">{{ lang.name_local }}</div>
        </div>
        <div class="table-row">
            <div class="label">{% trans "Password" %}</div>
            <div class="content">
                <a href="{% url 'site:edit_account_password' %}">{% trans "Change password" %}...</a>
            </div>
        </div>
        <div class="block-row text-right">
            <a href="{% url 'site:edit_account_info' %}" class="bt bt-default">Edit</a>
        </div>
    </div>
</div>


{% endblock content %}