{% load i18n %}
<form action="{{ action_url|default:'' }}" method="post" id="main_form" name="myform">
    {% csrf_token %}

    {% for field in form %}
        <div class="block-row label">{{ field.label }}</div>
        <div class="block-row">
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}

    <div class="block-row">
        <a href="{% url 'site:view_account' %}" class="bt bt-default">{% trans "Back" %}</a>
        <input type="submit" class="bt bt-green" value="{% trans 'Save' %}"></input>
    </div>

</form>