{% load staticfiles %}
{% load i18n %}
{% load string_extras %}
<!DOCTYPE HTML>
<html>

    <head>
        {% block head %}

            <!-- Meta -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="description" content="Wanna Migrate is the first immigration platform that allows the user to identify countries where he is allowed to live and work.">
            <meta name="keywords" content="wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada">
            <meta name="Title" content="Wanna Migrate - {% trans "Live Abroad. Change your life." %}">
            <meta name="Robots" content="all">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Wanna Migrate - {% trans "Live Abroad. Change your life." %}</title>
            <link rel="shortcut icon" href="{% static "favicon.ico" %}">
            <!-- Font Awesome -->
            <link href="{% static 'site/css/font-awesome.min.css' %}" rel="stylesheet">
            <!-- General font configurations -->
            <link href="{% static 'site/css/fonts.css' %}" rel="stylesheet">
            <!-- JQuery UI -->
            <link rel="stylesheet" type="text/css" href="{% static 'site/js/jquery-ui/jquery-ui.min.css' %}">
            <!-- Internal CSS -->
            <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">

            <!-- Google Analytics -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-7734790-20', 'auto');
              ga('send', 'pageview');
            </script>

            <!-- JQuery -->
            <script type="text/javascript" src="{% static 'site/js/jquery.js' %}"></script>
            <!-- JQuery UI -->
            <script type="text/javascript" src="{% static "site/js/jquery-ui/jquery-ui.min.js" %}"></script>
            <!-- Utility Functions (JS) -->
            <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>
            <script type="text/javascript">
                $( window ).ready(function(){
                    
                    // Top bar dropdown
                    {% if user.is_authenticated %}    
                        $( ".userName" ).click(function(){
                            $( "#popup" ).toggleClass( "showIt" );
                        });
                    {% endif %}

                    $( "#pull-menu" ).click(function(){

                        $( "#top_bar_menu" ).toggle();
                    });

                    // Initializes Jquery UI Tooltips
                    $( document ).tooltip(); 
                });
            </script>

        {% endblock head %}

    </head>


    <body>
        <div id="top_bar">
            <a id="top_bar_logo" href="{% url 'site:home' %}"></a>
            <a href="#" id="pull-menu" class="mobile-only"><i class="fa fa-bars"></i></a> 
            <nav id="top_bar_menu">
                <ul class="">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'site:dashboard' %}">{% trans "DASHBOARD" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'site:tour' %}">{% trans "HOW IT WORKS" %}</a></li>
                    <li><a href="{% url 'site:contact' %}">{% trans "CONTACT US" %}</a></li>
                    {% if user.is_authenticated %}
                        <li class="desktop-only">
                            <a href="#">
                                {% if user.userpersonal.avatar %}
                                    <img src="{{ user.userpersonal.avatar.thumbnail.url }}" />
                                {% endif %}
                                {{ user.name|truncate_smart:15|default:'My Profile' }}
                            </a>
                            <ul id="top_bar_submenu">
                                <li><a href="{% url 'site:view_account' %}">{% trans "My account" %}</a></li>
                                <li><a href="{% url 'site:logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                        <li class="mobile-only"><a href="{% url 'site:view_account' %}">{% trans "My account" %}</a></li>
                        <li class="mobile-only"><a href="{% url 'site:logout' %}">{% trans "Logout" %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% block content %}{% endblock content %}

    </body>

</html>