{% load staticfiles %}
{% load i18n %}
{% load string_extras %}
<!DOCTYPE HTML>
<html>

    <head>
        {% block head %}


            <!-- Meta -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="description" content="Wanna Migrate is the first immigration platform that allows the user to identify countries where he is allowed to live and work.">
            <meta name="keywords" content="wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada">
            <meta name="Title" content="Wanna Migrate - {% trans "Live Abroad. Change your life." %}">
            <meta name="Robots" content="all">
            <title>Wanna Migrate - {% trans "Live Abroad. Change your life." %}</title>
            <link rel="shortcut icon" href="{% static "favicon.ico" %}">
            <link href="{% static 'site/css/font-awesome.min.css' %}" rel="stylesheet">

            <!-- Default CSS -->
            <link rel="stylesheet" type="text/css" href="{% static "site/css/reset.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "site/css/style.css" %}">
            <!-- JQuery UI -->
            <link rel="stylesheet" type="text/css" href="{% static 'site/js/jquery-ui/jquery-ui.min.css' %}">
        

            <!-- HTML5 shim for IE backwards compatibility -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!-- Google Analytics -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-7734790-20', 'auto');
              ga('send', 'pageview');
            </script>


            <!-- JQuery -->
            <script type="text/javascript" src="{% static 'site/js/jquery.js' %}"></script>

            <!-- JQuery UI -->
            <script type="text/javascript" src="{% static "site/js/jquery-ui/jquery-ui.min.js" %}"></script>

            <!-- Utility Functions (JS) -->
            <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>

            <script type="text/javascript">


                $( window ).ready(function(){

                    // Hover options for account profile
                    $( ".userName" ).click(function(){
                        $( "#popup" ).toggleClass( "showIt" );
                    });

                    $( document ).tooltip(); 

                });


            </script>

        {% endblock head %}

    </head>


    <body>

        <div id="topBar" class="{{ top_bar_css_class|default_if_none:'' }}">
            <a href="{% url 'site:dashboard' %}" id="logo"></a>
            <div id="topMenu">

                <ul id="topBarMenu">
                    <li><a href="{% url 'site:dashboard' %}">{% trans "DASHBOARD" %}</a></li>
                    <li><a href="{% url 'site:tour' %}">{% trans "HOW IT WORKS" %}</a></li>
                    <li><a href="{% url 'site:contact' %}">{% trans "CONTACT US" %}</a></li>
                </ul>

                {% if user.userpersonal.avatar %}
                    <img src="{{ user.userpersonal.avatar.thumbnail.url }}" />
                {% endif %}
                <a href="#" class="userName">
                    {{ user.name|truncate_smart:15|default:'My Profile' }}
                    <span></span>
                </a>
                <div id="popup">
                    <a href="{% url 'site:view_account' %}">{% trans "My account" %}</a>
                    <a href="{% url 'site:logout' %}">{% trans "Logout" %}</a>
                </div>

            </div>
        </div>

        {% block content %}{% endblock content %}

    </body>

</html>