
<div id="global_alert_error" class="alert alert-danger" style="display: none;">
    <span id="global_alert_error_msg"></span>
</div>

<div id="global_alert_success" class="alert alert-success" style="display: none;">
    <span id="global_alert_success_msg"></span>
</div>

{% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
        <ul>
            <li><strong>Please correct the following errors:</strong></li>
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissable
                                       {% if message.tags == 'error' %}
                                            alert-danger
                                       {% elif message.tags == 'success' %}
                                           alert-success
                                       {% elif message.tags == 'warning' %}
                                           alert-warning
                                       {% endif %}">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
