{% load staticfiles %}
{% load l10n %}

    {% if is_prod  %}

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-7734790-20', 'auto');
          ga('send', 'pageview');

        </script>


        {% if track_conversion_sign_up %}
            <!-- Google Code for Sign-Up Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "-FTACPmi0lwQhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=-FTACPmi0lwQhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for Sign-Up -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637606470', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637606470&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter conversion for Sign-up -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g38', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g38&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g38&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_view_expert %}
            <!-- Google Code for View Expert Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "oRqiCOSb1VwQhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=oRqiCOSb1VwQhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for View Expert -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637645470', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637645470&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for View Expert -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g39', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g39&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g39&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_view_ebooks %}
            <!-- Google Code for View E-books Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "1ViMCIGg8V0Qhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=1ViMCIGg8V0Qhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for View E-books -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637653870', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637653870&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for View E-books -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g3a', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g3a&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g3a&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_view_international_cv %}
            <!-- Google Code for View International CV page Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "dZlhCJW2lF4Qhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=dZlhCJW2lF4Qhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for View International CV -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637675670', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637675670&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for View International CV -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g3b', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g3b&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g3b&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_view_ielts_course %}
            <!-- Google Code for View IELTS Course Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "6LoxCPL6ll4Qhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=6LoxCPL6ll4Qhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for View IELTS Course -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637679670', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637679670&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for View IELTS Course -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g3c', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g3c&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g3c&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_view_subscription_plan %}
            <!-- Google Code for View Subscription Plan Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "F6ZYCLOK9l4Qhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=F6ZYCLOK9l4Qhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>


            <!-- Facebook Conversion Code for View Subscription Plan -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6027906222470', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6027906222470&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
        {% endif %}

        {% if track_conversion_view_payment %}
            <!-- Google Code for View Payment Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "_ojPCKSd1VwQhov_2wM";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?label=_ojPCKSd1VwQhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for View Payment Page -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637694670', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637694670&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for View Payment Page -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g3d', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g3d&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g3d&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}

        {% if track_conversion_order_received %}
            <!-- Google Code for Order Received Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 998229382;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "op2YCKmm0lwQhov_2wM";
            var google_conversion_value = {{ track_conversion_value|default:5.00|unlocalize }};
            var google_conversion_currency = "BRL";
            var google_remarketing_only = false;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998229382/?value={{ track_conversion_value|default:5.00|unlocalize }}&amp;currency_code=BRL&amp;label=op2YCKmm0lwQhov_2wM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

            <!-- Facebook Conversion Code for Order Received -->
            <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6026637706870', {'value':'0.00','currency':'USD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026637706870&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

            <!-- Twitter Conversion Code for Order Received -->
            <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
            <script type="text/javascript">twttr.conversion.trackPid('l6g3e', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
            <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6g3e&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6g3e&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            </noscript>
        {% endif %}


    {% endif %}