{% load staticfiles %}
{% load i18n %}
{% load string_extras %}
<!doctype html>
<html lang="en">

    <head>

        {% block head %}

            {% include "_layouts/meta.html" %}

            <!-- Css files -->
            <link rel="stylesheet" href="{% static "site/css/main.css"%}" />
            <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/dd.css"%}" />
            <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/flags.css"%}" />
            <link rel="stylesheet" href="{% static "common/font-awesome/css/font-awesome.css" %}" />

        {% endblock head %}

    </head>


    {% block body %}
    <body class="dashboard">
    {% endblock body %}

        <div class="wrapper">

            {% block background %}{% endblock background %}

            <header>

                {% block header %}
                    <h1 class="logo"><a href="{% url 'site:home' %}" title="Wanna Migrate">Wanna Migrate</a></h1>
                    <a href="#" class="bt-nav">Menu</a>
                    <div class="interaction">

                        <div class="account category">

                            {% if user.is_authenticated %}
                                <a href="#" class="my-account options">
                                    {% if user.userpersonal.avatar %}
                                        <div class="thumb">
                                            <img src="{{ user.userpersonal.avatar.thumbnail.url }}" alt="{% trans 'user-avatar' %}" />
                                        </div>
                                    {% else %}
                                        <div class="thumb">
                                            <img src="{% static 'site/img/thumb-account.png' %}" alt="{% trans 'user-avatar' %}" />
                                        </div>
                                    {% endif %}
                                    <span>{% trans 'My Profile' %}</span>
                                </a>
                                <div class="box-options box-account">
                                    <ul class="box">
                                        <li><a class="bt-settings" href="{% url 'site:user_profile' request.user.slug %}">{% trans 'Public Profile' %}</a></li>
                                        <li><a class="bt-settings" href="{% url 'site:account' %}">{% trans 'Edit Profile' %}</a></li>
                                        <li><a class="bt-contracts" href="{% url 'site:contracts' %}">{% trans 'My Orders' %}</a></li>
                                        <li><a class="bt-pricing" href="{% url 'site:list_conversations' %}">{% trans 'My Messages' %}</a></li>
                                        <li><a class="bt-logout" href="{% url 'site:logout' %}">{% trans 'Logout' %}</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{% url 'site:login' %}" class="my-account login"><span>{% trans 'Login' %}</span></a>
                            {% endif %}
                        </div>
                        <div class="notification category">
                            <a title="{% trans "View notifications" %}" href="{% url "site:notifications" %}" class="my-notification">
                                <div class="thumb">
                                    <img src="{% static 'site/img/notify.png' %}" alt="{% trans 'notifications' %}" />
                                    {% if user.is_authenticated and request.session.news_count > 0 %}
                                        <p class="notify-qty">{{ request.session.news_count }}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <form action="" class="search">
                            <a href="#" class="bt-back"></a>
                            <fieldset>
                                <label for="search">{% trans "Search" %}</label>
                                <input class="search-input" type="text" placeholder="{% trans "Search" %}">
                                <button class="bt-search">{% trans "Search" %}</button>
                            </fieldset>
                        </form>
                        <nav class="nav nav-dashboard">
                            <ul>
                                <li class="nav-item"><a class="nav-link" data-link="dashboard" href="{% url 'site:dashboard' %}">{% trans "Dashboard" %}</a></li>
                                <li class="nav-item"><a class="nav-link" data-link="pricing" href="{% url 'site:pricing' %}">{% trans "Pricing" %}</a></li>
                                <li class="nav-item"><a class="nav-link" data-link="question" href="{% url 'qa:list_questions' %}">{% trans "Q&A" %}</a></li>
                            </ul>
                        </nav>

                    </div>

                {% endblock header %}
            </header>

            {% block situation %}
                <section class="situations">
                    <div class="situation">
                        <div class="from field">
                            <p><i class="flag from-flag {{ request.session.situation.from_country.code.lower }}"></i> <strong class="country from-country">{% trans request.session.situation.from_country.name %}</strong></p>
                        </div>
                        <div class="want field">
                            <p><strong>{% trans request.session.situation.goal.name %}</strong></p>
                            {% if request.session.situation.total_users > 0 %}
                                <span class="other-people">{% trans "And other" %} {{ request.session.situation.total_users|kmi }} {% trans "user(s)" %}</span>
                            {% endif %}
                        </div>
                        <div class="to field">
                            <p><i class="flag to-flag {{ request.session.situation.to_country.code.lower }}"></i><strong class="country to-country">{% trans request.session.situation.to_country.name %}</strong></p>
                        </div>
                        <a href="#" class="bt-change-situation button-transparent__edit">{% trans "Change Situation" %}</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="situation-options">
                        <div class="line"></div>
                        <div class="situation-options-block">
                            <a href="{% url 'site:premium' %}">
                                <img src="{% static 'site/img/step_2.png' %}" alt="" />
                                <div class="title">
                                    {% trans 'Premium' %}
                                </div>
                                <div class="text">
                                    {% blocktrans %}
                                    Interactive step-by-step tool to help you in each stage <br />of the immigration application process
                                    {% endblocktrans %}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="change-situation">
                        <form action="{% url 'site:change_situation' %}" method="post" id="situation_form">
                            {% csrf_token %}
                            <fieldset>
                                <div class="from field {% if situation_form.from_country.errors %}has-error{% endif %}">
                                    <label for="">{% trans "I'm from" %}</label>
                                    {{ situation_form.from_country }}
                                </div>
                                <div class="want field {% if situation_form.goal.errors %}has-error{% endif %}">
                                    <label for="">{% trans "I wanna" %}</label>
                                    {{ situation_form.goal }}
                                </div>
                                <div class="to field {% if situation_form.to_country.errors %}has-error{% endif %}">
                                    <label for="">{% trans "in" %}</label>
                                    {{ situation_form.to_country }}
                                </div>
                            </fieldset>
                            <input type="submit" name="situation_submit" class="button bt-change" value="{% trans "Change" %}" />
                        </form>
                    </div>
                </section>
            {% endblock situation %}

            {% block content %}{% endblock content %}

            {% block footer %}
            <footer>
                <a href="#" class="logo">Wanna Migrate</a>
                <ul class="social-links">
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/wannamigrate"></a></li>
                    <li class="angel-list"><a target="_blank" href="https://angel.co/wannamigrate"></a></li>
                    <li class="twitter"><a target="_blank" href="https://www.twitter.com/wannamigrate"></a></li>
                </ul>
                <nav class="nav-footer">
                    <ul class="about">
                        <li class="conditions"><a class="nav-footer-link" href="{% url 'site:how_it_works' %}">{% trans "How It Works" %}</a></li>
                        <li class="privacy"><a class="nav-footer-link" href="{% url 'site:terms' %}">{% trans "Terms &amp; Conditions" %}</a></li>
                        <li class="contact"><a class="nav-footer-link" href="{% url 'site:privacy' %}">{% trans "Privacy Police" %}</a></li>
                        <li class="contact"><a class="nav-footer-link" href="{% url 'site:contact' %}">{% trans "Contact Us" %}</a></li>
                    </ul>
                    <ul class="explore">
                        <li class="conditions"><a class="nav-footer-link" href="{% url 'site:pricing' %}">{% trans "Pricing" %}</a></li>
                        <li class="privacy"><a class="nav-footer-link" href="{% url 'qa:list_questions' %}">{% trans "Q&A" %}</a></li>
                        <li class="contact"><a class="nav-footer-link" href="{% url 'points:dashboard' %}">{% trans "Immigration Points Calculator" %}</a></li>
                        <li class="contact"><a class="nav-footer-link" href="{% url 'site:service_providers' %}">{% trans "Become a Service Provider" %}</a></li>
                    </ul>
                </nav>
                {% get_language_info for LANGUAGE_CODE as current_language %}
                <a href="#" class="bt-options language {{ current_language.code }}">{{ current_language.name_local }}</a>
                <div class="box-options">
                    <ul class="box">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                                <li><a class="{{ language.code }}" href="{% url 'site:set_lang' language.code %}?next={{request.path}}">{{ language.name_local }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <p class="copyright">
                    Intertech Serviços de Informática LTDA<br />CNPJ: 08.563.174/0001-74
                </p>
            </footer>
            {% endblock footer %}

        </div>

        {% include "_layouts/analytics.html" %}

        {% if sql_output %}
            <br /><br /><br />
            <div id="sql-output">
                <h1>SQL Queries - Make 'em faster :)</h1>
                {{ sql_output|safe }}
            </div>
        {% endif %}

    </body>

    {% block scripts %}

        <!-- JS Libraries -->
        <script type="text/javascript" src="{% static 'common/jquery/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/jquery-dd/js/jquery.dd.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/jquery-sticksectionheaders/js/jquery.stickysectionheaders.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/jquery-autocomplete/js/jquery.autocomplete.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/jquery-raty/js/jquery.raty.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/jquery-touchswipe/js/jquery.touchSwipe.js' %}"></script>

        <!-- JS Custom Scripts -->
        <script type="text/javascript" src="{% static 'site/js/countries.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/main.js' %}"></script>

        <!-- INLINE JS -->
        <script type="text/javascript">


            $( document ).ready( function() {

                // set classes for country flags in the options
                $( "select.custom-select.country option" ).each( function(){

                    if ( $( this ).val() != "" ) {
                        $( this ).attr( "data-image", "{% static 'site/img/msdropdown/icons/blank.gif' %}" );
                        $( this ).attr( "data-imagecss", "flag " + COUNTRIES_PER_ID[$( this ).val()] );
                        $( this ).attr( "data-title", $( this ).text() );
                    }

                });

                // create custom dropdown for situatino countries
                $( "div.change-situation .custom-select" ).msDropdown();

                // JS FORM Validation
                $( "#situation_form" ).submit( function() {
                    return validate_empty_fields( this, '{{ situation_form.get_required_fields }}', 'none' );
                });

                // Search listings
                var currencies = [
                    { value: '--', data: '--' },
                ]
                $('.search-input').autocomplete({
                    lookup: currencies,
                    showNoSuggestionNotice: true,
                    noSuggestionNotice: '{% trans "No results found." %}',

                    onSelect: function ( suggestion ) {
                        $( 'html' ).addClass( 'show-topics' );
                    }
                });
                $( '.search-input' ).keyup(function(){
                    if ( !$( this ).val() ) {
                        $( 'html' ).removeClass('fixed');
                    }else{
                        $( 'html' ).addClass('fixed');
                    }
                });
                $( '#sticky-list' ).stickySectionHeaders({
                  stickyClass     : 'sticky',
                  headlineSelector: 'strong'
                });

            })

        </script>

    {% endblock scripts %}

</html>