{% load staticfiles %}
{% load i18n %}

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans 'Wanna Migrate helps people to migrate around the world, regardless of their goals. Check your chances, get answers for your questions, hire a professional and achieve your dream.' %}{% endif %}">
<meta name="keywords" content="{% trans 'wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada, move to australia, move to canada' %}">
<meta name="Title" content="{% if meta_title %}{{ meta_title }}{% else %}{% trans "Wanna Migrate - Go Abroad. Change your life." %}{% endif %}">
<meta name="Robots" content="all">
<title>{% if meta_title %}{{ meta_title }}{% else %}{% trans "Wanna Migrate - Go Abroad. Change your life." %}{% endif %}</title>
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="resource-type" content="document" />
<meta name="revisit-after" content="1" />
<meta name="doc-class" content="Completed" />
<meta name="doc-rights" content="Public" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, minimal-ui' />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<!-- Favicon -->
<link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

<!-- Facebook Image -->
<meta name="og:image" content="{% if meta_image %}{{ meta_image }}{% else %}{{ base_url }}{% static "site/img/logo_social.png" %}{% endif %}" />

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->