{% load staticfiles %}
{% load i18n %}

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="Wanna Migrate is the first immigration platform that allows the user to identify countries where he is allowed to live and work.">
<meta name="keywords" content="wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada">
<meta name="Title" content="Wanna Migrate - {% trans "Live Abroad. Change your life." %}">
<meta name="Robots" content="all">
<title>Wanna Migrate - {% trans "Live Abroad. Change your life." %}</title>
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="resource-type" content="document" />
<meta name="revisit-after" content="1" />
<meta name="classification" content="" />
<meta name="language" content="en-us" />
<meta name="doc-class" content="Completed" />
<meta name="doc-rights" content="Public" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, minimal-ui' />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<!-- Favicon -->
<link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

<!-- Facebook Image -->
<meta name="og:image" content="https://wannamigrate.com{% static "site/img/logo_social.png" %}" />
