{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>{% trans "Organise your Immigration Plan" %}</h1>
                <p>
                    {% blocktrans %}
                        Millions of people dream about moving to a new country. The ones who succeed
                        <br /> have one thing in common: They <strong>plan</strong> and
                        <strong>organise</strong> each step.
                    {% endblocktrans %}
                </p>
            </header>
            <ul class="actions">
                <li><a href="{% url 'company:how_it_works' %}" class="button special big">{% trans "Get Started" %}</a></li>
            </ul>
        </div>
        <a href="#one" class="more">{% trans "Learn More" %}</a>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- One -->
        <section id="one" class="main">
            <div class="inner spotlight style1">
                <div class="content">
                    <header>
                        <h2>{% trans "Understand your visa options" %}</h2>
                    </header>
                    <p>
                        {% blocktrans %}
                            Around half a million people immigrate to Australia and Canada every
                            year in a very diverse group of visa types. Many people waste months
                            or years trying to be approved in a visa that is not the ideal for their
                            situation. We will show you all your options and give examples
                            of other immigrants in a similar situation to help you make the best choice.
                        {% endblocktrans %}
                    </p>
                </div>
                <span class="image"><img src="{% static "site/img/pic01.svg" %}" alt="" /></span>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="main">
            <div class="inner spotlight alt style2">
                <div class="content">
                    <header>
                        <h2>{% trans "Plan and organise your application" %}</h2>
                    </header>
                    <p>
                        {% blocktrans %}
                            Let's be direct: Immigration applications are hard! You will have to go
                            through things such as preparing documents, attending medical examinations,
                            getting ready for English tests, validating your educational and professional
                            degrees, among others. Our built-in Task Manager will remind you of when and
                            what to do in each phase of the process.
                        {% endblocktrans %}
                    </p>
                </div>
                <span class="image"><img src="{% static "site/img/pic02.svg" %}" alt="" /></span>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="main">
            <div class="inner spotlight style3">
                <div class="content">
                    <header>
                        <h2>{% trans "Get help all along the way" %}</h2>
                    </header>
                    <p>
                        {% blocktrans %}
                            Our team is made of immigrants. We undertand it's a very exhausting process
                            so we make sure to share successfull stories from other immigrants and make
                            it possible for you to interact with them and other people who can help.
                        {% endblocktrans %}
                    </p>
                </div>
                <span class="image"><img src="{% static "site/img/pic03.svg" %}" alt="" /></span>
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="main special">
            <div class="inner">
                <header>
                    <h2>{% trans "HOW IT WORKS" %}</h2>
                </header>
                <div class="features">
                    <section>
                        <span class="icon major fa-map-signs style1"></span>
                        <h3>{% trans "1.Immi<span>Guide</span>" %}</h3>
                        <p>
                            {% blocktrans %}
                                Learn all your options in an easy to follow step-by-step
                                guide. We've curated only the important things you need to understand.
                            {% endblocktrans %}
                        </p>
                    </section>
                    <section>
                        <span class="icon major fa-tasks style2"></span>
                        <h3>{% trans "2.Immi<span>Tasks</span>" %}</h3>
                        <p>
                            {% blocktrans %}
                                Organise each step of the process to have better chances to get
                                your visa approved. You will be able to visually manage all your tasks.
                            {% endblocktrans %}
                        </p>
                    </section>
                    <section>
                        <span class="icon major fa-file-text style3"></span>
                        <h3>{% trans "3.Immi<span>Docs</span>" %}</h3>
                        <p>
                            {% blocktrans %}
                                Use our sample documents to make sure you will never miss any
                                requirements on your visa application.
                            {% endblocktrans %}
                        </p>
                    </section>
                    <section>
                        <span class="icon major fa-hashtag style4"></span>
                        <h3>{% trans "4.Immi<span>Stories</span>" %}</h3>
                        <p>
                            {% blocktrans %}
                                Get inspired, have your questions answered and interact with other
                                immigrants who already made it to their dream country.
                            {% endblocktrans %}
                        </p>
                    </section>
                </div>
            </div>
        </section>

        <!-- CTA -->
        <section id="cta" class="main special">
            <div class="inner">
                <p>
                    {% blocktrans %}
                        Take the first step to change your life. Join our community<br />
                        and start planning today your move to a better country.
                    {% endblocktrans %}
                </p>
                <ul class="actions vertical">
                    <li><a href="{% url 'company:how_it_works' %}" class="button special big">{% trans "GET STARTED" %}</a></li>
                    <li><a href="{% url 'company:contact' %}" class="button big">{% trans "CONTACT US" %}</a></li>
                </ul>
            </div>
        </section>

    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function(){
            // If it's a logout, clear tracking analytics user
            {% if has_logged_out %}
                track_logout();
            {% endif %}

            // Sends tracking event
            track_event('{{ tracking_event_viewed_content }}', {
                // Used by other services (e.g. Facebook pixel)
                currency: 'AUD',
                value: 0.1,
                content_category: 'home',
                content_name: 'Website Home-Page',
            });
        });
    </script>

{% endblock scripts %}
