{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'common/jquery-ui/css/ui-lightness/jquery-ui.css' %}" rel="stylesheet">
    <style>
        .ui-autocomplete-loading { background:url('{% static "admin/img/loading.gif" %}') no-repeat right center }
    </style>
{% endblock head %}

{% block content %}
    <div class="content social">
        {% include "qa/common/side_menu.html" %}
        <section class="content">
            <div class="question-following">
                <div id="topics">
                    <form id="add-topic-form" action="" class="add-interest">
                        <h2 class="title">Add interest...</h2>
                        <input id="search-topics" type="text" placeholder="Ex. Brasil">
                        <button class="button bt-add">Add</button>
                    </form>
                    <div class="tags">
                        <h2 class="title">Your interests</h2>
                        <ul class="tags-list">
                            {% with following_topics=user.following_topics.all %}
                            {% for topic in following_topics %}
                                <li class="tag"><a href="{% url 'qa:ajax_unfollow_topic' topic.id %}" class="tag-link">{{ topic.name }}</a></li>
                            {% endfor %}
                            <!--li class="tag"><a href="#" class="tag-link country">Brazil</a></li>
                            <li class="tag"><a href="#" class="tag-link">Move definitely</a></li>
                            <li class="tag"><a href="#" class="tag-link">Changin live</a></li-->
                            {% endwith %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script src="{% static 'common/jquery-ui/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">
        $( document ).ready( function() {
            var cache = {};
            var selected_topic = -1;
            $( "#search-topics" ).autocomplete({
                minLength: 2,
                source: function( request, response ) {
                    var term = request.term;
                    if ( term in cache ) {
                      response( cache[ term ] );
                      return;
                    }

                    $.getJSON( "{% url "qa:ajax_get_topics" %}", request, function( data, status, xhr ) {
                      cache[ term ] = data;
                      response( data );
                    }).fail(function(httpObj, text){
                        if ( httpObj.status == 401 )
                            window.location.href = evt.data.redirect_url;
                    });
                },

                select: function( event, ui ) {
                    selected_topic = ui.item;
                    $( ".bt-add" ).focus();
                }
            });

            $( "#add-topic-form" ).submit(function(){
                if ( selected_topic != -1 )
                {
                    // Adds the topic to the user interests (backend)
                    $.get( selected_topic[ "follow_url" ], { "_": $.now() }, function( data ){
                        console.log( selected_topic );
                        // Topic successfully added to the following topics list of the user
                        // Adds the topic on the UI
                        var topic_tag = $( "<li>" ).attr( "class", "tag" ).append(
                            $( "<a>" ).attr( "href",
                                    selected_topic[ "unfollow_url" ]
                                ).attr( "class",
                                    "tag-link"
                                ).text(
                                    selected_topic[ "value" ]
                                )
                        );

                        $( "div.tags > ul.tags-list" ).append( topic_tag );

                        updateFollowingTopicsCounter( data );

                        // Clears the input text
                        $( "#search-topics" ).val( "" );

                        // Unsets selected topic
                        selected_topic = -1;

                    }).fail(function(httpObj, text){
                        if ( httpObj.status == 401 )
                            window.location.href = "{% url "site:login" %}";
                    });
                }
                else
                    alert( "{% trans "Please select an existing topic" %}" );

                return false;
            });

            // Registers a click handler for every tag-link clicked.
            $( document ).on( "click", ".tag-link", function( e ){
                e.preventDefault();
                var elm = $(this);
                $.get( $(this).attr( "href" ), { "_": $.now() }, function( data ){
                    elm.parent().remove();
                    updateFollowingTopicsCounter( data );
                })
            } );

        });
    </script>


    {% include "_layouts/analytics.html" %}

{% endblock scripts %}