{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">

    <head>

        {% include "_layouts/meta.html" %}

        <!-- Css files -->
        <link rel="stylesheet" href="{% static "site/css/main.css"%}" />
        <link rel="stylesheet" href="{% static "site/css/login.css"%}" />
        <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/dd.css"%}" />
        <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/flags.css"%}" />

    </head>


    <body class="landing">

        <div class="wrapper">
            <div class="background">
                <img class="img" src="{% static 'site/img/landing-bg.jpg' %}" alt="{% trans "Move to a new country" %}" />
            </div>
            <header>
                <h1 class="logo"><a href="index.html" title="Wanna Migrate">Wanna Migrate</a></h1>
                <a href="#" class="bt-nav">Menu</a>
                <nav class="nav nav-login">
                    <ul>
                        <li><a class="nav-link" href="{%  url 'site:how_it_works' %}">{% trans "How it works?" %}</a></li>
                        <li><a class="nav-link" href="{%  url 'marketplace:subscription' %}">{% trans "Subscription Plans" %}</a></li>
                        <li><a class="nav-link button bt-login" href="{%  url 'site:login' %}" title="Login">{% trans "Login" %}</a></li>
                    </ul>
                </nav>
            </header>
            <div class="content">
                <section class="get-help">
                    <h2 class="title">{% trans "<strong>Go</strong> abroad. <strong>Change</strong> your life." %}</h2>
                    <form action="{% url 'site:change_situation' %}" method="post" id="main_form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="from field {% if form.from_country.errors %}has-error{% endif %}">
                                <label for="from_country">{% trans "I'm from" %}</label>
                                {{ form.from_country }}
                            </div>
                            <div class="want field {% if form.goal.errors %}has-error{% endif %}">
                                <label for="">{% trans "I wanna" %}</label>
                                {{ form.goal }}
                            </div>
                            <div class="to field {% if form.to_country.errors %}has-error{% endif %}">
                                <label for="">{% trans "In" %}</label>
                                {{ form.to_country }}
                            </div>
                        </fieldset>
                        <input type="submit" name="submit_button" class="button bt-help" value="{% trans "Start now! It's free" context 'landing_call_to_action' %}" />
                    </form>
                </section>
            </div>
            <footer>
                <nav class="nav-footer">
                    <ul>
                        <li class="conditions"><a class="nav-footer-link" href="{%  url 'site:terms' %}">{% trans "Terms & Conditions" %}</a></li>
                        <li class="privacy"><a class="nav-footer-link" href="{%  url 'site:privacy' %}">{% trans "Privacy" %}</a></li>
                        <li class="contact"><a class="nav-footer-link" href="{%  url 'site:contact' %}">{% trans "Contact" %}</a></li>
                        <li class="language">
                            {% get_language_info for LANGUAGE_CODE as current_language %}
                            <a class="nav-footer-link bt-options {{ current_language.code }}" href="#">{{ current_language.name_local }}</a>
                            <div class="box-options">
                                <ul class="box">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                            <li><a class="{{ language.code }}" href="{% url 'site:set_lang' language.code %}?next={{request.path}}">{{ language.name_local }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </li>
                    </ul>
                </nav>
            </footer>
        </div>

        {% include "_layouts/analytics.html" %}

        {% if sql_output %}
            <br /><br /><br />
            <div id="sql-output">
                <h1>SQL Queries - Make 'em faster :)</h1>
                {{ sql_output|safe }}
            </div>
        {% endif %}

    </body>

    <!-- JS Libraries -->
    <script type="text/javascript" src="{% static 'common/jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-dd/js/jquery.dd.js' %}"></script>

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'site/js/countries.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/landing.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // set classes for country flags in the options
            $( "select.custom-select.country option" ).each( function(){

                if ( $( this ).val() != "" ) {
                    $( this ).attr( "data-image", "{% static 'site/img/msdropdown/icons/blank.gif' %}" );
                    $( this ).attr( "data-imagecss", "flag " + COUNTRIES_PER_ID[$( this ).val()] );
                    $( this ).attr( "data-title", $( this ).text() );
                }

            });

            // create custom dropdown for countries
            $( ".custom-select" ).msDropdown();

            // JS FORM Validation
            $( "#main_form" ).submit( function() {
                return validate_empty_fields( this, '{{ form.get_required_fields }}', 'none' );
            });

        })

    </script>

</html>