{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Inline CSS -->
    <link rel="stylesheet" href="{% static "common/jquery-flexslider/css/flexslider.css" %}" />

{% endblock head %}

{% block body %}
    <body class="dashboard home">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block header %}
    <h1 class="logo"><a href="{% url 'site:home' %}" title="Wanna Migrate">Wanna Migrate</a></h1>
    <a href="#" class="bt-nav">Menu</a>
    <div class="interaction">
        <div class="account login">
            <a href="{% url 'site:login' %}" class="my-account login"><span>{% trans 'Login' %}</span></a>
        </div>
        <nav class="nav nav-dashboard">
            <ul>
                <li class="nav-item"><a class="nav-link" data-link="login" href="{% url 'site:login' %}">{% trans "Login" %}</a></li>
                <li class="nav-item"><a class="nav-link" data-link="signup" href="{% url 'site:signup' %}">{% trans "Sign-Up" %}</a></li>
                <li class="nav-item"><a class="nav-link" data-link="about" href="{% url 'site:how_it_works' %}">{% trans "How It Works" %}</a></li>
            </ul>
        </nav>
    </div>
    <div class="heading">
        <div class="title">
            {% trans 'Learn how to immigrate <br />to your dream country - <span>for free</span>' %}
        </div>
    </div>
    <div class="get-help">
        <form action="{% url 'site:change_situation' %}?next={% url 'site:signup' %}" method="post" id="main_form">
            {% csrf_token %}
            <fieldset>
                <div class="from field {% if form.from_country.errors %}has-error{% endif %}">
                    <label for="from_country">{% trans "I'm from" %}</label>
                    {{ form.from_country }}
                </div>
                <div class="want field {% if form.goal.errors %}has-error{% endif %}">
                    <label for="">{% trans "I wanna" %}</label>
                    {{ form.goal }}
                </div>
                <div class="to field {% if form.to_country.errors %}has-error{% endif %}">
                    <label for="">{% trans "In" %}</label>
                    {{ form.to_country }}
                </div>
            </fieldset>
            <input type="submit" name="submit_button" class="button bt-help" value="{% trans "Start Now!" context 'landing_call_to_action' %}" />
        </form>
    </div>
{% endblock header %}

{% block situation %} {% endblock situation %}

{% block content %}

    <section class="howitworks">
        <div class="main-title">
            {% trans 'How it Works' %}
        </div>
        <div class="columb columb_1">
            <img src="{% static 'site/img/img_1.png' %}" alt="{% trans "Set Your Migration Plan" %}" />
            <div class="title">
                {% trans "Set Your Migration Plan" %}
            </div>
            <div class="text">
                {% trans "Define where you want to go. (i.e. 'Work and live in Australia', 'study in Canada'...)" %}
            </div>
        </div>
        <div class="columb columb_2">
            <img src="{% static 'site/img/img_2.png' %}" alt="{% trans "Get Help" context "imperative" %}" />
            <div class="title">
                {% trans "Apply For The Visa" %}
            </div>
            <div class="text">
                {% trans "Get help from our community and from our premium tool that will guide you through each step." %}
            </div>
        </div>
        <div class="columb columb_3">
            <img src="{% static 'site/img/img_3.png' %}" alt="{% trans "Move to Your Dream Country" %}" />
            <div class="title">
                {% trans "Move To Your Dream Country" %}
            </div>
            <div class="text">
                {% trans "Say goodbye and get ready to start living and working in your new country." %}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="but">
             <a href="{% url 'site:signup' %}" class="bt-edit button">{% trans "Start my Journey" %}</a>
        </div>
        <div class="clearfix"></div>

    </section>

    <div class="clearfix"></div>

    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "The site has built excellent content that can easily save you months of research for immigration information." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-tania.png' %}" alt="{% trans 'testmonial-tania-antonieli' %}" />
                        </div>
                        <div class="text2">Tânia Antonieli<br /><span>{% trans "Project Manager" %}</span></div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "I had no idea I had most of the requirements to get a visa to live and work in Canada until using Wanna Migrate." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-igor.png' %}" alt="{% trans 'testmonial-igor-freitas' %}" />
                        </div>
                        <div class="text2">Igor Freitas<br /><span>{% trans "Personal Trainer and Musician" %}</span></div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="featured">

        <div class="container">
            <div class="left">
                <div class="title">{% trans "In the news:" %}</div>
                <div class="logos">
                    <a href="http://g1.globo.com/ma/maranhao/noticia/2015/07/falta-de-investimento-estimula-migracao-de-startups-no-maranhao.html" target="_blank">
                        <img src="{% static 'site/img/featured-logo-g1.png' %}" alt="{% trans 'G1' %}" />
                    </a>
                    <a href="http://imirante.com/servicos/sao-luis/noticias/2015/08/20/saiba-como-imigrar-para-paises-como-canada-e-australia.shtml" target="_blank">
                        <img src="{% static 'site/img/featured-logo-imirante.png' %}" alt="{% trans 'iMirante' %}" />
                    </a>
                    <a href="http://projetodraft.com/wannamigrate-plataforma-para-quem-quer-migrar-a-outro-pais/" target="_blank">
                        <img src="{% static 'site/img/featured-logo-projeto-draft.png' %}" alt="{% trans 'Projeto Draft' %}" />
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="title">{% trans "Supported by:" %}</div>
                <div class="logos">
                    <a href="http://www.mcti.gov.br/" target="_blank">
                        <img src="{% static 'site/img/featured-logo-mcti.png' %}" alt="{% trans 'MCTI' %}" />
                    </a>
                    <a href="http://www.finep.gov.br/" target="_blank">
                        <img src="{% static 'site/img/featured-logo-finep.png' %}" alt="{% trans 'Finep' %}" />
                    </a>
                    <a href="http:/fapema.br" target="_blank">
                        <img src="{% static 'site/img/featured-logo-fapema.png' %}" alt="{% trans 'G1' %}" />
                    </a>
                    <a href="http:/www.startupchile.org" target="_blank">
                        <img src="{% static 'site/img/featured-logo-startup-chile.png' %}" alt="{% trans 'Start-up Chile' %}" />
                    </a>
                </div>
            </div>
         </div>
    </section>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'site/js/countries.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-flexslider/js/jquery.flexslider.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // plugin for testmonials slides
            $( '.flexslider' ).flexslider({
                animation: "slide"
            });

            // set classes for country flags in the options
            $( "select.custom-select.country option" ).each( function(){

                if ( $( this ).val() != "" ) {
                    $( this ).attr( "data-image", "{% static 'site/img/msdropdown/icons/blank.gif' %}" );
                    $( this ).attr( "data-imagecss", "flag " + COUNTRIES_PER_ID[$( this ).val()] );
                    $( this ).attr( "data-title", $( this ).text() );
                }

            });

            // create custom dropdown for countries
            $( ".custom-select" ).msDropdown();


        })

    </script>

{% endblock scripts %}