{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock head %}


{% block content %}

<div class="info-container">
    <div class="info-message">
        <h2>Site in maintenance!</h2>
        <p>
            We will launch a new version in 2 hours :)
        </p>
    </div>
</div>
    

{% endblock content %}