{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">

    <head>

        {% include "_layouts/meta.html" %}

        <!-- Css files -->
        <link rel="stylesheet" href="{% static "site/css/main.css"%}" />
        <link rel="stylesheet" href="{% static "site/css/login.css"%}" />
        <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/dd.css"%}" />
        <link rel="stylesheet" type="text/css" href="{% static "common/msdropdown/css/flags.css"%}" />

    </head>


    <body class="landing">

        <div class="wrapper">
            <div class="background">
                <img class="img" src="{% static 'site/img/landing-bg.jpg' %}" alt="">
            </div>
            <header>
                <h1 style="width:100%; background-position:center;" class="logo"><a href="index.html" title="Wanna Migrate">Wanna Migrate</a></h1>
            </header>
            <div class="content">
                <section class="get-help">
                    <h3 style="margin-top:54px;" class="title">{% trans "Under maintenance. We'll be back in a few minutes." %}</h3>
                </section>
        </div>
    </body>

    <!-- JS Libraries -->
    <script type="text/javascript" src="{% static 'common/jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-dd/js/jquery.dd.js' %}"></script>

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'site/js/countries.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/landing.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

        })

    </script>

</html>