{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <body class="dashboard home">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block header %}
    <h1 class="logo"><a href="{% url 'site:home' %}" title="Wanna Migrate">Wanna Migrate</a></h1>
    <a href="#" class="bt-nav">Menu</a>
    <div class="interaction">
        <div class="account category">
            <a href="{% url 'site:login' %}" class="my-account login"><span>{% trans 'Login' %}</span></a>
        </div>
    </div>
    <div class="heading">
        <div class="title">
            {% trans 'Get all the help you need to<br />immigrate to your dream country' %}
        </div>
    </div>
    <div class="get-help">
        <form action="{% url 'site:change_situation' %}" method="post" id="main_form">
            {% csrf_token %}
            <fieldset>
                <div class="from field {% if form.from_country.errors %}has-error{% endif %}">
                    <label for="from_country">{% trans "I'm from" %}</label>
                    {{ form.from_country }}
                </div>
                <div class="want field {% if form.goal.errors %}has-error{% endif %}">
                    <label for="">{% trans "I wanna" %}</label>
                    {{ form.goal }}
                </div>
                <div class="to field {% if form.to_country.errors %}has-error{% endif %}">
                    <label for="">{% trans "In" %}</label>
                    {{ form.to_country }}
                </div>
            </fieldset>
            <input type="submit" name="submit_button" class="button bt-help" value="{% trans "Start Now!" context 'landing_call_to_action' %}" />
        </form>
    </div>
{% endblock header %}

{% block situation %} {% endblock situation %}

{% block content %}

    <form id="product_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="product_id" id="product_id" value="" />
    </form>

    {% if messages %}
        <section class="books_block">
            {% include "site/_common/status.html" %}
        </section>
    {% endif %}

    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Subscription to Immi Box - Canada' %}
            </div>
            <div class="text">
                {% trans "1 year of access to all the tools you need to immigrate to Canada." %}
                <ul>
                    <li>{% trans "Identify the best type of visa for your profile" %}</li>
                    <li>{% trans "Learn how to study, work and do business in Canada" %}</li>
                    <li>{% trans "Organize all the documents you need" %}</li>
                    <li>{% trans "Start your visa application" %}</li>
                    <li>{% trans "Build your Canadian CV and contact employers" %}</li>
                </ul>
                <span class="small">{% trans "You will have full access to our premium area after the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>80,00<sup></sup></span>
                </div>
                <div class="but">
                    <a href="#" data-productid="3" class="bt-edit button">{% trans "Buy Package" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/immi-box-canada.jpg' %}" alt="{% trans 'Immi Box - Canada' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="line"></div>

    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Subscription to Immi Box - Australia' %}
            </div>
            <div class="text">
                {% trans "1 year of access to all the tools you need to immigrate to Australia." %}
                <ul>
                    <li>{% trans "Identify the best type of visa for your profile" %}</li>
                    <li>{% trans "Learn how to study, work and do business in Australia" %}</li>
                    <li>{% trans "Organize all the documents you need" %}</li>
                    <li>{% trans "Start your visa application" %}</li>
                    <li>{% trans "Build your Australian CV and contact employers" %}</li>
                </ul>
                <span class="small">{% trans "You will have full access to our premium area after the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>80,00<sup></sup></span>
                </div>
                <div class="but">
                    <a href="#" data-productid="2" class="bt-edit button">{% trans "Buy Package" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/immi-box-australia.jpg' %}" alt="{% trans 'Immi Box - Australia' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="line"></div>

    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Subscription to Immi Box + Support - Canada' %}
            </div>
            <div class="text">
                {% trans "1 year of access to all the tools you need to immigrate to Canada, plus unlimited support." %}
                <ul>
                    <li>{% trans "Initial Immigration Training via Skype" %}</li>
                    <li>{% trans "Unlimited email support to answer all your questions" %}</li>
                    <li>{% trans "Identify the best type of visa for your profile" %}</li>
                    <li>{% trans "Learn how to study, work and do business in Canada" %}</li>
                    <li>{% trans "Organize all the documents you need" %}</li>
                    <li>{% trans "Start your visa application" %}</li>
                    <li>{% trans "Build your Canadian CV and contact employers" %}</li>
                </ul>
                <span class="small">{% trans "You will have full access to our premium area after the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>150,00<sup></sup></span>
                </div>
                <div class="but">
                    <a href="#" data-productid="5" class="bt-edit button">{% trans "Buy Package" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/immi-box-canada-support.jpg' %}" alt="{% trans 'Immi Box and Support - Canada' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <div class="line"></div>

    <section class="books_block">
        <div class="left">
            <div class="title">
                {% trans 'Subscription to Immi Box + Support - Australia' %}
            </div>
            <div class="text">
                {% trans "1 year of access to all the tools you need to immigrate to Australia, plus unlimited support." %}
                <ul>
                    <li>{% trans "Initial Immigration Training via Skype" %}</li>
                    <li>{% trans "Unlimited email support to answer all your questions" %}</li>
                    <li>{% trans "Identify the best type of visa for your profile" %}</li>
                    <li>{% trans "Learn how to study, work and do business in Australia" %}</li>
                    <li>{% trans "Organize all the documents you need" %}</li>
                    <li>{% trans "Start your visa application" %}</li>
                    <li>{% trans "Build your Australian CV and contact employers" %}</li>
                </ul>
                <span class="small">{% trans "You will have full access to our premium area after the payment." %}</span>
            </div>
            <div class="books_bottom">
                <div class="price">
                    R$ <span>150,00<sup></sup></span>
                </div>
                <div class="but">
                    <a href="#" data-productid="4" class="bt-edit button">{% trans "Buy Package" %}</a>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'site/img/immi-box-australia-support.jpg' %}" alt="{% trans 'Immi Box and Support - Australia' %}" />
        </div>
    </section>

    <div class="clearfix"></div>
    <br /><br /><br />

    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "You guys built a very rich content, with excellent hints. This guide could easily save months of research of information." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-tania.png' %}" alt="{% trans 'testmonial-tania-antonieli' %}" />
                        </div>
                        <div class="text2">Tânia Antonieli<br /><span>{% trans "Project Manager" %}</span></div>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="flex-caption">
                    <div class="title">
                        {% trans "What our users say" %}
                    </div>
                    <div class="img">
                        <img src="{% static 'site/img/quotes.png' %}" alt="{% trans 'quotes' %}" />
                    </div>
                    <div class="text">
                        {% trans "I had no idea I had most of the requirements to get a visa to live in Canada until I read the e-book." %}
                    </div>
                    <div class="bottom">
                        <div class="img">
                            <img src="{% static 'site/img/e-book-testmonial-igor.png' %}" alt="{% trans 'testmonial-igor-freitas' %}" />
                        </div>
                        <div class="text2">Igor Freitas<br /><span>{% trans "Personal Trainer and Musician" %}</span></div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="call_to_action">
        <div class="left">
            {% trans "Start now. It's free!" %}
        </div>
        <div class="but">
            <a href="{% url 'site:dashboard' %}" class="bt-edit button">{% trans "Sign up" %}</a>
        </div>
    </section>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'site/js/countries.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // set classes for country flags in the options
            $( "select.custom-select.country option" ).each( function(){

                if ( $( this ).val() != "" ) {
                    $( this ).attr( "data-image", "{% static 'site/img/msdropdown/icons/blank.gif' %}" );
                    $( this ).attr( "data-imagecss", "flag " + COUNTRIES_PER_ID[$( this ).val()] );
                    $( this ).attr( "data-title", $( this ).text() );
                }

            });

            // create custom dropdown for countries
            $( ".custom-select" ).msDropdown();

            // JS FORM Validation
            $( "#main_form" ).submit( function() {
                return validate_empty_fields( this, '{{ form.get_required_fields }}', 'none' );
            });

        })

    </script>

{% endblock scripts %}