{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock head %}


{% block content %}

<div class="info-container">
    <div class="info-message">
        <h2>{% trans "Hi" %}, <span class="featured">{{first_name}}!</span></h2>
        <p>
            {% trans "We are happy for your interest in our platform! Our version for mobile devices is under development. Access to the requested page is occurring only from the computer." %}
        </p>
    </div>
</div>
    

{% endblock content %}