{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Inline CSS -->
    <link rel="stylesheet" href="{% static "site/css/pricing.css" %}" />
{% endblock head %}

{% block situation %} {% endblock situation %}

{% block content %}

    <form id="product_form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="product_id" id="product_id" value="" />
    </form>

    {% if messages %}
        <section class="books_block">
            {% include "site/_common/status.html" %}
        </section>
    {% endif %}

    <section class="pricing">
      <div class="wrapper-full">
        <h1 class="main-page-header">{% trans "Subscription Plans" %}</h1>
        <h3 class="main-sub-header">
            {% trans "All paid plans include unlimited access to our step-by-step tool to Australia and Canada." %}
        </h3>
        <div class="plans">
            <div class="plan">
              <div class="price">
                <span class="currency"></span>
                <span class="amount">Free</span>
                <span class="slash"></span>
                <span class="month"></span>
              </div>

              <ul>
                <li>{% trans "Forever Free" %}</li>
                <li>{% trans "Immigration calculator" %}</li>
                <li>{% trans "Q&A" %}</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
              <a class="plan-sign-up" href="{% url 'site:signup' %}">{% trans "Sign Up" context "Pricing" %}</a>
            </div>

            <div class="plan">
              <div class="price">
                <span class="currency">R$</span>
                <span class="amount">78</span>
              </div>

              <ul>
                <li>{% trans "<strong>3 months</strong> access" %}</li>
                <li>{% trans "Immigration calculator" %}</li>
                <li>{% trans "Q&A" %}</li>
                <li>{% trans "Private webinars" %}</li>
                <li>{% trans "Step-by-step tool" %}</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>

              </ul>
              <a class="plan-sign-up" href="#" data-productid="2">{% trans "Sign Up" context "Pricing" %}</a>
            </div>

            <div class="plan popular">
              <div class="price">
                <span class="currency">R$</span>
                <span class="amount">140</span>
              </div>

              <ul>
                <li>{% trans "<strong>6 months</strong> access" %}</li>
                <li>{% trans "Immigration calculator" %}</li>
                <li>{% trans "Q&A" %}</li>
                <li>{% trans "Private webinars" %}</li>
                <li>{% trans "Step-by-step tool" %}</li>
                <li>{% trans "Unlimited <strong>email support</strong>" %}</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
              <a class="plan-sign-up" href="#" data-productid="3">{% trans "Sign Up" context "Pricing" %}</a>
            </div>

            <div class="plan">
              <div class="price">
                <span class="currency">R$</span>
                <span class="amount">260</span>
              </div>

              <ul>
                <li>{% trans "<strong>12 months</strong> access" %}</li>
                <li>{% trans "Immigration calculator" %}</li>
                <li>{% trans "Q&A" %}</li>
                <li>{% trans "Private webinars" %}</li>
                <li>{% trans "Step-by-step tool" %}</li>
                <li>{% trans "Unlimited <strong>email support</strong>" %}</li>
                <li>{% trans "20 min <strong>Skype interview</strong>" %}</li>
              </ul>
              <a class="plan-sign-up" href="#" data-productid="4">{% trans "Sign Up" context "Pricing" %}</a>
            </div>
        </div>
      </div>
    </section>

    <section class="parallax"></section>

    <section class="pricing">
      <div class="wrapper-full">
        <h1 class="main-page-header">{% trans "Not convinced yet?" %}</h1>
        <h3 class="main-sub-header">
            {% trans "Take a look at our demo below:" %}
        </h3>
        <div class="feedback-video">
            <iframe width="560" height="295" src="https://www.youtube.com/embed/ZLnaRhAIHeU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <div class="clearfix"></div>
    <br /><br /><br />

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // submits form for each button (from books)
            $( 'div.plan a.plan-sign-up' ).click( function( event ) {
                event.preventDefault();
                $( "#product_id" ).val( $( this ).attr( 'data-productid' ) );
                $( "#product_form" ).submit();
            });

        });

    </script>

{% endblock scripts %}