{% load i18n %}
{% trans "Abkhazian" %} 
{% trans "Afar" %} 
{% trans "Afrikaans" %} 
{% trans "Albanian" %} 
{% trans "Amharic" %} 
{% trans "Arabic" %} 
{% trans "Aragonese" %} 
{% trans "Armenian" %} 
{% trans "Assamese" %} 
{% trans "Aymara" %} 
{% trans "Azerbaijani" %} 
{% trans "Bashkir" %} 
{% trans "Basque" %} 
{% trans "Bengali (Bangla)" %} 
{% trans "Bhutani" %} 
{% trans "Bihari" %} 
{% trans "Bislama" %} 
{% trans "Breton" %} 
{% trans "Bulgarian" %} 
{% trans "Burmese" %} 
{% trans "Byelorussian (Belarusian)" %} 
{% trans "Cambodian" %} 
{% trans "Catalan" %} 
{% trans "Cherokee" %} 
{% trans "Chewa" %} 
{% trans "Chinese" %} 
{% trans "Corsican" %} 
{% trans "Croatian" %} 
{% trans "Czech" %} 
{% trans "Danish" %} 
{% trans "Divehi" %} 
{% trans "Dutch" %} 
{% trans "Edo" %} 
{% trans "English" %} 
{% trans "Esperanto" %} 
{% trans "Estonian" %} 
{% trans "Faeroese" %} 
{% trans "Farsi" %} 
{% trans "Fiji" %} 
{% trans "Finnish" %} 
{% trans "Flemish" %} 
{% trans "French" %} 
{% trans "Frisian" %} 
{% trans "Fulfulde" %} 
{% trans "Galician" %} 
{% trans "Gaelic (Scottish)" %} 
{% trans "Gaelic (Manx)" %} 
{% trans "Georgian" %} 
{% trans "German" %} 
{% trans "Greek" %} 
{% trans "Greenlandic" %} 
{% trans "Guarani" %} 
{% trans "Gujarati" %} 
{% trans "Haitian Creole" %} 
{% trans "Hausa" %} 
{% trans "Hawaiian" %} 
{% trans "Hebrew" %} 
{% trans "Hindi" %} 
{% trans "Hungarian" %} 
{% trans "Ibibio" %} 
{% trans "Icelandic" %} 
{% trans "Ido" %} 
{% trans "Igbo" %} 
{% trans "Indonesian" %} 
{% trans "Interlingua" %} 
{% trans "Interlingue" %} 
{% trans "Inuktitut" %} 
{% trans "Inupiak" %} 
{% trans "Irish" %} 
{% trans "Italian" %} 
{% trans "Japanese" %} 
{% trans "Javanese" %} 
{% trans "Kannada" %} 
{% trans "Kanuri" %} 
{% trans "Kashmiri" %} 
{% trans "Kazakh" %} 
{% trans "Kinyarwanda (Ruanda)" %} 
{% trans "Kirghiz" %} 
{% trans "Kirundi (Rundi)" %} 
{% trans "Konkani" %} 
{% trans "Korean" %} 
{% trans "Kurdish" %} 
{% trans "Laothian" %} 
{% trans "Latin" %} 
{% trans "Latvian (Lettish)" %} 
{% trans "Limburgish ( Limburger)" %} 
{% trans "Lingala" %} 
{% trans "Lithuanian" %} 
{% trans "Macedonian" %} 
{% trans "Malagasy" %} 
{% trans "Malay" %} 
{% trans "Malayalam" %} 
{% trans "Maltese" %} 
{% trans "Maori" %} 
{% trans "Marathi" %} 
{% trans "Moldavian" %} 
{% trans "Mongolian" %} 
{% trans "Nauru" %} 
{% trans "Nepali" %} 
{% trans "Norwegian" %} 
{% trans "Occitan" %} 
{% trans "Oriya" %} 
{% trans "Oromo (Afaan Oromo)" %} 
{% trans "Papiamentu" %} 
{% trans "Pashto (Pushto)" %} 
{% trans "Polish" %} 
{% trans "Portuguese" %} 
{% trans "Punjabi" %} 
{% trans "Quechua" %} 
{% trans "Rhaeto-Romance" %} 
{% trans "Romanian" %} 
{% trans "Russian" %} 
{% trans "Sami (Lappish)" %} 
{% trans "Samoan" %} 
{% trans "Sangro" %} 
{% trans "Sanskrit" %} 
{% trans "Serbian" %} 
{% trans "Serbo-Croatian" %} 
{% trans "Sesotho" %} 
{% trans "Setswana" %} 
{% trans "Shona" %} 
{% trans "Sichuan Yi" %} 
{% trans "Sindhi" %} 
{% trans "Sinhalese" %} 
{% trans "Siswati" %} 
{% trans "Slovak" %} 
{% trans "Slovenian" %} 
{% trans "Somali" %} 
{% trans "Spanish" %} 
{% trans "Sundanese" %} 
{% trans "Swahili (Kiswahili)" %} 
{% trans "Swedish" %} 
{% trans "Syriac" %} 
{% trans "Tagalog" %} 
{% trans "Tajik" %} 
{% trans "Tamazight" %} 
{% trans "Tamil" %} 
{% trans "Tatar" %} 
{% trans "Telugu" %} 
{% trans "Thai" %} 
{% trans "Tibetan" %} 
{% trans "Tigrinya" %} 
{% trans "Tonga" %} 
{% trans "Tsonga" %} 
{% trans "Turkish" %} 
{% trans "Turkmen" %} 
{% trans "Twi" %} 
{% trans "Uighur" %} 
{% trans "Ukrainian" %} 
{% trans "Urdu" %} 
{% trans "Uzbek" %} 
{% trans "Venda" %} 
{% trans "Vietnamese" %} 
{% trans "Volapük" %} 
{% trans "Wallon" %} 
{% trans "Welsh" %} 
{% trans "Wolof" %} 
{% trans "Xhosa" %} 
{% trans "Yi" %} 
{% trans "Yiddish" %} 
{% trans "Yoruba" %} 
{% trans "Zulu" %} 
{% trans "Assyrian" %} 
{% trans "Auslan" %} 
{% trans "Bangla" %} 
{% trans "Bosnian" %} 
{% trans "Cantonese" %} 
{% trans "Dari" %} 
{% trans "Dinka" %} 
{% trans "Filipino" %} 
{% trans "Hakka (Chinese)" %} 
{% trans "Hazaragi" %} 
{% trans "Khmer" %} 
{% trans "Lao" %} 
{% trans "Mandarin" %} 
{% trans "Nuer" %} 
{% trans "Oromo" %} 
{% trans "Persian" %} 
{% trans "Pushto" %} 
{% trans "Swahili" %} 
{% trans "Tetum" %} 
{% trans "Tongan" %} 
