{% load i18n %}
{% trans "Algeria" %} 
{% trans "Angola" %} 
{% trans "Ascension" %} 
{% trans "Benin" %} 
{% trans "Botswana" %} 
{% trans "Burkina Faso" %} 
{% trans "Burundi" %} 
{% trans "Cameroon" %} 
{% trans "Cape Verde Islands" %} 
{% trans "Central African Republic" %} 
{% trans "Chad Republic" %} 
{% trans "Comoros" %} 
{% trans "Congo" %} 
{% trans "Djibouti" %} 
{% trans "Egypt" %} 
{% trans "Equatorial Guinea" %} 
{% trans "Eritrea" %} 
{% trans "Ethiopia" %} 
{% trans "Gabon Republic" %} 
{% trans "Gambia" %} 
{% trans "Ghana" %} 
{% trans "Guinea-Bissau" %} 
{% trans "Guinea" %} 
{% trans "Ivory Coast" %} 
{% trans "Kenya" %} 
{% trans "Lesotho" %} 
{% trans "Liberia" %} 
{% trans "Libya" %} 
{% trans "Madagascar" %} 
{% trans "Malawi" %} 
{% trans "Mali Republic" %} 
{% trans "Mauritania" %} 
{% trans "Mauritius" %} 
{% trans "Mayotte Island" %} 
{% trans "Morocco" %} 
{% trans "Mozambique" %} 
{% trans "Namibia" %} 
{% trans "Niger Republic" %} 
{% trans "Nigeria" %} 
{% trans "Principe" %} 
{% trans "Reunion Island" %} 
{% trans "Rwanda" %} 
{% trans "Sao Tome" %} 
{% trans "Senegal Republic" %} 
{% trans "Seychelles" %} 
{% trans "Sierra Leone" %} 
{% trans "Somalia Republic" %} 
{% trans "South Africa" %} 
{% trans "St. Helena" %} 
{% trans "Sudan" %} 
{% trans "Swaziland" %} 
{% trans "Tanzania" %} 
{% trans "Togo" %} 
{% trans "Tunisia" %} 
{% trans "Uganda" %} 
{% trans "Zaire" %} 
{% trans "Zambia" %} 
{% trans "Zanzibar" %} 
{% trans "Zimbabwe" %} 
{% trans "South Sudan" %} 
{% trans "Dem. Republic of the Congo" %} 
{% trans "Afghanistan" %} 
{% trans "Armenia" %} 
{% trans "Azerbaijan" %} 
{% trans "Bahrain" %} 
{% trans "Bangladesh" %} 
{% trans "Bhutan" %} 
{% trans "Brunei" %} 
{% trans "Cambodia" %} 
{% trans "China" %} 
{% trans "Christmas Island" %} 
{% trans "Cocos Islands" %} 
{% trans "Diego Garcia" %} 
{% trans "Georgia" %} 
{% trans "Hong Kong" %} 
{% trans "India" %} 
{% trans "Indonesia" %} 
{% trans "Iran" %} 
{% trans "Iraq" %} 
{% trans "Israel" %} 
{% trans "Japan" %} 
{% trans "Jordan" %} 
{% trans "Kazakhstan" %} 
{% trans "North Korea" %} 
{% trans "South Korea" %} 
{% trans "Kuwait" %} 
{% trans "Kyrgyzstan" %} 
{% trans "Laos" %} 
{% trans "Lebanon" %} 
{% trans "Macau" %} 
{% trans "Malaysia" %} 
{% trans "Maldives" %} 
{% trans "Mongolia" %} 
{% trans "Myanmar" %} 
{% trans "Nepal" %} 
{% trans "Oman" %} 
{% trans "Macau" %} 
{% trans "Pakistan" %} 
{% trans "Philippines" %} 
{% trans "Qatar" %} 
{% trans "Saudi Arabia" %} 
{% trans "Singapore" %} 
{% trans "Sri Lanka" %} 
{% trans "Syria" %} 
{% trans "Syria" %} 
{% trans "Taiwan" %} 
{% trans "Tajikistan" %} 
{% trans "Thailand" %} 
{% trans "Turkey" %} 
{% trans "Turkmenistan" %} 
{% trans "United Arab Emirates" %} 
{% trans "Uzbekistan" %} 
{% trans "Vietnam" %} 
{% trans "Yemen" %} 
{% trans "Palestine" %} 
{% trans "American Samoa" %} 
{% trans "Australia" %} 
{% trans "Chatham Island, NZ" %} 
{% trans "Cook Islands" %} 
{% trans "Fiji Islands" %} 
{% trans "French Polynesia" %} 
{% trans "Guam" %} 
{% trans "Kiribati" %} 
{% trans "American" %} 
{% trans "Mariana Islands" %} 
{% trans "Marshall Islands" %} 
{% trans "Federated States of Micronesia" %} 
{% trans "Midway Islands" %} 
{% trans "Nauru" %} 
{% trans "New Caledonia" %} 
{% trans "New Zealand" %} 
{% trans "Niue" %} 
{% trans "Norfolk Island" %} 
{% trans "Palau" %} 
{% trans "Papua New Guinea" %} 
{% trans "Saipan" %} 
{% trans "Solomon Islands" %} 
{% trans "Tokelau" %} 
{% trans "Tonga" %} 
{% trans "Tuvalu" %} 
{% trans "Vanuatu" %} 
{% trans "Wake Island" %} 
{% trans "Wallis and Futuna Islands" %} 
{% trans "Samoa" %} 
{% trans "East Timor" %} 
{% trans "Antarctica" %} 
{% trans "Albania" %} 
{% trans "Andorra" %} 
{% trans "Austria" %} 
{% trans "Belarus" %} 
{% trans "Belgium" %} 
{% trans "Bosnia and Herzegovina" %} 
{% trans "Bulgaria" %} 
{% trans "Croatia" %} 
{% trans "Cyprus" %} 
{% trans "Czech Republic" %} 
{% trans "Denmark" %} 
{% trans "Estonia" %} 
{% trans "Faroe Islands" %} 
{% trans "Finland" %} 
{% trans "France" %} 
{% trans "Germany" %} 
{% trans "Gibraltar" %} 
{% trans "Greece" %} 
{% trans "Hungary" %} 
{% trans "Iceland" %} 
{% trans "Ireland" %} 
{% trans "Italy" %} 
{% trans "Latvia" %} 
{% trans "Liechtenstein" %} 
{% trans "Lithuania" %} 
{% trans "Luxembourg" %} 
{% trans "Macedonia" %} 
{% trans "Malta" %} 
{% trans "Moldova" %} 
{% trans "Monaco" %} 
{% trans "Netherlands" %} 
{% trans "Norway" %} 
{% trans "Poland" %} 
{% trans "Portugal" %} 
{% trans "Romania" %} 
{% trans "Russia" %} 
{% trans "San Marino" %} 
{% trans "Serbia" %} 
{% trans "Slovakia" %} 
{% trans "Slovenia" %} 
{% trans "Spain" %} 
{% trans "Sweden" %} 
{% trans "Switzerland" %} 
{% trans "Ukraine" %} 
{% trans "United Kingdom" %} 
{% trans "Vatican city" %} 
{% trans "Yugoslavia" %} 
{% trans "Kosovo" %} 
{% trans "Montenegro" %} 
{% trans "Anguilla" %} 
{% trans "Antigua and Barbuda" %} 
{% trans "Aruba" %} 
{% trans "Bahamas" %} 
{% trans "Barbados" %} 
{% trans "Belize" %} 
{% trans "Bermuda" %} 
{% trans "British Virgin Islands" %} 
{% trans "Canada" %} 
{% trans "Cayman Islands" %} 
{% trans "Costa Rica" %} 
{% trans "Cuba" %} 
{% trans "Curacao" %} 
{% trans "Dominica" %} 
{% trans "Dominican Republic" %} 
{% trans "El Salvador" %} 
{% trans "Greenland" %} 
{% trans "Grenada and Carriacuou" %} 
{% trans "Guadeloupe" %} 
{% trans "Guatemala" %} 
{% trans "Haiti" %} 
{% trans "Honduras" %} 
{% trans "Jamaica" %} 
{% trans "Martinique" %} 
{% trans "Mexico" %} 
{% trans "Miquelon" %} 
{% trans "Montserrat" %} 
{% trans "Netherlands Antilles" %} 
{% trans "Nevis" %} 
{% trans "Nicaragua" %} 
{% trans "Panama" %} 
{% trans "Puerto Rico" %} 
{% trans "St. Kitts" %} 
{% trans "St. Lucia" %} 
{% trans "St. Pierre and Miquelon" %} 
{% trans "St. Vincent" %} 
{% trans "Trinidad and Tobago" %} 
{% trans "Turks and Caicos Islands" %} 
{% trans "US Virgin Islands" %} 
{% trans "United States" %} 
{% trans "Sint Maarten" %} 
{% trans "Bonaire" %} 
{% trans "Saba" %} 
{% trans "Sint Eustatius" %} 
{% trans "Argentina" %} 
{% trans "Bolivia" %} 
{% trans "Brazil" %} 
{% trans "Chile" %} 
{% trans "Colombia" %} 
{% trans "Ecuador" %} 
{% trans "Falkland Islands" %} 
{% trans "French Guiana" %} 
{% trans "Guiana" %} 
{% trans "Guyana" %} 
{% trans "Paraguay" %} 
{% trans "Peru" %} 
{% trans "Suriname" %} 
{% trans "Uruguay" %} 
{% trans "Venezuela" %} 
