{% load i18n %}
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "1" %} 
{% trans "2" %} 
{% trans "3" %} 
{% trans "4" %} 
{% trans "5" %} 
{% trans "6" %} 
{% trans "7" %} 
{% trans "8" %} 
{% trans "9" %} 
{% trans "10" %} 
{% trans "11" %} 
{% trans "12" %} 
{% trans "13" %} 
{% trans "14" %} 
{% trans "15" %} 
{% trans "16" %} 
{% trans "17" %} 
{% trans "18" %} 
{% trans "19" %} 
{% trans "20" %} 
{% trans "21" %} 
{% trans "22" %} 
{% trans "23" %} 
{% trans "24" %} 
{% trans "25" %} 
{% trans "26" %} 
{% trans "27" %} 
{% trans "28" %} 
{% trans "29" %} 
{% trans "30" %} 
{% trans "31" %} 
{% trans "32" %} 
{% trans "33" %} 
{% trans "34" %} 
{% trans "35" %} 
{% trans "36" %} 
{% trans "37" %} 
{% trans "38" %} 
{% trans "39" %} 
{% trans "40" %} 
{% trans "41" %} 
{% trans "42" %} 
{% trans "43" %} 
{% trans "44" %} 
{% trans "45" %} 
{% trans "46" %} 
{% trans "47" %} 
{% trans "48" %} 
{% trans "49" %} 
{% trans "50" %} 
{% trans "51" %} 
{% trans "52" %} 
{% trans "53" %} 
{% trans "54" %} 
{% trans "55" %} 
{% trans "56" %} 
{% trans "57" %} 
{% trans "58" %} 
{% trans "59" %} 
{% trans "60" %} 
{% trans "61" %} 
{% trans "62" %} 
{% trans "63" %} 
{% trans "64" %} 
{% trans "65" %} 
{% trans "66" %} 
{% trans "67" %} 
{% trans "68" %} 
{% trans "69" %} 
{% trans "70" %} 
{% trans "71" %} 
{% trans "72" %} 
{% trans "73" %} 
{% trans "74" %} 
{% trans "75" %} 
{% trans "76" %} 
{% trans "77" %} 
{% trans "78" %} 
{% trans "79" %} 
{% trans "80" %} 
{% trans "81" %} 
{% trans "82" %} 
{% trans "83" %} 
{% trans "84" %} 
{% trans "85" %} 
{% trans "86" %} 
{% trans "87" %} 
{% trans "88" %} 
{% trans "89" %} 
{% trans "90" %} 
{% trans "None" %} 
{% trans "Basic Proficiency" %} 
{% trans "Moderate Proficiency" %} 
{% trans "High Proficiency" %} 
{% trans "None" %} 
{% trans "Basic Proficiency" %} 
{% trans "Moderate Proficiency" %} 
{% trans "High Proficiency" %} 
{% trans "None" %} 
{% trans "Primary Education" %} 
{% trans "Secondary Education - Lower" %} 
{% trans "Secondary Education - Upper (High-School)" %} 
{% trans "Post Secondary Education (Trades, associate, technical)" %} 
{% trans "Recognised by the Assessing Authority" %} 
{% trans "Bachelors Level" %} 
{% trans "Masters Level" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "1" %} 
{% trans "2" %} 
{% trans "3" %} 
{% trans "4" %} 
{% trans "5" %} 
{% trans "6" %} 
{% trans "7" %} 
{% trans "8" %} 
{% trans "9" %} 
{% trans "10" %} 
{% trans "11" %} 
{% trans "12" %} 
{% trans "13" %} 
{% trans "14" %} 
{% trans "15" %} 
{% trans "16" %} 
{% trans "17" %} 
{% trans "18" %} 
{% trans "19" %} 
{% trans "20" %} 
{% trans "21" %} 
{% trans "22" %} 
{% trans "23" %} 
{% trans "24" %} 
{% trans "25" %} 
{% trans "26" %} 
{% trans "27" %} 
{% trans "28" %} 
{% trans "29" %} 
{% trans "30" %} 
{% trans "1" %} 
{% trans "2" %} 
{% trans "3" %} 
{% trans "4" %} 
{% trans "5" %} 
{% trans "6" %} 
{% trans "7" %} 
{% trans "8" %} 
{% trans "9" %} 
{% trans "10" %} 
{% trans "11" %} 
{% trans "12" %} 
{% trans "13" %} 
{% trans "14" %} 
{% trans "15" %} 
{% trans "16" %} 
{% trans "17" %} 
{% trans "18" %} 
{% trans "19" %} 
{% trans "20" %} 
{% trans "21" %} 
{% trans "22" %} 
{% trans "23" %} 
{% trans "24" %} 
{% trans "25" %} 
{% trans "26" %} 
{% trans "27" %} 
{% trans "28" %} 
{% trans "29" %} 
{% trans "30" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "None" %} 
{% trans "Basic Proficiency" %} 
{% trans "Moderate Proficiency" %} 
{% trans "High Proficiency" %} 
{% trans "None" %} 
{% trans "Basic Proficiency" %} 
{% trans "Moderate Proficiency" %} 
{% trans "High Proficiency" %} 
{% trans "None" %} 
{% trans "Primary Education" %} 
{% trans "Secondary Education - Lower" %} 
{% trans "Secondary Education - Upper (High-School)" %} 
{% trans "Post Secondary Education (Trades, associate, technical)" %} 
{% trans "Bachelors Level" %} 
{% trans "Masters Level" %} 
{% trans "Doctoral Level" %} 
{% trans "None" %} 
{% trans "Basic Proficiency" %} 
{% trans "Moderate Proficiency" %} 
{% trans "High Proficiency" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "1" %} 
{% trans "2" %} 
{% trans "3" %} 
{% trans "4" %} 
{% trans "5" %} 
{% trans "6" %} 
{% trans "7" %} 
{% trans "8" %} 
{% trans "9" %} 
{% trans "10" %} 
{% trans "11" %} 
{% trans "12" %} 
{% trans "13" %} 
{% trans "14" %} 
{% trans "15" %} 
{% trans "16" %} 
{% trans "17" %} 
{% trans "18" %} 
{% trans "19" %} 
{% trans "20" %} 
{% trans "21" %} 
{% trans "22" %} 
{% trans "23" %} 
{% trans "24" %} 
{% trans "25" %} 
{% trans "26" %} 
{% trans "27" %} 
{% trans "28" %} 
{% trans "29" %} 
{% trans "30" %} 
{% trans "Doctoral Level" %} 
