{% load i18n %}
{% trans "Why immigrate to Canada?" %} {% trans "Learn about the country, immigration history and future prospects" %} 
{% trans "Planning your move" %} {% trans "Learn the first steps you need to make in order to start your immigration process" %} 
{% trans "Immigration Points System" %} {% trans "Check if you qualify for a permanent visa using the points-based immigration system" %} 
{% trans "Skype Evaluation" %} {% trans "Talk to an expert to have your situation evaluated" %} 
{% trans "Your visa type" %} {% trans "Discover the immigration options and wich visa is more appropriate for your case" %} 
{% trans "Requirements and hints to learn English" %} {% trans "Understand the level required and use our study plan" %} 
{% trans "English Evaluation" %} {% trans "Test your English skills" %} 
{% trans "IELTS Preparation" %} {% trans "Get ready for your certification exam" %} 
{% trans "Requirements and Assessment" %} {% trans "Understand what education level you need and how to do a "Education Credential Assessment"" %} 
{% trans "Looking for jobs over the internet" %} {% trans "Learn techniques to apply for available positions in Canada" %} 
{% trans "Build Your Resumé" %} {% trans "Learn how to create your Canadian Resumé" %} 
{% trans "Build your Cover-Letter" %} {% trans "Learn how to create your Canadian Cover-Letter" %} 
{% trans "Build Your Linkedin and Online Presence" %} {% trans "Learn how to create your Linkedin profile and online presence" %} 
{% trans "Your immigration plan" %} {% trans "How to plan and execute your visa application" %} 
{% trans "Proof of funds" %} {% trans "How much you need and how to provide proof" %} 
{% trans "Language and Education Certificates" %} {% trans "Certificates" %} 
{% trans "Proof of Past Employment" %} {% trans "Templates for proof of past employment" %} 
{% trans "Sending your application" %} {% trans "Learn where and how to submit your visa application" %} 
{% trans "Be prepared to move" %} {% trans "What to do before and after you move to Canada" %} 
{% trans "Visa Approval" %} {% trans "Set your visa status" %} 
{% trans "Why Study in Canada?" %} {% trans "Learn about the country, immigration history and future prospects" %} 
{% trans "Studying in Canada" %} {% trans "Learn the first steps you need to make in order to start you immigration process" %} 
{% trans "Find a Course" %} {% trans "Learn how to search for the course in the area of your choice" %} 
{% trans "Requirements and hints to learn English" %} {% trans "Understand the level required and use our study plan" %} 
{% trans "English Evaluation" %} {% trans "Test your English skills" %} 
{% trans "IELTS Preparation" %} {% trans "Get ready for your certification exam" %} 
{% trans "Requirements and Assessment" %} {% trans "Understand what education level you need and how to do a "Education Credential Assessment"" %} 
{% trans "Looking for jobs over the internet" %} {% trans "Learn techniques to apply for available positions in Canada" %} 
{% trans "Build Your Resumé" %} {% trans "Learn how to create your Canadian Resumé" %} 
{% trans "Build your Cover-Letter" %} {% trans "Learn how to create your Canadian Cover-Letter" %} 
{% trans "Build Your Linkedin and Online Presence" %} {% trans "Learn how to create your Linkedin profile and online presence" %} 
{% trans "Your immigration plan" %} {% trans "How to plan and execute your visa application" %} 
{% trans "Proof of funds" %} {% trans "How much you need and how to provide proof" %} 
{% trans "Language and Education Certificates" %} {% trans "Certificates" %} 
{% trans "Sending your application" %} {% trans "Learn where and how to submit your visa application" %} 
{% trans "Be prepared to move" %} {% trans "What to do before and after you move to Canada" %} 
{% trans "Visa Approval" %} {% trans "Set your visa status" %} 
{% trans "Why immigrate to Australia?" %} {% trans "Learn about the country, immigration history and future prospects" %} 
{% trans "Planning your move" %} {% trans "Learn the first steps you need to make in order to start your immigration process" %} 
{% trans "Immigration Points System" %} {% trans "Check if you qualify for a permanent visa using the points-based immigration system" %} 
{% trans "Skype Evaluation" %} {% trans "Talk to an expert to have your situation evaluated" %} 
{% trans "Your visa type" %} {% trans "Discover the immigration options and wich visa is more appropriate for your case" %} 
{% trans "Requirements and hints to learn English" %} {% trans "Understand the level required and use our study plan" %} 
{% trans "English Evaluation" %} {% trans "Test your English skills" %} 
{% trans "IELTS Preparation" %} {% trans "Get ready for your certification exam" %} 
{% trans "Requirements and Assessment" %} {% trans "Understand what education level you need and how to do a "Skills Assessment"" %} 
{% trans "Looking for jobs over the internet" %} {% trans "Learn techniques to apply for available positions in Australia" %} 
{% trans "Build Your Resumé" %} {% trans "Learn how to create your Australian Resumé" %} 
{% trans "Build your Cover-Letter" %} {% trans "Learn how to create your Australian Cover-Letter" %} 
{% trans "Build Your Linkedin and Online Presence" %} {% trans "Learn how to create your Linkedin profile and online presence" %} 
{% trans "Your immigration plan" %} {% trans "How to plan and execute your visa application" %} 
{% trans "Proof of funds" %} {% trans "How much you need and how to provide proof" %} 
{% trans "Language and Education Certificates" %} {% trans "Certificates" %} 
{% trans "Proof of Past Employment" %} {% trans "Templates for proof of past employment" %} 
{% trans "Sending your application" %} {% trans "Learn where and how to submit your visa application" %} 
{% trans "Be prepared to move" %} {% trans "What to do before and after you move to Australia" %} 
{% trans "Visa Approval" %} {% trans "Set your visa status" %} 
{% trans "Why study in Australia?" %} {% trans "Learn about the country, immigration history and future prospects" %} 
{% trans "Studying in Australia" %} {% trans "Learn the first steps you need to make in order to start your immigration process" %} 
{% trans "Find a course" %} {% trans "Learn how to search for the course in the area of your choice" %} 
{% trans "Requirements and hints to learn English" %} {% trans "Understand the level required and use our study plan" %} 
{% trans "English Evaluation" %} {% trans "Test your English skills" %} 
{% trans "IELTS Preparation" %} {% trans "Get ready for your certification exam" %} 
{% trans "Requirements and Assessment" %} {% trans "Understand what education level you need and how to do a "Skills Assessment"" %} 
{% trans "Looking for jobs over the internet" %} {% trans "Learn techniques to apply for available positions in Australia" %} 
{% trans "Build Your Resumé" %} {% trans "Learn how to create your Australian Resumé" %} 
{% trans "Build your Cover-Letter" %} {% trans "Learn how to create your Australian Cover-Letter" %} 
{% trans "Build Your Linkedin and Online Presence" %} {% trans "Learn how to create your Linkedin profile and online presence" %} 
{% trans "Your immigration plan" %} {% trans "How to plan and execute your visa application" %} 
{% trans "Proof of funds" %} {% trans "How much you need and how to provide proof" %} 
{% trans "Language and Skills Certificates" %} {% trans "Certificates" %} 
{% trans "Sending your application" %} {% trans "Learn where and how to submit your visa application" %} 
{% trans "Be prepared to move" %} {% trans "What to do before and after you move to Australia" %} 
{% trans "Visa Approval" %} {% trans "Set your visa status" %} 
