{% load i18n %}
{% trans "Canada" %} 
{% trans "Visa Type" %} 
{% trans "Language Requirements" %} 
{% trans "Education Requirements" %} 
{% trans "Jobs" %} 
{% trans "Visa Application" %} 
{% trans "Moving to Canada" %} 
{% trans "Canada" %} 
{% trans "Course of choice" %} 
{% trans "Language Requirements" %} 
{% trans "Education Requirements" %} 
{% trans "Jobs" %} 
{% trans "Visa Application" %} 
{% trans "Moving to Canada" %} 
{% trans "Australia" %} 
{% trans "Visa Type" %} 
{% trans "Language Requirements" %} 
{% trans "Skills Requirements" %} 
{% trans "Jobs" %} 
{% trans "Visa Application" %} 
{% trans "Moving to Australia" %} 
{% trans "Australia" %} 
{% trans "Course of choice" %} 
{% trans "Language Requirements" %} 
{% trans "Education Requirements" %} 
{% trans "Jobs" %} 
{% trans "Visa Application" %} 
{% trans "Moving to Australia" %} 
