{% load i18n %}
{% trans "Do you already know your visa type?" %} 
{% trans "Do you already have the required proof of funds?" %} 
{% trans "Do you already have the language results and the Education Credential Assessment certificate?" %} 
{% trans "What is your visa application status?" %} 
{% trans "Do you already have the required proof of funds?" %} 
{% trans "Do you already have the language results and the Education Credential Assessment certificate?" %} 
{% trans "What is your visa application status?" %} 
{% trans "Do you already know your visa type?" %} 
{% trans "Do you already have the required proof of funds?" %} 
{% trans "Do you already have the language results and the Education Credential Assessment certificate?" %} 
{% trans "What is your visa application status?" %} 
{% trans "Do you already have the required proof of funds?" %} 
{% trans "Do you already have the language results and the Skills Assessment certificate?" %} 
{% trans "What is your visa application status?" %} 
