{% load i18n %}
{% trans "NO, I'm still learning about it" %} 
{% trans "Yes, Student Visa" %} 
{% trans "Yes, Express Entry" %} 
{% trans "Yes, Self-Employed" %} 
{% trans "Yes, Live-in Caregivers" %} 
{% trans "Yes, Start-up Visa" %} 
{% trans "Yes, Family Sponsorship" %} 
{% trans "Yes, Company Sponsorship" %} 
{% trans "Yes, Province Programs" %} 
{% trans "Yes, Other" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Not sent" %} 
{% trans "Sent" %} 
{% trans "Approved" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Not sent" %} 
{% trans "Sent" %} 
{% trans "Approved" %} 
{% trans "NO, I'm still learning about it" %} 
{% trans "Yes, Student Visa" %} 
{% trans "Yes, Express Entry" %} 
{% trans "Yes, Self-Employed" %} 
{% trans "Yes, Live-in Caregivers" %} 
{% trans "Yes, Start-up Visa" %} 
{% trans "Yes, Family Sponsorship" %} 
{% trans "Yes, Company Sponsorship" %} 
{% trans "Yes, Province Programs" %} 
{% trans "Yes, Other" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Not sent" %} 
{% trans "Sent" %} 
{% trans "Approved" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Yes" %} 
{% trans "No" %} 
{% trans "Not sent" %} 
{% trans "Sent" %} 
{% trans "Approved" %} 
