{% load i18n %}
{% trans "Guide - How to Move to Canada" %} {% trans "A complete step-by-step guide about immigrating to Canada." %} 
{% trans "Subscription 1 Year - Australia" %} {% trans "1 year of full-access to the Immi Box - Immigration tools - for Australia" %} 
{% trans "Subscription 1 Year - Canada" %} {% trans "1 year of full-access to the Immi Box - Immigration tools - for Canada" %} 
{% trans "Subscription 1 Year - Australia (With Support)" %} {% trans "1 year of full-access to the Immi Box - Immigration tools - for Australia, including email support" %} 
{% trans "Subscription 1 Year - Canada (With Support)" %} {% trans "1 year of full-access to the Immi Box - Immigration tools - for Canada, including email support" %} 
