{% load i18n %}
{% trans "Accountant (General)" %} 
{% trans "Financial Auditor" %} 
{% trans "Management Accountant" %} 
{% trans "Taxation Accountant" %} 
{% trans "External Auditor" %} 
{% trans "Internal Auditor" %} 
{% trans "Actuary" %} 
{% trans "Financial and investment analysts" %} 
{% trans "Financial Managers" %} 
{% trans "Insurance, real estate and financial brokerage managers" %} 
{% trans "Financial Market Dealer" %} 
{% trans "Other Financial Officers/Dealers" %} 
{% trans "Supervisors, finance and insurance office workers" %} 
{% trans "Financial Investment Adviser" %} 
{% trans "Financial Investment Manager" %} 
{% trans "Securities agents, investment dealers and brokers" %} 
{% trans "Financial Institution Branch Manager" %} 
{% trans "Land Economist" %} 
{% trans "Economist" %} 
{% trans "Valuer" %} 
{% trans "Stockbroking Dealer" %} 
{% trans "Antique Dealer" %} 
{% trans "Insurance Broker" %} 
{% trans "Business Broker" %} 
{% trans "Insurance Agent" %} 
{% trans "Insurance Investigator" %} 
{% trans "Insurance Loss Adjuster" %} 
{% trans "Insurance Risk Surveyor" %} 
{% trans "Property Administrators" %} 
{% trans "Contract Administrator" %} 
{% trans "Program or Project Administrator" %} 
{% trans "Actor" %} 
{% trans "Dancers and Other Entertainers" %} 
{% trans "Librarian" %} 
{% trans "Library Technician" %} 
{% trans "Gallery or Museum Curator" %} 
{% trans "Gallery or Museum Technician" %} 
{% trans "Conservation Officer" %} 
{% trans "Conservator" %} 
{% trans "Archivist" %} 
{% trans "Author" %} 
{% trans "Copywriter" %} 
{% trans "Journalists and Other Writers" %} 
{% trans "Technical Writer" %} 
{% trans "Signwriter" %} 
{% trans "Film and Video Editor" %} 
{% trans "Newspaper or Periodical Editor" %} 
{% trans "Book or Script Editor" %} 
{% trans "Print Journalist" %} 
{% trans "Radio Journalist" %} 
{% trans "Television Journalist" %} 
{% trans "Translators, terminologists and interpreters" %} 
{% trans "Video Producer" %} 
{% trans "Media Producer (excluding Video)" %} 
{% trans "Director (Film, Television, Radio or Stage)" %} 
{% trans "Director of Photography" %} 
{% trans "Dancer or Choreographer" %} 
{% trans "Composer" %} 
{% trans "Musician (Instrumental)" %} 
{% trans "Musical Instrument Maker or Repairer" %} 
{% trans "Music Director" %} 
{% trans "Music Professionals (Others)" %} 
{% trans "Music Teacher (Private Tuition)" %} 
{% trans "Singer" %} 
{% trans "Painter (Visual Arts)" %} 
{% trans "Sculptor" %} 
{% trans "Visual Arts and Crafts Professionals (Others)" %} 
{% trans "Art Director (Film, Television or Stage)" %} 
{% trans "Art Teacher (Private Tuition)" %} 
{% trans "Artistic Director" %} 
{% trans "Arts Administrator or Manager" %} 
{% trans "Community Arts Worker" %} 
{% trans "Entertainer or Variety Artist" %} 
{% trans "Potter or Ceramic Artist" %} 
{% trans "Performing Arts Technicians (Others)" %} 
{% trans "Make Up Artist" %} 
{% trans "Dance Teacher (Private Tuition)" %} 
{% trans "Drama Teacher (Private Tuition)" %} 
{% trans "Recreation Coordinator" %} 
{% trans "Photographers Assistant" %} 
{% trans "Photographer" %} 
{% trans "Camera Operator (Film, Television or Video)" %} 
{% trans "Graphic Pre-press Trades Worker" %} 
{% trans "Broadcast Transmitter Operator" %} 
{% trans "Records Manager" %} 
{% trans "Radio Communications Technician" %} 
{% trans "Program Director (Television or Radio)" %} 
{% trans "Radio Presenter" %} 
{% trans "Graphic Designer" %} 
{% trans "Fashion Designer" %} 
{% trans "Interior Designer" %} 
{% trans "Jewellery Designer" %} 
{% trans "Marine Designer" %} 
{% trans "Multimedia Designer" %} 
{% trans "Web Designer" %} 
{% trans "Industrial Designer" %} 
{% trans "Illustrator" %} 
{% trans "Interior Decorator" %} 
{% trans "Operating Theatre Technician" %} 
{% trans "Cinema or Theatre Manager" %} 
{% trans "Clothing Patternmaker" %} 
{% trans "Gymnastics Coach or Instructor" %} 
{% trans "Horse Riding Coach or Instructor" %} 
{% trans "Other Sports Coach or Instructor" %} 
{% trans "Swimming Coach or Instructor" %} 
{% trans "Tennis Coach" %} 
{% trans "Sports Administrator" %} 
{% trans "Sports Centre Manager" %} 
{% trans "Sports Centre Manager" %} 
{% trans "Sports Development Officer" %} 
{% trans "Other Sports Official" %} 
{% trans "Snowsport Instructor" %} 
{% trans "Sports Umpire" %} 
{% trans "Sportspersons (Others)" %} 
{% trans "Fitness Centre Manager" %} 
{% trans "Horse Trainer" %} 
{% trans "Jockey" %} 
{% trans "Diving Instructor (Open Water)" %} 
{% trans "Audiologists" %} 
{% trans "Licensed practical nurses" %} 
{% trans "Nursing co-ordinators and supervisors" %} 
{% trans "Registered nurses and registered psychiatric nurses" %} 
{% trans "Nurse Practitioner" %} 
{% trans "Nursing Clinical Director" %} 
{% trans "Registered Nurse (Aged Care)" %} 
{% trans "Registered Nurse (Child and Family Health)" %} 
{% trans "Registered Nurse (Community Health)" %} 
{% trans "Registered Nurse (Critical Care and Emergency)" %} 
{% trans "Registered Nurse (Developmental Disability)" %} 
{% trans "Registered Nurse (Disability and Rehabilitation)" %} 
{% trans "Registered Nurse (Medical Practice)" %} 
{% trans "Registered Nurse (Medical)" %} 
{% trans "Registered Nurse (Mental Health)" %} 
{% trans "Registered Nurse (Paediatrics)" %} 
{% trans "Registered Nurse (Perioperative)" %} 
{% trans "Registered Nurse (Surgical)" %} 
{% trans "Registered Nurses (Others)" %} 
{% trans "Nurse Educator" %} 
{% trans "Nurse Manager" %} 
{% trans "Nurse Researcher" %} 
{% trans "Enrolled Nurse" %} 
{% trans "Mothercraft Nurse" %} 
{% trans "General practitioners and family physicians" %} 
{% trans "Specialist physicians (General Medicine)" %} 
{% trans "Specialist Physicians (Others)" %} 
{% trans "Medical Practitioners (Others)" %} 
{% trans "Traditional Chinese Medicine Practitioner" %} 
{% trans "Traditional Maori Health Practitioner" %} 
{% trans "Dentist" %} 
{% trans "Dental Hygienist" %} 
{% trans "Dental Prosthetist" %} 
{% trans "Dental Specialist" %} 
{% trans "Dental Technician" %} 
{% trans "Dental Therapist" %} 
{% trans "Veterinarian" %} 
{% trans "Veterinary Nurse" %} 
{% trans "Optometrist" %} 
{% trans "Chiropractor" %} 
{% trans "Inspectors in public and environmental health and occupational health and safety" %} 
{% trans "Hospital Pharmacist" %} 
{% trans "Industrial Pharmacist" %} 
{% trans "Retail Pharmacist" %} 
{% trans "Pharmacy Technician" %} 
{% trans "Dietitians" %} 
{% trans "Nutritionists" %} 
{% trans "Speech Pathologist" %} 
{% trans "Speech Language Therapist" %} 
{% trans "Physiotherapists" %} 
{% trans "Occupational Therapists" %} 
{% trans "Respiratory therapists, clinical perfusionists and cardiopulmonary technologists" %} 
{% trans "Complementary Health Therapists (Others)" %} 
{% trans "Psychotherapist" %} 
{% trans "Massage Therapist" %} 
{% trans "Diversional Therapist" %} 
{% trans "Medical Radiation Technologist" %} 
{% trans "Medical Sonographer" %} 
{% trans "Paramedical occupations" %} 
{% trans "Medical Administrator" %} 
{% trans "Medical Diagnostic Radiographer" %} 
{% trans "Medical Laboratory Scientist" %} 
{% trans "Medical Oncologist" %} 
{% trans "Medical Radiation Therapist" %} 
{% trans "Physicist (Medical Physicist only)" %} 
{% trans "Medical Superintendent" %} 
{% trans "Resident Medical Officer" %} 
{% trans "Medical Laboratory Technician" %} 
{% trans "Medical Technicians (Others)" %} 
{% trans "Pathologist" %} 
{% trans "Clinical Haematologist" %} 
{% trans "Clinical Psychologist" %} 
{% trans "Clinical Coder" %} 
{% trans "Cardiologist" %} 
{% trans "Cardiothoracic Surgeon" %} 
{% trans "Radiation Oncologist" %} 
{% trans "Diagnostic and Interventional Radiologist" %} 
{% trans "Health Diagnostic and Promotion Professionals (Others)" %} 
{% trans "Dermatologist" %} 
{% trans "Neurosurgeon" %} 
{% trans "Orthopaedic Surgeon" %} 
{% trans "Paediatric Surgeon" %} 
{% trans "Plastic and Reconstructive Surgeon" %} 
{% trans "Surgeon (General)" %} 
{% trans "Vascular Surgeon" %} 
{% trans "Paediatrician" %} 
{% trans "Psychologists" %} 
{% trans "Educational Psychologist" %} 
{% trans "Organisational Psychologist" %} 
{% trans "Psychiatrist" %} 
{% trans "Emergency Medicine Specialist" %} 
{% trans "Nuclear Medicine Technologist" %} 
{% trans "Renal Medicine Specialist" %} 
{% trans "Thoracic Medicine Specialist" %} 
{% trans "Endocrinologist" %} 
{% trans "Gastroenterologist" %} 
{% trans "Rheumatologist" %} 
{% trans "Neurologist" %} 
{% trans "Obstetrician and Gynaecologist" %} 
{% trans "Ophthalmologist" %} 
{% trans "Orthoptist" %} 
{% trans "Orthotist or Prosthetist" %} 
{% trans "Otorhinolaryngologist" %} 
{% trans "Rehabilitation Counsellor" %} 
{% trans "Urologist" %} 
{% trans "Cardiac Technician" %} 
{% trans "Exercise Physiologist" %} 
{% trans "Health Information Manager" %} 
{% trans "Health Promotion Officer" %} 
{% trans "Midwife" %} 
{% trans "Ambulance Officer" %} 
{% trans "Ambulance Paramedic" %} 
{% trans "Health Practice Manager" %} 
{% trans "Lifeguard" %} 
{% trans "Primary Health Organisation Manager" %} 
{% trans "Health and Welfare Services Managers (Others)" %} 
{% trans "Aboriginal and Torres Strait Islander Health Worker" %} 
{% trans "Kaiawhina (Hauora) (Maori Health Assistant)" %} 
{% trans "Managers in health care" %} 
{% trans "Civil Engineer" %} 
{% trans "Aeronautical Engineer" %} 
{% trans "Agricultural Engineer" %} 
{% trans "Electrical and Electronics Engineering Technologists and Technicians" %} 
{% trans "Electrical Engineer" %} 
{% trans "Biomedical Engineer" %} 
{% trans "Chemical Engineer" %} 
{% trans "Civil Engineering Draftsperson" %} 
{% trans "Civil Engineering Technician" %} 
{% trans "Mechanical Engineering Technologists and Technicians" %} 
{% trans "Mechanical engineers" %} 
{% trans "Petroleum Engineer" %} 
{% trans "Electrical Engineering Draftsperson" %} 
{% trans "Electrical Engineering Technician" %} 
{% trans "Electronics Engineer" %} 
{% trans "Engineering Manager" %} 
{% trans "Engineering Technologist" %} 
{% trans "Environmental Engineer" %} 
{% trans "Geotechnical Engineer" %} 
{% trans "Industrial Engineer" %} 
{% trans "Materials Engineer" %} 
{% trans "Engineering Professionals (Others)" %} 
{% trans "Mining Engineer (Excluding Petroleum)" %} 
{% trans "Production or Plant Engineer" %} 
{% trans "Ships Engineer" %} 
{% trans "Structural Engineer" %} 
{% trans "Telecommunications Engineer" %} 
{% trans "Telecommunications Field Engineer" %} 
{% trans "Telecommunications Network Engineer" %} 
{% trans "Transport Engineer" %} 
{% trans "Building and Engineering Technicians (Others)" %} 
{% trans "Electronic Engineering Draftsperson" %} 
{% trans "Electronic Engineering Technician" %} 
{% trans "Mechanical Engineering Draftsperson" %} 
{% trans "Mechanical Engineering Technician" %} 
{% trans "Computing professionals - Computer Network Technician" %} 
{% trans "Computing professionals - Web Developer" %} 
{% trans "Computing professionals - Computer Network and Systems Engineer" %} 
{% trans "Computing professionals - Analyst Programmer" %} 
{% trans "Computing professionals - Developer Programmer" %} 
{% trans "Computing professionals - Software and Applications Programmers (Others)" %} 
{% trans "Computing professionals - Web Administrator" %} 
{% trans "Computing professionals - Software Engineer or Designer" %} 
{% trans "Computing professionals - Software Tester" %} 
{% trans "Computing professionals - Information Systems Analysts and Consultants" %} 
{% trans "Computing professionals - ICT business Analyst" %} 
{% trans "Computing professionals - ICT Account Manager" %} 
{% trans "Computing professionals - ICT Business Development Manager" %} 
{% trans "Computing professionals - ICT Managers (Others)" %} 
{% trans "Computing professionals - ICT Project Manager" %} 
{% trans "Computing professionals - ICT Quality Assurance Engineer" %} 
{% trans "Computing professionals - ICT Sales Representative" %} 
{% trans "Computing professionals - ICT Security Specialist" %} 
{% trans "Computing professionals - ICT Support and Test Engineers (Others)" %} 
{% trans "Computing professionals - ICT Support Engineer" %} 
{% trans "Computing professionals - ICT Systems Test Engineer" %} 
{% trans "Computing professionals - ICT Trainer" %} 
{% trans "Computing professionals - ICT Customer Support Officer" %} 
{% trans "Computing professionals - ICT Support Technicians (Others)" %} 
{% trans "Computing professionals - Chief Information Officer" %} 
{% trans "Computing professionals - Multimedia Specialist" %} 
{% trans "Computing professionals - Database Analysts and Administrators" %} 
{% trans "Computing professionals - Systems Analyst" %} 
{% trans "Computing professionals - Systems Administrator" %} 
{% trans "Computing professionals - Network Administrator" %} 
{% trans "Computing professionals - Network Analyst" %} 
{% trans "Physicist" %} 
{% trans "Biochemist" %} 
{% trans "Chemist" %} 
{% trans "Chemistry Technician" %} 
{% trans "Agricultural Scientist" %} 
{% trans "Geoscientists and Oceanographers" %} 
{% trans "Other Spatial Scientist" %} 
{% trans "Forest Scientist" %} 
{% trans "Life Scientist (General)" %} 
{% trans "Life Scientists (Others)" %} 
{% trans "Geophysicist" %} 
{% trans "Natural and Physical Science Professionals (Others)" %} 
{% trans "Biotechnologist" %} 
{% trans "Marine Biologist" %} 
{% trans "Microbiologist" %} 
{% trans "Agricultural Consultant" %} 
{% trans "Agricultural Technician" %} 
{% trans "Geologist" %} 
{% trans "Hydrogeologist" %} 
{% trans "Architect" %} 
{% trans "Landscape Architect" %} 
{% trans "Naval Architect" %} 
{% trans "Architectural, Building and Surveying Technicians (Others)" %} 
{% trans "Architectural Draftsperson" %} 
{% trans "Urban and Regional Planner" %} 
{% trans "Mathematician" %} 
{% trans "Statistician" %} 
{% trans "Earth Science Technician" %} 
{% trans "Quantity Surveyor" %} 
{% trans "Surveyor" %} 
{% trans "Marine Surveyor" %} 
{% trans "Construction estimators" %} 
{% trans "Construction Managers or Construction Project Managers" %} 
{% trans "Aeroplane Pilot" %} 
{% trans "Helicopter Pilot" %} 
{% trans "Flying Instructor" %} 
{% trans "Air Traffic Controller" %} 
{% trans "Building Inspector" %} 
{% trans "Building Associate" %} 
{% trans "Environmental Consultant" %} 
{% trans "Environmental Manager" %} 
{% trans "Environmental Research Scientist" %} 
{% trans "Environmental Scientists (Others)" %} 
{% trans "Life Science Technicians" %} 
{% trans "Science Technicians (Others)" %} 
{% trans "Surveying or Spatial Science Technician" %} 
{% trans "University Professor or lecturer" %} 
{% trans "Early Childhood (Pre-primary School) Teacher" %} 
{% trans "Secondary School Teacher" %} 
{% trans "Special Education Teachers (Others)" %} 
{% trans "Special Needs Teacher" %} 
{% trans "Intermediate School Teacher" %} 
{% trans "Kaiako Kohanga Reo (Maori Language Nest Teacher)" %} 
{% trans "Kaiako Kura Kaupapa Maori (Maori-medium Primary School Teacher)" %} 
{% trans "Teacher of the Hearing Impaired" %} 
{% trans "Teacher of the Sight Impaired" %} 
{% trans "Polytechnic Teacher" %} 
{% trans "Pouako Kura Kaupapa Maori (Maori-medium Primary School Senior Teacher)" %} 
{% trans "Primary School Teacher" %} 
{% trans "Private Tutors and Teachers (Others)" %} 
{% trans "Secondary School Teacher" %} 
{% trans "Teacher of English to Speakers of Other Languages" %} 
{% trans "School Principal" %} 
{% trans "School Laboratory Technician" %} 
{% trans "University Tutor" %} 
{% trans "Early Childhood (Pre-primary school) Assistants" %} 
{% trans "Education Adviser" %} 
{% trans "Education Managers (Others)" %} 
{% trans "Education Reviewer" %} 
{% trans "Regional Education Manager" %} 
{% trans "Judge" %} 
{% trans "Intellectual Property Lawyer" %} 
{% trans "Law Clerk" %} 
{% trans "Judicial and Other Legal Professionals (Others)" %} 
{% trans "Legal Executive" %} 
{% trans "Legal Secretary" %} 
{% trans "Legislators (Others)" %} 
{% trans "Local Government Legislator" %} 
{% trans "Magistrate" %} 
{% trans "Social Worker" %} 
{% trans "Social Professionals (Others)" %} 
{% trans "Family Support Worker" %} 
{% trans "Family and Marriage Counsellor" %} 
{% trans "Student Counsellor" %} 
{% trans "Careers Counsellor" %} 
{% trans "Counsellors (Others)" %} 
{% trans "Drug and Alcohol Counsellor" %} 
{% trans "Minister of Religion" %} 
{% trans "Parole or Probation Officer" %} 
{% trans "Community Worker" %} 
{% trans "Policy Analyst" %} 
{% trans "Policy and Planning Manager" %} 
{% trans "Police Officer" %} 
{% trans "Commissioned Police Officer" %} 
{% trans "Commissioned Defence Force Officer" %} 
{% trans "Commissioned Fire Officer" %} 
{% trans "Disabilities Services Officer" %} 
{% trans "Detective" %} 
{% trans "Defence Force Senior Officer" %} 
{% trans "Electorate Officer" %} 
{% trans "Intelligence Officer" %} 
{% trans "Liaison Officer" %} 
{% trans "Residential Care Officer" %} 
{% trans "Court Collections Officer" %} 
{% trans "Court Registry Officer" %} 
{% trans "Clerk of Court" %} 
{% trans "Fire Fighter" %} 
{% trans "Child Care Centre Manager" %} 
{% trans "Welfare Worker" %} 
{% trans "Welfare Centre Manager" %} 
{% trans "Conveyancer" %} 
{% trans "Barrister" %} 
{% trans "Solicitor" %} 
{% trans "Forester" %} 
{% trans "Market Gardener" %} 
{% trans "Production Manager (Mining)" %} 
{% trans "Production Manager (Forestry)" %} 
{% trans "Crop Farmers (Others)" %} 
{% trans "Field Crop Grower" %} 
{% trans "Mixed Crop and Livestock Farmer" %} 
{% trans "Mixed Crop Farmer" %} 
{% trans "Dairy Cattle Farmer" %} 
{% trans "Deer Farmer" %} 
{% trans "Goat Farmer" %} 
{% trans "Livestock Farmers (Others)" %} 
{% trans "Mixed Livestock Farmer" %} 
{% trans "Pig Farmer" %} 
{% trans "Poultry Farmer" %} 
{% trans "Sheep Farmer" %} 
{% trans "Aquaculture Farmer" %} 
{% trans "Beef Cattle Farmer" %} 
{% trans "Managers in natural resources production and fishing" %} 
{% trans "Master Fisher" %} 
{% trans "Fisheries Officer" %} 
{% trans "Botanist" %} 
{% trans "Drainer" %} 
{% trans "Cotton Grower" %} 
{% trans "Fruit or Nut Grower" %} 
{% trans "Grape Grower" %} 
{% trans "Sugar Cane Grower" %} 
{% trans "Turf Grower" %} 
{% trans "Wine Maker" %} 
{% trans "Sales and Marketing Manager" %} 
{% trans "Sales Representative (Industrial Products)" %} 
{% trans "Sales Representative (Medical and Pharmaceutical Products)" %} 
{% trans "Technical Sales Representatives (Others)" %} 
{% trans "Real Estate Agency Licensee" %} 
{% trans "Real Estate Agent" %} 
{% trans "Real Estate Representative" %} 
{% trans "Accommodation and Hospitality Managers (Others)" %} 
{% trans "Hospitality, Retail and Service Managers (Others)" %} 
{% trans "Travel Agency Manager" %} 
{% trans "Travel Attendants (Others)" %} 
{% trans "Customer Service Manager" %} 
{% trans "Chef" %} 
{% trans "Cook" %} 
{% trans "Pastrycook" %} 
{% trans "Butcher or Smallgoods Maker" %} 
{% trans "Meat Inspector" %} 
{% trans "Baker" %} 
{% trans "Hairdresser" %} 
{% trans "Hair or Beauty Salon Manager" %} 
{% trans "Dressmaker or Tailor" %} 
{% trans "Shoemaker" %} 
{% trans "Jeweller" %} 
{% trans "Watch and Clock Maker and Repairer" %} 
{% trans "Funeral Director" %} 
{% trans "Funeral Workers (Others)" %} 
{% trans "Security Consultant" %} 
{% trans "Pet Groomer" %} 
{% trans "Animal Attendants and Trainers (Others)" %} 
{% trans "Podiatrist" %} 
{% trans "Supply and Distribution Manager" %} 
{% trans "Wholesaler" %} 
{% trans "Amusement Centre Manager" %} 
{% trans "Cafe or Restaurant Manager" %} 
{% trans "Bed and Breakfast Operator" %} 
{% trans "Betting Agency Manager" %} 
{% trans "Boarding Kennel or Cattery Operator" %} 
{% trans "Caravan Park and Camping Ground Manager" %} 
{% trans "Hotel or Motel Manager" %} 
{% trans "Licensed Club Manager" %} 
{% trans "Retail Manager (General)" %} 
{% trans "Metal Fabricator" %} 
{% trans "Metal Machinist (First Class)" %} 
{% trans "Metallurgist" %} 
{% trans "Sheetmetal Trades Worker" %} 
{% trans "Metallurgical or Materials Technician" %} 
{% trans "Metal Casting Trades Worker" %} 
{% trans "Metal Fitters and Machinists (Others)" %} 
{% trans "Metal Polisher" %} 
{% trans "Sheetmetal Trades Worker" %} 
{% trans "Electrical Line Mechanic" %} 
{% trans "Electrical Linesworker" %} 
{% trans "Technical Cable Jointer" %} 
{% trans "Printing Machinist" %} 
{% trans "Wood Machinist" %} 
{% trans "Wood Machinists and Other Wood Trades Workers (Others)" %} 
{% trans "Toolmaker" %} 
{% trans "Fitter-Welder" %} 
{% trans "Pressure Welder" %} 
{% trans "Welder (First Class)" %} 
{% trans "Cabler (Data and Telecommunications)" %} 
{% trans "Telecommunications Cable Jointer" %} 
{% trans "Airconditioning and Mechanical Services Plumber" %} 
{% trans "Plumber (General)" %} 
{% trans "Roof plumber" %} 
{% trans "Carpenter" %} 
{% trans "Carpenter and Joiner" %} 
{% trans "Bricklayer" %} 
{% trans "Fibrous Plasterer" %} 
{% trans "Solid Plasterer" %} 
{% trans "Print Finisher" %} 
{% trans "Floor Finisher" %} 
{% trans "Furniture Finisher" %} 
{% trans "Glazier" %} 
{% trans "Vehicle Painter" %} 
{% trans "Wall and Floor Tiler" %} 
{% trans "Airconditioning and Refrigeration Mechanic" %} 
{% trans "Diesel Motor Mechanic" %} 
{% trans "Lift Mechanic" %} 
{% trans "Motor Mechanic (General)" %} 
{% trans "Motorcycle Mechanic" %} 
{% trans "Small Engine Mechanic" %} 
{% trans "Aircraft Maintenance Engineer (Mechanical)" %} 
{% trans "Aircraft Maintenance Engineer (Avionics)" %} 
{% trans "Business Machine Mechanic" %} 
{% trans "Optical Mechanic" %} 
{% trans "Telecommunications Line Mechanic" %} 
{% trans "Automotive Electrician" %} 
{% trans "Air Transport Professionals (Others)" %} 
{% trans "Boat Builder and Repairer" %} 
{% trans "Electrician (General)" %} 
{% trans "Electrician (Special Class)" %} 
{% trans "Electronic Equipment Trades Worker" %} 
{% trans "Electronic Instrument Trades Worker (General)" %} 
{% trans "Electronic Instrument Trades Worker (Special Class)" %} 
{% trans "Fitter (General)" %} 
{% trans "Fitter and Turner" %} 
{% trans "Gasfitter" %} 
{% trans "Joiner" %} 
{% trans "Locksmith" %} 
{% trans "Painting trades workers" %} 
{% trans "Ships Master" %} 
{% trans "Ships Officer" %} 
{% trans "Shipwright" %} 
{% trans "Stonemason" %} 
{% trans "Manufacturer" %} 
{% trans "Marine Transport Professionals (Others)" %} 
{% trans "Production Manager (Manufacturing)" %} 
{% trans "Equipment Hire Manager" %} 
{% trans "Fleet Manager" %} 
{% trans "Transport Company Manager" %} 
{% trans "Apparel Cutter" %} 
{% trans "Automotive Electrician" %} 
{% trans "Blacksmith" %} 
{% trans "Boat Builder and Repairer" %} 
{% trans "Cabinetmaker" %} 
{% trans "Canvas Goods Fabricator" %} 
{% trans "Chemical Plant Operator" %} 
{% trans "Communications Operator" %} 
{% trans "Drainlayer" %} 
{% trans "Electroplater" %} 
{% trans "Farrier" %} 
{% trans "Fire Protection Equipment Technician" %} 
{% trans "Gas or Petroleum Operator" %} 
{% trans "Leather Goods Maker" %} 
{% trans "Light Technician" %} 
{% trans "Panelbeater" %} 
{% trans "Picture Framer" %} 
{% trans "Plastics Technician" %} 
{% trans "Power Generation Plant Operator" %} 
{% trans "Precision Instrument Maker and Repairer" %} 
{% trans "Roof Tiler" %} 
{% trans "Sail Maker" %} 
{% trans "Saw Maker and Repairer" %} 
{% trans "Screen Printer" %} 
{% trans "Small Offset Printer" %} 
{% trans "Sound Technician" %} 
{% trans "Technicians and Trades Workers (Others)" %} 
{% trans "Telecommunications Technician" %} 
{% trans "Television Equipment Operator" %} 
{% trans "Textile, Clothing and Footwear Mechanic" %} 
{% trans "Upholsterer" %} 
{% trans "Vehicle Body Builder" %} 
{% trans "Vehicle Trimmer" %} 
{% trans "Wood Turner" %} 
{% trans "Arborist" %} 
{% trans "Clothing Trades Workers (Others)" %} 
{% trans "Florist" %} 
{% trans "Gardener (General)" %} 
{% trans "Greenkeeper" %} 
{% trans "Kennel Hand" %} 
{% trans "Landscape Gardener" %} 
{% trans "Nurseryperson" %} 
{% trans "Wool Classer" %} 
{% trans "Advertising Manager" %} 
{% trans "Advertising Specialist" %} 
{% trans "Home building and renovation managers" %} 
{% trans "Human resources managers" %} 
{% trans "Professional occupations in advertising, marketing and public relations (Others)" %} 
{% trans "Purchasing managers" %} 
{% trans "Chief Executive or Managing Director" %} 
{% trans "Senior managers – financial, communications and other business services" %} 
{% trans "Senior managers – trade, broadcasting and other services (Others)" %} 
{% trans "Company Secretary" %} 
{% trans "Corporate General Manager" %} 
{% trans "Corporate Services Manager" %} 
{% trans "Corporate Treasurer" %} 
{% trans "Futures Trader" %} 
{% trans "Project Builder" %} 
{% trans "Human Resource Adviser" %} 
{% trans "Human Resource Manager" %} 
{% trans "Importer or Exporter" %} 
{% trans "Information and Organisation Professionals (Others)" %} 
{% trans "Management Consultant" %} 
{% trans "Market Research Analyst" %} 
{% trans "Marketing Specialist" %} 
{% trans "Organisation and Methods Analyst" %} 
{% trans "Procurement Manager" %} 
{% trans "Public Relations Manager" %} 
{% trans "Public Relations Professional" %} 
{% trans "Quality Assurance Manager" %} 
{% trans "Recruitment Consultant" %} 
{% trans "Research and Development Manager" %} 
{% trans "Specialist Managers (Others)" %} 
{% trans "Technical Director" %} 
{% trans "Training and Development Professional" %} 
{% trans "Call or Contact Centre Manager" %} 
{% trans "Commodities Trader" %} 
{% trans "Conference and Event Organiser" %} 
{% trans "Facilities Manager" %} 
{% trans "Maintenance Planner" %} 
{% trans "Office Manager" %} 
{% trans "Post Office Manager" %} 
{% trans "Practice Managers (Others)" %} 
{% trans "Railway Station Manager" %} 
{% trans "Retirement Village Manager" %} 
{% trans "Call or Contact Centre Team Leader" %} 
{% trans "Personal Assistant" %} 
{% trans "Retail Buyer" %} 
{% trans "Secretary (General)" %} 
{% trans "Trust Officer" %} 
{% trans "Stage Manager" %} 
{% trans "Television Presenter" %} 
{% trans "Dog or Horse Racing Official" %} 
{% trans "Footballer" %} 
{% trans "Golfer" %} 
{% trans "Acupuncturist" %} 
{% trans "Anaesthetist" %} 
{% trans "Environmental Health Officer" %} 
{% trans "Intensive Care Specialist" %} 
{% trans "Osteopath" %} 
{% trans "Podiatrist" %} 
{% trans "Naturopath" %} 
{% trans "Anaesthetic Technician" %} 
{% trans "Quarantine Officer" %} 
{% trans "First Aid Trainer" %} 
{% trans "Phlebotomist" %} 
{% trans "Industrial instrument technicians and mechanics" %} 
{% trans "Cartographer" %} 
{% trans "Food Technologist" %} 
{% trans "Laboratory Manager" %} 
{% trans "Telecommunications Network Planner" %} 
{% trans "Telecommunications Technical Officer or Technologist" %} 
{% trans "Meteorologist" %} 
{% trans "Patents Examiner" %} 
{% trans "Zoologist" %} 
{% trans "Hydrographer" %} 
{% trans "Mine Deputy" %} 
{% trans "Archaeologist" %} 
{% trans "Faculty Head" %} 
{% trans "Historian" %} 
{% trans "Migration Agent" %} 
{% trans "Member of Parliament" %} 
{% trans "Park Ranger" %} 
{% trans "Senior Non-commissioned Defence Force" %} 
{% trans "Tribunal Member" %} 
{% trans "Workplace Relations Adviser" %} 
{% trans "Youth Worker" %} 
{% trans "Defence Force Member - Other Ranks" %} 
{% trans "Emergency Service Worker" %} 
{% trans "Apiarist" %} 
{% trans "Horse Breeder" %} 
{% trans "Primary Products Inspectors (Others)" %} 
{% trans "Shearer" %} 
{% trans "Stock and Station Agent" %} 
{% trans "Wool Buyer" %} 
{% trans "Diver" %} 
{% trans "Auctioneer" %} 
{% trans "Dispensing Optician" %} 
{% trans "Dog Handler or Trainer" %} 
{% trans "Driving Instructor" %} 
{% trans "Hotel Service Manager" %} 
{% trans "Property Manager" %} 
{% trans "Zookeeper" %} 
{% trans "Flower Grower" %} 
{% trans "Hardware Technician" %} 
{% trans "Plumbing Inspector" %} 
{% trans "Engineering Patternmaker" %} 
{% trans "Engraver" %} 
{% trans "Flight Attendant" %} 
