{% load i18n %}
{% trans "Study Foreign Language" %} 
{% trans "Study in University" %} 
{% trans "Study Masters or Phd" %} 
{% trans "Study Technical Course" %} 
{% trans "Study in High School" %} 
{% trans "Australia" %} 
{% trans "Canada" %} 
{% trans "New Zealand" %} 
{% trans "United States" %} 
{% trans "Japan" %} 
{% trans "Portugual" %} 
{% trans "Germany" %} 
{% trans "Russia" %} 
{% trans "Italy" %} 
{% trans "Spain" %} 
{% trans "France" %} 
{% trans "Brazil" %} 
{% trans "Chile" %} 
{% trans "China" %} 
{% trans "Mexico" %} 
{% trans "South Africa" %} 
{% trans "Netherlands" %} 
{% trans "Ireland" %} 
{% trans "United Kingdom" %} 
{% trans "Norway" %} 
{% trans "Sweeden" %} 
{% trans "Skilled Worker Migration" %} 
{% trans "Work Visa" %} 
{% trans "Move with Family" %} 
{% trans "Temporary Work Visa" %} 
{% trans "Student Visa" %} 
{% trans "Job Searching" %} 
{% trans "Startup Visa" %} 
{% trans "Business Visa" %} 
{% trans "Investment Visa" %} 
{% trans "IELTS" %} 
{% trans "TOEFL" %} 
{% trans "Learning English" %} 
{% trans "Learning French" %} 
{% trans "Learning Portuguese" %} 
{% trans "Learning Spanish" %} 
{% trans "Work Experience" %} 
{% trans "Job Offer" %} 
{% trans "General Immigration" %} 
{% trans "Housing" %} 
{% trans "Flight Tickets" %} 
{% trans "Immigration Consultants and Agents" %} 
{% trans "Professional Assessment and Recognition" %} 
{% trans "Move Countries" %} 
{% trans "Work" %} 
{% trans "De-Facto Relationships" %} 
{% trans "Spouse Visa" %} 
{% trans "Parents & Children Visa" %} 
{% trans "Employer Sponsored Visa" %} 
{% trans "Citizen Sponsored Visa" %} 
{% trans "Startups" %} 
{% trans "Business Relocation" %} 
{% trans "Create Business" %} 
{% trans "Open a Branch" %} 
{% trans "Investors" %} 
{% trans "Buy Property" %} 
{% trans "United Arab Emirates" %} 
{% trans "Saudi Arabia" %} 
{% trans "India" %} 
{% trans "Ukraine" %} 
{% trans "Pakistan" %} 
{% trans "Thailand" %} 
{% trans "Kazakhstan" %} 
{% trans "Jordan" %} 
{% trans "Iran" %} 
{% trans "Malaysia" %} 
{% trans "Ivory Coast" %} 
{% trans "Switzerland" %} 
{% trans "Singapore" %} 
