{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}

    <link href="{% static 'common/jquery-ui/css/ui-lightness/jquery-ui.css' %}" rel="stylesheet">
    <style>
        input.checkbox {
            width:10px !important;
            height:10px !important;
        }
    </style>
{% endblock head %}

{% block content %}

    <div class="content social">
        {% include "site/_common/status.html" %}
        <section class="sidebar">
            <a href="{% url "qa:list_questions" %}" class="bt-back back-toKnowledge">Back to Knowledge Base</a>
        </section>
        <section class="content">
            <div class="add-question">
                <form action="{{ action_url|default:'' }}" method="post" id="main_form" class="add-topics">
                    {% csrf_token %}
                    <div class="want-know">
                        <h2 class="title">What do you want to know?</h2>
                        {{ form.title }}
                        {{ form.title.errors }}
                        <!-- textarea>Type your question here...</textarea-->
                    </div>
                    <h2 class="title">Add topics to your question</h2>
                    {{ form.related_topics }}
                    {{ form.related_topics.errors }}
                    <div class="tags">
                        <ul class="tags-list">
                        </ul>
                    </div>
                    <label class="make-anonymous">
                        {{ form.is_anonymous }} <span>Make Anonymous</span>
                    </label>
                    <button class="button bt-add-question">Add Question</button>
                </form>
            </div>
        </section>
</div>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>

    <script src="{% static 'common/jquery-ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'common/custom-combobox/js/custom-combobox.js' %}"></script>
    <script src="{% static 'common/auto-topics/js/autotopics.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {
            $("#{{ form.related_topics.id_for_label }}").autotopics( {
                target : ".tags-list",
                wrapper : "li",
                wrapper_class : "tag",
            } );
        });
    </script>


    {% include "_layouts/analytics.html" %}

{% endblock scripts %}