{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block content %}
    <div class="content social">
        {% include "qa/common/side_menu.html" %}
        <section class="content">
            <div class="questions-answers">
                <a href="{% url "qa:add_question" %}" class="button bt-addQuestion">Add Question</a>
                <div class="content-questionsAnswers">
                    {% include "qa/question/list_group.html" with question=questions %}
                </div>
            </div>
        </section>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">
        var step = {{ next_step }};
        var keep_loading = true;

        function load_more_questions(){
            $.ajax({
                type: "GET",
                url: "{% url "qa:ajax_load_questions" %}",
                data: { 'step': step, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success : function(data) {
                    if ( data.length == 0 )
                        keep_loading = false;

                    $('.content-questionsAnswers').append( data );
                    step++;
                }
            });
        }

        $( document ).ready( function() {
            // Binds toggleFollow to every toggle-follow button (including dynamic buttons).
            $( document ).on( "click", ".bt-toggle-follow", { redirect_url : "{% url "site:login" %}" }, onToggleFollow );

            $( window ).scroll( function() {
                if( keep_loading && $( window ).scrollTop() == $( document ).height() - $( window ).height() )
                    load_more_questions();
            });
        });


    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}