{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}

    <link href="{% static 'common/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'common/wm-editor/css/wm_editor.css' %}" rel="stylesheet">
    <style>
        li.related > a {
            text-decoration:none;
            color: #F5F5F5;
        }
        li.related:hover > a{
            text-decoration: underline;
        }

        textarea#{{ answer_form.body.id_for_label }}
        {
            height:50px;
        }
        .hide{ display:none !important; }

    </style>
{% endblock head %}

{% block content %}
<div class="content social">
    <section class="sidebar">
        <a href="{% url "qa:list_questions" %}" class="bt-back back-toKnowledge">{% trans "Back to Questions" %}</a>
        <div class="sidebar-questionView">
            <div class="itens post-topics">
                <h3 class="title">{% trans "Question Topics" %}</h3>
                <ul class="tags">
                    {% for topic in question.related_topics.all %}
                        <li class="tag">
                            <a href="{% url "qa:view_topic" topic.slug %}" class="tag-link">{% trans topic.name %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="itens post-stats">
                <h3 class="title">{% trans "Question Stats" %}</h3>
                <ul>
                    <li class="item views">
                        <p>{% trans "Views" %} <span class="count">({{ question.total_views|kmi}})</span></p>
                    </li>
                    <li class="item answers">
                        <p>{% trans "Answers" %} <span class="count">({{ question.total_answers|kmi}})</span></p>
                    </li>
                    <li class="item followers">
                        <p>{% trans "Followers" %} <span class="count" id="post_followers_counter">({{ question.total_followers|kmi }})</span></p>
                    </li>
                </ul>
            </div>

            <!--
            <div class="itens post-share">
                <h3 class="title">{% trans "Share" %}</h3>
                <ul>
                    <li class="item twitter">
                        <a href="#">{% trans "Twitter" %}</a>
                    </li>
                    <li class="item facebook">
                        <a href="#">{% trans "Facebook" %}</a>
                    </li>
                </ul>
            </div>
            -->

        </div>
    </section>
    <section class="content">
        {% include "site/_common/status.html" %}
        <div class="question-view">
            <div class="question">
                <div class="data-question">
                    <h3 class="title-question">{{ question.title }}</h3>
                    <div class="data-item">
                        {% trans "Written in" %} <strong>{{ question.last_activity_date|date:"b d" }}</strong> {% trans "by" %}
                        {% if question.is_anonymous %}
                            {% trans "Anonymous User" %}
                        {% else %}
                            <a class="user-profile" href="{%url 'site:user_profile' question.owner.slug %}">{{ question.owner.name }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="data">
                    <ul class="data-list">
                        <li class="data-item">
                            {% include "qa/buttons/toggle_follow.html" with obj=question %}
                        <!--li class="data-item"><a href="#" class="data-link bt-coments">Comment</a></li-->
                    </ul>
                </div>
                <div class="box-options">
                    <i class="shadow"></i>
                    <ul class="box">
                        <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "View" %}</a></li>
                        <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
                    </ul>
                </div><!--
                <a href="#" class="bt-options">{% trans "Options" %}</a> -->
            </div>
            {% if is_authenticated %}
            <div class="comment">
                <form action="{{ action_url|default:'' }}" method="post" id="main_form" class="add-answer">
                    {% csrf_token %}
                    <div class="user">
                        <i class="thumb">
                            {% if user.userpersonal.avatar %}
                                <img id="answer_user_picture" src="{{ user.userpersonal.avatar.thumbnail.url }}" alt="user photo">
                            {% else %}
                                <img id="answer_user_picture" src="{% static 'site/img/thumb-account.png' %}" alt="user photo">
                            {% endif %}
                        </i>
                        <span id="answer_user_name" class="name">{{ user.name }}</span>
                        <a class="answer-question-link" href="#">{% trans 'Write an answer' %}...</a>
                        <label class="make-anonymous hide" for="{{answer_form.id_is_anonymous}}">
                            {{ answer_form.is_anonymous }} <span>{% trans "Make Anonymous" %}</span>
                        </label>
                    </div>
                    <div style="position:relative; float:left;" class="answer-body hide">
                        {{ answer_form.body }}
                        {{ answer_form.body.errors }}
                    </div>
                    <input type="submit" class="button bt-write hide" value="{% trans "Write answer" %}">

                </form>
            </div>
            {% endif %}
            <div class="answers">
                {% for ans in answers %}
                    <div class="answer" id="answer_{{ans.id}}">
                        <i class="thumb">
                            {% if ans.is_anonymous or not ans.owner.userpersonal.avatar %}
                                <img src="{% static 'site/img/thumb-account.png' %}" alt="user photo">
                            {% else %}
                                <img src="{{ ans.owner.userpersonal.avatar.thumbnail.url }}" alt="user photo">
                            {% endif %}
                        </i>
                        <div class="post {{ ans.klass }}">
                            <div class="user">
                                {% if ans.is_anonymous %}
                                    <span class="name">{% trans 'Anonymous' %}</span>
                                {% else %}
                                    <a class="name" href="{% url 'site:user_profile' ans.owner.slug %}">{{ans.owner.name}}</a>
                                {% endif %}
                                <span class="info"></span>
                            </div>
                            <span class="text-post wm-html-content">
                                {% autoescape off %}
                                    {{ ans.body }}
                                {% endautoescape %}
                            </span>

                            <span class="date-post">{% trans "Written in" %} <strong>{{ ans.created_date|date:"b d" }}</strong></span>

                            <div class="data">
                                <ul class="data-list">
                                    <li class="data-item">
                                        {% include "qa/buttons/toggle_upvote.html" with obj=ans %}
                                    </li>
                                    <li class="data-item">
                                        {% include "qa/buttons/toggle_downvote.html" with obj=ans %}
                                    </li>
                                    <!--li class="data-item">
                                        <a href="#" class="data-link">Comment</a>
                                    </li-->
                                </ul>
                            </div>

                            <div class="box-options">
                                <i class="shadow"></i>
                                <ul class="box">
                                    <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
                                </ul>
                            </div>
                            <!--<a href="#" class="bt-options">{% trans "Options" %}</a> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="aside">
        {% if related_content %}
        <div class="related-content">
            <h3 class="title">{% trans "Related Questions" %}</h3>
            <ul>
                {% for related_question in related_content %}
                    {% ifchanged %}
                        <li class="related">
                            <a href="{% url "qa:view_question" related_question.slug %}">{{ related_question.title|truncate_smart:50 }}...</a>
                        </li>
                    {% endifchanged %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="banner-advertising">
            <a href="{% url 'marketplace:ebook' %}">
                <img src="{% static 'site/img/e-book-como-mudar-para-o-canada-banner-1.jpg' %}" alt="{% trans "Guide - How to move to Canada" %}" />
            </a>
        </div>

        <!--
        <div class="related-professionals">
            <h3 class="title">Related Professionals</h3>
            <ul>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
            </ul>
        </div>
        -->


    </section>
</div>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>
    <script src="{% static 'common/wm-editor/js/wm_editor.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">
        function onAnonymousChange()
        {
            if ( $( "#{{ answer_form.is_anonymous.id_for_label }}" ).is( ":checked" ) ) {
                $( "#answer_user_picture" ).attr( "src", "{% static 'site/img/thumb-account.png' %}" );
                $( "#answer_user_name" ).text( "{% trans 'Anonymous' %}" );
            }
            else {
                {% if user.userpersonal.avatar %}
                    $( "#answer_user_picture" ).attr( "src", "{{ user.userpersonal.avatar.thumbnail.url }}" );
                {% endif %}
                $( "#answer_user_name" ).text( "{{ user.name }}" );
            }
        }

            function on_answer_link_clicked()
            {
                $( "a.answer-question-link" ).remove();
                $( "label.make-anonymous").removeClass( "hide" );
                $( "div.answer-body").removeClass( "hide" );
                $( "input.bt-write").removeClass( "hide" );
                $( "#{{ answer_form.body.id_for_label }}" ).focus();
            }

        $( document ).ready( function() {

            // XToggleButton Handler
            $( document ).on( "click", ".x-toggle-button", { redirect_url : "{% url "site:login" %}" }, onXToggleButtonClicked );

            $("#{{ answer_form.body.id_for_label }}").wm_editor();

            $( "a.answer-question-link" ).click( on_answer_link_clicked );

            {% if answer_form.errors|length > 0 %}
                on_answer_link_clicked();
            {% endif %}

            onAnonymousChange();
            $( "#{{ answer_form.is_anonymous.id_for_label }}" ).change( onAnonymousChange );
        });
    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}