{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/tooltipster.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/themes/tooltipster-wannamigrate.css"%}" />

{% endblock head %}

{% block content %}

    <div class="content hiring">
        <div class="professional">
            <div class="identity">
                <div class="thumb">
                    {% if provider.user.userpersonal.avatar %}
                        <img src="{{ provider.user.userpersonal.avatar.size100x100.url }}" alt="{{ provider.display_name }}" />
                    {% else %}
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="{{ provider.display_name }}" />
                    {% endif %}
                </div>
                <div class="data-professional">
                    <strong class="name">{{ provider.display_name }}</strong>
                    <p class="expert">{{ provider.headline }}</p>
                    <div class="rate" data-score="{{ provider.review_score }}">
                        <span class="count">({{ provider.user.userstats.total_reviews|kmi }})</span>
                    </div>
                </div>
                <div class="send-message">
                    <a href="{% url "site:start_conversation" provider.user.slug %}" class="bt-hire button">{% trans "Send Message" %}</a>
                </div>
                <div class="description">
                    {{ provider.description|safe|linebreaks }}
                </div>
            </div>
            <div class="services">
                <div class="top">
                    <h2 class="title">{% trans 'Services' %}</h2>
                </div>
                <ul class="services-list">

                    {% for provider_service_type in provider_service_types %}
                        <li class="tooltip service-item {{ provider_service_type.service_type.icon_css_class }}" title="{% trans provider_service_type.service_type.description %}">
                            <strong class="title-service">{% trans provider_service_type.service_type.name %}</strong>
                            <span class="price">R$ {{ provider_service_type.price }}</span>
                            <a href="#" data-servicetypeid="{{ provider_service_type.service_type_id }}" class="bt-hire button">{% trans 'Hire' context 'expert_view_page' %}</a>
                        </li>
                    {% endfor %}

                </ul>
                <form id="service_form" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="provider_user_id" id="provider_user_id" value="{{ provider.user_id }}" />
                    <input type="hidden" name="service_type_id" id="service_type_id" value="" />
                </form>
            </div>
        </div>
        <section class="interactions">
            <ul class="interaction-list">
                <li class="interaction-item">
                    <a href="#" class="interaction-link bt-reviews active">{% trans 'Reviews' %} ({{ provider.user.userstats.total_reviews|kmi }})</a>
                </li>
                <li class="interaction-item">
                    <a href="#" class="interaction-link bt-answers">{% trans 'Answers' %} ({{ provider.user.userstats.total_answers }})</a>
                </li>
            </ul>
            <div class="interaction reviews">

                {% for review in reviews %}
                <div class="review">
                    <div class="thumb">
                        {% if review.from_user.userpersonal.avatar %}
                            <img src="{{ review.from_user.userpersonal.avatar.thumbnail.url }}" alt="review user" />
                        {% else %}
                            <img src="{% static 'site/img/thumb-review-author.png' %}" alt="review user" />
                        {% endif %}
                    </div>
                    <div class="box">
                        <p class="text">{{ review.comment }}</p>
                        <span class="author">{{ review.from_user.name }}</span>
                        <span class="posted">{{ review.created_date|date:"M d, Y" }}</span>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="interaction answers">

                <!--
                <form action="" class="search">
                    <a class="bt-back"></a>
                    <fieldset>
                        <label for="search">Search</label>
                        <input class="search-input" type="text" placeholder="Search Answers">
                        <input submit="submit" class="bt-search" value="" />
                    </fieldset>
                </form>
                <h2 class="title-answers">What is a step-by-step guide do migrate to Canada?</h2>
                <div class="answer">
                    <div class="thumb">
                        <img src="{% static 'site/img/thumb-review-author.png' %}" alt="">
                    </div>
                    <div class="answer-field">
                        <strong class="name">Humberto Martins</strong>
                        <p>Aliquam erat volutpat. In eu vulputate erat. Duis at ipsum aliquet turpis sodales tempus. Nunc volutpat id erat vitae pulvinar. Fusce aliquam dolor et purus suscipit faucibus. Pellentesque vestibulum lorem sit amet quam sagittis facilisis. Aliquam erat volutpat. In eu vulputate erat.Aliquam erat volutpat. In eu vulputate erat. Duis at ipsum aliquet turpis sodales tempus. Nunc volutpat id erat vitae pulvinar. Fusce aliquam dolor et purus suscipit faucibus. Pellentesque vestibulum lorem sit amet quam sagittis facilisis. </p>
                        <p>Aliquam erat volutpat. In eu vulputate erat. Pellentesque vestibulum lorem sit amet quam sagittis facilisis. </p>
                    </div>
                    <a href="#" class="bt-options">Options</a>
                </div>
                -->

            </div>

        </section>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <script type="text/javascript" src="{% static 'common/jquery-tooltipster/js/jquery.tooltipster.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // submit form for each button (from services)
            $( '.services-list .service-item .button' ).click( function( event ) {
                event.preventDefault();
                $( "#service_type_id" ).val( $( this ).attr( 'data-servicetypeid' ) );
                $( "#service_form" ).submit();
            });

            // Activate tooltips
            $( '.tooltip' ).tooltipster( {
                maxWidth: 300,
                position: 'left',
                theme: 'tooltipster-wannamigrate',
                touchDevices: false
            });

            // Create review stars of professional
            $( '.rate' ).raty({
                starOff : '{% static 'site/img/star-off.png' %}',
                starOn  : '{% static 'site/img/star-on.png' %}',
                readOnly: true,
                score: function() {
                    return $( this ).attr( 'data-score' );
                }
            });

            var  $scope = {
                interactions : {
                    this : $('.hiring .interactions'),
                    interactionLink : $('.hiring .interaction-link'),
                    interaction : $('.hiring .interaction')
                }
            }

            $scope.interactions.interactionLink.click(function(event) {
                event.preventDefault();
                // $scope.interactions.in.addClass('active');
                $scope.interactions.interactionLink.removeClass('active');
                $(this).addClass('active');

                var interactionName = $(this).attr('class').split(' ')[1];
                var currentInteraction = "." + interactionName.replace('bt-', '');

                $scope.interactions.interaction.fadeOut();
                $scope.interactions.this.find(currentInteraction).fadeIn();
            });


        });


    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}