{% extends "_layouts/email.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

                    
    <h3 style="color:#54266f; font-family:Arial, Helvetica, sans-serif; font-weight:100; font-size:20px; padding-top:20px; line-height:20px;  border-bottom:1px solid #ddd;">
        Wanna Migrate - {% trans "Order Details" %}
    </h3>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">
        {% trans "Hello," %}
        {% trans "there" as default_name %}
        {{ order.user.name|default_if_none:default_name }}.
    </p>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">{{ message }}</p>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">
    <strong>Your Order Details:</strong></p>
    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">
    <strong>Professional:</strong> {{ provider.display_name }}<br />
    <strong>Service:</strong> {{ service_type.name }}<br />
    <strong>Price:</strong> $ {{ provider_service_type.price }}
    </p>

{% endblock content %}