{% extends "_layouts/email.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="block">
       <!-- start textbox-with-title -->
       <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="fulltext">
          <tbody>
             <tr>
                <td>
                   <table bgcolor="#ffffff" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" modulebg="edit">
                      <tbody>
                         <!-- Spacing -->
                         <tr>
                            <td width="100%" height="30"></td>
                         </tr>
                         <!-- Spacing -->
                         <tr>
                            <td>
                               <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                  <tbody>
                                     <!-- Title -->
                                     <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:center;line-height: 20px;" st-title="fulltext-title">

                                            {% trans 'Your Order Request' %}

                                        </td>
                                     </tr>
                                     <!-- End of Title -->
                                     <!-- spacing -->
                                     <tr>
                                        <td height="5"></td>
                                     </tr>
                                     <!-- End of spacing -->
                                     <!-- content -->
                                     <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:center;line-height: 30px;" st-content="fulltext-paragraph">

                                            {% if user.name %}
                                                {% trans 'Hello,' %} {{ user.name|capfirst }}.
                                            {% endif %}
                                            <br />
                                            <strong>{{ message }}</strong>

                                        </td>
                                     </tr>
                                     <!-- End of content -->
                                     <!-- Spacing -->
                                     <tr>
                                        <td width="100%" height="10"></td>
                                     </tr>
                                     <!-- Spacing -->
                                     <!-- button -->
                                     <tr>
                                        <td>
                                           <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit">
                                              <tbody>
                                                 <tr>
                                                    <td width="auto" align="center" valign="middle" height="36" style=" background-color:#68347e; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:13px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">

                                                       <span style="color: #ffffff; font-weight: 300;">

                                                           {% if boleto_url %}

                                                              <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ boleto_url }}">
                                                                  {% trans 'View Boleto' %}
                                                              </a>

                                                           {% else %}

                                                               <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ base_url }}{% url 'site:contracts' %}">
                                                                  {% trans 'View Order' %}
                                                              </a>

                                                           {% endif %}

                                                       </span>
                                                    </td>
                                                 </tr>
                                              </tbody>
                                           </table>
                                        </td>
                                     </tr>
                                     <!-- /button -->
                                     <!-- Spacing -->
                                     <tr>
                                        <td width="100%" height="30"></td>
                                     </tr>
                                     <!-- Spacing -->
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </td>
             </tr>
          </tbody>
       </table>
       <!-- end of textbox-with-title -->
    </div>

    <div class="block">
        <!-- Start of 2-columns -->
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="2columns">
          <tbody>
             <tr>
                <td>
                   <table bgcolor="#ffffff" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" modulebg="edit">
                      <tbody>
                         <tr>
                            <td width="100%" height="20"></td>
                         </tr>
                         <tr>
                            <td>
                               <table width="540" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                  <tbody>
                                     <tr>
                                        <td>
                                           <table width="260" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                              <tbody>
                                                 <!-- Spacing -->
                                                 <tr>
                                                    <td>
                                                       <!-- start of text content table -->
                                                       <table width="260" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                          <tbody>
                                                             <!-- Spacing -->
                                                             <tr>
                                                                <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                             </tr>
                                                             <!-- /Spacing -->
                                                             <!-- content -->
                                                             <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #95a5a6; text-align:left;line-height: 20px;" st-content="2col-para1">

                                                                    {% if order.service_id %}
                                                                        <strong>{% trans 'Professional' %}</strong><br />
                                                                        {{ provider.display_name }} <br />
                                                                        {{ provider.headline }}<br />
                                                                        <br />
                                                                        <br />
                                                                    {% else %}
                                                                        <strong>{% trans 'Immi Box' %}</strong><br />
                                                                        {% trans "You will have full access on your login after the payment is approved." %}
                                                                        <br />
                                                                        <br />
                                                                        <br />
                                                                    {% endif %}

                                                                </td>
                                                             </tr>
                                                             <!-- end of content -->
                                                             <!-- Spacing -->
                                                             <tr>
                                                                <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                             </tr>
                                                             <!-- /Spacing -->
                                                          </tbody>
                                                       </table>
                                                    </td>
                                                 </tr>
                                                 <!-- end of text content table -->
                                              </tbody>
                                           </table>
                                           <!-- end of left column -->
                                           <!-- spacing for mobile devices-->
                                           <table align="left" border="0" cellpadding="0" cellspacing="0" class="mobilespacing">
                                              <tbody>
                                                 <tr>
                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                 </tr>
                                              </tbody>
                                           </table>
                                           <!-- end of for mobile devices-->
                                           <!-- start of right column -->
                                           <table width="260" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                              <tbody>
                                                 <!-- Spacing -->
                                                 <tr>
                                                    <td>
                                                       <!-- start of text content table -->
                                                       <table width="260" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                          <tbody>
                                                             <!-- content -->
                                                             <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #95a5a6; text-align:left;line-height: 20px;" st-content="2col-para2">

                                                                    <strong>{% trans 'Order Date' %}</strong><br />
                                                                    {{ order.created_date|date:"d M Y" }} <br />
                                                                    <br />
                                                                    <strong>{% trans 'Order Number' %}</strong> <br />
                                                                    #{{ order.id }}

                                                                </td>
                                                             </tr>
                                                             <!-- end of content -->
                                                             <!-- Spacing -->
                                                             <tr>
                                                                <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                             </tr>
                                                             <!-- /Spacing -->
                                                          </tbody>
                                                       </table>
                                                    </td>
                                                 </tr>
                                                 <!-- end of text content table -->
                                              </tbody>
                                           </table>
                                           <!-- end of right column -->
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                         <tr>
                            <td width="100%" height="20"></td>
                         </tr>
                      </tbody>
                   </table>
                </td>
             </tr>
          </tbody>
        </table>
        <!-- End of 2-columns -->
    </div>

    <div class="block">
        <!-- Full + text -->
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="fullimage">
          <tbody>
             <tr>
                <td>
                   <table bgcolor="#ffffff" width="580" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" modulebg="edit">
                      <tbody>
                         <tr>
                            <td width="100%" height="20"></td>
                         </tr>
                         <tr>
                            <td>
                               <table width="540" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidthinner">
                                  <tbody>
                                     <!-- title -->
                                     <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:left;line-height: 20px;" st-title="rightimage-title">
                                           {% trans "Order Details" %}
                                        </td>
                                     </tr>
                                     <!-- end of title -->
                                     <!-- Spacing -->
                                     <tr>
                                        <td width="100%" height="10"></td>
                                     </tr>
                                     <!-- Spacing -->
                                     <!-- content -->
                                     <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #666666; text-align:left;line-height: 24px;" st-content="rightimage-paragraph">
                                           <strong>{% trans "Order Description" %}:</strong> {% trans order.description %} <br />
                                           <strong>{% trans "Gross Total" %}:</strong> R$ {{ order.gross_total }} <br />
                                           <strong>{% trans "Discount" %}:</strong> R$ {{ order.discount }} <br />
                                           <strong>{% trans "Net Total" %}:</strong> R$ {{ order.net_total }}
                                        </td>
                                     </tr>
                                     <!-- end of content -->
                                     <!-- Spacing -->
                                     <tr>
                                        <td width="100%" height="10"></td>
                                     </tr>
                                     <!-- Spacing -->
                                     <tr>
                                        <td width="100%" height="20"></td>
                                     </tr>
                                     <!-- Spacing -->
                                  </tbody>
                               </table>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </td>
             </tr>
          </tbody>
        </table>
    </div>


{% endblock content %}