{% extends "site/layouts/email.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

                    
    <h3 style="color:#54266f; font-family:Arial, Helvetica, sans-serif; font-weight:100; font-size:20px; padding-top:20px; line-height:20px;  border-bottom:1px solid #ddd;">
        Wanna Migrate - {% trans "Welcome" %}
    </h3>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">

        {% trans "Hello," %}
        {% trans "World Citizen" as default_name %}
        {{ user.name|default_if_none:default_name }}.

    </p>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">You have been successfully registered to WannaMigrate.com.</p>

    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">
    <strong>Your Login Details:</strong></p>
    <p style="color:#4C4D4F; font-family:Cambria, Georgia, 'Times New Roman', Times, serif;font-size:16px; line-height:24px; text-align:left;">
    <strong>URL to Login:</strong> http://www.wannamigrate.com <br />
    <strong>E-mail:</strong> {{ user.email }}
    </p>

{% endblock content %}