{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "director/css/director.css"%}" />
    <link rel="stylesheet" href="{% static "common/font-awesome/css/font-awesome.min.css"%}" />
{% endblock head %}


{% block situation %}
    {{block.super}}
    <article class="general-progress">
        <div class="wrap">
             <div class="progress">
              <div class="progress-bar" style="width:0%">
                <span class="sr-only">{{general_progress}}% {% trans "Complete" %}</span>
              </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block content %}
{% include "site/_common/status.html" %}
<article class="syllabus">
    <aside class="syllabus-leadin">
      <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="64px" height="32px" viewBox="0 0 64 32" version="1.1"><style>.shape{fill: none;fill-rule: evenodd;}.path{fill: #FFFFFF;}</style><defs></defs><g class="shape"><path d="M0.27734375 0.9 L64.2773438 0.9 L32.2773438 32.9 L0.27734375 0.9 Z" class="path"></path></g></svg>
    </aside>
    <div class="wrap">
        <article class="missions">
        {% for m in missions %}
            <section id="{{ m.id }}" class="mission">
                <h1 class="text-center">{% trans m.title %}</h1>
                <ul class="objectives">
                    {% for obj in m.objectives_set %}
                        <li class="objective {% if not subscription and not obj.is_public %} locked {% endif %}" id="objective-{{obj.id}}">
                            {% if obj.content_module == "redirect_content" %}
                            <a href="{% url "director:view" m.hash obj.hash %}" {% if obj.content_object.blank %} target="_blank" {% endif %} >
                            {% else %}
                            <a href="{% url "director:view" m.hash obj.hash %}" >
                            {% endif %}
                                <div class="description">
                                    <h3>{% trans obj.title %} {% if obj.optional %}({% trans "Optional" %}){% endif %}</h3>
                                    <p>{% trans obj.description %}</p>
                                </div>
                                <div class="progress">
                                    {% if subscription %}
                                        <span class="ball {% if obj.progress > 0 %}active{% endif %}">
                                            {% if obj.progress == 100 %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                {{obj.progress}}%
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span class="ball {% if obj.is_public and obj.progress > 0 %}active{% endif %}">
                                            {% if not obj.is_public %}
                                                <i class="fa fa-lock"></i>
                                            {% elif obj.progress == 100 %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                {{obj.progress}}%
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
        </article>
    </div>
</article>
{% if not subscription %}
    <div id="subscribe">
        <div class="modal-content">
            <a href="javascript:close();" class="close-button"><i class="fa fa-close"></i></a>
            <i class="fa fa-lock"></i>
            <h2>{% trans "Locked" %}</h2>
            <p>
                {% trans "Dear" %} {{request.user.name}},
                {% trans "this content is only available for subscribers, click on the link bellow to learn more about our plans" %}.
            </p>
            <a href="{% url 'site:premium' %}" class="button featured">{% trans "Learn more" %}</a>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".progress-bar").css( "width", "{{general_progress}}%" );
        });
    </script>
    {% if not subscription %}
        <script type="text/javascript">
            function close() { $("#subscribe").fadeOut(); }
            $("#subscribe").click( close );
            $("#subscribe").children().click(function(e) {
                e.stopPropagation();
            });

            $( "li.objective.locked a").click(function( e ){
                e.preventDefault();
                $( "#subscribe" ).fadeIn();
            });
        </script>
    {% endif %}


{% endblock scripts %}