{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "director/css/director.css"%}" />
    <link rel="stylesheet" href="{% static "common/wm-editor/css/wm-editor.css"%}" />
{% endblock head %}

{% block situation %}
<article class="situation full">
    <section class="wrap text-center">
      <h1 class="title">
        {% trans "I'm from" %} {% trans request.session.situation.from_country.name %}
        {% trans "I wanna" %} {% trans request.session.situation.goal.name %}
        {% trans "In" %} {% trans request.session.situation.to_country.name %}
      </h1>
      <section class="description">
        {% trans "Follow our step-by-step guide to move to" %} {% trans request.session.situation.to_country.name %}
      </section>
    </section>
</article>
<article class="path">
    <div class="wrap">
		<a href="{% url "director:dashboard" %}">{% trans "Dashboard" %}</a>
		&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;
		<a href="{% url "director:dashboard" %}#{{ mission.id }} ">{% trans mission.title %}</a>
		&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;
        {% trans objective.title %}
    </div>
</article>
{% endblock situation %}

{% block content %}
<article class="objective-content">
    <div class="wrap">
        {{ content }}
    </div>
</article>
{% endblock content %}