{% load staticfiles %}
{% load i18n %}

<!-- Core Metas -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Title" content="{% if meta_title %}{{ meta_title }}{% else %}{% trans "Wanna Migrate | Organise your immigration plan." %}{% endif %}" />
<title>{% if meta_title %}{{ meta_title }}{% else %}{% trans "Wanna Migrate | Move to Your Dream Country" %}{% endif %}</title>
<meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans "Wanna Migrate helps you to organise all you need to immigrate to your dream country." %}{% endif %}" />
<meta name="keywords" content="{% trans "wanna migrate, immigrate, immigration, australia, canada, migrate to australia" %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Social Media Metas -->
<meta property="og:url" content="https://www.wannamigrate.com" />
<meta property="og:site_name" content="{% trans "Wanna Migrate" %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if meta_title %}{{ meta_title }}{% else %}{% trans "Wanna Migrate | Move to Your Dream Country" %}{% endif %}" />
<meta property="og:image" content="{% if meta_image %}{{ meta_image }}{% else %}{{ base_url }}{% static 'site/img/banner.jpg' %}{% endif %}" />
<meta property="og:description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans "Wanna Migrate helps you to organise all you need to immigrate to your dream country." %}{% endif %}" />

<!-- Crawling Metas -->
{% if is_prod  %}
    <meta name="robots" content="all" />
{% else %}
    <meta name="robots" content="noindex" />
{% endif %}

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static "site/img/favicon/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" href="{% static "site/img/favicon/favicon-32x32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "site/img/favicon/favicon-16x16.png" %}" sizes="16x16">
<link rel="manifest" href="{% static "site/img/favicon/manifest.json" %}">
<link rel="mask-icon" href="{% static "site/img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static "site/img/favicon/favicon.ico" %}">
<meta name="msapplication-config" content="{% static "site/img/favicon/browserconfig.xml" %}">
<meta name="theme-color" content="#ffffff">

<!-- Tracking - Segment -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("{{ segment_key }}");
  analytics.page();
  }}();
</script>
{% if user.is_authenticated %}
    <script type="text/javascript">
        {% if user_is_pending_tracking_alias %}
            analytics.alias('{{ user.id }}');
        {% endif %}
        analytics.identify('{{ user.id }}', {
            email : '{{ user.email }}',
            id: '{{ user.id }}',
            firstName: '{{ user.first_name|default:'' }}',
            lastName: '{{ user.last_name|default:'' }}',
            name: {% if user.first_name %}'{{ user.first_name }} {{ user.last_name }}'{% else %}''{% endif %},
            created: '{{ user.created_date|date:"Y-m-d H:i:s" }}',
        });
    </script>
{% endif %}

