{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!doctype html>
<html>

    <head>
    {% block head %}

        <!-- Meta -->
        {% include "_layouts/meta.html" %}

        <!-- CSS -->
        {% compress css %}
            <link href="{% static 'site/css/main.css' %}" type="text/css" rel="stylesheet" />
            <link href="{% static 'site/css/overwrite.css' %}" type="text/css" rel="stylesheet" />
        {% endcompress %}

        <!--[if lte IE 8]><script src="{% static 'site/js/ie/html5shiv.js' %}"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'site/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'site/css/ie9.css' %}" /><![endif]-->

    {% endblock head %}
    </head>

    <body class="{% block body_css_class %}{% endblock body_css_class %}">

        <div id="page-wrapper">

            {% block header %}

                <!-- Header -->
                <header id="header" class="{% block header_css_class %}{% endblock header_css_class %}">
                    <a href="{% url 'landing:home' %}" class="logo">
                      <span>Wanna Migrate</span>
                    </a>
                    <nav>
                        <ul>
                            <li>
                                <a href="#menu">
                                    {% if user and user.is_authenticated %}
                                        {{ user.first_name|default:'me' }}
                                    {% else %}
                                        MENU
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>

                <!-- Menu -->
                <nav id="menu">
                    <ul class="links">
                        <li><a href="{% url 'landing:home' %}">{% trans "HOME" %}</a></li>
                        <li><a href="{% url 'company:about' %}">{% trans "ABOUT US" %}</a></li>
                        <li><a href="{% url 'company:contact' %}">{% trans "CONTACT US" %}</a></li>
                    </ul>
                    {% if not user or not user.is_authenticated %}
                        <ul class="actions vertical">
                            <li><a href="{% url 'quiz:take' 'australia' %}" class="button special fit">{% trans "GET STARTED" %}</a></li>
                            <li><a href="{% url 'member:login' %}" class="button fit">{% trans "LOG IN" %}</a></li>
                        </ul>
                    {% else %}
                        <ul class="actions vertical">
                            <li><a href="{% url 'member:logout' %}" class="button fit">{% trans "LOGOUT" %}</a></li>
                        </ul>
                    {% endif %}
                </nav>

            {% endblock header %}

            <!-- Content-->
            {% block content %}{% endblock content %}


            {% block footer %}

                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <div class="row">
                            <div class="3u 6u(small)">
                                <ul class="links">
                                    <li><a href="{% url 'landing:home' %}">{% trans "Home" %}</a> </li>
                                    <li><a href="{% url 'quiz:take' 'australia' %}">{% trans "Immigration Quiz" %}</a> </li>
                                    <li><a href="{% url 'member:signup' %}">{% trans "Sign up" %}</a> </li>
                                    <li><a href="{% url 'member:login' %}">{% trans "Log in" %}</a> </li>
                                </ul>
                            </div>
                            <div class="3u 6u$(small)">
                                <ul class="links">
                                    <li><a href="{% url 'company:about' %}">{% trans "About us" %}</a> </li>
                                    <li><a href="{% url 'company:contact' %}">{% trans "Contact us" %}</a> </li>
                                    <li><a href="{% url 'company:terms' %}">{% trans "Terms" %}</a> </li>
                                    <li><a href="{% url 'company:privacy' %}">{% trans "Privacy" %}</a> </li>
                                </ul>
                            </div>
                            <div class="6u 12u$(small)">
                                <ul class="icons">
                                    <li>
                                        <a href="https://www.facebook.com/wannamigrate" class="icon alt fa-facebook">
                                            <span class="label">Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/wannamigrate" class="icon alt fa-instagram">
                                            <span class="label">Instagram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'company:contact' %}" class="icon alt fa-envelope">
                                            <span class="label">Email</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright">
                                    &copy; 2017 Wanna Migrate. {% trans "Made in Sydney - Australia" %}
                                    <br />{% trans "28 Rothschild Avenue, Rosebery, NSW 2018" %}
                                    <br />{% trans "ABN: 48316158565" %}
                                </p>
                            </div>
                        </div>
                    </div>

                </footer>

            {% endblock footer %}

        </div>

        <!-- Scripts-->
        {% block scripts %}

            {% compress js %}
                <script type="text/javascript" src="{% static 'common/jquery/js/jquery.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/jquery-scrollex/js/jquery.scrollex.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/jquery-scrolly/js/jquery.scrolly.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/skel/js/skel.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/load-css/js/loadCSS.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/pnotify/js/pnotify.js' %}"></script>
                <script type="text/javascript" src="{% static 'common/util/js/util.js' %}"></script>
                <script type="text/javascript" src="{% static 'site/js/layout.js' %}"></script>
                <script type="text/javascript" src="{% static 'site/js/main.js' %}"></script>
                <script type="text/javascript">
                    loadCSS('{% static 'common/font-awesome/css/font-awesome.css' %}');
                    loadCSS('{% static 'common/pnotify/css/pnotify.css' %}');
                </script>
            {% endcompress %}

            <!--[if lte IE 8]><script src="{% static 'site/js/ie/respond.min.js' %}"></script><![endif]-->

        {% endblock scripts %}

        {% block status %}
            {% include "_layouts/status.html" %}
        {% endblock status %}

    </body>
</html>
