{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block content %}
    <div class="content social">
        {% include "qa/common/side_menu.html" %}
        <section class="content">
            <div class="questions-answers">
                {% if blogposts_menu_selected %}
                    <!--a class="button bt-addQuestion">Write a post</a-->
                {% elif knowledge_menu_selected or questions_menu_selected %}
                    <a href="{% url "qa:add_question" %}" class="button bt-addQuestion">Add Question</a>
                {% endif %}
                <div class="content-questionsAnswers">
                    {% for post in posts %}
                        <div class="question">
                            <div class="tags">
                                <ul class="tags-list">
                                    {% for topic in post.related_topics.all %}
                                        <li class="tag"><a href="{% url "qa:browse_topic" topic_id=topic.id %}" class="tag-link">{{ topic.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="data-question">
                                <a href="{% url "qa:view_post" post.id %}">
                                    <h3 class="title-question">{{ post.title }}</h3>
                                    <p class="answer">
                                        {% if post.post_type.id == POST_TYPE_QUESTION_ID %}
                                            {{ post.answers.first.body|striptags|truncate_smart:250 }}
                                        {% elif post.post_type.id == POST_TYPE_BLOGPOST_ID %}
                                            {{ post.body|striptags|truncate_smart:250 }}
                                        {% endif %}
                                    </p>
                                </a>
                            </div>
                            <div class="data">
                                <ul class="data-list">
                                    <ul class="list-bt">
                                        <li class="data-item">
                                            {% include "qa/common/bt_toggle_follow.html" with post=post %}
                                        </li>
                                    </ul>
                                    <ul class="list-viewers">
                                        <li class="data-item"><span class="data-link link-answers"><strong>{{ post.answers_count }}</strong> {% trans "answers" %}</span></li>
                                        <li class="data-item"><span class="data-link viewers"><strong>{{ post.views_count }}</strong> {% trans "viewers" %}</span></li>
                                        <li class="data-item">{% trans "Last activity in" %} <strong>{{ post.last_activity_date|date:"b d" }}</strong></li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="box-options">
                                <i class="shadow"></i>
                                <ul class="box">
                                    <li><a class="bt-share" href="#">{% trans "Share" %}</a></li>
                                    <li><a class="bt-report" href="#">{% trans "Report" %}</a></li>
                                    <li><a class="bt-cancel" href="#">{% trans "Cancel" %}</a></li>
                                </ul>
                            </div>
                            <a href="#" class="bt-options">{% trans "Options" %}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">
        $( document ).ready( function() {
            $( ".bt-toggle-follow" ).bind( "click", { redirect_url : "{% url "site:login" %}" }, onToggleFollow );
        });
    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}