{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}

    <link href="{% static 'common/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'common/wm-editor/css/wm_editor.css' %}" rel="stylesheet">
    <style>
        li.related > a {
            text-decoration:none;
            color: #F5F5F5;
        }
        li.related:hover > a{
            text-decoration: underline;
        }

        textarea#{{ answer_form.body.id_for_label }}
        {
            height:50px;
        }

    </style>
{% endblock head %}

{% block content %}
<div class="content social">
    <section class="sidebar">
        <a href="{% url "qa:list_questions" %}" class="bt-back back-toKnowledge">Back to Knowledge Base</a>
        <div class="sidebar-questionView">
            <div class="itens post-topics">
                <h3 class="title">Post Topics</h3>
                <ul class="tags">
                    {% for topic in post.related_topics.all %}
                        <li class="tag">
                            <a href="{% url "qa:browse_topic" topic_id=topic.id %}" class="tag-link">{{ topic.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="itens post-stats">
                <h3 class="title">Post Stats</h3>
                <ul>
                    <li class="item views">
                        <a href="#">Views <span class="count">({{post.views_count}})</span></a>
                    </li>
                    <li class="item answers">
                        <a href="#">Answers <span class="count">({{post.answers_count}})</span></a>
                    </li>
                    <li class="item followers">
                        <a href="#">Followers <span class="count">({{post.followers_count}})</span></a>
                    </li>
                </ul>
            </div>
            <div class="itens post-share">
                <h3 class="title">Share</h3>
                <ul>
                    <li class="item twitter">
                        <a href="#">Twitter</a>
                    </li>
                    <li class="item facebook">
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content">
        {% include "site/_common/status.html" %}
        <div class="question-view">
            <div class="question">
                <div class="data-question">
                    <h3 class="title-question">{{ post.title }}</h3>
                    <a class="data-item">Writen in <strong>{{ post.last_activity_date|date:"b d" }}</strong></a>
                </div>
                <div class="data">
                    <ul class="data-list">
                        <li class="data-item">
                            {% if post.is_followed %}
                                <a href="{% url "qa:ajax_unfollow_post" post.id %}" data-toggle-url="{% url "qa:ajax_follow_post" post.id %}" data-toggle-name="{% trans "Follow" %}" data-name="{% trans "UnFollow" %}" class="data-link bt-follow x-link">
                                    {% trans "Unfollow" %}
                                    <span class="count">{{ post.followers_count }}</span>
                                </a>
                            {% else %}
                                <a href="{% url "qa:ajax_follow_post" post.id %}" data-toggle-url="{% url "qa:ajax_unfollow_post" post.id %}" data-toggle-name="{% trans "Unfollow" %}" data-name="{% trans "Follow" %}" class="data-link bt-follow x-link">
                                    {% trans "Follow" %}
                                    <span class="count">{{ post.followers_count }}</span>
                                </a>
                            {% endif %}
                        <!--li class="data-item"><a href="#" class="data-link bt-coments">Comment</a></li-->
                    </ul>
                </div>
                <div class="box-options">
                    <i class="shadow"></i>
                    <ul class="box">
                        <li><a href="#" class="bt-share">Share</a></li>
                        <li><a href="#" class="bt-report">Report</a></li>
                        <li><a href="#" class="bt-cancel">Cancel</a></li>
                    </ul>
                </div>
                <a href="#" class="bt-options">Options</a>
            </div>
            <div class="comment">
                <form action="{{ action_url|default:'' }}" method="post" id="main_form" class="add-answer">
                    {% csrf_token %}
                    <div class="user">
                        <i class="thumb">
                            {% if user.userpersonal.avatar %}
                                <img id="answer_user_picture" src="{{ user.userpersonal.avatar.thumbnail.url }}" alt="user photo">
                            {% else %}
                                <img id="answer_user_picture" src="{% static 'site/img/thumb-account.png' %}" alt="user photo">
                            {% endif %}
                        </i>
                        <span id="answer_user_name" class="name">{{ user.name }}</span><br>
                        <!--span class="info">Designer at humbertolandia.com</span-->
                            <label class="make-anonymous" for="id_is_anonymous">
                                {{ answer_form.is_anonymous }} <span>Make Anonymous</span>
                            </label>
                    </div>
                    <div style="position:relative; float:left;">
                        {{ answer_form.body }}
                        {{ answer_form.body.errors }}
                    </div>
                    <input type="submit" class="button bt-write" value="Write answer">
                </form>
            </div>
            <div class="answers">
                {% for ans in answers %}
                    <div class="answer" id="answer_{{ans.id}}">
                        <i class="thumb">
                            {% if ans.is_anonymous or not ans.owner.userpersonal.avatar %}
                                <img src="{% static 'site/img/thumb-account.png' %}" alt="user photo">
                            {% else %}
                                <img src="{{ user.userpersonal.avatar.thumbnail.url }}" alt="user photo">
                            {% endif %}
                        </i>
                        <div class="post">
                            <div class="user">
                                <span class="name">
                                    {% if ans.is_anonymous %}
                                        Anonymous
                                    {% else %}
                                        {{ans.owner.name}}
                                    {% endif %}
                                </span>
                                <span class="info"></span>
                            </div>
                            <span class="text-post">
                                {% autoescape off %}
                                    {{ ans.body }}
                                {% endautoescape %}
                            </span>

                            <span class="date-post">Written in <strong>{{ ans.created_date|date:"b d" }}</strong></span>

                            <div class="data">
                                <ul class="data-list">
                                    <li class="data-item">
                                        <a href="#" class="data-link bt-upvote">Upvote <span class="count">999</span></a>
                                    </li>
                                    <li class="data-item">
                                        <a href="#" class="data-link">Downvote</a>
                                    </li>
                                    <!--li class="data-item">
                                        <a href="#" class="data-link">Comment</a>
                                    </li-->
                                </ul>
                            </div>

                            <div class="box-options">
                                <i class="shadow"></i>
                                <ul class="box">
                                    <li><a class="bt-share" href="#">Share</a></li>
                                    <li><a class="bt-report" href="#">Report</a></li>
                                    <li><a class="bt-cancel" href="#">Cancel</a></li>
                                </ul>
                            </div>
                            <a href="#" class="bt-options">Options</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="aside">
        {% if related_content %}
        <div class="related-content">
            <h3 class="title">Related Content</h3>
            <ul>
                {% for related_post in related_content %}
                <li class="related">
                    <a href="{% url "qa:view_post" related_post.id %}">{{ related_post.title|truncate_smart:50 }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="related-professionals">
            <h3 class="title">Related Professionals</h3>
            <ul>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
                <li class="related">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven...
                </li>
            </ul>
        </div>
    </section>
</div>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script src="{% static 'common/wm-editor/js/wm_editor.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">
        function onAnonymousChange()
        {
            if ( $( "#{{ answer_form.is_anonymous.id_for_label }}" ).is( ":checked" ) ) {
                $( "#answer_user_picture" ).attr( "src", "{% static 'site/img/thumb-account.png' %}" );
                $( "#answer_user_name" ).text( "Anonymous" );
            }
            else {
                {% if user.userpersonal.avatar %}
                    $( "#answer_user_picture" ).attr( "src", "{{ user.userpersonal.avatar.thumbnail.url }}" );
                {% endif %}
                $( "#answer_user_name" ).text( "{{ user.name }}" );
            }
        }

        $( document ).ready( function() {
            $( ".x-link" ).click(function( e ){

                var elm = $(this);
                var current_url = elm.attr( "href" );
                var current_name = elm.attr( "data-name" );
                var toggle_url = elm.attr( "data-toggle-url" );
                var toggle_name = elm.attr( "data-toggle-name" );

                $.get( current_url, { "_": $.now() }, function( data ){
                    // Sets the element's content
                    elm.html( "" ).append( toggle_name ).append( " " ).append(
                        $( "<span/>" ).attr( "class", "count" ).text( data )
                    );

                    // Sets the element's name.
                    elm.attr( "data-name", toggle_name );
                    // Sets the element href.
                    elm.attr( "href", toggle_url );

                    // Sets the toggle attributes
                    elm.attr( "data-toggle-url", current_url );
                    elm.attr( "data-toggle-name", current_name );


                }).fail(function(httpObj, text){
                    if ( httpObj.status == 401 )
                        window.location.href = "{% url "site:login" %}";
                });

                e.preventDefault();
            });


            {% if answer_form.body.value|length == 0 %}
                $("#{{ answer_form.body.id_for_label }}").focus(function(){
                    $("#{{ answer_form.body.id_for_label }}").wm_editor();
                    $(this).unbind( "focus" );
                    $("#{{ answer_form.body.id_for_label }}").focus();
                });
            {% else %}
                $("#{{ answer_form.body.id_for_label }}").wm_editor();
            {% endif %}

            onAnonymousChange();
            $( "#{{ answer_form.is_anonymous.id_for_label }}" ).change( onAnonymousChange );
        });
    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}