{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block content %}


            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">View Group Details</h1>
                </div>
                
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Group ID# {{ group.id }}
                        </div>
                                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                
                                	<dl class="dl-horizontal">
		                                
		                                <dt>Name:</dt>
		                                <dd>{{ group.name }}</dd>
		                                
		                                <dt>Permissions(s):</dt>
		                                <dd>
                                            {% for permission in group.permissions.all %}
                                                - {{ permission.name }} <br />
                                            {% endfor %}
                                        </dd>
		                                
		                            </dl>
		                            
		                            <div class="text-center buttons">
		                            	<a href="{% url 'admin:group:list' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i>Go Back</a>
		                                <a href="{% url 'admin:group:add' %}" class="btn btn-primary"><i class="fa fa-plus"></i>Add New</a>
                                        <a href="{% url 'admin:group:edit' group.id %}" class="btn btn-default"><i class="fa fa-edit"></i>Edit Data</a>
		                                <a href="#" onclick="confirm_delete( '{% url 'admin:group:delete' group.id %}' )" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
									</div>
                                    
                                </div>

                            </div>
                            
                        </div>
                   
                    </div>
                    
                </div>
            
            </div>

{% endblock content %}







