{% extends "admin/layouts/main.html" %}
{% load staticfiles %}

{% block head %}
	
    {{ block.super }}
	
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{% static 'admin/css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{% static 'admin/js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/morris/morris.js' %}"></script>

    <script type="text/javascript">



			
		
	</script>
	
{% endblock head %}

	

{% block content %}

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Welcome, {{ user.name|default:'Mate' }}!</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">


        </div>

    </div>
  
{% endblock content %}







