{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Access Restricted</h1>
                <p>It seem your user is not configured to access this content. If you think this is a mistake, please contact one of the admins.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="javascript: history.back();">Go back</a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>


{% endblock content %}







