{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}

    <link href="{% static 'common/jquery-ui/css/ui-lightness/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'common/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/blogpost.css' %}" rel="stylesheet">
    <link href="{% static 'common/wm-editor/css/wm-editor.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="content social">
        {% include "site/_common/status.html" %}
        <section class="sidebar">
            <a href="{% url "qa:list_blogposts" %}" class="bt-back back-toKnowledge">{% trans 'Back to Knowledge Base' %}</a>
        </section>
        <section class="content">
            <div class="add-post">
                <form action="{{ action_url|default:'' }}" method="post" id="main_form" class="add-topics">
                    {% csrf_token %}
                    <div class="talk-about">
                        <h2 class="title">{% trans "What will you talk about?" %}</h2>
                        {{ form.title }}
                        {{ form.title.errors }}
                        <!-- textarea>Type your question here...</textarea-->
                    </div>
                    <div class="say">
                        <h2 class="title">{% trans "Write what you have to say" %}</h2>
                        {{ form.body }}
                        {{ form.body.errors }}
                    </div>
                    <div class="say">
                        <h2 class="title">{% trans 'Select the language of your post' %}</h2>
                        {{ form.language }}
                        {{ form.language.errors }}
                    </div>
                    <h2 class="title">{% trans 'Add topics to your post' %}</h2>
                    <!--input type="text" placeholder="Ex. Brasil"-->
                    {{ form.related_topics }}
                    {{ form.related_topics.errors }}
                    <!--button class="button bt-add">Add</button-->
                    <div class="tags">
                        <ul class="tags-list">
                        </ul>
                    </div>
                    <label class="make-anonymous" for="id_is_anonymous">
                        <!-- <input type="checkbox" name="make-anonymous" value="makeAnonymous"> -->
                        <!-- i class="checkbox"></i-->
                        {{ form.is_anonymous }} <span>{% trans 'Make Anonymous' %}</span>
                    </label>
                    <button class="button bt-write">{% trans 'Write Post' context 'button' %}</button>
                </form>
            </div>
        </section>
</div>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>

    <script src="{% static 'common/jquery-ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'common/custom-combobox/js/custom-combobox.js' %}"></script>
    <script src="{% static 'common/auto-topics/js/autotopics.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/tinymce/tinymce.min.js' %}"></script>


    <!-- INLINE JS -->
    <script type="text/javascript">

        function init_editor()
        {
            tinymce.PluginManager.add('customh1', function(editor, url) {
                // Add a button that opens a window
                editor.addButton('customh1', {
                    text: "H",
                    title: "Header",
                    icon: false,
                    onclick:  function() { editor.execCommand( 'mceToggleFormat', false, "h1" ); }
                });
            });


            tinymce.init({
                selector: "textarea#{{ form.body.id_for_label }}",
                plugins: [
                    "autolink lists link image charmap anchor hr customh1",
                ],
                menubar: false,
                statusbar: false,
                toolbar: [ "customh1 bold italic underline strikethrough blockquote | justifyleft justifycenter justifyright justifyfull | bullist numlist | hr link image" ],
                body_class: "wm-html-content wm-post",
                content_css: "{% static 'common/wm-editor/css/wm-editor.css' %}",
            });
        }

        $( document ).ready( function() {
            $("#{{ form.related_topics.id_for_label }}").autotopics( {
                target : ".tags-list",
                wrapper : "li",
                wrapper_class : "tag",
            } );

            init_editor();

        });
    </script>

{% endblock scripts %}