{% load i18n %}
{% load string_extras %}

{% for blogpost in blogposts %}
    <div class="question">
        <div class="tags">
            <ul class="tags-list">
                {% for topic in blogpost.related_topics.all %}
                    <li class="tag"><a href="{% url "qa:view_topic" topic.slug %}" class="tag-link">{% trans topic.name %}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="data-question">
            <a href="{% url "qa:view_blogpost" blogpost.user_slug blogpost.slug %}">
                <h3 class="title-question">{{ blogpost.title }}</h3>
                <p class="answer">
                    {{ blogpost.body|striptags|truncate_smart:250 }}
                </p>
            </a>
        </div>
        <div class="data">
            <ul class="data-list">
                <ul class="list-viewers">
                    <li class="data-item"><span class="data-link link-answers"><strong>0</strong> {% trans "comments" %}</span></li>
                    <li class="data-item"><span class="data-link viewers"><strong>{{ blogpost.total_views|kmi }}</strong> {% trans "views" %}</span></li>
                    <li class="data-item">{% trans "Last activity in" %} <strong>{{ blogpost.last_activity_date|date:"b d" }}</strong></li>
                </ul>
                <ul class="list-bt">
                    <li class="data-item">
                        {% include "qa/buttons/toggle_upvote.html" with obj=blogpost %}
                    </li>
                    <li class="data-item">
                        {% include "qa/buttons/toggle_downvote.html" with obj=blogpost %}
                    </li>
                    <!--li class="data-item">
                        <a href="#" class="data-link">Comment</a>
                    </li-->
                </ul>
            </ul>
        </div>
        <div class="box-options">
            <i class="shadow"></i>
            <ul class="box">
                <li><a class="bt-share" href="{% url "qa:view_blogpost" blogpost.user_slug blogpost.slug %}">{% trans "View" %}</a></li>
                <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
            </ul>
        </div>
        <a href="#" class="bt-options">{% trans "Options" %}</a>
    </div>
{% endfor %}