{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'common/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/blogpost.css' %}" rel="stylesheet">
    <link href="{% static 'common/wm-editor/css/wm-editor.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <section class="post light sans-serif">
        <div id="container" class="container font-size5">
            {% include "site/_common/status.html" %}
            <div style="display: block;" id="reader-header" class="header">
                <a href="{% url 'qa:list_blogposts' %}" class="bt-back">&laquo; {% trans "Back to Posts" %}</a>
                <div class="domain-border"></div>
                <h1 id="reader-title">{{ blogpost.title }}</h1>
                {% if blogpost.is_anonymous %}
                    <div id="reader-author" class="author">{% trans "Written by" %} {% trans "Anonymous User" %}. {{ blogpost.created_date|date:"F Y" }}.</div>
                {% else %}
                    <div id="reader-author" class="author">{% trans "Written by" %} <a href="{% url 'site:user_profile' blogpost.owner.slug %}">{{ blogpost.owner.name }}</a>. {{ blogpost.last_activity_date|date:"F Y" }}.</div>
                {% endif %}
            </div>

            <div id="reader-content" class="wm-html-content wm-post">
                {% autoescape off %}
                    {{ blogpost.body }}
                {% endautoescape %}
            </div>

            <div id="reader-feedback">
                <ul class="feedback-list">
                    <li class="feedback-button featured">
                        {% include "qa/buttons/toggle_upvote.html" with obj=blogpost %}
                    </li>
                    <li class="feedback-button">
                        {% include "qa/buttons/toggle_downvote.html" with obj=blogpost %}
                    </li>
                </ul>
            </div>


            <div class="recommended-content">
                <h1>{% trans "See also..." %}</h1>
                {% if related_content %}
                    <div class="related-content">
                        <h3 class="title">{% trans "Related Posts" %}</h3>
                        <ul>
                            {% for related_post in related_content %}
                                {% ifchanged %}
                                    <li class="related">
                                        <a href="{% url "qa:view_blogpost" related_post.user_slug related_post.slug %}">{{ related_post.title|truncate_smart:50 }}...</a>
                                    </li>
                                {% endifchanged %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="banner-advertising">
                    <a href="{% url 'marketplace:ebook' %}">
                        <img src="{% static 'site/img/e-book-como-mudar-para-o-canada-banner-1.jpg' %}" alt="{% trans "Guide - How to move to Canada" %}" />
                    </a>
                </div>
            </div>

            <div class="ending">
                <a href="/blogposts" class="bt-back">&laquo; {% trans "Back to Posts" %}</a>
            </div>

        </div>

    </section>

<div class="clearfix"></div>


{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>
    <script src="{% static 'common/wm-editor/js/wm_editor.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // XToggleButton Handler
            $( document ).on( "click", ".x-toggle-button", { redirect_url : "{% url "site:login" %}" }, onXToggleButtonClicked );

        });
    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}