{% extends "_layouts/mentorship.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}


{% block content %}

    <!-- Main -->
    <section id="main" class="wrapper style1">
        <div class="container box big bordered">
            <header class="major special">
                <h2>{% trans "FAQ" %}</h2>
            </header>

            <!-- Content -->
                <section id="content">

                    {% url 'mentorship:about' as about_url %}
                    <h3>{% trans "How does the service work?" %}</h3>
                    <p>{% blocktrans %}We provide a 6-week consultancy service to help you to find a job and sponsor in Australia. You first need to apply for a slot since we only take a few applicants per month. We will only select professionals that we believe have the profile to find a job in Australia. If selected, you will have to pay a fee and we start a <a href="{{ about_url }}">6-week program</a> to prepare you and to start the job hunting with you.{% endblocktrans %}

                    {% url 'mentorship:apply' as apply_url %}
                    <h3>{% trans "How can I apply for a slot?" %}</h3>
                    <p>{% blocktrans %}You can apply for the next cycle by filling out the <a href="{{ apply_url }}">application form</a>. You will only need to make a decision about hiring the service if you are accepted to the program.{% endblocktrans %}</p>

                    <h3>{% trans "How much does it cost?" %}</h3>
                    <p>{% trans "It's free to apply and receive feedback, but if selected you will have to pay a fee for the 6-week program. If you are not happy, you have the whole first week to cancel and get your money back. The current cost is BRL " %} {{ 700|localize|floatformat:2 }}.</p>

                    <h3>{% trans "What is the 457 visa?" %}</h3>
                    <p>{% trans "It's a visa that allows australian companies to hire overseas professionals. With this visa, the worker can move to live and work in Australia for up to 4 years with the option to apply for a permanent visa."%}</p>

                    <h3>{% trans "What are my real chances to get a job in Australia?" %}</h3>
                    <p>{% trans "It's not an easy and guaranteed process, but if you have an intermediate level of english and good IT skills, you will have good chances."%}</p>

                    <h3>{% trans "Can I get my money back if I don't like the service?" %}</h3>
                    <p>{% trans "Yes! You have the whole first week to give up and get your money back in case you're not satisfied."%}</p>

                    <div class="wrapper">
                        <ul class="actions uniform">
                            <li><a href="{% url 'mentorship:apply' %}" class="button special">{% trans "Apply" %}</a></li>
                            <li><a href="{% url 'site:contact' %}" class="button alt">{% trans "Contact Us" %}</a></li>
                        </ul>
                    </div>

                </section>



        </div>
    </section>

{% endblock content %}