{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <body class="dashboard choose dashboard-edit-forms">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}
    <div class="content edit-forms">
        <div class="edit-form personal-form">
            <form method="post" id="main_form" action="">
                <div class="top">
                    <div class="text personal">
                        <h2 class="title">{% trans "Education Details" %}</h2>
                        <p>{% trans "We need all this information to calculate your points." %}</p>
                    </div>
                    <button type="button" class="bt-save button go-to-exit submit-form">{% trans "Save and Exit" %}</button>
                </div>
                <div class="details">
                    <!--<h3 class="subtitle">Personal details</h3>-->
                    {% csrf_token %}

                    <input type="hidden" id="next" name="next" value="" />

                    {% if user_education_form.errors or user_education_history_formset.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <ul>
                                <li><strong>{% trans "Errors Found!" %}</strong></li>
                                {% for error in user_education_form.non_field_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                {% for error in user_education_history_formset.non_form_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <fieldset>
                        <div class="field educational-field">
                            <strong>{% trans "What are your education degrees?" %}</strong>
                            <div class="educationals">

                                {{ user_education_history_formset.management_form }}
                                {% for user_education_history_form in user_education_history_formset %}
                                    <div class="education">

                                        {{ user_education_history_form.id }}
                                        {{ user_education_history_form.DELETE }}
                                        <div class="education-which error-element{% if user_education_history_form.school.errors %} has-error{% endif %}">
                                            <label for="{{ user_education_history_form.school.id_for_label }}">{{ user_education_history_form.school.label }}:</label>
                                            {{ user_education_history_form.school }}
                                            {{ user_education_history_form.school.errors }}
                                        </div>
                                        <div class="education-level error-element{% if user_education_history_form.country.errors %} has-error{% endif %}">
                                            <label for="{{ user_education_history_form.country.id_for_label }}">{{ user_education_history_form.country.label }}:</label>
                                            {{ user_education_history_form.country }}
                                            {{ user_education_history_form.country.errors }}
                                        </div>
                                        <div class="field level error-element{% if user_education_history_form.education_level_answer.errors %} has-error{% endif %}">
                                            <label for="{{ user_education_history_form.education_level_answer.id_for_label }}">{{ user_education_history_form.education_level_answer.label }}:</label>
                                            {{ user_education_history_form.education_level_answer }}
                                            {{ user_education_history_form.education_level_answer.errors }}
                                        </div>
                                        <div class="education-which error-element{% if user_education_history_form.year_start.errors %} has-error{% endif %}">
                                            <label for="{{ user_education_history_form.year_start.id_for_label }}">{{ user_education_history_form.year_start.label }}:</label>
                                            {{ user_education_history_form.year_start }}
                                            {{ user_education_history_form.year_start.errors }}
                                        </div>
                                        <div class="education-level error-element{% if user_education_history_form.year_end.errors %}has-error{% endif %}">
                                            <label for="{{ user_education_history_form.year_end.id_for_label }}">{{ user_education_history_form.year_end.label }}</label>
                                            {{ user_education_history_form.year_end }}
                                            {{ user_education_history_form.year_end.errors }}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                        <div class="field married error-element{% if user_education_form.partner_education_level_answer.errors %} has-error{% endif %}">
                            <label for="{{ user_education_form.partner_education_level_answer.id_for_label }}">{{ user_education_form.partner_education_level_answer.label }}?</label>
                            {{ user_education_form.partner_education_level_answer }}
                            {{ user_education_form.partner_education_level_answer.errors }}
                        </div>
                        <div class="field hinterland error-element{% if user_education_form.regional_australia_study.errors %} has-error{% endif %}">
                            <span>{{ user_education_form.regional_australia_study.label }}?</span>
                            {% for radio in user_education_form.regional_australia_study %}
                                {% if radio.choice_label != '---------' %}
                                    <div class="option {% if forloop.last %}no{% else %}yes{% endif %}">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ user_education_form.regional_australia_study.errors }}

                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer>
        <a href="javascript:void(0)" class="bt-previous bt go-to-language submit-form">< Previous</a>
        <ul class="options-list">
            <li class="option-item"><a class="option-link go-to-personal submit-form" href="javascript:void(0)">{% trans "PERSONAL" %}</a></li>
            <li class="option-item"><a class="option-link go-to-language submit-form" href="javascript:void(0)">{% trans "LANGUAGE" %}</a></li>
            <li class="option-item"><a class="active option-link go-to-education submit-form" href="javascript:void(0)">{% trans "EDUCATION" %}</a></li>
            <li class="option-item"><a class="option-link go-to-work submit-form" href="javascript:void(0)">{% trans "WORK" %}</a></li>
        </ul>
        <a href="javascript:void(0)" class="bt-next bt go-to-work submit-form">Next ></a>
    </footer>
{% endblock footer %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'common/circle-progress/js/circle-progress.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-formset/js/jquery.formset.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Jquery On Load
		 *
		 */
        $( document ).ready( function() {

            // create custom dropdown for situatino countries
            $( "div.edit-forms .custom-select" ).msDropdown();

            // Submit form when navigating through action links
            $( ".submit-form" ).click( function() {

                // set next page by looking to the class name
                if ( $( this ).hasClass( "go-to-personal" ) ){
                    $( '#next').val( '{% url 'points:edit_personal' %}' );
                } else if ( $( this ).hasClass( "go-to-language" ) ){
                    $( '#next').val( '{% url 'points:edit_language' %}' );
                } else if ( $( this ).hasClass( "go-to-education" ) ){
                    $( '#next').val( '{% url 'points:edit_education' %}' );
                } else if ( $( this ).hasClass( "go-to-work" ) ){
                    $( '#next').val( '{% url 'points:edit_work' %}' );
                } else {
                    $( '#next').val( '{% url 'points:calculate_points' %}' );
                }

                // submit form
                $( '#main_form').submit();


			});

            // Formset Generation
            $( '#main_form div.educationals div.education' ).formset({
                prefix: '{{ user_education_history_formset.prefix }}',
                addCssClass: 'bt-add',
                deleteCssClass: 'bt-delete',
                addText: '{% trans "add another" %}',
                deleteText: ''
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}