{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/tooltipster.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/themes/tooltipster-wannamigrate.css"%}" />

{% endblock head %}

{% block body %}
    <body class="dashboard choose dashboard-edit-forms">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}
    <div class="content edit-forms">
        <div class="edit-form personal-form">
            <form method="post" id="main_form" action="">
                <div class="top">
                    <div class="text personal">
                        <h2 class="title">{% trans "Personal Details" %}</h2>
                        <p>{% trans "We need all this information to calculate your points." %}</p>
                    </div>
                    <button type="button" class="bt-save button go-to-exit submit-form">{% trans "Save and Exit" %}</button>
                </div>
                <div class="details">
                    <!--<h3 class="subtitle">Personal details</h3>-->
                    {% csrf_token %}

                    <input type="hidden" id="next" name="next" value="" />

                    {% if user_personal_form.errors or user_personal_family_formset.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <ul>
                                <li><strong>{% trans "Errors Found!" %}</strong></li>
                                {% for error in user_personal_form.non_field_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                {% for error in user_personal_family_formset.non_form_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <fieldset>
                        <!--
                        <div class="field name">
                            <label for="name">Full name:</label>
                            <input type="text" placeholder="Humberto Moreira">
                        </div>
                        <div class="field make-anonymous">
                            <input type="checkbox">
                            <label for="make-anonymous">Make Anonymous</label>
                        </div>
                        -->
                        <div class="field gender error-element{% if user_personal_form.gender.errors %} has-error{% endif %}">
                            <span class="question-title">{{ user_personal_form.gender.label }}:</span>
                            {% for radio in user_personal_form.gender %}
                                {% if radio.choice_label != '---------' %}
                                    <div class="{% if forloop.last %}female{% else %}male{% endif %}">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ user_personal_form.gender.errors }}
                        </div>
                        <div class="field birth error-element{% if user_personal_form.birth_date.errors %} has-error{% endif %}">
                            <label for="{{ user_personal_form.birth_date.id_for_label }}" class="question-title">{{ user_personal_form.birth_date.label }}:</label>
                            {{ user_personal_form.birth_date }}
                            {{ user_personal_form.birth_date.errors }}
                        </div>
                        <div class="field country error-element{% if user_personal_form.country.errors %} has-error{% endif %}">
                            <label for="{{ user_personal_form.country.id_for_label }}" class="question-title">{{ user_personal_form.country.label }}:</label>
                            {{ user_personal_form.country }}
                            {{ user_personal_form.country.errors }}
                        </div>
                        <div class="field hinterland error-element{% if user_personal_form.australian_regional_immigration.errors %} has-error{% endif %}">
                            <span class="question-title">{{ user_personal_form.australian_regional_immigration.label }}?</span>
                            {% for radio in user_personal_form.australian_regional_immigration %}
                                {% if radio.choice_label != '---------' %}
                                    <div class="option {% if forloop.last %}no{% else %}yes{% endif %}">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ user_personal_form.australian_regional_immigration.errors }}
                        </div>
                        <div class="field family-member error-element{% if user_personal_form.family_overseas.errors %} has-error{% endif %}">
                            <strong class="question-title">{{ user_personal_form.family_overseas.label }}?&nbsp;&nbsp;<i class="tooltip hint fa fa-question-circle" title="{% trans "If you have a close family member in either Australia, Canada or New Zealand, you can get extra points" %}"></i></strong>
                            <div class="clear"></div>

                            {% for radio in user_personal_form.family_overseas %}
                                {% if radio.choice_label != '---------' %}
                                    <div class="option {% if forloop.last %}no{% else %}yes{% endif %}">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ user_personal_form.family_overseas.errors }}

                            <div class="countries">
                                <div id="user_personal_family_container" style="display: none;">
                                    {{ user_personal_family_formset.management_form }}
                                    {% for user_personal_family_form in user_personal_family_formset %}
                                        <div class="country error-element{% if user_personal_family_form.country.errors %} has-error{% endif %}">
                                            {{ user_personal_family_form.id }}
                                            {{ user_personal_family_form.DELETE }}
                                            <label for="{{ user_personal_family_form.country.id_for_label }}">{{ user_personal_family_form.country.label }}?</label>
                                            {{ user_personal_family_form.country }}
                                        </div>
                                        {{ user_personal_family_form.country.errors }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer>
        <!--<a href="#" class="bt-previous bt">< Previous</a>-->
        <ul class="options-list">
            <li class="option-item"><a class="active option-link go-to-personal submit-form" href="javascript:void(0)">{% trans "PERSONAL" %}</a></li>
            <li class="option-item"><a class="option-link go-to-language submit-form" href="javascript:void(0)">{% trans "LANGUAGE" %}</a></li>
            <li class="option-item"><a class="option-link go-to-education submit-form" href="javascript:void(0)">{% trans "EDUCATION" %}</a></li>
            <li class="option-item"><a class="option-link go-to-work submit-form" href="javascript:void(0)">{% trans "WORK" %}</a></li>
        </ul>
        <a href="javascript:void(0)" class="bt-next bt go-to-language submit-form">Next ></a>
    </footer>
{% endblock footer %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'common/jquery-formset/js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-tooltipster/js/jquery.tooltipster.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Hide/Show personal family overseas options
		 *
		 */
        function toggle_family_overseas_container(){
            var radio_value = $( "input[name='family_overseas']:checked" ).val();
            if ( radio_value == 'True' ) {
                $( "#user_personal_family_container" ).slideDown();
                if ( $( ".dynamic-form" ).length == 0 ){
                    $( '#main_form div.countries div.country' ).formset({
                        prefix: '{{ user_personal_family_formset.prefix }}',
                        addCssClass: 'bt-add',
                        deleteCssClass: 'bt-delete',
                        addText: '{% trans "add another" %}',
                        deleteText: ''
                    });
                }
            } else
                $( "#user_personal_family_container" ).slideUp();
        }

        /**
		 * Jquery On Load
		 *
		 */
        $( document ).ready( function() {

            // Submit form when navigating through action links
            $( ".submit-form" ).click( function() {

                // set next page by looking to the class name
                if ( $( this ).hasClass( "go-to-personal" ) ){
                    $( '#next').val( '{% url 'points:edit_personal' %}' );
                } else if ( $( this ).hasClass( "go-to-language" ) ){
                    $( '#next').val( '{% url 'points:edit_language' %}' );
                } else if ( $( this ).hasClass( "go-to-education" ) ){
                    $( '#next').val( '{% url 'points:edit_education' %}' );
                } else if ( $( this ).hasClass( "go-to-work" ) ){
                    $( '#next').val( '{% url 'points:edit_work' %}' );
                } else {
                    $( '#next').val( '{% url 'points:calculate_points' %}' );
                }

                // submit form
                $( '#main_form').submit();

			});

            // Hide or Show personal family overseas options
            $( 'input[name^=family_overseas]' ).click( function(){
                toggle_family_overseas_container();
            });
            toggle_family_overseas_container()

            // Activates tooltips
            $( '.tooltip' ).tooltipster( {
                maxWidth: 300,
                position: 'left',
                theme: 'tooltipster-wannamigrate',
                touchDevices: false
            });

        });

    </script>

{% endblock scripts %}