{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/tooltipster.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/themes/tooltipster-wannamigrate.css"%}" />

{% endblock head %}

{% block body %}
    <body class="dashboard choose dashboard-edit-forms">
{% endblock body %}

{% block background %}
    <i class="shadow"></i>
{% endblock background %}

{% block situation %} {% endblock situation %}

{% block content %}
    <div class="content edit-forms">
        <div class="edit-form personal-form">
            <form method="post" id="main_form" action="">
                <div class="top">
                    <div class="text personal">
                        <h2 class="title">{% trans "Language Details" %}</h2>
                        <p>{% trans "We need all this information to calculate your points." %}</p>
                    </div>
                    <button type="button" class="bt-save button go-to-exit submit-form">{% trans "Save and Exit" %}</button>
                </div>
                <div class="details">
                    <!--<h3 class="subtitle">Personal details</h3>-->
                    {% csrf_token %}

                    <input type="hidden" id="next" name="next" value="" />

                    {% if user_language_form.errors or user_language_proficiency_formset.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <ul>
                                <li><strong>{% trans "Errors Found!" %}</strong></li>
                                {% for error in user_language_form.non_field_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                {% for error in user_language_proficiency_formset.non_form_errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <fieldset>
                        <div class="field languages-field">
                            <strong class="question-title">{% trans "What languages do you speak (including your native one)?" %}</strong>
                            <div class="languages">

                                {{ user_language_proficiency_formset.management_form }}
                                {% for user_language_proficiency_form in user_language_proficiency_formset %}
                                <div class="language">

                                    {{ user_language_proficiency_form.id }}
                                    {{ user_language_proficiency_form.DELETE }}
                                    <div class="language-which error-element{% if user_language_proficiency_form.language.errors %} has-error{% endif %}">
                                        <label for="{{ user_language_proficiency_form.language.id_for_label }}">{{ user_language_proficiency_form.language.label }}</label>
                                        {{ user_language_proficiency_form.language }}
                                        {{ user_language_proficiency_form.language.errors }}
                                    </div>
                                    <div class="language-level error-element{% if user_language_proficiency_form.language_level_answer.errors %} has-error{% endif %}">
                                        <label for="{{ user_language_proficiency_form.language_level_answer.id_for_label }}">{{ user_language_proficiency_form.language_level_answer.label }}</label>
                                        {{ user_language_proficiency_form.language_level_answer }}
                                        {{ user_language_proficiency_form.language_level_answer.errors }}
                                    </div>
                                    <!--<a href="#" class="bt-delete">Delete</a> -->
                                </div>
                                {% endfor %}

                            </div>
                            <!--<a href="#" class="bt-add">Add another</a> -->

                        </div>
                        <div class="field married error-element{% if user_language_form.partner_english_level_answer.errors %} has-error{% endif %}">
                            <label for="{{ user_language_form.id_for_label }}" class="question-title">{{ user_language_form.partner_english_level_answer.label }}?</label>
                            {{ user_language_form.partner_english_level_answer }}
                            {{ user_language_form.partner_english_level_answer.errors }}
                        </div>
                        <div class="field married error-element{% if user_language_form.partner_french_level_answer.errors %} has-error{% endif %}">
                            <label for="{{ user_language_form.partner_french_level_answer.id_for_label }}" class="question-title">{{ user_language_form.partner_french_level_answer.label }}?</label>
                            {{ user_language_form.partner_french_level_answer }}
                            {{ user_language_form.partner_french_level_answer.errors }}
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer>
        <a href="javascript:void(0)" class="bt-previous bt go-to-personal submit-form">< Previous</a>
        <ul class="options-list">
            <li class="option-item"><a class="option-link go-to-personal submit-form" href="javascript:void(0)">{% trans "PERSONAL" %}</a></li>
            <li class="option-item"><a class="active option-link go-to-language submit-form" href="javascript:void(0)">{% trans "LANGUAGE" %}</a></li>
            <li class="option-item"><a class="option-link go-to-education submit-form" href="javascript:void(0)">{% trans "EDUCATION" %}</a></li>
            <li class="option-item"><a class="option-link go-to-work submit-form" href="javascript:void(0)">{% trans "WORK" %}</a></li>
        </ul>
        <a href="javascript:void(0)" class="bt-next bt go-to-language submit-form">Next ></a>
    </footer>
{% endblock footer %}


{% block scripts %}

    {{ block.super }}

    <!-- JS Custom Scripts -->
    <script type="text/javascript" src="{% static 'common/jquery-formset/js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-tooltipster/js/jquery.tooltipster.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Jquery On Load
		 *
		 */
        $( document ).ready( function() {

            // Submit form when navigating through action links
            $( ".submit-form" ).click( function() {

                // set next page by looking to the class name
                if ( $( this ).hasClass( "go-to-personal" ) ){
                    $( '#next').val( '{% url 'points:edit_personal' %}' );
                } else if ( $( this ).hasClass( "go-to-language" ) ){
                    $( '#next').val( '{% url 'points:edit_language' %}' );
                } else if ( $( this ).hasClass( "go-to-education" ) ){
                    $( '#next').val( '{% url 'points:edit_education' %}' );
                } else if ( $( this ).hasClass( "go-to-work" ) ){
                    $( '#next').val( '{% url 'points:edit_work' %}' );
                } else {
                    $( '#next').val( '{% url 'points:calculate_points' %}' );
                }

                // submit form
                $( '#main_form').submit();


			});

            // Formset Generation
            $( '#main_form div.languages-field div.language' ).formset({
                prefix: '{{ user_language_proficiency_formset.prefix }}',
                addCssClass: 'bt-add',
                deleteCssClass: 'bt-delete',
                addText: '{% trans "add another" %}',
                deleteText: ''
            });

            // Activates tooltips
            $( '.tooltip' ).tooltipster( {
                maxWidth: 300,
                position: 'left',
                theme: 'tooltipster-wannamigrate',
                touchDevices: false
            });

        });

    </script>

{% endblock scripts %}