{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "common/dropzone/css/dropzone.css"%}" />

{% endblock head %}

{% block content %}

    <div class="content myaccount">
        <h2 class="title">{% trans "Edit My Account" %}</h2>
        <div class="interactions">
            {% include "site/_common/my_account_menu.html" with account_menu_selected=True %}
            <div class="my-profile-edit">

                {% if user_form.errors or provider_form.errors or provider_country_formset.errors or provider_service_type_formset.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <ul>
                            <li><strong>{% trans "Please correct fhe following errors:" %}</strong></li>
                            {% for error in user_form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            {% for error in provider_form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            {% for error in provider_country_formset.non_form_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                            {% for error in provider_service_type_formset.non_form_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for message in messages %}
                    <div class="alert alert-dismissable
                                                   {% if message.tags == 'error' %}
                                                        alert-danger
                                                   {% elif message.tags == 'success' %}
                                                       alert-success
                                                   {% elif message.tags == 'warning' %}
                                                       alert-warning
                                                   {% endif %}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                <form id="main_form" method="post" action="">
                    {% csrf_token %}
                    <input class="bt-save button" value="{% trans 'Save Information' %}" type="submit" />
                    <div class="identity">
                        <div class="thumb">
                            <span>{% trans "Profile Photo" %}</span>
                            <div id="current_avatar" class="dropzone-previews">
                                {% if user.userpersonal.avatar %}
                                    <img src="{{ user.userpersonal.avatar.size100x100.url }}" alt="{{ provider.display_name }}" />
                                {% else %}
                                    <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="{{ provider.display_name }}" />
                                {% endif %}
                            </div>
                            <div id="preview-avatar"></div>
                            <div id="preview-template" style="display: none;">
                                <div class="dz-preview dz-file-preview">
                                    <div class="dz-details">
                                        <!--<div class="dz-filename"><span data-dz-name></span></div>
                                        <div class="dz-size" data-dz-size></div> -->
                                        <img data-dz-thumbnail />
                                    </div>
                                    <!--<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>-->
                                    <!--<div class="dz-success-mark"><span>✔</span></div>
                                    <div class="dz-error-mark"><span>✘</span></div>-->
                                    <!--<div class="dz-error-message"><span data-dz-errormessage></span></div> -->
                                </div>
                            </div>
                            <a id="upload-container" href="#" onclick="javascript: return false;">Change</a>
                        </div>
                        <div class="data">
                            <div class="field error-element{% if user_form.name.errors  %} has-error{% endif %}">
                                <label for="{{ user_form.name.id_for_label }}">{{ user_form.name.label }}</label>
                                {{ user_form.name }} {{ user_form.name.errors }}
                            </div>
                            <div class="field error-element{% if user_form.email.errors or 'email_validated' not in request.session %} has-error{% endif %}">
                                <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                                {{ user_form.email }} <div style="margin-left: 124px;">{{ user_form.email.errors }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="language extra-field error-element{% if user_form.preferred_language.errors  %} has-error{% endif %}">
                        <label for="{{ user_form.preferred_language.id_for_label }}">{{ user_form.preferred_language.label }}</label>
                        {{ user_form.preferred_language }} {{ user_form.preferred_language.errors }}
                    </div>
                
                    <div class="language extra-field error-element{% if user_form.preferred_timezone.errors  %} has-error{% endif %}">
                        <label for="{{ user_form.preferred_timezone.id_for_label }}">{{ user_form.preferred_timezone.label }}</label>
                        {{ user_form.preferred_timezone }} {{ user_form.preferred_timezone.errors }}
                    </div>

                    {% if provider %}
                        <div class="display-name extra-field error-element{% if provider_form.display_name.errors  %} has-error{% endif %}">
                            <label for="{{ provider_form.display_name.id_for_label }}">{{ provider_form.display_name.label }}</label>
                            {{ provider_form.display_name }} {{ provider_form.display_name.errors }}
                        </div>
                        <div class="headline extra-field error-element{% if provider_form.headline.errors  %} has-error{% endif %}">
                            <label for="{{ provider_form.headline.id_for_label }}">{{ provider_form.headline.label }}</label>
                            {{ provider_form.headline }} {{ provider_form.headline.errors }}
                        </div>
                        <div class="summary error-element{% if provider_form.description.errors  %} has-error{% endif %}">
                            <span>{% trans "Summary" %}</span>
                            {{ provider_form.description }} {{ provider_form.description.errors }}
                        </div>
                        <div class="services">
                            <h2 class="title">{% trans "Services Setup" %}</h2>
                            <div class="supported-countries">
                                <span class="subtitle">{% trans "Supported countries:" %}</span>
                                {{ provider_country_formset.management_form }}
                                {% for provider_country_form in provider_country_formset %}
                                    <div class="field error-element{% if provider_country_form.country.errors %} has-error{% endif %}">
                                        {{ provider_country_form.id }}
                                        {{ provider_country_form.DELETE }}
                                        {{ provider_country_form.country }}
                                        {{ provider_country_form.country.errors }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="supported-services">
                                <span class="subtitle">Supported Services:</span>
                                <ul>
                                    {{ provider_service_type_formset.management_form }}
                                    {% for provider_service_type_form in provider_service_type_formset %}
                                        <li class="services-list error-element{% if provider_service_type_form.service_type.errors or provider_service_type_form.price.errors %} has-error{% endif %}">
                                            {{ provider_service_type_form.id }}
                                            {{ provider_service_type_form.DELETE }}
                                            {{ provider_service_type_form.service_type }}
                                            &nbsp;&nbsp;&nbsp;R$&nbsp;{{ provider_service_type_form.price }}
                                            {{ provider_service_type_form.service_type.errors }}
                                            {{ provider_service_type_form.price.errors }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <input class="bt-save button" value="{% trans 'Save Information' %}" type="submit" />

                    <div style="margin-bottom: 30px;"></div>

                </form>

            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/dropzone/js/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-formset/js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/auto-numeric/js/autoNumeric.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        $( document ).ready( function() {

            // JS FORM Validation
            $( "#main_form" ).submit( function() {
                return validate_empty_fields( this, 'id_name,id_email' );
            });

            // Formsets
            $( '#main_form div.supported-countries div.field' ).formset({
                prefix: '{{ provider_country_formset.prefix }}',
                formCssClass: 'countries-form',
                addCssClass: 'add-another',
                deleteCssClass: 'remove',
                addText: '{% trans "+ Add another" %}',
                deleteText: '[remove]',
                added: function( row ){
                    row.find( "select").val( '' );
                }
            });
            $( '#main_form div.supported-services li.services-list' ).formset({
                prefix: '{{ provider_service_type_formset.prefix }}',
                formCssClass: 'services-form',
                addCssClass: 'add-another',
                deleteCssClass: 'remove',
                addText: '{% trans "+ Add another" %}',
                deleteText: '[remove]',
                added: function( row ){
                    row.find( "select" ).val( '' );
                    row.find( "input" ).val( '' );
                    row.find( "input.price" ).autoNumeric(
                        'init',
                        { aSep: '', aDec: '.' }
                    );
                }
            });

            // format currency
            $( "input.price" ).autoNumeric(
                'init',
                { aSep: '', aDec: '.' }
            );

            // get cookie (used to get the CSRF protection cookie)
            function get_cookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // Dropzone upload
            var myDropzone = new Dropzone( "#upload-container", {
                url: '{% url 'site:upload_avatar' %}',
                uploadMultiple: false,
                previewsContainer: '#preview-avatar',
                thumbnailWidth: 100,
                thumbnailHeight: 100,
                acceptedFiles: 'image/*',
                previewTemplate: $( '#preview-template' ).html(),
                params: { 'csrfmiddlewaretoken': get_cookie('csrftoken') }
            });


            // hide old thumbnails
            myDropzone.on( "thumbnail", function( file, dataUrl ) {
                $( "#current_avatar" ).hide();
                if ( $( "#preview-avatar div.dz-preview").length > 1 ){
                    $( "#preview-avatar div.dz-preview:first").remove();
                }
            });




        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}