{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}
{% load tz %}

{% block head %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/tooltipster.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/themes/tooltipster-wannamigrate.css"%}" />

{% endblock head %}

{% block content %}

    <div class="content myaccount">
        <h2 class="title">{% trans 'My Account' %}</h2>
        <div class="interactions">
            {% include "site/_common/my_account_menu.html" with account_menu_selected=True %}
            <div class="my-profile">


                {% include "site/_common/status.html" %}

                <a href="{% url 'site:edit_account' %}" class="bt-edit button">{% trans "Edit Information" %}</a>

                <div class="identity">
                    <div class="thumb">
                        <span>{% trans 'Profile photo' %}</span>
                        {% if user.userpersonal.avatar %}
                            <img src="{{ user.userpersonal.avatar.size100x100.url }}" alt="{{ provider.display_name }}" />
                        {% else %}
                            <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="{{ provider.display_name }}" />
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{% trans 'Your Name' %}</span>
                        <strong class="name">{{ user.name }}</strong>
                        <span>E-mail</span>
                        <strong class="email">{{ user.email }}</strong>
                    </div>
                </div>

                <div class="password extra-field">
                    <span>{% trans 'Password' %}</span>
                    <p class="text"><a href="{% url 'site:edit_password' %}">{% trans 'Change Password' %}</a> </p>
                </div>

                <div class="language extra-field">
                    <span>{% trans 'Language' %}</span>
                    <p class="text">{{ user.preferred_language }}</p>
                </div>

                <div class="language extra-field">
                    <span>{% trans 'Timezone' %}</span>
                    <p class="text">{{ user.preferred_timezone }}</p>
                </div>

                {% if provider %}
                    <div class="display-name extra-field">
                        <span>{% trans 'Display Name' %}</span>
                        <p class="text">{{ provider.display_name }}</p>
                    </div>
                    <div class="headline extra-field">
                        <span>{% trans 'Headline' %}</span>
                        <p class="text">{{ provider.headline }}</p>
                    </div>
                    <div class="summary">
                        <span>{% trans 'Summary' %}</span>
                        <p class="text">{{ provider.description|truncatechars:380 }}</p>
                    </div>
                    <div class="services">
                        <h2 class="title">{% trans 'Services Setup' %}</h2>
                        <div class="supported-countries">
                            <span class="subtitle">{% trans 'Supported countries' %}:</span>
                            {% for country in provider.countries.all %}
                                <p><i class="flag {{ country.code|lower }}"></i><strong class="country">{% trans country.name %}</strong></p>
                            {% endfor %}
                        </div>
                        <div class="supported-services">
                            <span class="subtitle">{% trans 'Supported services' %}:</span>
                            <ul>
                                {% for provider_service_type in provider_service_types %}
                                    <li class="services-list tooltip" title="{% trans provider_service_type.service_type.description %}">
                                        <strong>{% trans provider_service_type.service_type.name %}</strong><span>R$ {{ provider_service_type.price }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <script type="text/javascript" src="{% static 'common/jquery-tooltipster/js/jquery.tooltipster.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // Activate tooltips
            $( '.tooltip' ).tooltipster( {
                maxWidth: 300,
                position: 'right',
                theme: 'tooltipster-wannamigrate',
                touchDevices: false
            });

        });

    </script>

{% endblock scripts %}