{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="content extra-tools">
        <h2 class="title">{% trans 'Immi Box' context 'Page Title' %}</h2>
        <div class="tools">

            {% include "site/_common/status.html" %}

            <div class="tool ebooks">
                <a href="{% url 'marketplace:ebook' %}">
                    <img src="{% static 'site/img/tool-ebooks.jpg' %}" alt="{% trans 'immigration guides' %}" />
                    <h3 class="title-tool">{% trans 'Immigration Guide' %} - {% trans request.session.situation.to_country.name %}</h3>
                    <p class="text">{% trans 'All you need to start and execute your immigration plan.' %}</p>
                </a>
            </div>
            <div class="tool calculator">
                <a href="{% url 'points:dashboard' %}">
                    <img src="{% static 'site/img/tool-imigration-calculator.jpg' %}" alt="{% trans 'immigration calculator' %}" />
                    <h3 class="title-tool">{% trans 'Immigration Points Calculator' %}</h3>
                    <p class="text">{% trans 'Find out if you qualify for a visa to work and live in Canada, Australia and New Zealand.' %}</p>
                </a>
            </div>
            <div class="tool unavailable international-cv">
                <img src="{% static 'site/img/tool-international-cv.jpg' %}" alt="{% trans 'package international cv' %}" />
                <h3 class="title-tool">{% trans 'Build you CV for' %} {% trans request.session.situation.to_country.name %}</h3>
                <p class="text">{% trans 'We help you with all the resources to start talking to international employers. CV, Cover letter, Linkedin, website...' %}</p>
            </div>
            <div class="tool unavailable templates">
                <img src="{% static 'site/img/tool-templates.jpg' %}" alt="{% trans 'Templates for immigration documents' %}" />
                <h3 class="title-tool">{% trans 'Templates for Visa Application' %}</h3>
                <p class="text">{% trans 'Templates for employment letters, business plan, proof of funds, etc...' %}</p>
            </div>
            <div class="tool unavailable services">
                <img src="{% static 'site/img/tool-services.jpg' %}" alt="{% trans 'Discounts for third party services' %}" />
                <h3 class="title-tool">{% trans 'Discounts - 3rd Party Services' %}</h3>
                <p class="text">10%-15% {% trans 'off for immigration consultants, IELTS courses, translators, etc...' %}</p>
            </div>
            <div class="tool unavailable english">
                <img src="{% static 'site/img/tool-english.jpg' %}" alt="{% trans 'English Evaluation' %}" />
                <h3 class="title-tool">{% trans 'English Evaluation' %}</h3>
                <p class="text">{% trans 'Answer some questions and test your English level.' %}</p>
            </div>

        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {



        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}