{% extends "_layouts/admin.html" %}
{% load staticfiles %}
{% load string_extras %}

{% block head %}

    {{ block.super }}
            
{% endblock head %}


{% block content %}
            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">
                        BlogPosts
                        <!--a href="{% url 'admin:qa:add_post' %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i>
                            Add New
                        </a-->
                    </h1>
                </div>
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                
                <div class="col-lg-12">
                
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            List of all posts
                        </div>
                        
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="datatable_data">
                                    
                                    <thead>
                                        <tr>
                                            <th><a href="?order_by={% if order_by != 'id' %}id{% else %}-id{% endif %}&page={{ blogposts.number }}">ID #</a></th>
                                            <th><a href="?order_by={% if order_by != 'title' %}title{% else %}-title{% endif %}&page={{ blogposts.number }}">Title</a></th>
                                            <th><a href="?order_by={% if order_by != 'language__name' %}language__name{% else %}-language__name{% endif %}&page={{ blogposts.number }}">Language</a></th>
                                            <th><a href="?order_by={% if order_by != 'is_anonymous' %}is_anonymous{% else %}-is_anonymous{% endif %}&page={{ blogposts.number }}">Is Anonymous?</a></th>
                                            <th><a href="?order_by={% if order_by != 'created_date' %}created_date{% else %}-created_date{% endif %}&page={{ blogposts.number }}">Created in</a></th>
                                            <th aria-label="" style="width: 91px;" colspan="1" rowspan="1" class="sorting_disabled"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for blogpost in blogposts %}
                                            <tr>
                                                <td>{{ blogpost.id }}</td>
                                                <td>{{ blogpost.title }}</td>
                                                <td>{{ blogpost.language.name }}</td>
                                                <td>{{ blogpost.is_anonymous|yes_or_no }}</td>
                                                <td>{{ blogpost.created_date }}</td>
                                                <td>
                                                    <div class="btn-group btn-group-xs">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-cog"></i>
                                                            <i class="fa fa-caret-down"></i>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu left" role="menu">
                                                            <li><a href="{% url 'admin:qa:view_blogpost' blogpost.id %}" class=""><i class="fa fa-search"></i>View Details</a></li>
                                                            <li><a href="{% url 'admin:qa:edit_blogpost' blogpost.id %}" class=""><i class="fa fa-edit"></i>Edit Data</a></li>
                                                            <li><a href="#" onclick="javascript: confirm_delete( '{% url 'admin:qa:delete_blogpost' blogpost.id %}'); "><i class="fa fa-trash-o"></i>Remove</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">(Empty)</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if blogposts.has_previous %}
                        <a href="?order_by={{ order_by }}&page={{ blogposts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ blogposts.number }} of {{ blogposts.paginator.num_pages }}.
                    </span>

                    {% if blogposts.has_next %}
                        <a href="?order_by={{ order_by }}&page={{ blogposts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
{% endblock content %}