{% extends "_layouts/admin.html" %}
{% load staticfiles %}
{% load string_extras %}

{% block content %}

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{ member.user.get_full_name }}</h1>
        </div>

    </div>

    {% include "admin/_common/status.html" %}

    {% if subscription %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading bold">
                    Subscription
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Subscription:</dt>
                                    <dd><a href="{% url 'admin:subscription:details' subscription.id %}">#{{ subscription.id }}</a></dd>
                                </dl>
                            </div>
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd>{{ subscription.subscription_status.name|status_colour|safe }}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Created Date:</dt>
                                    <dd>{{ subscription.created_date|date:"d/m/Y P" }}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Last Billed At:</dt>
                                    <dd>{{ subscription.last_billed_date|date:"d/m/Y P" }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% include "admin/_common/details.html" with model=user partial=True %}

    {% include "admin/_common/details.html" with model=member partial=True %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading bold">
                    Orders
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            {% regroup order_items by order as order_list %}

                            {% for group in order_list %}
                                {% with order=group.grouper %}

                                    <div class="col-lg-12">
                                        <dl class="dl-horizontal">
                                            <dt>{{ order.created_date|date:"d/m/Y P" }}</dt>
                                            <dd>
                                                <a href="{% url 'admin:order:details' order.id %}">
                                                    #{{ order.id }}
                                                </a>
                                                - ${{ order.net_total }} - {{ order.order_status.name|status_colour|default:'--'|safe }}
                                                <ul>
                                                    {% for order_item in group.list %}
                                                        <li>
                                                            {{ order_item.quantity_ordered }}x {{ order_item.product_name}}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </dd>
                                        </dl>
                                    </div>

                                {% endwith %}
                            {% empty %}
                                --
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center buttons">
            <a href="{{ urls.back }}" class="btn btn-default"><i class="fa fa-arrow-left"></i>Go Back</a>
            <a href="{{ urls.edit }}" class="btn btn-default"><i class="fa fa-edit"></i>Edit Data</a>
            <a href="#" onclick="confirm_delete( '{{ urls.delete }}' )" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
            <a href="{{ urls.add }}" class="btn btn-primary"><i class="fa fa-plus"></i>Add New</a>
        </div>
    </div>

{% endblock content %}
