{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block content %}

    <div class="content home">

        {% if 'situation' in request.session and 'from_country' in request.session.situation %}

            <a class="bt-alternator"></a>
            <section class="questions home-questions show">
                <div class="top">
                    <h2 class="title">{% trans "Questions" %}</h2>
                    <a href="{% url 'qa:add_question' %}" class="bt-add button">{% trans "Add Question" context 'Button' %}</a>
                </div>

                <div class="content-questions">
                    {% for question in questions %}
                        <div class="question category">
                            <div class="tags">
                                <ul class="tags-list">
                                    {% for topic in question.related_topics.all %}
                                        <li class="tag"><a href="{% url "qa:view_topic" topic.slug %}" class="tag-link active">{% trans topic.name %}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="data-question">
                                <a href="{% url "qa:view_question" question.slug %}">

                                    <h3 class="title-question">{{ question.title }}</h3>
                                    {% with question.answers.all|first as first_answer %}
                                        {% if first_answer.body %}
                                        <p class="answer">
                                            {% autoescape off %}
                                                {{ first_answer.body|striptags|truncate_smart:250 }}
                                            {% endautoescape %}
                                        </p>
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </div>
                            <div class="data">
                                <ul class="data-list">
                                    <li class="data-item">
                                        {% include "qa/buttons/toggle_follow.html" with obj=question %}
                                    </li>
                                    <li class="data-item"><span class="data-link answers"><strong>{{ question.total_answers|kmi }}</strong> {% trans "answers" %}</span></li>
                                    <li class="data-item"><span class="data-link viewers"><strong>{{ question.total_views|kmi }}</strong> {% trans "views" %}</span></li>
                                    <li class="data-item">{% trans "Last activity in" %} <strong>{{ question.last_activity_date|date:"b d" }}</strong></li>
                                </ul>
                            </div>
                            <div class="box-options">
                                <ul class="box">
                                    <li><a class="bt-share" href="{% url "qa:view_question" question.slug %}">{% trans "View" %}</a></li>
                                    <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
                                </ul>
                            </div>
                            <a href="#" class="bt-options">{% trans "Options" %}</a>
                        </div>
                    {% empty %}
                        <p class="no-content">{% trans "No content found" %}</p>
                    {% endfor %}

                    <a href="{% url "qa:list_questions" %}" id="bt-view-more-posts" class="bt-view-more button-transparent">{% trans "View More" %}</a>
                    <a href="{% url "qa:add_question" %}" class="bt-add-mobile button">{% trans "Add Question" context 'button' %}</a>
                </div>
            </section>
            <section class="professionals home-professionals">
            <div class="top">
                <h2 class="title">{% trans 'Professionals' %}</h2>
            </div>
            <div class="content-professionals">

                {% for provider in providers.all %}

                    {% url 'marketplace:profile' provider.user_id provider.display_name|slugify as view_professional_url %}

                    <div class="professional category">
                        <div class="thumb">
                            <a class="contract" href="{{ view_professional_url }}">
                                {% if provider.user.userpersonal.avatar %}
                                    <img src="{{ provider.user.userpersonal.avatar.size100x100.url }}" alt="{{ provider.display_name }}" />
                                {% else %}
                                    <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="{{ provider.display_name }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="data-professional">
                            <a class="contract" href="{{ view_professional_url }}">
                                <strong class="name">{{ provider.display_name }}</strong>
                                <p class="expert">{{ provider.headline }}</p>
                            </a>
                            <div class="rate" data-score="{{ provider.review_score }}">
                                <span class="count">({{ provider.user.userstats.total_reviews|kmi }})</span>
                            </div>
                            <div class="service">
                                <p class="truncate-line">
                                    {% for service_type in provider.service_types.all %}
                                        {% ifchanged %}{% trans service_type.service_type_category.name %} /{% endifchanged %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="data">
                                <ul class="data-list">
                                    <li class="data-item data-item-answers"><a href="{{ view_professional_url }}#answers" class="data-link answers"><strong>{{ provider.user.userstats.total_answers|kmi }}</strong> {% trans "answers" %}</a></li>
                                    <li class="data-item data-item-viewers"><a href="{{ view_professional_url }}" class="data-link viewers"><strong>{{ provider.user.userstats.total_profile_views|kmi }}</strong> {% trans "views" %}</a></li>
                                    <li class="data-item data-item-since">{% trans "Joined" %} <strong>{{ provider.user.created_date|date:"M Y"|lower }}</strong></li>
                                </ul>
                            </div>
                            <a href="#" class="bt-options">{% trans "Options" %}</a>
                            <div class="box-options">
                                <ul class="box">
                                    <li><a class="bt-share" href="{{ view_professional_url }}">{% trans "View" %}</a></li>
                                    <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <a href="{% url 'marketplace:professionals' %}" class="bt-view-more button-transparent">{% trans 'View More' %}</a>
        </section>

        {% endif %}
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // XToggleButton Handler
            $( document ).on( "click", ".x-toggle-button", { redirect_url : "{% url "site:login" %}" }, onXToggleButtonClicked );

            // Create review stars of professional
            $( '.rate' ).raty({
                starOff : '{% static 'site/img/star-off.png' %}',
                starOn  : '{% static 'site/img/star-on.png' %}',
                readOnly: true,
                score: function() {
                    return $( this ).attr( 'data-score' );
                }
            });

            // create read more or less on long texts
            $( '.truncate-line' ).trunk8({
                fill: '&hellip; <a class="more-services read-more" href="#">{% trans "see more" %}</a>'
            });
            $( '.read-more' ).on( 'click', function() {
              $( this ).parent().trunk8('revert');
              return false;
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}