{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block body %}
    <body class="dashboard full">
{% endblock body %}

{% block content %}

    <div class="content home">

        {% if 'situation' in request.session and 'from_country' in request.session.situation %}

            <section class="questions home-questions show">
                <div class="top">
                    <h2 class="title">{% trans "Questions" %}</h2>
                    <a href="{% url 'qa:add_question' %}" class="bt-add button">{% trans "Add Question" context 'Button' %}</a>
                </div>

                <div class="content-questions">
                    {% for question in questions %}
                        <div class="question category">
                            <div class="tags">
                                <ul class="tags-list">
                                    {% for topic in question.related_topics.all %}
                                        <li class="tag"><a href="{% url "qa:view_topic" topic.slug %}" class="tag-link active">{% trans topic.name %}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="data-question">
                                <a href="{% url "qa:view_question" question.slug %}">

                                    <h3 class="title-question">{{ question.title }}</h3>
                                    {% with question.answers.all|first as first_answer %}
                                        {% if first_answer.body %}
                                        <p class="answer">
                                            {% autoescape off %}
                                                {{ first_answer.body|striptags|truncate_smart:250 }}
                                            {% endautoescape %}
                                        </p>
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </div>
                            <div class="data">
                                <ul class="data-list">
                                    <li class="data-item">
                                        {% include "qa/buttons/toggle_follow.html" with obj=question %}
                                    </li>
                                    <li class="data-item"><span class="data-link answers"><strong>{{ question.total_answers|kmi }}</strong> {% trans "answers" %}</span></li>
                                    <li class="data-item"><span class="data-link viewers"><strong>{{ question.total_views|kmi }}</strong> {% trans "views" %}</span></li>
                                    <li class="data-item">{% trans "Last activity in" %} <strong>{{ question.last_activity_date|date:"b d" }}</strong></li>
                                </ul>
                            </div>
                            <div class="box-options">
                                <ul class="box">
                                    <li><a class="bt-share" href="{% url "qa:view_question" question.slug %}">{% trans "View" %}</a></li>
                                    <li><a class="bt-share" href="{% url 'site:contact' %}">{% trans "Report" %}</a></li>
                                </ul>
                            </div>
                            <a href="#" class="bt-options">{% trans "Options" %}</a>
                        </div>
                    {% empty %}
                        <p class="no-content">{% trans "No content found" %}</p>
                    {% endfor %}

                    <a href="{% url "qa:list_questions" %}" id="bt-view-more-posts" class="bt-view-more button-transparent">{% trans "View More" %}</a>
                    <a href="{% url "qa:add_question" %}" class="bt-add-mobile button">{% trans "Add Question" context 'button' %}</a>
                </div>
            </section>

        {% endif %}
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- JS REQUIRED BY THIS PAGE -->
    <script type="text/javascript" src="{% static 'common/trunk8/js/trunk8.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/questions_answers.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // XToggleButton Handler
            $( document ).on( "click", ".x-toggle-button", { redirect_url : "{% url "site:login" %}" }, onXToggleButtonClicked );

            // Create review stars of professional
            $( '.rate' ).raty({
                starOff : '{% static 'site/img/star-off.png' %}',
                starOn  : '{% static 'site/img/star-on.png' %}',
                readOnly: true,
                score: function() {
                    return $( this ).attr( 'data-score' );
                }
            });

            // create read more or less on long texts
            $( '.truncate-line' ).trunk8({
                fill: '&hellip; <a class="more-services read-more" href="#">{% trans "see more" %}</a>'
            });
            $( '.read-more' ).on( 'click', function() {
              $( this ).parent().trunk8( 'revert' );
              return false;
            });

        });

    </script>

{% endblock scripts %}