{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="content home">
        <a class="bt-alternator"></a>
        <section class="questions show">
            <div class="top">
                <h2 class="title">{% trans "Questions" %}</h2>
                <a href="#" class="bt-add button">{% trans "Add Question" %}</a>
            </div>

            <div class="content-questions">
                <div class="question">
                    <div class="tags">
                        <ul class="tags-list">
                            <li class="tag"><a href="#" class="tag-link active">Brazil</a></li>
                            <li class="tag"><a href="#" class="tag-link">Move definitely</a></li>
                        </ul>
                    </div>
                    <div class="data-question">
                        <a href="#">
                            <h3 class="title-question">What is a step-by-step guide do migrate to Canada?</h3>
                            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque porta sagittis lectus vitae vestibulum. Ut congue nisl vel fringilla eleifend. Suspendisse ex nisl.</p>
                        </a>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item"><a href="#" class="data-link bt-follow">{% trans "Follow" %} <span>898</span></a></li>
                            <li class="data-item"><a href="#" class="data-link answers"><strong>88</strong> {% trans "answers" %}</a></li>
                            <li class="data-item"><a href="#" class="data-link viewers"><strong>550</strong> {% trans "viewers" %}</a></li>
                            <li class="data-item">{% trans "Last activite in" %} <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <div class="box-options">
                        <i class="shadow"></i>
                        <ul class="box">
                            <li><a class="bt-share" href="#">{% trans "Share" %}</a></li>
                            <li><a class="bt-report" href="#">{% trans "Report" %}</a></li>
                            <li><a class="bt-cancel" href="#">{% trans "Cancel" %}</a></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">{% trans "Options" %}</a>
                </div>
                <div class="question">
                    <div class="tags">
                        <ul class="tags-list">
                            <li class="tag"><a href="#" class="tag-link active">Brazil</a></li>
                            <li class="tag"><a href="#" class="tag-link">Move definitely</a></li>
                        </ul>
                    </div>
                    <div class="data-question">
                        <a href="#">
                            <h3 class="title-question">What is a step-by-step guide do migrate to Canada?</h3>
                            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque porta sagittis lectus vitae vestibulum. Ut congue nisl vel fringilla eleifend. Suspendisse ex nisl.</p>
                        </a>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item"><a href="#" class="data-link bt-follow">{% trans "Follow" %} <span>898</span></a></li>
                            <li class="data-item"><a href="#" class="data-link answers"><strong>88</strong> {% trans "answers" %}</a></li>
                            <li class="data-item"><a href="#" class="data-link viewers"><strong>550</strong> {% trans "viewers" %}</a></li>
                            <li class="data-item">{% trans "Last activite in" %} <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <div class="box-options">
                        <i class="shadow"></i>
                        <ul class="box">
                            <li><a class="bt-share" href="#">{% trans "Share" %}</a></li>
                            <li><a class="bt-report" href="#">{% trans "Report" %}</a></li>
                            <li><a class="bt-cancel" href="#">{% trans "Cancel" %}</a></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">{% trans "Options" %}</a>
                </div>
                <div class="question">
                    <div class="tags">
                        <ul class="tags-list">
                            <li class="tag"><a href="#" class="tag-link active">Brazil</a></li>
                            <li class="tag"><a href="#" class="tag-link">Move definitely</a></li>
                        </ul>
                    </div>
                    <div class="data-question">
                        <a href="#">
                            <h3 class="title-question">What is a step-by-step guide do migrate to Canada?</h3>
                            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque porta sagittis lectus vitae vestibulum. Ut congue nisl vel fringilla eleifend. Suspendisse ex nisl.</p>
                        </a>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item"><a href="#" class="data-link bt-follow">{% trans "Follow" %} <span>898</span></a></li>
                            <li class="data-item"><a href="#" class="data-link answers"><strong>88</strong> {% trans "answers" %}</a></li>
                            <li class="data-item"><a href="#" class="data-link viewers"><strong>550</strong> {% trans "viewers" %}</a></li>
                            <li class="data-item">{% trans "Last activite in" %} <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <div class="box-options">
                        <i class="shadow"></i>
                        <ul class="box">
                            <li><a class="bt-share" href="#">{% trans "Share" %}</a></li>
                            <li><a class="bt-report" href="#">{% trans "Report" %}</a></li>
                            <li><a class="bt-cancel" href="#">{% trans "Cancel" %}</a></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">{% trans "Options" %}</a>
                </div>
                <div class="question">
                    <div class="tags">
                        <ul class="tags-list">
                            <li class="tag"><a href="#" class="tag-link active">Brazil</a></li>
                            <li class="tag"><a href="#" class="tag-link">Move definitely</a></li>
                        </ul>
                    </div>
                    <div class="data-question">
                        <a href="#">
                            <h3 class="title-question">What is a step-by-step guide do migrate to Canada?</h3>
                            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque porta sagittis lectus vitae vestibulum. Ut congue nisl vel fringilla eleifend. Suspendisse ex nisl.</p>
                        </a>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item"><a href="#" class="data-link bt-follow">{% trans "Follow" %} <span>898</span></a></li>
                            <li class="data-item"><a href="#" class="data-link answers"><strong>88</strong> {% trans "answers" %}</a></li>
                            <li class="data-item"><a href="#" class="data-link viewers"><strong>550</strong> {% trans "viewers" %}</a></li>
                            <li class="data-item">{% trans "Last activite in" %} <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <div class="box-options">
                        <i class="shadow"></i>
                        <ul class="box">
                            <li><a class="bt-share" href="#">{% trans "Share" %}</a></li>
                            <li><a class="bt-report" href="#">{% trans "Report" %}</a></li>
                            <li><a class="bt-cancel" href="#">{% trans "Cancel" %}</a></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">{% trans "Options" %}</a>
                </div>
                <a href="#" class="bt-view-more button-transparent">{% trans "View More" %}</a>
                <a href="#" class="bt-add-mobile button">{% trans "Add Question" %}</a>
            </div>
        </section>
        <section class="professionals">
            <div class="top">
                <h2 class="title">Professionals</h2>
            </div>
            <div class="content-professionals">
                <div class="professional">
                    <div class="thumb">
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="" />
                    </div>
                    <div class="data-professional">
                        <strong class="name">Humberto Martins</strong>
                        <p class="expert">Canadian Immigration Especialist</p>
                        <div id="default" class="rate">
                            <span class="count">(900)</span>
                        </div>
                        <div class="service">
                            <p>Visa Elegibility, Skype interview and <a class="more-services" href="#">More 4</a></p>
                        </div>
                        <div class="data">
                            <ul class="data-list">
                                <li class="data-item data-item-answers"><a href="#" class="data-link answers"><strong>88</strong> answers</a></li>
                                <li class="data-item data-item-viewers"><a href="#" class="data-link viewers"><strong>550</strong> viewers</a></li>
                                <li class="data-item data-item-since">Since <strong>Jan 15</strong></li>
                            </ul>
                        </div>
                        <a href="#" class="bt-options">Options</a>
                    </div>
                </div>
                <div class="professional">
                    <div class="thumb">
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="" />
                    </div>
                    <div class="data-professional">
                        <strong class="name">Humberto Martins</strong>
                        <p class="expert">Canadian Immigration Especialist</p>
                        <div class="rate">
                            <span class="count">(900)</span>
                        </div>
                        <div class="service">
                            <p>Visa Elegibility, Skype interview and <a class="more-services" href="#">More 4</a></p>
                        </div>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item data-item-answers"><a href="#" class="data-link answers"><strong>88</strong> answers</a></li>
                            <li class="data-item data-item-viewers"><a href="#" class="data-link viewers"><strong>550</strong> viewers</a></li>
                            <li class="data-item data-item-since">Since <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">Options</a>
                    <div class="box-options">
                        <i class="shadow"></i>
                        <ul class="box">
                            <li><a class="bt-share" href="#">Share</a></li>
                            <li><a class="bt-report" href="#">Report</a></li>
                            <li><a class="bt-cancel" href="#">Cancel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="professional">
                    <div class="thumb">
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="" />
                    </div>
                    <div class="data-professional">
                        <strong class="name">Humberto Martins</strong>
                        <p class="expert">Canadian Immigration Especialist</p>
                        <div class="rate">
                            <span class="count">(900)</span>
                        </div>
                        <div class="service">
                            <p>Visa Elegibility, Skype interview and <a class="more-services" href="#">More 4</a></p>
                        </div>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item data-item-answers"><a href="#" class="data-link answers"><strong>88</strong> answers</a></li>
                            <li class="data-item data-item-viewers"><a href="#" class="data-link viewers"><strong>550</strong> viewers</a></li>
                            <li class="data-item data-item-since">Since <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">Options</a>
                </div>
                <div class="professional">
                    <div class="thumb">
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="" />
                    </div>
                    <div class="data-professional">
                        <strong class="name">Humberto Martins</strong>
                        <p class="expert">Canadian Immigration Especialist</p>
                        <div class="rate">
                            <span class="count">(900)</span>
                        </div>
                        <div class="service">
                            <p>Visa Elegibility, Skype interview and <a class="more-services" href="#">More 4</a></p>
                        </div>
                    </div>
                    <div class="data">
                        <ul class="data-list">
                            <li class="data-item data-item-answers"><a href="#" class="data-link answers"><strong>88</strong> answers</a></li>
                            <li class="data-item data-item-viewers"><a href="#" class="data-link viewers"><strong>550</strong> viewers</a></li>
                            <li class="data-item data-item-since">Since <strong>Jan 15</strong></li>
                        </ul>
                    </div>
                    <a href="#" class="bt-options">Options</a>
                </div>
            </div>
            <a href="#" class="bt-view-more button-transparent">View More</a>
        </section>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            $( ".custom-select" ).msDropdown();

            $( '.rate' ).raty({
                starOff : '{% static 'site/img/star-off.png' %}',
                starOn  : '{% static 'site/img/star-on.png' %}'
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}