{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

{% endblock head %}


{% block content %}
<div class="formBox fullWidth" style="margin-top:0;">
        <div id="update" class="updateFix">
            <h2>{% trans "My Account" %}</h2>
            <p>{% trans "Edit your account settings." %}</p>
        </div>

        <form class="takeMeAwayFromTheTop100px" method="post" id="main_form" action="">

            {% csrf_token %}

            {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <ul>
                        <li><strong>{% trans "Errors Found!" %}</strong></li>
                        {% for error in user_form.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="{% if user_form.name.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_form.name.label }}:</strong> &nbsp;</span>
                <div>
                    {{ user_form.name }}
                </div>
                {{ user_form.name.errors }}
            </div>

            <div class="clear break10"></div>
            <div class="break10"></div>

            <div class="{% if user_form.email.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_form.email.label }}:</strong> &nbsp;</span>
                <div>
                    {{ user_form.email }}
                </div>
                {{ user_form.email.errors }}
            </div>

        </form>
    </div>


{% endblock content %}