{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- JQuery UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/js/jquery-ui/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static "site/js/jquery-ui/jquery-ui.min.js" %}"></script>

    <!-- Bootstratp -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/js/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static "site/js/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

    </script>

{% endblock head %}


{% block content %}

    <div style="width: 800px;">

        <h1>{% trans "Contact Us" %} </h1>

        {% if finished %}

            <div>
                {% trans "You have successfully sent your message." %}
                <br /><br />
                <a href="{% url 'site:home' %}">{% trans "Click Here to go back" %}k</a>
            </div>

        {% else %}


            {% include "site/layouts/status.html" %}

            <form method="post" action="">
                {% csrf_token %}

                <label class="" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}

                <br /><br />

                <label class="" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}

                <br /><br />

                <label class="" for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                {{ form.message }}
                {{ form.message.errors }}

                <input id="submit" type="submit" value="Submit" />

            </form>

        {% endif %}

    </div>

{% endblock content %}