{% load staticfiles %}
<htmL>
    <head>
        <head>

        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Wanna Migrate is the first immigration platform that allows the user to identify countries where he is allowed to live and work.">
        <meta name="keywords" content="wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada">
        <meta name="Title" content="Wanna Migrate - Work Anywhere, Live Anywhere">
        <meta name="Robots" content="all">
        <meta name="og:image" content="http://wannamigrate.com{% static "landing_page/imgs/logo_social.png" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wanna Migrate - Work Anywhere, Live Anywhere</title>

        <!-- CSS -->
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        <link media="only screen and (min-width: 320px)" rel="stylesheet" type="text/css" href="{% static "landing_page/css/main320.css" %}">
        <link media="only screen and (min-width: 800px)" rel="stylesheet" type="text/css" href="{% static "landing_page/css/main800.css" %}">
        <style type="text/css">
            @media screen and (min-width: 1920px)
            {
                body{ background-size: 100% 100%; }
            }
        </style>

        <!-- start Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7734790-20']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- end Google Analytics -->

        <!-- Javascript -->
        <script type="text/javascript" src="{% static "landing_page/js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "landing_page/js/jquery-ui-1.11.0.custom/jquery-ui.min.js" %}"></script>
        <!-- End Javascripts -->
    </head>

    <body>
        <div id="bg">
            <div id="logo"></div>
            <h1 id="title"><span>Live</span> abroad. <span>Change</span> your life.</h1>
            <form id="form_email" method="post">{% csrf_token %}
                <label id="message">Get in touch with us:</label>
                <div id="shake_wrapper">
                    {{ form.email }}
                    {{ form.message }}
                    <input id="submit" type="submit" value="" />
                </div>
            </form>
            <div id="social_container">
                <a href="https://www.facebook.com/wannamigrate" alt="Follow us on facebook" class="social facebook" target="_blank"></a>
                <a alt="Follow us on Twitter" href="https://twitter.com/wannamigrate" class="social twitter" target="_blank"></a>
                <a href="https://instagram.com/wannamigrate" alt="Follow us on Instagram" class="social insta" target="_blank"></a>
            </div>
        </div>
    </body>

</html>