{% extends "site/layouts/main.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'site/jquery-ui-1.11.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/bootstrap-3.2.0/css/bootstrap.min.css' %}">

{% endblock head %}


{% block content %}

    <div>
        <h1>Get in touch with us: </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.email }}
            {{ form.message }}
            <input id="submit" type="submit" value="Send" />
        </form>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            SIGN UP
        </button>
    </div>

    <div id="dialog">
        {% include "site/popups/signup.html" %}
    </div>
    <!-- JQuery UI -->
    <script type="text/javascript" src="{% static "site/jquery-ui-1.11.1/jquery-ui.min.js" %}"></script>
    <!-- ./JQuery UI -->

    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static "site/bootstrap-3.2.0/js/bootstrap.min.js" %}"></script>
    <!-- ./Bootstrap -->

    <!-- INLINE JS -->
    <script type="text/javascript">
        
    </script>
    <!-- ./INLINE JS -->

{% endblock content %}