{% extends "site/layouts/main.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'site/jquery-ui-1.11.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/bootstrap-3.2.0/css/bootstrap.min.css' %}">

{% endblock head %}


{% block content %}
    <h2>Dashboard</h2>    
    <h3> Hello, {{ user.email }} </h3>
    <a href="{% url 'site:logout' %}">Logout</a>


    <!-- JQuery UI -->
    <script type="text/javascript" src="{% static "site/jquery-ui-1.11.1/jquery-ui.min.js" %}"></script>
    <!-- ./JQuery UI -->

    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static "site/bootstrap-3.2.0/js/bootstrap.min.js" %}"></script>
    <!-- ./Bootstrap -->

    <!-- INLINE JS -->
    <script type="text/javascript">
        
    </script>
    <!-- ./INLINE JS -->

{% endblock content %}