{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'site/js/jquery.formset.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Hide/Show personal family overseas options
		 *
		 */
        function toggle_work_offer_container(){
            var radio_value = $( "input[name='work_offer']:checked" ).val();
            if ( radio_value == 'True' ) {
                $( "#user_work_offer_container" ).slideDown();
                if ( $( "#user_work_offer_container .dynamic-form" ).length == 0 ){
                    $( '#main_form #user_work_offer_container div.which-country' ).formset({
                        prefix: '{{ user_work_offer_formset.prefix }}',
                        addCssClass: 'addAnother',
                        deleteCssClass: 'closeBtn',
                        deleteText: ''
                    });
                }
            } else
                $( "#user_work_offer_container" ).slideUp();
        }

        /**
		 * Jquery On Load
		 *
		 */
		$( document ).ready(function() {

            // include CSRF protection on all ajax calls
            csrf_ajax_setup();

            //Submit form when navigating through action links
            $( ".submit-form" ).click( function() {

                // set next page by looking to the class name
                if ( $( this ).hasClass( "go-to-personal" ) ){
                    $( '#next').val( '{% url 'site:edit_personal' %}' );
                } else if ( $( this ).hasClass( "go-to-language" ) ){
                    $( '#next').val( '{% url 'site:edit_language' %}' );
                } else if ( $( this ).hasClass( "go-to-education" ) ){
                    $( '#next').val( '{% url 'site:edit_education' %}' );
                } else if ( $( this ).hasClass( "go-to-work" ) ){
                    $( '#next').val( '{% url 'site:edit_work' %}' );
                } else {
                    $( '#next').val( '{% url 'site:calculate_points' %}' );
                }

                // submit form
                $( '#main_form').submit();

			});

            // Load Formset for Work Experience
            $( '#main_form #user_work_experience_container div.which-country' ).formset({
                prefix: '{{ user_work_experience_formset.prefix }}',
                addCssClass: 'addAnother',
                deleteCssClass: 'closeBtn',
                deleteText: ''
            });
            
            //Hide/Show personal family overseas options
            $( 'input[name^=work_offer]' ).click( function(){
                toggle_work_offer_container();
            });
            toggle_work_offer_container()

            // Load occupations after category is selected
			$( "#id_occupation_category" ).change( function() {
				load_ajax_dropdown(
                        'id_occupation_category', 'id_occupation', '', '',
                        "{% url 'site:get_occupations_html' %}",
                        "{% static "site/img/loading.gif" %}"
                );

			});


            // font style for custom selects
            $( 'select' ).on( 'change', function ( e ) {
                $( this ).addClass( "selectChange" );
            });

			// JS for onload
			{{ on_load|default:'' }}

		});



    </script>

    <!-- INLINE CSS -->
    <style type="text/css">


    </style>

{% endblock head %}


{% block content %}

	<div class="formBox fullWidth">
		<div id="update" class="updateFix">
			<h2>{% trans "Work Details" %}</h2>
			<p>{% trans "We need all this information to calculate your points." %}</p>
			<a href="javascript:void(0)" class="saveBtn saveBtnSpecial go-to-exit submit-form">{% trans "Save and Exit" %}</a>
		</div>

		<form class="takeMeAwayFromTheTop100px" method="post" id="main_form" action="">

            {% csrf_token %}

            {% if user_work_form.errors or user_work_experience_formset.errors or user_work_offer_form.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <ul>
                        <li><strong>{% trans "Errors Found!" %}</strong></li>
                        {% for error in user_work_form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in user_work_experience_formset.non_form_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in user_work_offer_formset.non_form_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
            <div class="{% if user_work_form.occupation.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.occupation.label }}:</strong> &nbsp;</span>
                <div class="clear"></div>
                <div class="select-style" style="float: left; margin-right: 10px;">
                    {{ user_work_form.occupation_category }}
                </div>
                <div class="select-style" style="float: left;">
                    {{ user_work_form.occupation }}
                </div>
                <div class="clear"></div>
                {{ user_work_form.occupation_category.errors }}
                {{ user_work_form.occupation.errors }}
            </div>
        
            <div class="break10"></div>
            <div class="break10"></div>

            <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{% trans "Add below your work experiences" %}:</strong>&nbsp;</span>
            <div class="break10"></div>

            {{ user_work_experience_formset.management_form }}
            {% for user_work_experience_form in user_work_experience_formset %}

                <div id="user_work_experience_container">

                    <div class="which-country">

                        {{ user_work_experience_form.id }}
                        {{ user_work_experience_form.DELETE }}


                        <div style="width: 201px !important;">
                            <label style="width: 190px !important;" class="smallInput {% if user_work_experience_form.company.errors %}has-error{% endif %}">&nbsp;&nbsp;&nbsp;{{ user_work_experience_form.company.label }}:
                                {{ user_work_experience_form.company }}
                                {{ user_work_experience_form.company.errors }}
                            </label>
                        </div>

                        <div style="width: 201px !important;" class="smallSelect {% if user_work_experience_form.country.errors %}has-error{% endif %}">
                            <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;{{ user_work_experience_form.country.label }}:</span>
                            <!-- <div class="break10"></div> -->
                            <div class="select-style" style="width: 190px !important;">
                                {{ user_work_experience_form.country }}
                            </div>
                            {{ user_work_experience_form.country.errors }}
                        </div>

                        <div class="clear"> </div>
                        <div class="break10"></div>

                        <div style="width: 201px !important; margin-left: 10px;" class="smallSelect {% if user_work_experience_form.months.errors %}has-error{% endif %}">
                            <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;{{ user_work_experience_form.months.label }}:</span>
                            <!-- <div class="break10"></div> -->
                            <div class="select-style" style="width: 190px !important;">
                                {{ user_work_experience_form.months }}
                            </div>
                            {{ user_work_experience_form.months.errors }}
                        </div>


                        <div class="clear"> </div>

                    </div>


                </div>

            {% endfor %}

            <div class="break10"></div>
            <div class="break10"></div>

            <div class="{% if user_work_form.willing_to_invest.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.willing_to_invest.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.willing_to_invest %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.willing_to_invest.errors }}
            </div>

            <div class="break10"></div>
            <div class="break10"></div>

            <div class="{% if user_work_form.canadian_startup_letter.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.canadian_startup_letter.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.canadian_startup_letter %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.canadian_startup_letter.errors }}
            </div>

            <div class="break10"></div>
            <div class="break10"></div>

            <div class="{% if user_work_form.australian_professional_year.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.australian_professional_year.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.australian_professional_year %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.australian_professional_year.errors }}
            </div>

            <div class="break10"></div>
            <div class="break10"></div>
        
            <div class="{% if user_work_form.work_offer.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.work_offer.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.work_offer %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.work_offer.errors }}
            </div>

			<div class="break10"></div>
			<div class="break10"></div>

            <div id="user_work_offer_container" style="display: none;">

                <div class="line-break"></div>
			    <div class="break10"></div>

                    {{ user_work_offer_formset.management_form }}
                    {% for user_work_offer_form in user_work_offer_formset %}

                        <div>

                            <div class="which-country {% if user_work_offer_form.country.errors %}has-error{% endif %}">

                                {{ user_work_offer_form.id }}
                                {{ user_work_offer_form.DELETE }}

                                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;{{ user_work_offer_form.country.label }}?</span>
                                <div class="break10"></div>
                                <div class="select-style">
                                    {{ user_work_offer_form.country }}
                                </div>

                                {{ user_work_offer_form.country.errors }}

                            </div>

                        </div>

                    {% endfor %}

                <div class="break10"></div>
                <div class="break10"></div>
                <div class="break10"></div>

            </div>


            <div class="{% if user_work_form.canadian_partner_work_study_experience.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.canadian_partner_work_study_experience.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.canadian_partner_work_study_experience %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.canadian_partner_work_study_experience.errors }}
            </div>

            <div class="break10"></div>
            <div class="break10"></div>
            
            <div class="{% if user_work_form.partner_skills.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_work_form.partner_skills.label }}?</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_work_form.partner_skills %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_work_form.partner_skills.errors }}
            </div>

            <input type="hidden" id="next" name="next" value="" />

		</form>
	</div>


    <!--
	<div class="opened-features">
		<p>We have the <b>right tools</b> <br />for you!</p>
		<a href="#"><span>Check Your english skills with our TOEFL proeficiency test</span></a>
		<a href="#"><span>Check Your english skills with our TOEFL</span></a>
		<a href="#"><span>Check Your english skillsour TOEFL proeficiency test</span></a>
	</div>
    -->

	<div class="staticFooter">
        <a href="javascript:void(0)" class="previousBtn go-to-education submit-form">&lt; {% trans "PREVIOUS" %}</a>
		<div>
			<a href="javascript:void(0)" class="go-to-personal submit-form">{% trans "PERSONAL" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="go-to-language submit-form">{% trans "LANGUAGE" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="go-to-education submit-form">{% trans "EDUCATION" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="activeFooterLink go-to-work submit-form">{% trans "WORK" %}</a>
		</div>
		<a href="javascript:void(0)" class="nextBtn go-to-exit submit-form">{% trans "FINISH" %} &gt;</a>
	</div>

{% endblock content %}