{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'site/js/jquery.formset.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Jquery On Load
		 *
		 */
		$( document ).ready(function() {

            // Jquery Formset
            $( '#main_form div.which-country' ).formset();

			// JS FORM Validation
			//$( "#main_form" ).submit( function() {
				//return validate_empty_fields( this, '{{ question_form.get_required_fields }}' );
			//});

            $( 'input[name^=family_overseas]' ).click( function(){
                if ( this.value == 'yes' )
                    $( "#user_personal_family_container").slideDown();
                else
                    $( "#user_personal_family_container").slideUp();
            });

			// JS for onload
			{{ on_load|default:'' }}



		});



    </script>

    <!-- INLINE CSS -->
    <style type="text/css">


    </style>

{% endblock head %}


{% block content %}

	<div class="formBox fullWidth">
		<div id="update" class="updateFix">
			<h2>Update your details</h2>
			<p>Once completed you will be able to check a list of countries you can go :)</p>
			<a href="#" class="saveBtn saveBtnSpecial">Save and Exit</a>
		</div>

		<form class="takeMeAwayFromTheTop100px" method="post" id="main_form">

			<p>PERSONAL DETAILS</p>

			<div class="break10"></div>
			<div class="break10"></div>

            <label class="control-label" for="{{ user_personal_form.birth_date.id_for_label }}">
                {{ user_personal_form.birth_date.label }}:
                {{ user_personal_form.birth_date }}
                {{ user_personal_form.birth_date.errors }}
            </label>

            <div class="break10"></div>

            <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;Gender: &nbsp;</span>
            {% for radio in user_personal_form.gender %}
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
            {% endfor %}

            <div class="break10"></div>
            <div class="break10"></div>

            <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;{{ user_personal_form.country.label }}: &nbsp;</span>
			<div class="select-style">
			    {{ user_personal_form.country }}
                {{ user_personal_form.country.errors }}
			</div>

            <div class="break10"></div>
            <div class="break10"></div>

			<span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;Any family member who are citizens in other countries?</span>

			<div class="break10"></div>
			&nbsp;&nbsp;&nbsp;
			<input type="radio" name="family_overseas" id="family_overseas_yes" class="css-checkbox" value="yes" /><label for="family_overseas_yes" class="css-label">Yes</label>

			<input type="radio" name="family_overseas" id="family_overseas_no" class="css-checkbox" value="no" /><label for="family_overseas_no" class="css-label">No</label>

			<div class="break10"></div>
			<div class="break10"></div>

            <div id="user_personal_family_container" style="display: none;">

                <div class="line-break"></div>
			    <div class="break10"></div>

                {{ user_personal_family_formset.management_form }}

                {% for user_personal_family_form in user_personal_family_formset %}

                    <div class="which-country">
                        <a href="javascript:void(0);" class="closeBtn"></a>
                        <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;{{ user_personal_family_form.country.label }}?</span>
                        <div class="break10"></div>
                        <div class="select-style">
                          {{ user_personal_family_form.country }}
                          {{ user_personal_family_form.country.errors }}
                        </div>
                    </div>

                {% endfor %}

                <a href="javascript:void(0)" class="addAnother">+ Add Another</a>

            </div>


            <br />
            <br />

            <a href="javascript:void(0)" class="bigAdditional">+ Additional fields to improve my chances</a>

			<div class="additionalBox">
				<p>Additional field</p>
				<div class="additionalBoxBody">
				<span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;Is your partner in a skilled occupation? &nbsp;</span><br /><br />
			<input type="radio" name="checkboxG5" id="checkboxG5" class="css-checkbox" /><label for="checkboxG5" class="css-label">Yes</label>
			&nbsp;
			&nbsp;
			&nbsp;
			<input type="radio" name="checkboxG5" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">No</label>

			<div class="break10"></div>

			<span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;Is your partner in a skilled occupation? &nbsp;</span><br /><br />
			<input type="radio" name="checkboxG7" id="checkboxG7" class="css-checkbox" /><label for="checkboxG7" class="css-label">Yes</label>
			&nbsp;
			&nbsp;
			&nbsp;
			<input type="radio" name="checkboxG7" id="checkboxG8" class="css-checkbox" /><label for="checkboxG8" class="css-label">No</label>

				</div>
			</div>
			<br />
			<a href="#" class="forgotPass">Forgot your password?</a>

		</form>
	</div>


    <!--
	<div class="opened-features">
		<p>We have the <b>right tools</b> <br />for you!</p>
		<a href="#"><span>Check Your english skills with our TOEFL proeficiency test</span></a>
		<a href="#"><span>Check Your english skills with our TOEFL</span></a>
		<a href="#"><span>Check Your english skillsour TOEFL proeficiency test</span></a>
	</div>
    -->

	<div class="staticFooter">
		<div>
			<a href="#" class="activeFooterLink">PERSONAL</a>
			<span class="leftArrow"> </span>
			<a href="#">LANGUAGE</a>
			<span class="leftArrow"> </span>
			<a href="#">EDUCATION</a>
			<span class="leftArrow"> </span>
			<a href="#">WORK</a>
		</div>
		<a href="#" class="nextBtn">NEXT &gt;</a>
	</div>

{% endblock content %}