{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'site/js/jquery.formset.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        /**
		 * Hide/Show personal family overseas options
		 *
		 */
        function toggle_family_overseas_container(){
            var radio_value = $( "input[name='family_overseas']:checked" ).val();
            if ( radio_value == 'True' ) {
                $( "#user_personal_family_container" ).slideDown();
                if ( $( ".dynamic-form" ).length == 0 ){
                    $( '#main_form div.which-country' ).formset({
                        prefix: '{{ user_personal_family_formset.prefix }}',
                        addCssClass: 'addAnother',
                        deleteCssClass: 'closeBtn',
                        deleteText: ''
                    });
                }
            } else
                $( "#user_personal_family_container" ).slideUp();
        }

        /**
		 * Jquery On Load
		 *
		 */
		$( document ).ready(function() {

            //Submit form when navigating through action links
            $( ".submit-form" ).click( function() {

                // set next page by looking to the class name
                if ( $( this ).hasClass( "go-to-personal" ) ){
                    $( '#next').val( '{% url 'site:edit_personal' %}' );
                } else if ( $( this ).hasClass( "go-to-language" ) ){
                    $( '#next').val( '{% url 'site:edit_language' %}' );
                } else if ( $( this ).hasClass( "go-to-education" ) ){
                    $( '#next').val( '{% url 'site:edit_education' %}' );
                } else if ( $( this ).hasClass( "go-to-work" ) ){
                    $( '#next').val( '{% url 'site:edit_work' %}' );
                }

                // submit form
                $( '#main_form').submit();


			});

            //Hide/Show personal family overseas options
            $( 'input[name^=family_overseas]' ).click( function(){
                toggle_family_overseas_container();
            });
            toggle_family_overseas_container()

            // include a <div class="select-style"> around all selects without this parent
            $( "select.force-style" ).wrap( "<div class='select-style' style='width: 120px; float: left; margin-right: 10px;'></div>" );

			// JS for onload
			{{ on_load|default:'' }}



		});



    </script>

    <!-- INLINE CSS -->
    <style type="text/css">


    </style>

{% endblock head %}


{% block content %}

	<div class="formBox fullWidth">
		<div id="update" class="updateFix">
			<h2>{% trans "Personal Details" %}</h2>
			<p>{% trans "We need all this information to calculate your points." %}</p>
			<a href="javascript:void(0)" class="saveBtn saveBtnSpecial go-to-exit submit-form">{% trans "Save and Exit" %}</a>
		</div>

		<form class="takeMeAwayFromTheTop100px" method="post" id="main_form" action="">

            {% csrf_token %}

            {% if user_personal_form.errors or user_personal_family_formset.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <ul>
                        <li><strong>{% trans "Errors Found!" %}</strong></li>
                        {% for error in user_personal_form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in user_personal_family_formset.non_form_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="{% if user_personal_form.birth_date.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_personal_form.birth_date.label }}:</strong> &nbsp;</span>
                <div>
                    {{ user_personal_form.birth_date }}
                </div>
                {{ user_personal_form.birth_date.errors }}
            </div>

            <div class="clear break10"></div>
            <div class="break10"></div>

            <div class="{% if user_personal_form.gender.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_personal_form.gender.label }}:</strong> &nbsp;</span>
                {% for radio in user_personal_form.gender %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_personal_form.gender.errors }}
            </div>

            <div class="break10"></div>
            <div class="break10"></div>

            <div class="{% if user_personal_form.country.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;">&nbsp;&nbsp;&nbsp;<strong>{{ user_personal_form.country.label }}:</strong> &nbsp;</span>
                <div class="select-style">
                    {{ user_personal_form.country }}
                    {{ user_personal_form.country.errors }}
                </div>
            </div>

            <div class="break10"></div>
            <div class="break10"></div>

            <div class="{% if user_personal_form.family_overseas.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_personal_form.family_overseas.label }}</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_personal_form.family_overseas %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_personal_form.family_overseas.errors }}
            </div>

			<div class="break10"></div>
			<div class="break10"></div>

            <div id="user_personal_family_container" style="display: none;">

                <div class="line-break"></div>
			    <div class="break10"></div>

                    {{ user_personal_family_formset.management_form }}
                    {% for user_personal_family_form in user_personal_family_formset %}

                        <div>

                            <div class="which-country {% if user_personal_family_form.country.errors %}has-error{% endif %}">

                                {{ user_personal_family_form.id }}
                                {{ user_personal_family_form.DELETE }}
                                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;{{ user_personal_family_form.country.label }}?</span>
                                <div class="break10"></div>
                                <div class="select-style">
                                  {{ user_personal_family_form.country }}
                                </div>

                            </div>

                        </div>

                    {% endfor %}

                <div class="break10"></div>

            </div>

            <div class="break10"></div>

            <div class="{% if user_personal_form.australian_regional_immigration.errors %}has-error{% endif %}">
                <span style="font-size: 14px;color:#888888;display:block;">&nbsp;&nbsp;&nbsp;<strong>{{ user_personal_form.australian_regional_immigration.label }}</strong></span>
                <div class="break10"></div>
                &nbsp;&nbsp;&nbsp;
                {% for radio in user_personal_form.australian_regional_immigration %}
                    {% if radio.choice_label != '---------' %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="css-label">{{ radio.choice_label }}</label>
                    {% endif %}
                {% endfor %}
                {{ user_personal_form.australian_regional_immigration.errors }}
            </div>

            <input type="hidden" id="next" name="next" value="" />

		</form>
	</div>


    <!--
	<div class="opened-features">
		<p>We have the <b>right tools</b> <br />for you!</p>
		<a href="#"><span>Check Your english skills with our TOEFL proeficiency test</span></a>
		<a href="#"><span>Check Your english skills with our TOEFL</span></a>
		<a href="#"><span>Check Your english skillsour TOEFL proeficiency test</span></a>
	</div>
    -->

	<div class="staticFooter">
		<div>
			<a href="javascript:void(0)" class="activeFooterLink go-to-personal submit-form">{% trans "PERSONAL" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="go-to-language submit-form">{% trans "LANGUAGE" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="go-to-education submit-form">{% trans "EDUCATION" %}</a>
			<span class="leftArrow"> </span>
			<a href="javascript:void(0)" class="go-to-work submit-form">{% trans "WORK" %}</a>
		</div>
		<a href="javascript:void(0)" class="nextBtn go-to-language submit-form">{% trans "NEXT" %} &gt;</a>
	</div>

{% endblock content %}