{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- JQuery UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/js/jquery-ui/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static "site/js/jquery-ui/jquery-ui.min.js" %}"></script>

    <!-- Bootstratp -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/js/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static "site/js/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

    </script>

{% endblock head %}


{% block content %}

    <h2>{% trans "Home, Sweet Home" %}</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login_modal">
        {% trans "SIGN UP" %}
    </button>

    <div id="dialog">
        {% include "site/popups/signup.html" %}
    </div>

{% endblock content %}