{% load staticfiles %}
{% load i18n %}
<!doctype html>
<htmL>

    <head>

        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Wanna Migrate is the first immigration platform that allows the user to identify countries where he is allowed to live and work.">
        <meta name="keywords" content="wanna migrate,immigrate,points based immigration,migration,high skilled migration,live in australia,live in canada,work in australia,work in canada">
        <meta name="Title" content="Wanna Migrate - {% trans "Live Abroad. Change your life." %}">
        <meta name="Robots" content="all">
        <meta name="og:image" content="http://wannamigrate.com{% static "site/img/logo_social.png" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wanna Migrate - {% trans "Live Abroad. Change your life." %}</title>
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        
        <link rel="stylesheet" type="text/css" href="{% static "site/css/font-awesome.min.css"%}">
        {% for b in css_breakpoints %}
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/home/'|add:breakpoint_prefix|add:b|add:'.css' %}" media="(max-width: {{b}}px)">
        {% endfor %}

        <link rel="stylesheet" type="text/css" href="{% static 'site/css/home/static_max_320.css' %}" media="(min-width: 320px)">

        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- JQuery -->
        <script type="text/javascript" src="{% static 'site/js/jquery-2.1.1.min.js' %}"></script>

        <!-- Utility Functions (JS) -->
        <script type="text/javascript" src="{% static 'site/js/util.js' %}"></script>

        <!-- JQuery UI -->
        <link rel="stylesheet" type="text/css" href="{% static 'site/js/jquery-ui/jquery-ui.min.css' %}">
        <script type="text/javascript" src="{% static "site/js/jquery-ui/jquery-ui.min.js" %}"></script>


        <!-- INLINE JS -->
        <script type="text/javascript">
            
            $(document).ready(function($) {

                // The y-pos of the page2 container.
                var page2Y = $("#page2").offset().top - $("#menu").height();

                
                $(window).scroll(function () {
                    if ( $(window).scrollTop() > page2Y ) {
                        if ( ! $( "#menu" ).hasClass( "translucid" ) )
                            $("#menu").addClass( "translucid" );
                    } else {
                        if ( $( "#menu" ).hasClass( "translucid" ) )
                            $("#menu").removeClass( "translucid" );
                    }
                });
                        
            });
            
        </script>
    </head>


    <body>
        <div id="menu" class="gui">
            <div id="menu-logo"></div>
            {% if user.is_authenticated %}
                <a href="{% url 'site:dashboard' %}" id="login-button" class="bt bt-purple bold white 15pt">{% trans "Log In" %}</a>
            {% else %}
                <a href="{% url 'site:login' %}" id="login-button" class="bt bt-purple bold white 15pt">{% trans "Log In" %}</a>
            {% endif %}
            {% include 'site/dropdowns/home_language_selector.html' %}
        </div>

        <!-- Page 1 -->
        <div id="page1">
            <div id="page1-content" class="fg">
                <div id="page1-title" class="f84 light white">
                    {% trans 'Live in a <span class="bold">new country.</span> <span class="bold">Change</span> your life.' %}
                </div>
                <div id="page1-subtitle" class="f22 light white">
                    {% trans 'Choose a <span class="bold">country</span>, obtain the <span class="bold">visa</span> and <span class="bold">move!</span>' %}
                </div>
                <a id="p1-signup" href="{% url 'site:signup' %}" class="bt bt-green f20"><span class="bold">{% trans 'Start now.' %}</span> {% trans "It's Free!" %}</a>
                <a href="#page2" class="bt-more" class="gui"></a>
            </div>
        </div>


        <!-- Page 2 -->
        <div id="page2">
            <div id="l1h" class="f30 light almost-black ">
                {% trans 'If you could <span class="white bold">live anywhere,</span> where would you go<span class="white">?</span>' %}
            </div>
            <ul id="r1ul" class="light dark-grey f18">
                <li>
                    {% trans '<span class="f20 teal bold">Discover awesome countries</span> with open doors for new professionals.' %}
                </li>
                <li>
                    {% trans 'Around <span class="f20 teal bold">500,000 people</span> obtain a visa to live in <span class="teal bold">Australia</span> and <span class="teal bold">Canada</span> every year.' %}
                </li>
            </ul>
            <a id="r1-signup" href="{% url 'site:signup' %}" class="bt bt-blue f20"><span class="bold">{% trans 'Start now.' %}</span> {% trans "It's Free!" %}</a>
            <a href="#page3" class="bt-more page1" class="gui"></a>
        </div>


        <!-- Page 3 -->
        <div id="page3">
            <div class="feature-container">
                <div class="feature full light purple f22">
                    {% trans 'A <span class="bold">free tool</span> to manage your whole immigration process' %}
                </div>
            </div>
            <div class="feature-container bg-soft-purple">
                <div class="feature left bg-yellow dark-purple f20">
                    <span class="feature-text">
                        {% trans 'Find out which countries need professionals <span class="bold">like you</span>' %}
                    </span>
                    <span id="feature0-icon" class="feature-icon"></span>
                </div>
            </div>
            <div class="feature-container bg-soft-yellow">
                <div class="feature right bg-purple white f20">
                    <span id="feature1-icon" class="feature-icon"></span>
                    <span class="feature-text">
                        {% trans 'Get help with your <span class="bold yellow">visa application</span>' %}
                    </span>
                </div>
            </div>
            <div class="feature-container bg-soft-purple">
                <div class="feature left bg-yellow dark-purple f20">
                    <span class="feature-text">
                        {% trans 'Review your <span class="bold">language skills</span>' %}
                    </span>
                    <span id="feature2-icon" class="feature-icon"></span>
                </div>
            </div>
            <div class="feature-container bg-soft-yellow">
                <div class="feature right bg-purple white f20">
                    <span id="feature3-icon" class="feature-icon"></span>
                    <span class="feature-text">
                        {% trans 'Get exposed to international <span class="bold yellow">employers</span>' %}
                    </span>
                </div>
            </div>
            <div class="feature-container bg-soft-purple">
                <div class="feature left bg-yellow dark-purple f20">
                    <span class="feature-text">
                       {% trans 'Learn <span class="bold">shortcuts</span> to obtain the visa' %}
                    </span>
                    <span id="feature4-icon" class="feature-icon"></span>
                </div>
            </div>
        </div>


        <!-- Page 4 -->
        <div id="page4">
            <div class="testimonial-container">
                <div class="testimonial-image-1">
                </div>
                <div class="testimonial deep-purple">
                    <p class="testimonial-text f16 light-italic">
                        <span id="open-quote" class="quote"></span>
                        &nbsp;{% trans '<span class="bold">Wanna Migrate</span> helped me to understand all my possibilities and to obtain my long time dreamed visa to Australia.' %}&nbsp;
                        <span id="close-quote" class="quote"></span>
                    </p>
                    <p class="testimonial-separator"></p>
                    <p class="testimonial-user f14 bold">Gui Oliveira</p>
                    <p class="testimonial-user-job f12 light">{% trans 'Web Designer in Australia' %}</p>
                </div>
            </div>
            <div class="testimonial-container">
                <div class="testimonial-image-2">
                </div>
                <div class="testimonial deep-purple">
                    <p class="testimonial-text f16 light-italic">
                        <span id="open-quote" class="quote"></span>
                        &nbsp;{% trans 'I lived in 5 different countries and believe that everyone should have the chance to improve their lives in a new country, if they want.' %}&nbsp;
                        <span id="close-quote" class="quote"></span>
                    </p>
                    <p class="testimonial-separator"></p>
                    <p class="testimonial-user f14 bold">Humberto Moreira</p>
                    <p class="testimonial-user-job f12 light">{% trans 'CEO at Wanna Migrate' %}</p>
                </div>
            </div>
            <div class="clear"></div>
            <a id="r3-signup" href="{% url 'site:signup' %}" class="bt bt-purple f20"><span class="bold">{% trans 'Start now.' %}</span> {% trans "It's Free!" %}</a>
            <a href="#page5" class="bt-more page3" class="gui"></a>
        </div>


        <!-- Page 5 -->
        <div id="page5">
            <div class="half-width">
                <span id="l4-msg" class="p4-wrapper white f40 light">
                    {% trans 'The <span class="bold">easiest way</span> to immigrate.' %}
                </span>
            </div>
            <div class="half-width">
                <p id="r4-title" class="white f38 bold p4-wrapper">
                    {% trans 'What are you waiting for?' %}
                </p>
                <p id="r4-subtitle" class="p4-wrapper white f18 light">
                    {% trans 'Get <span class="bold">free access</span> to our platform and <span class="bold">achieve your dreams</span> in a new country.' %}
                </p>
                <a id="r4-signup" href="{% url 'site:signup' %}" class="bt bt-green f20"><span class="bold">{% trans 'Start now.' %}</span> {% trans "It's Free!" %}</a>
            </div>
        </div>
        

        <!-- Footer -->
        <div id="footer">
            <div class="half-width">
                <div id="l4-logo" class="vcenter"></div>
            </div>
            <div class="half-width">
                <div id="social">
                    <a class="social-button f16" href="http://www.facebook.com/wannamigrate" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="social-button f16" href="http://www.twitter.com/wannamigrate" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="social-button f16" href="http://www.instagram.com/wannamigrate" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div id="backers-separator" class="f9 light grey">
                    {% trans "Incubators / Supporters:" %}
                </div>
                <div id="backers-container">
                    <a id="fapema" class="backer" href="http://www.fapema.br/" target="_blank"></a>
                    <a id="startupchile" class="backer" href="http://www.startupchile.org/" target="_blank"></a>
                    <a id="finep" class="backer" href="http://www.finep.gov.br/" target="_blank"></a>
                </div>
            </div>
        </div>
            <div id="overlay" style="display:none;"></div>
            <div id="dialog" style="display:none;" class="popup vcenter">
                {% include "site/popups/signup.html" %}
            </div>

    </body>

</html>