{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

    </script>

{% endblock head %}


{% block content %}

	<div class="container howItWorksBox">
		<h1>{% trans "How it Works" %}</h1>
		<h2>
            <span class="makePurple">Wanna Migrate</span>
            {% trans "is the first immigration platform to allow the user<br />to discover awesome countries where he can get a visa to live and work." %}
        </h2>
		<p>
            {% trans "By using the Points-Based Immigration System, our software is able to match<br /> you with countries in need of people with your profile." %}
        </p>
		<p class="titleHowItWork">
            {% trans "IT WORKS LIKE THIS:" %}
        </p>
		<div class="step">
			<div class="orderNumber">1</div>
			<div class="stepText" style="margin-top: 105px;">
                {% trans '<span class="makePurple makeBold">Fill out a form</span> with information about your personal and professional profile.' %}
            </div>
			<div class="stepImg stepImg1"></div>
		</div>

		<div class="step">
			<div class="orderNumber">2</div>
			<div class="stepText" style="margin-top: 85px;">
                {% trans 'You can check your situation and see if you have <span class="makePurple makeBold">achieved the minimum points for each country</span>.  If not, we will give you personalized hints to get more points.' %}
            </div>
			<div class="stepImg stepImg2"></div>
		</div>

		<div class="step">
			<div class="orderNumber">3</div>
			<div class="stepText" style="margin-top: 97px;">
                {% trans 'You will see a list of countries where you can go and <span class="makePurple makeBold">all step-by-step information to apply for the visa</span>.' %}
            </div>
			<div class="stepImg stepImg3"></div>
		</div>

		<div class="step">
			<div class="orderNumber">4</div>
			<div class="stepText" style="margin-top: 97px;">
                {% trans 'After getting the visa <span class="makePurple makeBold">we will still help you while you are moving</span>.  We will tell how to open bank accounts, find housing, etc...' %}
            </div>
			<div class="stepImg stepImg4"></div>
		</div>

	</div>

{% endblock content %}