{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- INLINE JS -->
    <script type="text/javascript">

    </script>

{% endblock head %}


{% block content %}

	<div class="container howItWorksBox">
		<h1>{% trans "How it Works" %}</h1>
		<h2>
            <span class="makePurple">Wanna Migrate</span>
            {% trans "can change your life by helping you<br />to move to a new awesome country!" %}
        </h2>
		<p>
            {% trans "By using the Points-Based Immigration System, our software is able to match<br /> you with countries in need of people just like YOU." %}
        </p>
		<p class="titleHowItWork">
            {% trans "IT WORKS LIKE THIS:" %}
        </p>
		<div class="step">
			<div class="orderNumber">1</div>
			<div class="stepText" style="margin-top: 105px;">
                {% trans '<span class="makePurple makeBold">Edit Your Information:</span> Provide your data by filling out the forms.' %}
            </div>
			<div class="stepImg stepImg1"></div>
		</div>

		<div class="step">
			<div class="orderNumber">2</div>
			<div class="stepText" style="margin-top: 85px;">
                {% trans '<span class="makePurple makeBold">Check Your Points Per Country:</span> You can see in what countries you get enought points to obtain a visa.' %}
            </div>
			<div class="stepImg stepImg2"></div>
		</div>

		<div class="step">
			<div class="orderNumber">3</div>
			<div class="stepText" style="margin-top: 97px;">
                {% trans '<span class="makePurple makeBold">Get Help </span> to obtain the visa and move to your new country.' %}
            </div>
			<div class="stepImg stepImg3"></div>
		</div>

	</div>

{% endblock content %}