{% extends "site/layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <!-- Dashboard Custom JS -->
    <script type="text/javascript" src="{% static "site/js/dashboard.js" %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

    </script>

{% endblock head %}

{% block content %}

	<div class="column25"></div>
	<div class="column25 {{ photo_column_css_class }}">
		<p><img src="{% static "site/img/"|add:country_flag_image_name %}" /> {{ country_name_as_label }}</p>
	</div>
	<div class="column75">
		<a href="{% url 'site:situation' country_name %}" class="tab1">{% trans "My situation" %}</a>
		<a href="{% url 'site:visa_application' country_name %}" class="tab2 tab-active">{% trans "Visa application" %}</a>
		<a href="{% url 'site:moving' country_name %}" class="tab3">{% trans "Moving to "|add:country_name_as_label %}</a>
		<div class="clear"> </div>


		<div class="movingStepsContainer doItYellow">



            {% if country_name == 'australia' %}


                <p class="movingIntroduction">
                    {% trans "<strong>Follow the steps</strong> below to start your <strong>visa application</strong> for" %} {{ country_name_as_label }}:

                </p>

                <div class="movingStepsNumber">
                    {% trans "STEP" %} <span>1</span>
                </div>
                <div class="movingStepsContent">

                    <h3>&#149; {% trans "Get your passport ready" %}</h3>
                    <p>{% trans "If you still don't have a passport or need to renew it, you will have to do it before applying for the visa." %}</p>
                    <p>{% trans "Passports are issued by specific government departments, such as the police, immigration dept., etc... This will vary from country to country." %}</p>

                    <h3>&#149; {% trans "Provide proofs that you have competent English skills" %}</h3>
                    <p>- <a href="http://www.ielts.org/" target="_blank">IELTS:</a> {% trans "Score of at least 6 for each of the four test components (OET) or 12 for listening, 13 for reading, 21 for writing and 18 for speaking (TOEFL iBT)." %}</p>
                    <p>- <a href="https://www.ets.org/toefl/ibt/about" target="_blank">TOEFL:</a> {% trans "Score of at least 'B' for each of the four test components." %}</p>
                    <p>- <a href="http://pearsonpte.com/" target="_blank">PTE:</a> {% trans "Score of at least 50 in each of the four test components." %}</p>
                    <p>- {% trans "Valid passport from the United Kingdom, the United States of America, Canada, New Zealand or the Republic of Ireland and you are a citizen of that country." %}</p>

                    <h3>&#149; {% trans "Get your occupation recognized by Australia" %}</h3>
                    <p>{% trans "You will have to apply for an Australian Skills Assessment from the relevant authority on your field of work." %}</p>
                    <p>{% trans "In almost all cases, assessing bodies will require that you have post-secondary, such as university or trade, qualifications in order to receive a positive assessment of your skills." %}</p>
                    <p>{% trans "(More details here soon)" %}</p>

                    <br />
                    <br />
                    <img src="{% static "site/img/globe.png" %}" />
                </div>

                <div class="clear" style="height:50px;"> </div>

                <div class="movingStepsNumber">
                    STEP <span>2</span>
                </div>
                <div class="movingStepsContent">

                    <h3>&#149; {% trans "Submit an Expression of Interest" %}</h3>
                    <p>{% trans "If you still don't have a passport or need to renew it, you will have to do it before applying for the visa." %}</p>
                    <p>{% trans "Passports are issued by specific government departments, such as the police, immigration dept., etc... This will vary from country to country." %}</p>


                </div>

            {% elif country_name == 'canada' %}


            {% elif country_name == 'new-zealand' %}


            {% endif %}


		</div>

	</div>
	
{% endblock content %}
