/*

1- GENERAL
2- HEADER
3- FOOTER
4- FORMS
5- HOME
6- SIGNUP
7- LOGIN
8- ABOUT
9- CONTACT US
10- QUIZ
11- CHECKOUT
12- THANK YOU
13- DASHBOARD
14- STORIES
15- GUIDE
16- DOCS
17- DISCUSSION

*/

/***** 1- GENERAL ********/
.ui-pnotify-title {
    font-size: 1.2em;
    font-weight: 500;
}
.ui-pnotify-text {
    font-size: 1em;
    font-weight: 300;
}
.hidden {
    display: none;
}
section.grey header.major {
    margin: 0 0 1.5em 0 !important;
}
.top-10 {
    margin-top: 10px;
}
.top-15 {
    margin-top: 15px;
}
.top-20 {
    margin-top: 20px;
}
.top-30 {
    margin-top: 30px;
}
.top-40 {
    margin-top: 40px;
}
.top-50 {
    margin-top: 50px;
}
.featherlight-content {
    max-width: 600px;
}
.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.flag.flag-au {
    background-image: url('../img/wanna-migrate-flag-australia-square.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0 5px;
}
body {
    color: rgba(0, 0, 0, 0.8);
}
body.transparent #page-wrapper {
    padding-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.8);
    text-transform: none;
    letter-spacing: -0.48px;
}
#wrapper > * {
    padding: 3em 0 3em 0;
}
.country-container {
    min-width: 150px;
}
.country-container .selectize-control  {
    height: 42px !important;
}
.country-container #country-selectize-selectized {
    display: none !important;
}
.country-container .selectize-input {
    padding: 0.1240em !important;
    border-radius: 4px !important;
}
.country-container .selectize-input div {
    margin-left: 10px;
}
.country-container div.flag {
    float: left;
}
.country-container div.name {
    float: left;
    height: 32px;
    padding-top: 10px;
    margin-left: 6px;
    margin-right: 10px;
}
#main p.intro {
    margin-bottom: 3.4em;
    color: #8e8e8e;
}
#main.grey p.intro {
    color: rgba(0, 0, 0, 0.8);
}
#main.grey {
    background-color: #F6F6F6;
}
.grey .box {
    -webkit-box-shadow: inset 0 0 0 0, 0 15px 15px -5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 0 0 0, 0 15px 15px -5px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 0, 0 10px 15px 2px rgba(0,0,0,.1);
    background-color: #FFFFFF;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.grey .box .content {
    padding: 1.5em;
}
@media screen and (max-width: 736px) {
    #wrapper > * > .inner {
        max-width: calc(100% - 2em);
    }
}



/**** 2- HEADER *****/
#header .logo {
    display: block;
    height: inherit;
    line-height: inherit;
    background: transparent url("../img/logo-wanna-migrate.png") no-repeat center center;
    background-size: contain;
    width: 160px;
}
#header .logo span{
    display: none;
}
#header.alt .logo {
    background-image: url("../img/logo-wanna-migrate-alt.png");
}
#header nav .logged-out ul.actions {
    padding: 0 1.5em 0 1.5em;
}
#header nav .logged-out{
    padding-right: 1em;
}
#header.alt nav .logged-out li:first-child {
    display: none;
}
#header.alt nav .logged-out li.sign-up {
    display: none;
}
#header nav .logged-out .mobile-only{
    display: none;
}
#header nav#menu-top-bar a {
    font-size: 0.8500em;
    letter-spacing: 0.025em;
    text-transform: none;
    padding: 0 1em 0 1em;
}
#header.with-banner nav#menu-top-bar a {
    letter-spacing: 0.0350em;
}
#header.with-banner nav#menu-top-bar a img {
    margin-right: 0.2500em;
}
#header nav#menu-top-bar a.button {
    font-size: 0.7em;
    margin-bottom: 0.8500em;
}
#header nav#menu-top-bar ul.logged-in li:last-child,
#header nav#menu-top-bar ul.logged-iout li:last-child {
    margin-right: 1.200em;
}
#header nav#menu-top-bar a i {
    color: #d9d9d9;
}
#header nav#menu-top-bar .menu-mobile-icon a {
    padding: 0;
}
#header nav#menu-top-bar .menu-mobile-icon a i {
    font-size: 1.900em;
    margin-top: 15px;
}
.transparent #header nav#menu-top-bar a span {
    margin-left: 6px;
}
#header nav#menu-top-bar a img {
    max-width: 20px;
    vertical-align: text-bottom;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 0.1000em;
}
#header.alt nav .logged-in a:hover {
    color: #f9f9f9 !important;
}
#header nav .logged-in a:hover {
    opacity: 0.8;
    color: #767676 !important;
}
#menu-content > ul.links > li > a:not(.button),
#menu-account > ul.links > li > a:not(.button) {
    letter-spacing: 0.15em;
    font-size: 0.7400em;
}
#menu-content ul li label {
    margin-bottom: 10px;
}
@media screen and (max-width: 980px) {

    #header nav#menu-top-bar ul.logged-in a {
        font-size: 0.7000em;
    }

}
@media screen and (max-width: 736px) {
    #header .logo {
        width: 130px;
    }
    #header nav a span {
        display: none;
    }
    #header nav .logged-in li.desktop-only{
        display: none;
    }
    #header nav .logged-out li {
        display: none;
    }
    #header nav .logged-out li.mobile-only{
        display: block;
    }
    #header nav .logged-out li.mobile-only a{
        font-size: 1.600em;
        padding-right: 0.3000em;
        padding-top: 0.1500em;
    }
    #header nav .logged-out li.mobile-only a i{
        color: #000000;
    }
    #header.alt nav .logged-out li.mobile-only a i{
        color: #FFFFFF;
    }
    #header nav#menu-top-bar ul.logged-in li:last-child,
    #header nav#menu-top-bar ul.logged-iout li:last-child {
        margin-right: 0;
    }
}


/**** 3- FOOTER *****/
#footer {
    background-color: rgba(0, 0, 0, 0.7);
}
#footer .links {
    list-style: none;
    text-align: left;
}
#footer .links a{
    color: #c2c2c2;
    font-size: 0.900em;
    border: 0;
}
#footer .links li:first-child{
    color: #FFFFFF;
    font-size: 1.000em;
    font-weight: 600;
    letter-spacing: -0.700px;
}
#footer a.logo{
    border: 0;
    margin: 30px auto 20px auto;
    display: block;
}
#footer a.logo img{
    max-width: 125px;
}
#footer .copyright {
    color: #c2c2c2;
    letter-spacing: 0.0200em;
    font-size: 0.8500em;
}
#footer .icons .icon.alt:before{
    font-size: 1.2rem;
}
#footer .icons .icon.alt.fa-facebook:before {
    background-color: #77ade5;
}
#footer .icons .icon.alt.fa-facebook:hover:before {
    background-color: #8cbae9;
}
#footer .icons .icon.alt.fa-instagram:before {
    background-color: #6fb0d9;
}
#footer .icons .icon.alt.fa-instagram:hover:before {
    background-color: #83bbde;
}
#footer .icons .icon.alt.fa-envelope:before {
    background-color: #e57793;
}
#footer .icons .icon.alt.fa-envelope:hover:before {
    background-color: #e98ca4;
}
@media screen and (max-width: 736px) {
    #footer .links {
        text-align: center;
    }
}


/**** 4- FORMS *****/
.form-field {
    margin-bottom: 8px;
}
.errorlist li {
    font-size: 1em;
    color: #ed4e71;
    padding-left: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"], select, textarea {
    color: #494848;
    background-color: rgba(190, 189, 189, 0.075);
}
label {
    position: relative;
    color: #494848;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}
label > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    line-height: 32px;
    color: #494848;
    transition: border-bottom-color 200ms ease-in-out;
    cursor: text;
    pointer-events: none;
}
label > span span {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 50%;
    transition: transform 200ms ease-in-out;
    cursor: text;
}
label span span {
    transform: scale(0.68) translateY(-36px);
    cursor: default;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    margin-top: 0;
}
@media screen and (max-width: 736px) {
    .form-field {
        margin-bottom: 15px;
    }
}


/**** 5- HOME *****/
#banner.home-wrapper {
    padding: 0 0 12em 0;
}
#banner.home-wrapper:before {
    opacity: 0.32;
}
#banner.home-wrapper .more {
    background-color: transparent;
}
#banner.home-wrapper h1 {
    font-size: 3.000em;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
#banner.home-wrapper h2 {
    font-size: 1.1500em;
    border: 0;
    margin-bottom: 1.2em;
    padding-bottom: 0;
    font-weight: 600;
    letter-spacing: 0.04em;
}
#banner.home-wrapper .country-container .selectize-input div {
    margin-left: 0 !important;
}
#banner.home-wrapper .inner header {
    margin-bottom: 1em;
}
#banner.home-wrapper .button.special{
    font-size: 0.700em;
    background-color: #7bd2ed;
    color: #FFFFFF !important;
    font-weight: 600;
}
#banner.home-wrapper .button.special:hover{
    background-color: #65caea;
}

#banner.home-wrapper .inner ul.actions li {
    padding-right: 0;
    margin: 0 auto;
    max-width: 180px;
}
#banner.home-wrapper .inner ul.actions li:first-child {
    padding-right: 5px;
}
#four h3 {
  font-weight: 500;
}
#four h3 span {
  font-weight: 700;
}
@media screen and (min-width: 737px) {
    #banner.home-wrapper .inner {
        max-width: 42%;
    }
}
@media screen and (max-width: 736px) {
    #banner.home-wrapper {
        padding: 5em 0 11em 0;
    }
    #banner.home-wrapper .inner {
        max-width: 80%;
    }
}
@media screen and (max-width: 480px) {
    #banner.home-wrapper {
        background-position-x: -316px;
    }
    #banner.home-wrapper .inner ul.actions li:first-child {
        padding-right: 0;
    }
    #banner.home-wrapper .inner ul.actions li {
        max-width: 220px;
    }
}


/**** 6- SIGNUP ****/
.signup-wrapper h3 {
    margin-bottom: 30px;
}
.signup-wrapper .facebook {
    margin: auto;
    text-align: center;
}
.signup-wrapper .facebook .button {
    background-color: #8cbae9;
}
.signup-wrapper .facebook .button:hover {
    background-color: #77ade5;
}

.signup-wrapper .facebook .icon:before {
    font-size: 1.5em;
}
@media screen and (min-width: 737px) {
    .signup-wrapper .facebook {
        padding-top: 5em;
    }
}


/**** 7- LOGIN ****/
.login-wrapper h3 {
    margin-bottom: 30px;
}
.login-wrapper .forgot {
    padding: 0;
}
.login-wrapper .forgot a{
    font-size: 0.800em;
    color: #7bd2ed !important;
}
.login-wrapper .forgot a:hover {
    color: #7bd2ed !important;
}
.login-wrapper .facebook {
    margin: auto;
    text-align: center;
}
.login-wrapper .facebook .button {
    background-color: #8cbae9;
}
.login-wrapper .facebook .button:hover {
    background-color: #77ade5;
}

.login-wrapper .facebook .icon:before {
    font-size: 1.5em;
}
@media screen and (min-width: 737px) {
    .login-wrapper .facebook {
        padding-top: 2em;
    }
}


/**** 8- ABOUT ****/
.about-wrapper .screens img {
    border: 1px solid #d3d3d3;
}
.about-wrapper .countries span {
    display: block;
    font-size: 0.7em;
    text-align: center;
    margin: 0 auto 5px auto;
}
.about-wrapper .countries img {
    max-width: 60px;
}
.about-wrapper .countries .disabled img {
    filter: grayscale(100%);
    opacity: 0.2;
}
.about-wrapper .feature-list .icon.major {
    display: inline;
}
.about-wrapper .feature-list .icon.major:before {
    font-size: 1.5rem;
}
.about-wrapper .feature-list .title{
    margin: 0 10px;
}
.about-wrapper .feature-list li.disabled {
    opacity: 0.7;
}
.about-wrapper .feature-list li.disabled .icon.major:before {
    opacity: 0.4;
}


/**** 9- CONTACT US ****/
.contact-wrapper .address {
    margin: auto;
}
@media screen and (min-width: 737px) {
    .contact-wrapper .address {
        padding: 7em;
    }
}


/**** 10- QUIZ ****/
.quiz-wrapper #footer {
    background-color: transparent;
}
.quiz-wrapper #footer .copyright {
    color: #bbb;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}
.quiz-wrapper #wrapper > * {
    padding: 0.600em 0 0.600em 0;
}
.quiz-wrapper .inner h2 span {
    display: block;
    font-size: 2em;
}
.quiz-wrapper .navigation div.buttons {
    float: left;
    width: 70%;
}
.quiz-wrapper .navigation div.index {
    float: left;
    width: 30%;
    text-align: right;
    font-size: 0.8em;
    line-height: 3.2em;
    padding-right: 5px;
}
.quiz-result-wrapper header img {
    display: inline;
    width: 50px;
}
.quiz-result-wrapper h1 {
    color: #7bd2ed;
}
.quiz-result-wrapper h1 span.break {
    display: block;
}
.quiz-result-wrapper h1 span {
    font-size: 0.5em;
    font-weight: 500;
    color: #777777;
}


/**** 11- CHECKOUT ****/
.checkout-wrapper .plans .box{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
}
.checkout-wrapper .plans .box label {
    font-weight: 600;
}
.checkout-wrapper .plans .box label > span {
    position: static;
    line-height: inherit;
    color: inherit;
    transition: none;
    font-weight: 600;
}
.checkout-wrapper .plans .currency {
    font-size: 0.7300em;
    font-weight: 100 !important;
}
.checkout-wrapper .form-container.active {
    margin-top: 2em;
}
.checkout-wrapper section header.major {
    margin: 0 0 1.500em 0;
}
.checkout-wrapper .row.sub-title {
    margin-bottom: 20px;
}
.checkout-wrapper .summary {
    text-align: center;
}
.checkout-wrapper .summary .content {
    height: 40px;
    margin: 0 auto 20px auto;
    max-width: 460px;
}
.checkout-wrapper .summary .content .total {
    float: left;
    margin-right: 5px;
}
.checkout-wrapper .summary .content .promo-link {
    float: left;
    font-size: 0.700em;
    padding-top: 5px;
    margin-left: 3em;
}
.checkout-wrapper .payment-methods img {
    max-width: 220px;
    border-radius: 4px;
}
.checkout-wrapper #promo-success {
    color: #4cac4c;
    font-size: 0.8000em;
    font-weight: 600;
}
.checkout-wrapper #promo-error {
    color: #ed4e71;
    font-size: 0.8000em;
    font-weight: 600;
}
.checkout-wrapper .field {
    background-color: rgba(190, 189, 189, 0.075);
    box-sizing: border-box;
    font-weight: 300;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 44px;
    line-height: 44px;
    cursor: text;
    width: 100%;
    display: block;
    padding: 0 20px 3px 20px;
    transition: opacity 200ms ease-in-out;
}
.checkout-wrapper .field.field-icon {
    padding-left: 40px;
}
.checkout-wrapper .company-info {
    padding-top: 2em;
}
.checkout-wrapper .company-info p {
    font-size: 0.7000em;
    max-width: 520px;
    margin: 0 auto;
}
.checkout-wrapper .field:focus,
.field.StripeElement--focus {
    border-color: #7bd2ed;
    box-shadow: 0 0 0 1px #7bd2ed;
}
.checkout-wrapper label span.brand {
    top: 8px;
    left: 15px;
}
.checkout-wrapper label span.brand i.fa-cc-visa {
    color: #3b58a4;
}
.checkout-wrapper label span.brand i.fa-cc-mastercard {
    color: #164779;
}
.checkout-wrapper label span.brand i.fa-cc-amex {
    color: #117aa8;
}
@media screen and (max-width: 480px) {
    .checkout-wrapper .summary .content {
        height: 80px;
    }
    .checkout-wrapper .summary .content .total,
    .checkout-wrapper .summary .content .promo-link,
    .checkout-wrapper .summary .content .cards {
        float: none;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 0;
    }
    .jp-card .jp-card-front, .jp-card .jp-card-back {
        max-width: 90% !important;
    }
}


/**** 12- THANK YOU ****/
.thankyou-wrapper .confirmation {
    margin: 0 auto 20px auto;
    text-align: center;
}
@media screen and (min-width: 737px) {
    .thankyou-wrapper .confirmation {
        padding: 5em;
    }
}


/**** 13- ****/
.dashboard-wrapper {
    background-image: url("../img/dashboard-overlay.png"), linear-gradient(45deg, #7bd2ed 15%, #8aaddb 85%)
}
.dashboard-wrapper header.major {
    margin-bottom: 0;
}
.dashboard-wrapper header div.country {
    border: 0;
}
.dashboard-wrapper header div.country a {
    background-color: #FFFFFF;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 100%;
    display: inline-block;
    height: 5em;
    line-height: 6.55em;
    width: 5em;
}
.dashboard-wrapper header div.country a:hover {
    background-color: #dffdff;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.dashboard-wrapper header div.country img {
    display: inline;
    width: 32px;
}
.dashboard-wrapper header div.country h1 {
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: -0.025em;
    font-weight: 300;
    font-size: 3.25em;
    margin: 10px auto;
}
.dashboard-wrapper header div.country p {
    color: rgba(255, 255, 255, 0.65);
    max-width: 450px;
}
.dashboard-wrapper .dashboard-panel {
    background: #FFFFFF;
    border-radius: 6px;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu {
    background-color: #f7f7f7;
    width: 100%;
    border-radius: 6px;
    padding: 15px;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu ul li {
    display: inline-block;
    border-radius: 8px;
    padding: 3px 30px;
    margin: 0 10px;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu ul li:hover{
    background-color: #ececec;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu ul li.active{
    background-color: #FFFFFF;
}
.dashboard-wrapper .dashboard-panel .dashboard-menu ul li a{
    border: 0;
}
.dashboard-wrapper .dashboard-panel .dashboard-content {
    padding: 50px 70px;
}
.dashboard-wrapper .dashboard-panel .dashboard-content .intro {
    margin-bottom: 3.4em;
}
@media screen and (max-width: 737px) {
    .dashboard-wrapper .dashboard-panel .dashboard-content {
        padding: 30px;
    }
}

/**** 14- STORIES ****/
.stories-wrapper .listing-post {
    margin-bottom: 2em;
}
.stories-wrapper .listing-post h3 {
    margin-bottom: 0.5em;
    line-height: 1.1em;
    text-transform: none;
    font-size: 1.5em;
    letter-spacing: -0.48px;
    font-weight: 700;
}
.stories-wrapper .listing-post .box {
    max-width: 400px;
}
.stories-wrapper .listing-post .box:hover {
    box-shadow: inset 0 0 0 0, 0 0 15px 0 rgba(0,0,0,.1);
}
.stories-wrapper .listing-post .box .content {
    padding: 1.5em;
}
.stories-wrapper .listing-post .box .content p {
    margin-bottom: 0.8em;
    font-size: 1.000em;
}
.stories-wrapper .listing-post .image,
.stories-wrapper .listing-post ul.actions {
    margin-bottom: 0;
}
.stories-wrapper.details h1 {
    line-height: 1.0em;
}
.stories-wrapper.details .reading-text {
    font-size: 1.2700em;
    letter-spacing: -0.063px;
    line-height: 1.7400em;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}
.stories-wrapper.details .image.main img {
    margin: 0 auto 10px 0;
}
.stories-wrapper.details .image.main div {
    letter-spacing: normal;
    font-size: 0.7em;
    color: rgba(0,0,0,.6);
    line-height: 1.4;
    margin: 0 auto;
    text-align: center;
}
@media screen and (min-width: 738px) {
    .stories-wrapper.details .inner {
        max-width: 700px !important;
    }
}
@media screen and (max-width: 737px) {
    .stories-wrapper.details .reading-text {
        font-size: 1.1200em;
        letter-spacing: -0.072px;
        line-height: 1.6100em;
    }
    .stories-wrapper.details h1 {
        font-size: 2em;
        letter-spacing: -0.896px;
        line-height: 1.1000em
    }
}



/**** 15- GUIDE ****/
.guide-wrapper .summary {
    margin: 0 auto;
    max-width: 360px;
}
.guide-wrapper .summary h3{
    margin-bottom: 30px;
}
.guide-wrapper .summary ol li {
    margin-top: 0.6em;
    color: #494848;
}
.guide-wrapper .summary ol li a{
    font-size: 1.1em;
    color: #494848;
}
.guide-wrapper .locked .box {
    background-color: #919191 !important;
    position: relative;
}
.guide-wrapper .locked .box .lock {
    padding: 1px 8px;
    background-color: #cacaca;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.guide-wrapper.details h1 {
    line-height: 1.0em;
}
.guide-wrapper.details h2 {
    line-height: 1.0em;
    font-size: 2em;
}
.guide-wrapper.details .reading-text {
    font-size: 1.2700em;
    letter-spacing: -0.063px;
    line-height: 1.7400em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}
.guide-wrapper.details .image.main img {
    margin: 0 auto;
}
@media screen and (min-width: 738px) {
    .guide-wrapper.details .inner {
        max-width: 700px !important;
    }
}



/**** 16- DOCS ****/
.doc-wrapper .doc-listing .box {
    font-size: 0.800em;
    margin-bottom: 10px;
}
.doc-wrapper .doc-listing .box .content {
    padding: 1.0em 1.5em;
}
.doc-wrapper .doc-listing h2 {
    margin-top: 2em;
}
.doc-wrapper .doc-listing a {
    border: 0;
    vertical-align: middle;
}
.doc-wrapper .doc-listing img {
    max-width: 25px;
    border: 0;
    vertical-align: middle;
    margin-right: 1em;
}
.doc-wrapper .locked .box {
    background-color: #919191 !important;
    position: relative;
}
.doc-wrapper .locked .box .lock {
    padding: 1px 8px;
    background-color: #cacaca;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}



/**** 17- DISCUSSION ****/
.discussion-wrapper .discussion-listing .box {
    font-size: 0.800em;
    margin-bottom: 10px;
}
.discussion-wrapper .discussion-listing .box .content {
    padding: 1.5em 1.5em;
}
.discussion-wrapper .discussion-listing h2 {
    margin: 0;
}
.discussion-wrapper .discussion-listing a {
    border: 0;
    vertical-align: middle;
}
.discussion-wrapper .discussion-listing span {
    color: #a8a6a6;
}
.discussion-wrapper .discussion-listing p {
    margin: 5px 0 0 0;
    font-size: 1.2600em;
}
.discussion-wrapper .discussion-listing .member {
    padding-left: 0;
}
.discussion-wrapper #main p.intro {
    margin-bottom: 1.4em;
}
.discussion-wrapper .discussion-listing .reading-text {
    font-size: 1.0000em;
    letter-spacing: -0.063px;
    line-height: 1.7400em;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}
.discussion-wrapper .discussion-listing .reading-text p {
    -webkit-margin-after: 1em;
}
.discussion-wrapper .discussion-listing .reading-text.no-margin p {
    -webkit-margin-after: 0;
}
.discussion-wrapper .discussion-listing .member .country-name {
    margin: 7px auto 1px auto;
    color: #a8a6a6;
}
.discussion-wrapper .discussion-listing .member img.avatar {
    max-width: 70px;
    height: auto;
    border: 0;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.discussion-wrapper .discussion-listing .member img.flag {
    max-width: 17px;
    height: auto;
    opacity: 0.7;
}
.discussion-wrapper .discussion-listing .footer {
    margin-top: 1em;
    border-top: 1px solid #f1f1f1;
    padding-top: 1.3em;
    padding-left: 0;
}
.discussion-wrapper .discussion-listing .footer .row > * {
    padding-left: 0;
}
.discussion-wrapper .discussion-listing .footer ul {
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}
.discussion-wrapper .discussion-listing .footer ul li {
    display: inline;
    list-style: none;
    padding-right: 10px;
}
.discussion-wrapper .discussion-listing .footer ul li i{
    margin-right: 3px;
}
.discussion-wrapper .discussion-listing span.tag {
    padding: 5px 15px;
    font-size: 0.8000em;
    font-weight: 600;
    background-color: rgb(244, 247, 250);
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.discussion-wrapper .box .content .row {
    margin: 0 auto;
}
.discussion-wrapper.update .help-text{
    margin: 0 auto;
    max-width: 400px;
}
.discussion-wrapper.thread .discussion-listing .box .button{
    font-size: 0.7em;
    font-weight: 600;
}
.discussion-wrapper.thread .discussion-listing.replies .box .button.upvoted{
    background-color: #eaeaea;
    color: #a3a3a3 !important;
}
.discussion-wrapper.thread .post-reply {
    margin-top: 2em;
}
.discussion-wrapper.thread .post-reply h3 {
    color: #7f7d7d;
    font-size: 1em;
}
.discussion-wrapper.thread .post-reply textarea {
    background-color: #FFFFFF;
    height: 80px;
    -webkit-box-shadow: inset 0 0 0 0, 0 15px 15px -5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 0 0 0, 0 15px 15px -5px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 0, 0 10px 15px 2px rgba(0,0,0,.1);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.discussion-wrapper.thread .post-reply textarea.active {
    height: 200px;
}

@media screen and (max-width: 737px) {
    .discussion-wrapper .discussion-listing .footer .row div {
        text-align: center;
    }
}
