.content
    &.myaccount
        width 960px
        margin 0 auto 58px
        padding 58px 0 0 0
        overflow hidden

        .title
            display block
            padding 0 0 50px
            text-transform uppercase
            font-size 20px
            fontbd()
            font-weight normal
            color #68347e

        .interactions
            position relative
            clear both
            size 99% auto
            padding-bottom 50px
            margin-top 30px
            background-color #fafafa
            border 1px solid #d7d7d7

            .interaction-list
                position relative
                left -1px
                top -37px
                size 960px 35px
                margin 0 auto

                .interaction-item
                    float left
                    display block
                    width 138px
                    margin 0 2px 0
                    text-align center

                    &:first-child
                        margin-left 0

                    .interaction-link
                        display block
                        height 35px
                        line-height 35px
                        text-decoration none
                        border-left 1px solid #d7d7d7
                        border-top 1px solid #d7d7d7
                        border-right 1px solid #d7d7d7
                        border-radius 5px 5px 0 0
                        font-size 14px
                        background-color #eaeaea
                        color #888

                        &.active
                            position relative
                            background-color #fafafa
                            border-bottom 1px solid #fafafa
                            color #68347e
                            pointer-events none

            .my-profile
                padding 0 25px

                .bt-edit
                    float right
                    width 170px

                .identity
                    clear left
                    size 100% 150px
                    padding 45px 0 0
                    // box()
                    overflow hidden

                    .thumb
                        float left
                        square 125px

                        span
                            display block
                            // clear both
                            padding 0 0 10px
                            font-size 14px
                            color #888
                            overflow hidden

                        img
                            display block
                            square 100px

                    .data
                        padding 22px 0 0

                        span
                            display block
                            padding 0 0 7px
                            font-size 14px
                            color #888

                        strong
                            display block
                            padding 0 0 20px
                            font-weight normal
                            fontsb()
                            font-size 16px
                            color #555

                .extra-field
                    display block
                    padding 0 0 15px
                    font-size 14px
                    color #555

                    span
                        display block
                        padding 0 0 10px
                        font-size 14px
                        color #888

                    .text
                        display block
                        width 800px
                        line-height 22px
                        fontsb()
                        padding 0 0 0 20px

                .summary
                    size 100% 150px
                    font-size 14px
                    color #555

                    span
                        display block
                        padding 0 0 10px
                        font-size 14px
                        color #888

                    .text
                        display block
                        width 800px
                        line-height 22px
                        fontsb()
                        padding 0 0 0 20px

                .services
                    padding 0 0 0 0

                    .title
                        text-transform capitalize
                        padding-bottom 20px

                    .subtitle
                        font-size 14px
                        // margin-left -20px

                    span
                        display block
                        padding 0 0 15px

                    .supported-countries
                        padding 0 0 0 0

                        p
                            display inline-block
                            height 30px
                            line-height 30px
                            padding 0 10px 0 20px
                            fontbd()
                            font-size 16px
                            font-size 16px
                            color #777

                            &:last-child
                                padding 0 0 0 20px
                                border-left 1px solid #e1e1e1

                    .supported-services
                        margin 30px 0 5px

                        ul
                            padding 0 0 0 20px

                            li
                                display block
                                size 445px 50px
                                line-height 50px
                                fontbd()
                                font-size 16px
                                border-top 1px solid #e1e1e1

                                &:last-child
                                    border-bottom 1px solid #e1e1e1

                                strong
                                    position relative
                                    float left
                                    display inline-block
                                    font-weight normal
                                    color #777

                                    &:after
                                        content ''
                                        position absolute
                                        right -35px
                                        top 12px
                                        square 26px
                                        replace('icon-question-mark.png')

                                span
                                    float right
                                    display inline-block
                                    padding-bottom 0
                                    color #555

            .my-profile-edit
                display none
                padding 0 25px

                .bt-save
                    float right
                    width 170px

                .identity
                    clear left
                    size 100% 150px
                    padding 45px 0 0
                    // box()
                    overflow hidden

                    .thumb
                        float left
                        square 125px

                        span
                            display block
                            // clear both
                            padding 0 0 10px
                            font-size 14px
                            color #888
                            overflow hidden

                        img
                            display block
                            square 100px

                    .data
                        padding 0

                        span
                            display block
                            padding 0 0 7px
                            font-size 14px
                            color #888

                        strong
                            display block
                            padding 0 0 20px
                            font-weight normal
                            fontsb()
                            font-size 16px
                            color #555

                        .field
                            display block
                            padding 0 0 20px

                            label
                                display block
                                padding 0 0 5px 0
                                font-size 14px
                                color #888

                            input
                                width 40%
                                font-size 14px
                                color #888

                .extra-field
                    display block
                    padding 0 0 20px

                    label
                        display block
                        padding 0 0 5px 0
                        font-size 14px
                        color #888

                    input
                        width 40%
                        font-size 14px
                        color #888

                    .dd
                        width 200px !important

                .summary
                    size 100% auto
                    font-size 14px
                    color #888
                    font-size 14px
                    color #555

                    textarea
                        display block
                        width 54%
                        padding 10px 10px
                        resize none
                        box()
                        border 1px solid #d0b5db
                        border-radius(4px)
                        background-color #fff

                    span
                        display block
                        padding 0 0 10px
                        font-size 14px
                        color #888

                    .text
                        display block
                        width 800px
                        line-height 22px
                        fontsb()
                        padding 0 0 0 20px

                .services
                    padding 35px 0 0 0


                    .title
                        text-transform capitalize
                        padding-bottom 20px

                    .subtitle
                        font-size 14px
                        // margin-left -20px

                    .add-another
                        display block
                        margin-top 18px
                        font-size 12px
                        color #68347e
                        text-decoration none

                        &:hover
                            text-decoration underline


                    .supported-countries
                        padding 0 0 0 0

                        .field
                            position relative
                            display block
                            margin 10px 0 0

                            &:after
                                position absolute
                                left 0
                                top 0
                                z-index 9
                                square 12px
                                replace('icon-delete-select.png')

                        .custom-select
                            size 215px 45px

                        p
                            display inline-block
                            height 30px
                            line-height 30px
                            padding 0 10px 0 20px
                            fontbd()
                            font-size 16px
                            font-size 16px
                            color #777

                            &:last-child
                                padding 0 0 0 20px
                                border-left 1px solid #e1e1e1

                    .supported-services
                        margin 30px 0 5px

                        span
                            display block
                            padding 0 0 15px

                        .custom-select
                            size 350px 50px

                        ul
                            padding 0 0 0 0

                            .services-list
                                position relative
                                display block
                                size 535px 50px
                                line-height 50px
                                padding 0 0 0 0
                                margin 0 0 15px
                                fontbd()
                                font-size 16px

                                .dd
                                    float left

                                input
                                    position relative
                                    size 70px 50px
                                    line-height 50px
                                    background none
                                    border none
                                    text-align center
                                    font-size 16px
                                    fontbd()
                                    color #555

                                    &::-webkit-input-placeholder
                                       color #555

                                    &:-moz-placeholder
                                       color #555

                                    &::-moz-placeholder
                                       color #555

                                    &:-ms-input-placeholder
                                       color #555

                                    &:before
                                        position absolute
                                        left 0
                                        top 0
                                        z-index 9
                                        square 26px
                                        replace('icon-question-mark.png')

                                .ddlabel
                                    padding 0 0 0 20px

                                strong
                                    position relative
                                    float left
                                    display inline-block
                                    font-weight normal
                                    color #777

                                    &:after
                                        content ''
                                        position absolute
                                        right -35px
                                        top 12px
                                        square 26px
                                        replace('icon-question-mark.png')

                                span
                                    display inline-block
                                    padding-bottom 0
                                    color #555

            .my-contracts
                display none
                padding 0 25px

                .title
                    clear left
                    display block
                    padding-bottom 35px
                    text-transform none

                table
                    width 100%

                    tr
                        // height 45px

                        &.service
                            width 25%

                        &.professional
                            width 42%

                        &.date
                            width 9%

                        &.total
                            width 9%

                        &.status
                            width 11%
                            text-align center

                        th
                            padding 0 0 5px 10px
                            fontsb()
                            font-size 12px
                            color #777
                            text-align left

                        td
                            height 40px
                            padding 0 0 0 10px
                            line-height 35px
                            font-size 14px
                            border 4px solid #f9f9f9
                            background-color #fff
                            color #777

                            &.service
                                line-height 16px

                            &.status
                                fontsb()

                                &.paid
                                    color #179217

                                &.waiting
                                    line-height 16px
                                    color #ff8400

            .inbox
                display none
                position relative
                height 800px
                padding 0 20px 0 38px

                .title
                    display none

                .box-menu
                    position absolute
                    top 79px
                    left 0
                    width 150px
                    border-top 1px solid #e1e1e1

                    .box-item
                        display block
                        size 150px 50px

                        .box-link
                            display block
                            size 150px 50px
                            padding 0 0 0 35px
                            box()
                            line-height 50px
                            font-size 14px
                            fontsb()
                            color #888
                            text-decoration none

                            &.active
                                fontbd()
                                background-color #fff
                                color #68347e
                                border-right 6px solid #ffc600

                .box-top
                    position absolute
                    top 0
                    left 0
                    size 930px 80px
                    overflow hidden

                    .bt-newmessage
                        clear left
                        width 170px
                        margin 0 0 0 30px
                        font-size 14px

                    .messages-menu
                        float right
                        width 212px

                        li
                            display block
                            float left
                            height 15px
                            line-height 15px
                            padding 0 10px

                            &.garbage
                                border-left 1px solid #e1e1e1
                                border-right 1px solid #e1e1e1

                            &.check-all
                                position relative
                                square 15px
                                padding-right 0

                                input
                                    position relative
                                    top -2px
                                    display block
                                    square 15px

                            a
                                display block
                                font-size 12px
                                fontrg()
                                color #68347e
                                text-decoration none

                                &:hover
                                    text-decoration underline

                    .newmessage-top
                        display none
                        position absolute
                        left 0
                        top 0
                        size 100% 80px

                        .newmessage-title
                            position absolute
                            left 30px
                            top 15px
                            display block
                            text-transform uppercase
                            fontbd()
                            font-size 16px
                            color #68347e

                        .bt-cancel
                            position absolute
                            right 0
                            top 15px
                            size 105px 30px
                            line-height 30px
                            font-size 12px

                .box-newmessage
                    display none
                    float right
                    width 80%
                    margin 77px 0 0 0

                    form
                        fieldset
                            display block

                            .field
                                display block
                                padding 0 0 15px

                                &.file
                                    position relative
                                    size 105px 20px
                                    cursor pointer

                                    p
                                        position relative
                                        display block
                                        size 105px 20px
                                        font-size 14px
                                        color #68347e

                                        input
                                            position absolute
                                            left 0
                                            top 0
                                            size 105px 20px
                                            cursor pointer
                                            opacity 0

                                label
                                    display block
                                    padding 0 0 5px 0
                                    font-size 14px
                                    color #888

                                input,
                                textarea
                                    width 70%
                                    font-size 14px
                                    color #888

                                textarea
                                    display block
                                    padding 10px 10px
                                    resize none
                                    box()
                                    border 1px solid #d0b5db
                                    border-radius(4px)
                                    background-color #fff

                        .bt-send
                            width 105px
                            margin 20px 0 0
                            font-size 14px

                .box-messages
                    float right
                    width 785px
                    margin 77px 0 0 0

                    table
                        width 785px
                        border-left 1px solid #e1e1e1

                        tr
                            display block
                            height 50px
                            padding 0 0 0 35px
                            line-height 50px
                            border-top 1px solid #e1e1e1

                            &.not-read
                                font-size 14px
                                fontbd()
                                color #68347e

                                td.date,
                                td.time
                                    font-size 12px
                                    color #555

                            &.read
                                font-size 14px
                                fontrg()
                                color #555

                                td.date,
                                td.time
                                    font-size 12px
                                    color #555

                            td
                                position relative
                                overflow hidden

                                .message-link
                                    text-decoration none

                                    &:hover
                                        text-decoration underline

                                span

                                    input
                                        position relative
                                        top 7px
                                        display block
                                        square 15px
                                        line-height 50px

                                &.author
                                    width 150px

                                &.message-title
                                    width 440px

                                &.date
                                    width 68px

                                &.time
                                    width 48px

                .box-dialogue
                    display none
                    float right
                    width 785px
                    margin 77px 0 0 0

                    .message-title
                        display block
                        height 50px
                        border-top 1px solid #e1e1e1
                        border-bottom 1px solid #e1e1e1

                        .message
                            float left
                            display block
                            size 530px 50px
                            line-height 50px
                            padding 0 0 0 60px
                            fontbd()
                            font-size 16px
                            color #68347e

                        .bt-answer
                            float right
                            size 105px 30px
                            line-height 30px
                            margin 9px 0 0 0
                            fontbd()
                            font-size 12px
                            color #68347e

                    .answer
                        display none
                        float right
                        width 715px

                        label
                            display none

                        textarea
                            display block
                            width 715px
                            padding 15px 20px
                            box()
                            margin-top 15px
                            border 1px solid #d0b5db
                            border-radius(5px)
                            resize none
                            background-color #fff

                        .bt-send
                            float left
                            display block
                            width 110px
                            margin 6px 0 0 0
                            font-size 14px

                        .bt-discard
                            float right
                            size 16px 21px
                            margin 10px 0 0 0
                            replace('icon-trash.png')

                            &:hover
                                background-position 0 bottom

                    .dialogues
                        size 100% auto
                        padding-top 15px
                        border-left 1px solid #e1e1e1
                        overflow hidden

                        .dialogue
                            position relative
                            float right
                            width 715px
                            padding 15px 20px
                            box()
                            margin-bottom 15px
                            border 1px solid #b7b7b7
                            border-radius(5px)
                            background-color #fff

                            &.recent
                                .when
                                    color #68347e

                            &.odd
                                background-color #f1f1f1
                                border transparent

                                .when
                                    text-transform uppercase

                            &.even
                                background-color #fff
                                border transparent

                                .when
                                    text-transform uppercase

                        .thumb
                            position absolute
                            left -40px
                            top 0
                            size 40px 52px

                            img
                                display block
                                square 40px
                                margin 12px 0 0

                        .text
                            display block
                            padding 0 0 20px
                            line-height 22px
                            fontrg()
                            font-size 14px

                            color #555

                        .author
                            position absolute
                            left 20px
                            bottom 15px
                            display block
                            font-size 10px
                            text-transform uppercase
                            color #888

                        .when
                            position absolute
                            right 20px
                            bottom 15px
                            display block
                            font-size 10px
                            color #acacac
