@import 'reset'
@import 'fonts'
@import 'mixins'
@import 'jquery.raty'

.dashboard
    fontrg()
    color #888

    .button
        button()

    .button-transparent
        display block
        height 45px
        line-height 45px
        border 1px solid #dfc3eb
        border-radius(5px)
        text-decoration none
        text-align center
        fontbd()
        font-size 16px
        color #68347e

        &:hover
            background-color #f7effa
            border-color #c2c2c2

    input
        display block
        height 35px
        padding 0 10px
        box()
        border 1px solid #d0b5db
        border-radius(4px)
        background-color #fff

    header
        size 100% 80px
        background-color #68347e

        .logo
            float left
            size 190px 30px
            margin 28px 0 0 50px
            replace('logo-wannamigrate.png')
            background-size 100% auto
            cursor pointer

            a
                display block
                width 100%
                height 100%

        .bt-nav
            display none

        .interaction
            float right
            size 700px 80px
            padding 20px 50px 0 0
            box()

            nav
                float left

                .nav-item
                    float left
                    display inline-block
                    padding 10px 15px 0 0

                    .nav-link
                        fontbd()
                        font-size 14px
                        text-decoration none
                        color #fff

                        &:hover
                            text-decoration underline

            .search
                position relative
                float left
                display block
                size 195px 35px

                .bt-back
                    display none

                label
                    display none

                input
                    display block
                    size 195px 35px
                    padding 0 10px 0 14px
                    margin 3px 0 0 0
                    box()
                    border 1px solid #d0b5db
                    border-radius(3px)
                    line-height 35px
                    fontrg()
                    font-size 14px
                    background transparent
                    color #efefef

                .bt-search
                    position absolute
                    right 0
                    top 0
                    display block
                    square 35px
                    cursor pointer
                    replace('icon-lupa.png')

            .account
                float right
                size 145px 40px

                .thumb
                    float left
                    display block
                    square 40px
                    margin 0 9px 0 0
                    overflow hidden

                .my-account
                    position relative
                    display block
                    height 40px
                    line-height 40px
                    text-decoration none
                    fontsb()
                    font-size 14px
                    color #fff

                    &:after
                        content ''
                        position absolute
                        right 0
                        top 12px
                        square 6px
                        transform rotate(45deg)
                        border 3px solid #fff
                        border-left-color transparent
                        border-top-color transparent
                        border-radius(3px)

    //Autocomplete
    .autocomplete-suggestions
        padding 1% 0
        border none
        background #4e4e4e
        overflow auto

        strong
            font-weight normal
            color #dcddb6

        .autocomplete-suggestion
            padding 10px 20px
            fontsb()
            font-size 14px
            white-space nowrap
            color #fff
            overflow hidden

        .autocomplete-no-suggestion
            text-align center

        .autocomplete-selected
            background #F0F0F0
            color #000

            strong
                color #68347e

        .autocomplete-suggestions

        .autocomplete-group
            padding 2px 5px

        .autocomplete-group strong
            display block
            border-bottom 1px solid #000

    .topics
        position absolute
        z-index 10

    /* The main container */
    #sticky-list
        display none
        height 100%
        overflow hidden
        position relative
        background-color #fff
        z-index 0

    /* The main list */
    #sticky-list > ul
        height 570px
        // padding 0 5px
        overflow auto

    /* Section headers, defined through "headlineSelector" */
    #sticky-list > ul > li strong
        display block
        width 100% !important
        height 25px
        line-height 25px
        padding 0 0 0 20px
        box()
        fontbd()
        font-weight normal
        font-size 18px
        text-transform uppercase
        background-color #f0f0f0
        color #68347e

    /* Section headers when "sticky", defined through "stickyClass" */
    #sticky-list > ul > li.sticky strong
        position absolute
        top 0

    #sticky-list > ul ul li
        display block
        height 35px
        padding 0 0 0 20px
        // box()
        line-height 35px
        font-size 14px
        color #777

    .situations
        position relative
        size 100% 145px
        background-color #f6f6f6

        .situation
            position absolute
            left 50%
            margin-left -480px
            size 960px 145px
            padding 50px 0 0 0
            box()
            fontlt()
            font-size 18px
            color #68347e

            .field
                position relative
                float left
                display inline-block
                height 45px
                line-height 45px
                padding 0 30px

                &:first-child
                    padding-left 0
                    &:before
                        display none

                &.want
                    padding-top 0
                    line-height 22px

                    strong
                        display block

                &:before
                    content ''
                    position absolute
                    left -20px
                    top 8px
                    square 30px
                    border-right 1px solid #d2d2d2
                    border-top 1px solid #d2d2d2
                    transform rotate(45deg)

                .other-people
                    display block
                    font-size 10px
                    color #777


                strong
                    font-weight normal
                    fontbd()

            .from,
            .to
                p
                    // text-align center
                    line-height 22px

                    .flag
                        content ""
                        position absolute
                        left 0
                        top 0
                        bottom 0
                        margin auto
                        width 16px
                        height 11px

                    .country
                        padding-left 30px

                    strong
                        display block

            .from
                p
                    .flag
                        left 0
                        top 20px

            .to
                p
                    .flag
                        left 30px
                        top 20px

            .bt-change-situation
                float right
                width 200px

        .change-situation
            display none
            position absolute
            left 50%
            margin-left -480px
            size 960px 145px
            padding 15px 0 0 0
            box()
            fontlt()
            font-size 18px
            color #68347e

            form
                size auto 120px
                padding 20px 0
                box()

                fieldset
                    float left

                .field
                    float left

                    label
                        display block
                        fontrg()
                        font-size 16px
                        padding 0 0 10px 10px
                        color #777

                .from
                    size 220px 45px
                    select
                        size 220px 45px

                .want
                    size 258px 45px
                    margin 0 20px

                    select
                        size 258px 45px

                .to
                    select
                        size 220px 45px

                .bt-change
                    float right
                    width 155px
                    margin-top 26px

    .content
        width 960px
        margin 0 auto

        .bt-alternator
            display none

        .questions
            float left
            width 480px
            margin 35px 0 0 0

            .top
                height 40px
                padding-top 10px
                padding-bottom 15px
                border-bottom 1px solid #d7d7d7

                .title
                    position relative
                    float left
                    display block
                    padding 8px 0 0 48px
                    box()
                    text-transform uppercase
                    fontbd()
                    font-weight normal
                    font-size 20px
                    color #68347e

                    &:before
                        content ''
                        position absolute
                        left 0
                        top 0
                        square 38px
                        replace('icon-question-title.png')
                        background-position center center
                        border 1px solid #68347e
                        border-radius 50%

                .bt-add
                    float right
                    width 150px
                    font-size 14px

            .bt-add-mobile
                display none

            .question
                position relative
                padding 25px 0 20px
                border-bottom 1px solid #d7d7d7

                .tags
                    clear both
                    size 100% 45px

                    .tag
                        float left
                        display inline-block
                        margin-right 5px

                        .tag-link
                            display inline-block
                            padding 5px 20px
                            border 1px solid #ccc
                            border-radius(15px)
                            text-decoration none
                            text-align center
                            font-size 12px
                            color #555

                            &.active
                                background-color #ebebeb

                .data-question
                    .title-question
                        display block
                        padding 0 0 10px 0
                        line-height 1.3em
                        fontbd()
                        font-weight normal
                        font-size 18px
                        color #68347e

                    a
                        text-decoration none

                        &:hover
                            .title-question
                                text-decoration underline

                    .answer
                        display block
                        padding 0 0 20px 0
                        line-height 22px
                        font-size 14px
                        color #888

                .data
                    height 30px
                    overflow hidden

                    .data-item
                        float left
                        display inline-block
                        height 30px
                        line-height 30px
                        margin 0 20px 0 0
                        font-size 10px
                        text-transform uppercase

                        .data-link
                            text-decoration none
                            font-size 10px
                            color #999

                            strong
                                font-weight normal

                            &.bt-follow
                                display block
                                size 115px 30px
                                line-height 30px
                                padding 0 0 0 12px
                                box()
                                text-transform capitalize
                                fontbd()
                                font-size 12px
                                border 1px solid #dfc3eb
                                border-radius(4px)
                                color #68347e

                                &:hover
                                    background-color #f7effa

                                span
                                    position relative
                                    padding 0 0 0 18px

                                    &:before
                                        content ''
                                        position absolute
                                        left 0
                                        top 3px
                                        size 16px 10px
                                        replace('icon-data.png')

                            &.answers
                                position relative
                                padding 0 0 0 20px

                                &:before
                                    content ''
                                    position absolute
                                    left 0
                                    top 1px
                                    size 16px 12px
                                    replace('icon-data.png')
                                    background-position 0 bottom

                            &.viewers
                                position relative
                                padding 0 0 0 20px

                                &:before
                                    content ''
                                    position absolute
                                    left 0
                                    top 2px
                                    size 16px 9px
                                    replace('icon-data.png')
                                    background-position 0 -89px


                        strong
                            fontbd()
                            font-weight normal
                            color #333

                .bt-options
                    position absolute
                    right 0
                    bottom 0
                    size 23px 30px
                    replace('icon-share.png')
                    transition none
                    background-position 0 center

                    &:hover
                        background-position -49px center

            .bt-view-more
                margin 35px 0

        .professionals
            float right
            width 390px
            margin 45px 0 0 0

            .content-professionals
                padding 5px 0 45px
                background-color #f9f9f9

            .top
                width 390px
                height 40px
                padding-top 10px
                padding-bottom 5px
                margin 0 0 0 0
                background-color #f9f9f9
                // border-bottom 1px solid #d7d7d7

                .title
                    position relative
                    float left
                    display block
                    padding 9px 0 0 48px
                    margin-left 30px
                    box()
                    text-transform uppercase
                    fontbd()
                    font-weight normal
                    font-size 20px
                    color #68347e

                    &:before
                        content ''
                        position absolute
                        left 0
                        top 0
                        square 38px
                        replace('icon-professional-title.png')
                        background-position center center
                        border 1px solid #68347e
                        border-radius 50%

            .professional
                position relative
                width 324px
                padding 35px 0 0 0
                margin 0 0 0 30px
                border-top 1px solid #d7d7d7

                &:last-child
                    border-bottom 1px solid #d7d7d7

                .thumb
                    float left
                    square 100px
                    margin 0 17px 0 0
                    overflow hidden

                .data-professional
                    .name
                        display block
                        line-height 12px
                        font-size 16px
                        fontbd()
                        font-weight normal
                        color #555

                    .expert
                        display block
                        padding 7px 0 5px
                        line-height 18px
                        font-size 14px
                        color #888

                    .rate
                        float left
                        display block
                        overflow hidden
                        margin-top 8px
                        width 115px

                        .count
                            float right
                            margin-right 8px
                            font-size 10px
                            line-height 17px
                            color #888

                    .service
                        clear left
                        display block
                        padding 18px 0 20px
                        font-size 14px
                        color #555

                        .more-services
                            fontbd()
                            font-weight normal
                            text-decoration none
                            font-size 14px
                            color #9546ab

                .data
                    height 30px
                    padding 0 0 5px
                    overflow hidden

                    .data-item
                        float left
                        display inline-block
                        height 30px
                        line-height 30px
                        margin 0 20px 0 0
                        font-size 10px
                        text-transform uppercase

                        .data-link
                            text-decoration none
                            font-size 10px
                            color #777

                            &.answers
                                position relative
                                padding 0 0 0 20px

                                &:before
                                    content ''
                                    position absolute
                                    left 0
                                    top 1px
                                    size 16px 12px
                                    replace('icon-data.png')
                                    background-position 0 bottom

                            &.viewers
                                position relative
                                padding 0 0 0 20px

                                &:before
                                    content ''
                                    position absolute
                                    left 0
                                    top 2px
                                    size 16px 9px
                                    replace('icon-data.png')
                                    background-position 0 -89px

                        strong
                            fontbd()
                            font-weight normal
                            color #333

                .bt-options
                    position absolute
                    right 0
                    bottom 15px
                    size 23px 30px
                    replace('icon-share.png')
                    background-position 0 bottom

                    &:hover
                        background-position -49px bottom

                &:hover
                    cursor pointer
                    .name
                        text-decoration underline

            .bt-view-more
                width 324px
                margin 45px auto 75px
                overflow hidden

        .questions,
        .professionals
            .question,
            .professional
                .box-options
                    display none

                    .box
                        position absolute
                        right -38px
                        bottom -105px
                        z-index 3
                        width 109px
                        padding 0 2px
                        border 2px solid #ebebeb
                        border-radius(4px)
                        background-color #fff
                        -webkit-box-shadow: -4px 1px 31px 0px rgba(102,102,102,1);
                        -moz-box-shadow: -4px 1px 31px 0px rgba(102,102,102,1);
                        box-shadow: -4px 1px 31px 0px rgba(102,102,102,1);

                        &:before
                            content ''
                            position absolute
                            top -15px
                            left 50%
                            margin-left -14px
                            square 0
                            border-style: solid;
                            border-width: 0 15px 15px 15px;
                            border-color: transparent transparent #ffffff transparent;

                        li
                            size 100% 33px

                            a
                                display block
                                size 100% 33px
                                line-height 33px
                                fontsb()
                                font-size 14px
                                text-align center
                                text-decoration none
                                color #888

                                &:hover
                                    background-color #9546ab
                                    color #fff

                    &.show-box
                        display block

        &.home
            display block

        &.hire
            display none

            .professionals
                clear left
                float none
                width 100%
                background-color #fff

                .top
                    margin-left 0
                    background-color transparent

                    .title
                        padding-left 20px

                        &:before
                            left -30px

                .professional
                    size 100% 180px
                    border-top 0
                    margin-left 0
                    padding-bottom 15px
                    border-bottom 1px solid #e1e1e1

                    .identity
                        float left
                        width 40%

                        .data-professional
                            width 80%

                    .description
                        float left
                        display block
                        width 40%
                        line-height 22px
                        font-size 14px
                        color #888

                    .data
                        clear left

                    .bt-hire
                        position relative
                        float right
                        size 150px 50px
                        padding-left 27px

                        &:before
                            content ''
                            position absolute
                            left 40px
                            top 13px
                            size 25px 22px
                            replace('icon-hire.png')

                    .tags
                        clear both
                        size 100% 25px
                        padding-top 20px

                        .tag
                            float left
                            display inline-block
                            margin-right 5px

                            .tag-link
                                display inline-block
                                padding 5px 20px
                                border 1px solid #ccc
                                border-radius(15px)
                                text-decoration none
                                text-align center
                                font-size 12px
                                color #555

                                &.active
                                    background-color #ebebeb

            .bt-view-more
                width 205px
                margin 35px auto

        &.hiring
            display none
            width 100%
            padding-top 35px

            .professional
                width 960px
                height auto
                border-top 0
                margin 0 auto 45px
                overflow hidden

                .identity
                    float left
                    width 60%

                    .thumb
                        float left
                        square 100px
                        margin 0 17px 0 0
                        overflow hidden

                    .data-professional
                        width 100%
                        .name
                            display block
                            line-height 26px
                            padding-bottom 10px
                            font-size 20px
                            fontbd()
                            color #68347e

                        .expert
                            display block
                            line-height 18px
                            font-size 15px
                            color #555

                        .rate
                            float left
                            display block
                            overflow hidden
                            margin-top 8px
                            width 115px

                            .count
                                float right
                                margin-right 8px
                                font-size 10px
                                line-height 17px
                                color #888

                .description
                    clear left
                    width 90%
                    margin 25px 0
                    overflow hidden

                    p
                        display block
                        margin-top 25px
                        line-height 22px
                        font-size 14px
                        color #888

                    ul
                        display block
                        padding 25px 0 0
                        list-style disc
                        overflow hidden

                        li
                            display block
                            line-height 22px
                            padding 5px 0
                            font-size 14px
                            color #888

            .services
                float right
                width 38%
                background-color #f9f9f9

                .top
                    height 40px
                    padding-top 10px
                    padding-bottom 10px
                    margin 0 0 0 20px

                    .title
                        position relative
                        float left
                        display block
                        padding 8px 0 0 48px
                        box()
                        text-transform uppercase
                        fontbd()
                        font-size 20px
                        color #68347e

                        &:before
                            content ''
                            position absolute
                            left 0
                            top 0
                            square 38px
                            replace('icon-services-title.png')

                .services-list
                    display block
                    width 90%
                    margin 0 auto

                    .service-item
                        position relative
                        display block
                        size 100% 103px
                        border-top 1px solid #d7d7d7

                        &.skype
                            &:before
                                size 42px 34px

                            .title-service
                                padding-top 43px

                        &.elegibility
                            &:before
                                size 42px 39px
                                background-position 0 -103px

                        &.visa
                            &:before
                                size 42px 31px
                                background-position 0 -211px

                        &.review
                            &:before
                                size 42px 42px
                                background-position 0 -311px

                            .title-service
                                padding-top 43px

                        &:before
                            content ''
                            position absolute
                            left 0
                            top 34px
                            replace('icon-services.png')

                        .title-service
                            float left
                            display block
                            width 210px
                            padding 38px 0 0 50px
                            box()
                            fontsb()
                            font-size 16px
                            font-weight normal
                            color #555

                        .price
                            display block
                            width 110px
                            margin 15px 0 5px 0
                            text-align center
                            fontbd()
                            font-size 16px
                            font-weight normal
                            color #555
                            overflow hidden


                .bt-hire
                    position relative
                    float right
                    size 110px 40px
                    padding-left 25px
                    font-size 14px

                    &:before
                        content ''
                        position absolute
                        left 24px
                        top 9px
                        size 25px 22px
                        replace('icon-hire.png')

            .interactions
                position relative
                clear both
                size 100% 600px
                background-color #fafafa
                border-top 1px solid #d7d7d7

                .interaction-list
                    position relative
                    top -37px
                    size 960px 35px
                    margin 0 auto

                    .interaction-item
                        float left
                        display block
                        width 138px
                        margin 0 2px 0
                        text-align center

                        .interaction-link
                            display block
                            height 35px
                            line-height 35px
                            text-decoration none
                            border-left 1px solid #d7d7d7
                            border-top 1px solid #d7d7d7
                            border-right 1px solid #d7d7d7
                            border-radius 5px 5px 0 0
                            font-size 14px
                            background-color #eaeaea
                            color #888

                            &.active
                                position relative
                                background-color #fafafa
                                border-bottom 1px solid #fafafa
                                color #68347e
                                pointer-events none

                .reviews
                    display block
                    clear left
                    width 960px
                    margin 0 auto

                    .review
                        padding 0 0 20px 0
                        .thumb
                            float left
                            size 40px 110px
                            margin 12px 0 0 0
                            border-bottom 1px solid #d7d7d7

                        .box
                            width 490px
                            padding 20px
                            box()
                            border-radius 10px
                            background-color #fff
                            overflow hidden

                            p
                                clear both
                                display block
                                padding 0 0 20px 0
                                line-height 20px
                                font-size 14px
                                color #555

                            .author
                                float left
                                display block
                                text-transform uppercase
                                font-size 10px
                                color #888

                            .posted
                                float right
                                display block
                                text-transform uppercase
                                font-size 10px
                                color #888

                .answers
                    display none
                    clear left
                    width 960px
                    margin 0 auto

                    .search
                        position relative
                        display block
                        size 530px 35px

                        .bt-back
                            display none

                        label
                            display none

                        input
                            display block
                            size 530px 35px
                            padding 0 10px 0 14px
                            margin 3px 0 0 0
                            box()
                            border 1px solid #d0b5db
                            border-radius(3px)
                            line-height 35px
                            fontrg()
                            font-size 14px
                            background #fff
                            color #efefef

                        .bt-search
                            position absolute
                            right 0
                            top 3px
                            display block
                            square 35px
                            cursor pointer
                            replace('icon-lupa.png')

                    .title-answers
                        display block
                        padding 35px 0 20px
                        fontbd()
                        font-size 18px
                        color #68347e


                    .answer
                        position relative
                        display block
                        width 530px
                        padding 0 0 15px 0
                        border-bottom 1px solid #d7d7d7

                        .thumb
                            float left
                            display block
                            square 40px
                            margin 0 20px 0 0
                            overflow hidden

                        .answer-field
                            display block
                            size 430px auto
                            overflow hidden

                            .name
                                display block
                                padding 0 0 10px
                                font-size 16px
                                fontbd()
                                color #313131

                            p
                                display block
                                padding 0 0 20px
                                line-height 22px
                                font-size 14px
                                color #555

                        .bt-options
                            position absolute
                            right 0
                            bottom 10px
                            square 30px
                            replace('icon-share.png')
                            background-position 0 bottom

                            &:hover
                                background-position -49px bottom

        &.payment
            display none
            padding-top 35px

            .professional
                size 478px 200px
                background-color #f9f9f9

                .top
                    height 40px
                    padding-top 15px
                    padding-bottom 20px
                    margin 0 0 0 30px

                    .title
                        position relative
                        float left
                        display block
                        padding 8px 0 0 48px
                        box()
                        text-transform uppercase
                        fontbd()
                        font-weight normal
                        font-size 20px
                        color #68347e

                        &:before
                            content ''
                            position absolute
                            left 0
                            top 0
                            square 38px
                            replace('icon-professional-title.png')
                            background-position center center
                            border 1px solid #68347e
                            border-radius 50%

                .identity
                    padding 0 30px

                    .thumb
                        float left
                        square 100px
                        margin 0 17px 0 0
                        overflow hidden

                    .data-professional
                        width 100%

                        .name
                            display block
                            line-height 18px
                            font-size 20px
                            fontbd()
                            font-weight normal
                            color #68347e

                        .expert
                            display block
                            padding 10px 0 10px
                            line-height 18px
                            font-size 15px
                            color #555

                        .rate
                            float left
                            display block
                            overflow hidden
                            margin-top 8px
                            width 115px

                            .count
                                float right
                                margin-right 8px
                                font-size 10px
                                line-height 17px
                                color #888

            .services
                size 418px 40px
                padding 30px
                // box()
                margin 22px 0 75px
                background-color #f9f9f9

                .title
                    position relative
                    float left
                    display block
                    padding 8px 0 0 48px
                    box()
                    text-transform uppercase
                    fontbd()
                    font-weight normal
                    font-size 20px
                    color #68347e

                    &:before
                        content ''
                        position absolute
                        left 0
                        top 0
                        square 38px
                        replace('icon-services-title.png')

                .service
                    position relative
                    float right
                    display block
                    size 180px 50px
                    padding 0 0 0 50px
                    line-height 20px
                    box()
                    color #555

                    &.skype
                        &:before
                            size 42px 34px

                        .title-service
                            padding-top 43px

                    &.elegibility
                        &:before
                            size 42px 39px
                            background-position 0 -103px

                    &.visa
                        &:before
                            size 42px 31px
                            background-position 0 -211px

                    &.review
                        &:before
                            size 42px 42px
                            background-position 0 -311px

                        .title-service
                            padding-top 43px

                    &:before
                        content ''
                        position absolute
                        left 0
                        top 5px
                        replace('icon-services.png')

            .interactions
                position relative
                clear both
                size 650px 450px
                margin-bottom 50px
                background-color #fafafa
                border 1px solid #d7d7d7

                .interaction-list
                    position relative
                    left -3px
                    top -37px
                    size 960px 35px
                    margin 0 auto

                    .interaction-item
                        float left
                        display block
                        width 138px
                        margin 0 2px 0
                        text-align center

                        .interaction-link
                            display block
                            height 35px
                            line-height 35px
                            text-decoration none
                            border-left 1px solid #d7d7d7
                            border-top 1px solid #d7d7d7
                            border-right 1px solid #d7d7d7
                            border-radius 5px 5px 0 0
                            font-size 14px
                            background-color #eaeaea
                            color #888

                            &.active
                                position relative
                                background-color #fafafa
                                border-bottom 1px solid #fafafa
                                color #68347e
                                pointer-events none

            .credit-card
                clear left
                padding 0 25px
                box()

                .field
                    float left
                    display block

                label
                    font-size 14px
                    color #777

                .address
                    display block
                    border-bottom 1px solid #d7d7d7

                    strong
                        fontsb()
                        font-weight normal
                        font-size 14px

                    .field
                        size 285px 50px
                        line-height 40px

                        input
                            float left
                            display block

                        label
                            padding-left 5px

                .data

                    .card-flags
                        size 100% 50px
                        margin 25px 0

                        ul
                            li
                                float left
                                size 70px 50px
                                margin 0 5px 0
                                border-radius(4px)
                                border 1px solid #e1e1e1
                                cursor pointer
                                text-indent -9999px
                                replace('flags-card.png')
                                background-color #fff

                                &:hover,
                                &.active
                                    border-color #9546ab

                                &.visa
                                    background-position 0 -2px

                                &.mastercard
                                    background-position -78px -2px

                                &.diners
                                    background-position -156px -2px

                                &.american
                                    background-position -235px -2px

                    label
                        display block
                        padding 0 0 5px
                        overflow hidden

                    .field
                        padding-bottom 23px

                    .card-number
                        input
                            width 225px

                    .name
                        float right
                        input
                            width 350px

                    .cpf
                        margin-right 25px
                        input
                            width 225px

                    .expiration-date
                        width 122px

                        .month
                            float left
                            margin-right 5px

                            input
                                width 45px
                        .year
                            input
                                width 65px

                    .security-code
                        position relative
                        float right

                        &:after
                            content ''
                            position absolute
                            right 5px
                            top 22px
                            size 47px 29px
                            replace('icon-card-security.png')

                        input
                            width 220px

                    .hire-purchase
                        .dd
                            border-color #d0b5db
                        select
                            width 225px

                    .button
                        float right
                        width 150px
                        margin 10px 0 0

    &.show-hire
        .content
            &.home
                display none

            &.hiring
                display block

    footer
        position relative
        clear both
        size 100% 70px
        padding 0 60px 0 70px
        box()
        background-color #555

        .logo
            float left
            size 140px 30px
            margin 28px 0 0 0
            replace('logo-wannamigrate.png')
            background-size 100% auto

        .nav-footer
            position absolute
            left 50%
            top 28px
            display block
            size 430px 18px
            margin-left -220px

            li
                float left
                display inline-block
                padding 0 15px

                &.privacy
                    border-left 1px solid #fff
                    border-right 1px solid #fff

                .nav-footer-link
                    text-decoration none
                    text-transform capitalize
                    font-size 14px
                    color #fff

        .copyright
            position absolute
            right 60px
            top 0
            display block
            size 260px 70px
            text-align right
            line-height 70px
            font-size 12px
            color #cacaca

@import 'responsive'

