
/* SQL Output - For debug */
#sql-output {
    clear: both;
    display: block;
    border: 1px solid #000;
    width: 80%;
    margin: 300px auto;
    font-size: 16px;
    font-family: open_sansregular;
    padding: 30px;
}

#sql-output h1 {
    text-align: center;
    font-size: 20px;
    font-family: open_sanssemibold;
    color: #000;
}

/* Form errors */
.inputError{
	border: 2px solid #ed1c24 !important;
}
form .has-error li, form .has-error span {
    color: #ed1c24;
}

form .has-error input, form .has-error textarea, form .has-error select, form .has-error div.borderRadius {
    border: 2px solid #ed1c24 !important;
}

form .inline {
    display: inline;
}


/* SELECT */
select.default-select {
    border: 1px solid #d0b5db;
    background-color: #FFF;
    width: 350px;
    height: 42px;
    font-size: 16px;
    color: #888;
}

select.default-select.small {
    height: 35px;
    font-size: 14px;
}


/** Messages, alerts, etc */
form .errorlist {
    color: #ed1c24;
}



/* ALERTS (ERRORS, SUCCESS) */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}



/* Landing Page */
.landing header nav {
  width: 590px;
}
@media screen and (max-width: 1366px) {
    .landing header nav {
        width: 510px;
    }
}

@media screen and (max-width: 1366px) {
    .landing header nav {
        width: 510px;
    }
}

.landing footer .nav-footer {
    width: 540px;
}

@media screen and (max-width: 1366px) {
    .landing footer .nav-footer {
        width: 470px;
      }
}
.landing footer .nav-footer li.contact {
    border-right: 1px solid #a9a9a9;
}
.landing footer .nav-footer li.language a.nav-footer-link.bt-options {
    padding-left: 22px;
    position: relative;
}
.landing footer .nav-footer li.language a.nav-footer-link.pt,
.landing footer .nav-footer li.language a.nav-footer-link.pt-br {
    background: transparent url( "../img/icon-language-pt.png" ) no-repeat 0px 0px;
}
.landing footer .nav-footer li.language a.nav-footer-link.en {
    background: transparent url( "../img/icon-language-en.png" ) no-repeat 0px 0px;
}
.landing footer .nav-footer li.language a.nav-footer-link.bt-options:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0px;
    display: block;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 3px solid #a9a9a9;
    border-left-color: transparent;
    border-top-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.landing footer .box-options {
    display: none;
    position: relative;
    bottom: 145px;
}
.landing footer .box-options .box {
    position: absolute;
    right: -45px;
    bottom: -105px;
    z-index: 3;
    width: 164px;
    font-size: 12px;
    padding: 0 3px;
    border: 2px solid #ebebeb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: -4px 1px 31px 0px #666;
    -moz-box-shadow: -4px 1px 31px 0px #666;
    -moz-box-shadow: -4px 1px 31px 0px #666;
    -webkit-box-shadow: -4px 1px 31px 0px #666;
    box-shadow: -4px 1px 31px 0px #666;
}
.landing footer .box-options .box:before {
    content: '';
    position: absolute;
    top: 66px;
    left: 50%;
    margin-left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #fff transparent transparent transparent;
}
.landing footer .box-options .box li {
    width: 100%;
    height: 33px;
    padding: 0px;
}
.landing footer .box-options .box li a {
    display: block;
    height: 33px;
    line-height: 33px;
    font-family: 'open_sanssemibold';
    font-size: 12px;
    text-decoration: none;
    color: #888;
    padding-left: 22px;
}
.landing footer .show-box .box-options {
    display: block;
}
.landing footer .box-options .box li a.pt-br,
.landing footer .box-options .box li a.pt{
    background: transparent url( "../img/icon-language-pt.png" ) no-repeat 0px 8px;
}
.landing footer .box-options .box li a.en {
    background: transparent url( "../img/icon-language-en.png" ) no-repeat 0px 8px;
}
.landing footer .box-options .box li a:hover {
    background-color: #9546ab;
    color: #fff;
}



/* Footer of inside pages */
.dashboard footer {
    clear:left;
    float:left;
    height: 160px;
}
.dashboard .wrapper footer ul.social-links {
    float: left;
    width: 105px;
    height: 30px;
    margin: 99px 0 0 -110px;
}
.dashboard .wrapper footer ul.social-links li {
    display: inline;
    float: left;
}

.dashboard .wrapper footer ul.social-links li.facebook a {
    background: transparent url( "../img/icon-facebook.png" ) no-repeat 0px 0px;
}
.dashboard .wrapper footer ul.social-links li.angel-list a {
    background: transparent url( "../img/icon-angel-list.png" ) no-repeat 0px 1px;
}
.dashboard .wrapper footer ul.social-links li.twitter a {
    background: transparent url( "../img/icon-twitter.png" ) no-repeat 6px 2px;
    width: 35px;
}
.dashboard .wrapper footer ul.social-links li a{
    width: 25px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -khtml-opacity: 0.5;
    border-radius: 50%;
    background-color: #999;
    background-size: 20px 20px;

}
.dashboard footer .nav-footer ul {
    float: left;
}
.dashboard footer .nav-footer ul.explore {
    margin-left: 56px;
}
.dashboard footer .nav-footer li {
    float: none;
    display: block;
    padding: 0;
    line-height: 25px;
}
.dashboard footer .nav-footer li.privacy {
    border: none;
}
.dashboard footer .nav-footer li .nav-footer-link {
    font-size: 13px;
    color: #dddddd;
}
.dashboard footer .nav-footer li .nav-footer-link:hover {
    text-decoration: underline;
}
.dashboard footer .copyright {
    position: absolute;
    height: auto;
    width: 336px;
    line-height: inherit;
    float: right;
    top: 135px;
    right: 36px;
}
.dashboard footer a.language {
    padding-left: 22px;
    position: absolute;
    right: 80px;
    top: 25px;
    display: block;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    color: #cacaca;
    text-decoration: none;
}
.dashboard footer a.language.pt,
.dashboard footer a.language.pt-br {
    background: transparent url( "../img/icon-language-pt.png" ) no-repeat 0px 0px;
}
.dashboard footer a.language.en {
    background: transparent url( "../img/icon-language-en.png" ) no-repeat 0px 0px;
}
.dashboard footer a.language:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0px;
    display: block;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 3px solid #a9a9a9;
    border-left-color: transparent;
    border-top-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.dashboard footer .box-options {
    display: none;
    position: relative;
}

.dashboard footer .box-options .box {
    width: 164px;
    right: -12px;
    bottom: -132px;
}
.dashboard footer .box-options .box li a{
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    width: auto;
}

.dashboard footer .box-options .box li a.pt-br,
.dashboard footer .box-options .box li a.pt{
    background: transparent url( "../img/icon-language-pt.png" ) no-repeat 0px 8px;
}
.dashboard footer .box-options .box li a.en {
    background: transparent url( "../img/icon-language-en.png" ) no-repeat 0px 8px;
}
.dashboard footer .box-options .box li a:hover {
    background-color: #9546ab;
    color: #fff;
}



/* ICON Services for profile and payment pages */
.dashboard .content.hiring .services .services-list .service-item:before,
.dashboard .content.payment .services .service:before {
    background: none;
    width: 40px;
    height: 40px;
}
.dashboard .content.hiring .services .services-list .service-item.document:before,
.dashboard .content.payment .services .service.document:before {
    background: transparent url( "../img/icon-service-document.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.skype:before,
.dashboard .content.payment .services .service.skype:before {
    background: transparent url( "../img/icon-service-skype.png" ) no-repeat 0px 0px;
    width: 40px;
    height: 40px;
}
.dashboard .content.hiring .services .services-list .service-item.translation:before,
.dashboard .content.payment .services .service.translation:before {
    background: transparent url( "../img/icon-service-translation.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.language:before,
.dashboard .content.payment .services .service.language:before {
    background: transparent url( "../img/icon-service-world.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.headhunting:before,
.dashboard .content.payment .services .service.headhunting:before {
    background: transparent url( "../img/icon-service-headhunting.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.exchange:before,
.dashboard .content.payment .services .service.exchange:before {
    background: transparent url( "../img/icon-service-exchange.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.travel:before,
.dashboard .content.payment .services .service.travel:before {
    background: transparent url( "../img/icon-service-travel.png" ) no-repeat 0px 0px;
}
.dashboard .content.hiring .services .services-list .service-item.housing:before,
.dashboard .content.payment .services .service.housing:before {
    background: transparent url( "../img/icon-service-housing.png" ) no-repeat 0px 0px;
}



/* Site Dashboard */
.dashboard .content .questions .no-content {
    margin: 30px 0;
}



/* Payment Page */
.dashboard .content.payment .services .service {
    padding: 8px 0px 0px 50px;
}

.dashboard .content.payment .credit-card .data .total-price {
    float: right;
    font-weight: bold;
}

.dashboard .content.payment .credit-card .data .expiration-date {
    margin-right: 2px;
    width: 300px;
}

.dashboard .content.payment .credit-card .data .expiration-date .month {
  float: left;
  margin-right: 5px;
}
.dashboard .content.payment .credit-card .data .expiration-date .month select {
  width: 170px;
}
.dashboard .content.payment .credit-card .data .expiration-date .year select {
  width: 100px;
}

.dashboard .content.payment .credit-card .data .security-code input {
  width: 200px;
}

.dashboard .content.payment .credit-card .data .security-code {
  position: relative;
  float: left;
}

.dashboard .content.payment .credit-card .data input {
    font-size: 14px;
    color: #888;
}


/* Payment Confirmation Page */
.dashboard .content.payment {
  padding-top: 35px;
}
.dashboard .content.payment .confirmation {
  width: 478px;
  height: 200px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}
.dashboard .content.payment .confirmation .top {
  height: 40px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0 0 0 30px;
}
.dashboard .content.payment .confirmation .top .title {
  position: relative;
  float: left;
  display: block;
  padding: 8px 0 0 48px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'open_sansbold';
  font-weight: normal;
  font-size: 20px;
  color: #68347e;
}
.dashboard .content.payment .confirmation .top .title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  display: block;
  border: 0;
  background: transparent url("../img/icon-services-title.png") no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
  background-position: center center;
  border: 1px solid #68347e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.dashboard .content.payment .confirmation .message {
  padding: 0 30px;
}

.dashboard .content.payment .confirmation .message {
    width: 100%;
    display: block;
    line-height: 18px;
    font-size: 20px;
    font-family: 'open_sans_light';
    font-weight: normal;
    color: #68347e;
}

.dashboard .content.payment .confirmation .message p {
  display: block;
  padding: 10px 0 10px;
  line-height: 18px;
  font-size: 15px;
  color: #555;
}

.dashboard .content.payment .confirmation .message p span {
  font-weight: bold;
}

.dashboard .content.payment .confirmation .message p.approved span {
  color: #3c763d;
}

.dashboard .content.payment .confirmation .message p.denied span {
  color: #a94442;
}



/* View Professional (PROFILE) page */
.dashboard .content.hiring .professional .send-message {
    margin-top: 75px;
}
.dashboard .content.hiring .professional .send-message .button {
    width: 175px;
}
.dashboard .content.hiring .professional .description {
    margin-top: 0px;
}



/* My Account */
.content.myaccount .interactions div.password a {
    text-decoration: none;
    text-align: left;
    color: #4f9276;
}

.content.myaccount .interactions div.password a:hover {
    text-decoration: underline;
}


/* Edit My Account */
.content.myaccount .interactions .my-profile-edit {
  display: block;
  padding: 0 25px;
}
.content.myaccount .interactions .my-profile-edit .identity {
    margin-bottom: 12px;
}
.content.myaccount .interactions .my-profile-edit .services .remove {
  font-size: 12px;
  color: #68347e;
  text-decoration: none;
}
.content.myaccount .interactions .my-profile-edit .services .remove:hover {
  text-decoration: underline;
}
.content.myaccount .interactions .my-profile-edit .services .supported-services ul .services-list input {
  width: 75px;
  display: inline;
  border: 1px solid #d0b5db;
  background-color: #FFF;
}

.content.myaccount .interactions .my-profile .services .supported-countries p {
  padding: 0 20px 0 20px;
  border-right: 1px solid #e1e1e1;
}

.content.myaccount .interactions .my-profile .services .supported-countries p:last-child {
  border: none;
}

#upload-container{
    text-decoration: underline;
    font-family: 'open_sansbold';
    font-size: 12px;
    margin-left: 27px;
}




/* My Contracts */
.content.myaccount .interactions .my-contracts {
  display: block;
  padding: 0 25px;
}



/* Contact Us */
.contactus .content .contact-us form fieldset .field.subject select {
  width: 470px;
}
.contactus .content .contact-us form fieldset .field .bt-send {
  width: 100%;
  margin: 23px 0 0;
}



/* Points Calculator - Edit Forms */
.dashboard-edit-forms .content.edit-forms .details fieldset .field.country label {
  display: block;
}
.dashboard-edit-forms .content.edit-forms .details fieldset .field.country select {
  width: 373px;
}

.dashboard-edit-forms footer .options-list .option-item .option-link.active {
  font-family: 'open_sansbold';
  font-weight: normal;
  color: #fccc00;
}

.dashboard-edit-forms .content.edit-forms .details fieldset .field.family-member .countries .country select {
  width: 220px;
  padding: 0;
}



/* Countries - Situation */
.content.results .main .my-situation .hints .success {
  position: relative;
  display: block;
  width: 80%;
  height: 75px;
  padding: 0 6% 0;
  margin: 0 auto;
  line-height: 75px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'open_sansbold';
  font-size: 22px;
  text-align: right;
  background-color: #ebebeb;
  color: #859C01;
}
.content.results .main .my-situation .hints .success:before {
  content: '';
  position: absolute;
  left: 7%;
  top: 20px;
  width: 35px;
  height: 37px;
  display: block;
  border: 0;
  background: transparent url("../img/icon-success.png") no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
}

.content.results .main .visa-application {
  display: block;
}

/* Terms & Conditions */
.content.terms-and-privacy p {
    font-family: 'open_sansregular';
    text-align: left;
    margin-bottom: 20px;
    line-height: 25px;
}

.content.terms-and-privacy strong {
    font-family: 'open_sansbold';
}

.content.terms-and-privacy h1 {
    font-family: 'open_sansbold';
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 16pt
}

.content.terms-and-privacy a {
    text-decoration: none;
    color: #4f9276;
}

.content.terms-and-privacy a:hover {
    text-decoration: underline;
}



/* Hot it Works */
.dashboard .howitworks_title {
  background: #f6f6f6;
  min-height: 145px;
}

.dashboard .howitworks_title div {
  max-width: 95%;
  margin: 0 auto;
  color: #67337D;
  font-family: "open_sansbold";
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 65px;

}

.dashboard .howitworks {
  max-width: 95%;
  margin: 0 auto;
}


.dashboard .howitworks .columb {
  text-align: center;
}
.clearfix {
  clear: both;
}

.dashboard .howitworks .columb img {
  max-width: 100%;
  height: auto;
  padding-top: 70px;
}
.dashboard .howitworks .columb .title {
  color: #67337D;
  font-family: "open_sansbold";
  font-size: 18px;
  line-height: 56px;
}
.dashboard .howitworks .columb .text {
  color: #878787;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 22px;
}

.dashboard .howitworks .but {
  max-width: 312px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
.dashboard .howitworks .but p {
  color: #878787;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 22px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.dashboard .howitworks .but p a {
    color: #4f9276;
    font-family: 'open_sanssemibold';
    text-decoration: none;
}

.dashboard .howitworks .but p a:hover {
    text-decoration: underline;
}

@media(min-width: 992px) {
  .dashboard .howitworks_title div {
    max-width: 960px;
  }

  .dashboard .howitworks{
    max-width: 960px;
    padding-top: 20px;
  }
  .dashboard .howitworks .columb {
    float: left;
  }

  .dashboard .howitworks .columb_1 {
    max-width: 311px;
    margin-right: 35px
  }
  .dashboard .howitworks .columb_2 {
    max-width: 277px;
  }
  .dashboard .howitworks .columb_3 {
    max-width: 295px;
    margin-left: 35px;
  }
  .dashboard .service {
    max-width: 960px;
  }
}



/* Become a Service Provider */
.dashboard .service {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 55px;
}

.dashboard .faq .text a {
    text-decoration: none;
    color: #4f9276;
}

.dashboard .faq .text a:hover {
    text-decoration: underline;
}

.dashboard .service .top .top_left .title {
  color: #FFCD00;
  font-family: "open_sansbold";
  font-size: 46px;
  line-height: 50px;
  padding-bottom: 20px;
}

.dashboard .service .top {
  text-align: center;
}

.dashboard .service .top .top_left {
  text-align: left;
}
.dashboard .service .top .top_left .text {
  color: #878787;
  font-family: "open_sansregular";
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 55px;
}

.dashboard .service .top .top_left .text span {
  font-family: "open_sansbold";
}

.dashboard .service .top img {
  max-width: 100%;
  height: auto;
  padding-bottom: 55px;
  display: inline-block;
}

.dashboard .service .bottom .col {
  width: 205px;
  height: 185px;
  background-color: #FFF;
  border: 1px solid #E4C6F1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto 55px auto;
}

.dashboard .service .bottom .col .image img {
  display: inline-block;
}

.dashboard .service .bottom .col .image {
  padding-bottom: 5px;
  padding-top: 25px;
}

.dashboard .service .bottom .col .text_bottom {
  color: #67337D;
  font-family: "open_sansregular";
  font-size: 22px;
  line-height: 34px;
}

.dashboard .service .bottom .col .text_bottom span {
  font-family: "open_sansbold";
}

.dashboard .service .but {
  margin: 0 auto;
  max-width: 272px;
}

.dashboard .how_it_works {
  background: url("../img/service_bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 75px;
}

.dashboard .how_it_works .main {
  max-width: 95%;
  margin: 0 auto;
}

.dashboard .how_it_works h1 {
  color: #FFF;
  font-family: "open_sansbold";
  font-size: 50px;
  text-align: center;
  line-height: 56px;
  padding-bottom: 85px;
}

.dashboard .how_it_works .main .bottom .columb .title {
  color: #fff;
  font-family: "open_sansbold";
  font-size: 22px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 25px;
}
.dashboard .how_it_works .main .bottom .columb .text {
  color: #fff;
  font-family: "open_sansregular";
  font-size: 16px;
  line-height: 20px;
}

.dashboard .how_it_works .main .bottom .columb {
  text-align: center;
  padding-bottom: 85px;
}

.dashboard .faq {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.dashboard .faq h1 {
  color: #67337D;
  font-family: "open_sansbold";
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  padding-bottom: 30px;
}

.dashboard .faq .title {
  color: #67337D;
  font-family: "open_sansbold";
  font-size: 16px;
  line-height: 56px;
}

.dashboard .faq .text {
  color: #555;
  font-family: "open_sansregular";
  font-size: 16px;
  line-height: 22px;
  padding-left: 22px;
}

@media(min-width: 768px) {
  .dashboard .service .top .top_left {
    float: left;
    max-width: 61%;
  }

  .dashboard .service .top img {
    float: right;
    max-width: 35%;
  }

  .dashboard .service .bottom {
    width: 100%;
    display: inline-block;
    text-align: justify;
    line-height: 0;
    text-justify: newspaper;
    zoom:1;
    text-align-last: justify;
  }
  .dashboard .service .bottom:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }

  .dashboard .service .bottom .col {
    display: inline-block;
    text-align: center;
    line-height: normal;
    vertical-align: top;
    //display : inline;
    //zoom : 1;
  }

  .dashboard .how_it_works .main .bottom {
    width: 100%;
    display: inline-block;
    text-align: justify;
    line-height: 0;
    text-justify: newspaper;
    zoom:1;
    text-align-last: justify;
  }
  .dashboard .how_it_works .main .bottom:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }

  .dashboard .how_it_works .main .bottom .columb {
    width: 240px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    vertical-align: top;
    //display : inline;
    //zoom : 1;
  }

}

@media(min-width: 992px) {
  .dashboard .service {
    max-width: 960px;
  }

  .dashboard .how_it_works .main {
    max-width: 960px;
  }

  .dashboard .faq {
    max-width: 960px;
  }
  .dashboard .service .top .top_left .title {
    font-size: 56px;
    line-height: 60px;
    padding-bottom: 40px;
    padding-top: 30px;
  }


}
