/** Font faces **/
@font-face { font-family: "open_sans_regular"; src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }
@font-face { font-family: "open_sans_light"; src: url(../fonts/OpenSans/OpenSans-Light.ttf); }
@font-face { font-family: "open_sans_bold"; src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }
@font-face { font-family: "open_sans_extrabold"; src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf); }
@font-face { font-family: "open_sans_light_italic"; src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf); }

/** Font classes */
.f6 { font-size: 0.498em; } 
.f8 { font-size: 0.664em; } 
.f10 { font-size: 0.8300000000000001em; } 
.f12 { font-size: 0.996em; } 
.f14 { font-size: 1.1620000000000001em; } 
.f16 { font-size: 1.328em; } 
.f18 { font-size: 1.494em; } 
.f20 { font-size: 1.6600000000000001em; } 
.f22 { font-size: 1.826em; } 
.f24 { font-size: 1.992em; } 
.f26 { font-size: 2.158em; } 
.f28 { font-size: 2.3240000000000003em; } 
.f30 { font-size: 2.49em; } 
.f32 { font-size: 2.656em; } 
.f34 { font-size: 2.822em; } 
.f36 { font-size: 2.988em; } 
.f38 { font-size: 3.1540000000000004em; } 
.f40 { font-size: 3.3200000000000003em; } 
.f42 { font-size: 3.486em; } 
.f44 { font-size: 3.652em; } 
.f46 { font-size: 3.818em; } 
.f48 { font-size: 3.984em; } 
.f50 { font-size: 4.15em; } 
.f52 { font-size: 4.316em; } 
.f54 { font-size: 4.482em; } 
.f56 { font-size: 4.648000000000001em; } 
.f58 { font-size: 4.814em; } 
.f60 { font-size: 4.98em; } 
.f62 { font-size: 5.146em; } 
.f64 { font-size: 5.312em; } 
.f66 { font-size: 5.478000000000001em; } 
.f68 { font-size: 5.644em; } 
.f70 { font-size: 5.8100000000000005em; } 
.f72 { font-size: 5.976em; } 
.f74 { font-size: 6.142em; } 
.f76 { font-size: 6.308000000000001em; } 
.f78 { font-size: 6.474em; } 
.f80 { font-size: 6.640000000000001em; } 
.f82 { font-size: 6.806em; } 
.f84 { font-size: 6.972em; } 
.f86 { font-size: 7.138000000000001em; } 
.f88 { font-size: 7.304em; } 
.f90 { font-size: 7.470000000000001em; } 
.f92 { font-size: 7.636em; } 
.f94 { font-size: 7.8020000000000005em; } 
.f96 { font-size: 7.968em; } 
.f98 { font-size: 8.134em; } 
.f100 { font-size: 8.3em; }

.regular { font-family: "open_sans_regular" !important; }
.bold { font-family: "open_sans_bold" !important; }
.extrabold { font-family: "open_sans_extrabold" !important; }
.light { font-family: "open_sans_light" !important; }
.light-italic { font-family: "open_sans_light_italic" !important; }


/** Font colors */
.almost-black { color: #3d0e00; }
.almost-white { color: #a1a1a1; }
.grey { color: 747474; }
.dark-grey { color: #373737; }
.teal { color: #3a93ab; }
.white { color: #ffffff; }
.purple { color: #7d4191; }
.dark-purple { color: #4b2558; }
.deep-purple { color: #2c0d3f; } /** Yeah. This is an easteregg. */
.yellow { color: #fff600; }
.green { color: #7ca745; }
.red { color:#a74a45;}
