*, html, body { margin: 0; padding: 0; font-family: "open_sans_regular" }


/** Top bar */
#top_bar { width: 100%; height: 65px; background: black; }
#top_bar_logo { position: relative; float: left; display: block; margin-left: 30px; width: 174px; height: 100%; background: url("../img/logo1.jpg") no-repeat center; background-size: contain; }
#top_bar_menu { position: relative; float: right; width: auto; height: 65px; line-height: 65px; margin-right: 60px; }
#top_bar_menu ul { list-style: none; }
#top_bar_menu li { display: inline; float:left; margin-left: 20px; }
#top_bar_menu li:first-child { margin-left: 0px; }
#top_bar_menu li a { text-decoration: none; color: #dfdfdf; font-family: "open_sans_bold"; font-size: 0.9em; }
#top_bar_menu li a:hover { color: #f2c402; }
.mobile-only { display: none; }
.desktop-only { display: block; }

/** Responsive MENU */
@media screen and (max-width: 800px) {
    .mobile-only { display: block; }
    .desktop-only { display: none; }
    #top_bar_menu { display: none; position: relative; float: none; width: 100%; height: auto; margin-right: 0; position:absolute; z-index:10; margin-top:60px; }
    #pull-menu { display: block; float: right; margin: 10px; font-size: 1.7em; color: white; border: solid 1px #666; border-radius: 4px; padding: 5px 10px; }
    #pull:hover{ background: #333; }
    #top_bar_menu li { width:100%; height: auto; display:block; background: black; text-align: center; margin-left: 0; height: 50px; line-height: 50px; }
    #top_bar_menu li a { width:100%; text-align:center; text-decoration: none; color: #dfdfdf; }
    #top_bar_menu li a:hover { color: #f2c402; }
}





/** Internal pages header */
.section-header
{
    position: relative;
    display: block;
    width: 100%;
    height: 5em;
    background: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
}

.section-header > h1 
{
    color: #845996;
    margin: 20px 0 0 36px;
}

.section-header > p
{
    color: #888888;
    width:80%;
    margin: 0px 0 0 36px;
}





/** Viewing classes */
.cards-wrapper
{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}
@media screen and (max-width: 360px) {
    .cards-wrapper
    {
        width: 100%;
        margin-left: 0;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-align: center;
    }
}
.cards-wrapper .alert 
{
    margin: 0 2em 0 2em;
}

.info-card
{
    
    display: inline-block;
    max-width: 460px;
    padding: 10px 20px;
    vertical-align: top;
    width: 100%;

    border-left: solid 2px #EEE;
    border-bottom: solid 2px #EEE;
    border-top: solid 1px #EEE;
    border-right: solid 1px #EEE;
    border-radius: 4px;
    margin:1.5em 0 0 1em;
}

.block-row
{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.block-row h1
{
    font-size: 1.3em;
    font-weight: 300;
    color: #845996;
    text-align: left;
}
.block-row .avatar
{
    width: 300px;
    height: 200px;
}

.table-row
{
    display: table;
    width: 100%;
    margin-bottom: 10px;
    table-layout: fixed;
}
.table-row .label, .table-row .content
{
    display: table-cell;
    vertical-align: baseline;
    word-wrap: break-word;
    font-size: 0.9em;
    text-align: left;
}

.label
{
    font-weight: bold;
}





/** Exceptions pages */
.info-container
{
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}
.info-message
{
    display: inline-block;
    text-align: left;
}

.info-message h2
{
    font-size: 1.5em;
    color: #666;
}

.info-message h2 span.featured { color: #845996; font-size: 2em; }

.info-message p
{
    max-width: 530px;
    color: #888;
}




/** Editing layouts **/
.edit-container
{
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}



/** Buttons classes */
.bt
{
    padding:0.4em 1em;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
}
.bt-default
{
    background-color: white;
    border: solid 1px #eee;
    color: #666;
    text-decoration: none !important;
}
.bt-default:hover
{
    border: solid 1px #999;
}
.bt-green
{
    background: url('../img/save.png') top;
    color: #FFF;
    text-decoration: none !important;
    border: solid 1px #eee;
}
.bt-green:hover
{
    border: solid 1px #999;
}





/** Alignment classes */
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }





/** Messages, alerts, etc */
.errorlist { color: #AA0000; }





/** Input classes **/
input[type=text], input[type=password], select
{
    display: block;
    width: 100%;
    max-width: 420px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    outline: none;
    padding: 0 20px;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: 700;
    color: #845996;
}
@media screen and (max-width: 320px) {
    input[type=text], input[type=password] { width: 300px !important; }
}

select
{
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-style: italic;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../img/dropdown-arrow1.png") no-repeat 96% 5px;
}

select:hover
{
    background: #fff url("../img/dropdown-arrow1.png") no-repeat 96% -28px;
}