
#login-container {
    height: 100%;
    padding-top: 35px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 83%;
    max-width: 460px;
    text-align: center;
}

#login-container .signin-card{
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	vertical-align: top;
	border-left: 2px solid rgb(238, 238, 238);
	border-width: 1px 1px 2px 2px;
	border-style: solid;
	border-color: rgb(238, 238, 238);
	border-radius: 4px;
	/* margin: 1.5em 0px 0px 1em; */
}

#login-container  .alert-danger{
    color:#AA0000;
}

#login-container  .alert-success{
    color:#00AA00;
}

#login-container .errorlist {
    color: #AA0000;
    font-size: 0.8em;
}

#login-container h2.title {
    color: #68347e;
    font-size: 1.7em;
}

/** SIGNUP / LOGIN / PASSWORD RECOVERY CSS. */
/** General input classes */
#login-container .login-body form {
    text-align: left;
}

#login-container .login-body input {
    position: relative;
    display: block;
    padding: 3%;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #888888;
    margin: 0;
    height: 52px;
    line-height: normal !important;
}

#login-container input.full {
    margin-top: 3%;
    display: block;
    width: 94%;
}

#login-container input.half {
    display: inline-block;
    width: 42%;
    margin: 2% 3% 0 0;
}

#login-container .bt-login {
    display: inline-block;
    width: 46%;
    margin-top: 2%;
}

#login-container a.switcher {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 2% 0 2% 0;
    margin: 6% 0 5% 0;
    color: white;
    background: -webkit-linear-gradient( #8b8b8b, #979499 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #8b8b8b, #979499 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #8b8b8b, #979499 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #8b8b8b, #979499 ); /* Standard syntax */
    box-shadow: 0px 2px 0px #7c7c7c;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
}

/** Forgot your password */
#login-container #login_form_email{
    text-align: left;
}

#login-container #login-link-reset-password {
    display:block;
    text-decoration: none;
    margin-top: 2%;
    text-align: left;
    color: #4f9276;
    font-size: 0.8em;
}

#login-container #login-link-reset-password:hover {
    text-decoration: underline;
}

/** Social signup */
#login-container #login-social-container {
    margin-top: 4%;
}

#login-container #social-login-buttons-container {
    position: relative;
    width: 14em;
    margin: 2% auto;
}

#login-container .social-login {
    display: inline-block;
    background-color: #ffde00;
    border-radius: 3em;
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
    line-height: 3em;
    box-shadow: 0px 3px 0px #ce9600;
    text-align: center;
    color: #4d1f6c;
    margin-top: 2%;
}

#login-container .social-login:last-child{
    margin-right: 0;
}

#login-container .social-login.facebook {
    color: white; background: -webkit-linear-gradient( #293876, #3080b0 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #293876, #3080b0 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #293876, #3080b0 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #293876, #3080b0 ); /* Standard syntax */
    box-shadow: 0px 3px 0px #2f77a9;
}

#login-container .social-login.linkedin {
    color: white;
    background: -webkit-linear-gradient( #0179b1, #16c2da ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #0179b1, #16c2da ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #0179b1, #16c2da ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #0179b1, #16c2da ); /* Standard syntax */
    box-shadow: 0px 3px 0px #019ac5;
}

.social-login.google {
    color: white;
    background: -webkit-linear-gradient( #d14634, #e96c50 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #d14634, #e96c50 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #d14634, #e96c50 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #d14634, #e96c50 ); /* Standard syntax */
    box-shadow: 0px 3px 0px #e36b56;
}

/** Footer */
#login-container .login-footer {
    padding-top:2%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #DDD;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.2;
}

#login-container .login-footer > a {
    text-decoration: none;
    color: #4f9276;
    font-weight: bold;
}

#login-container .login-footer > a:hover {
    text-decoration: underline;
}