/** Font faces **/
@font-face { font-family: "open_sans_regular"; src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }
@font-face { font-family: "open_sans_light"; src: url(../fonts/OpenSans/OpenSans-Light.ttf); }
@font-face { font-family: "open_sans_bold"; src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }
@font-face { font-family: "open_sans_extrabold"; src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf); }
@font-face { font-family: "open_sans_light_italic"; src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf); }

/** html, body settings */
* { margin: 0; padding: 0; }
body { width: 100%; height: 100%; overflow: hidden; font-family: "open_sans_regular"; font-size: 12px; }

@media screen and (min-width: 1024px) {
    body{ font-size: 12px; }
}

@media screen and (min-height: 600px) {
    .page4-content { float:left; position: relative; width: 100%; height: 78%; }
}

@media screen and (min-height: 660px) {
    .page4-content { float:left; position: relative; width: 100%; height: 76%; }    
}


/** Font classes */
.f6 { font-size: 0.498em; } 
.f8 { font-size: 0.664em; } 
.f10 { font-size: 0.8300000000000001em; } 
.f12 { font-size: 0.996em; } 
.f14 { font-size: 1.1620000000000001em; } 
.f16 { font-size: 1.328em; } 
.f18 { font-size: 1.494em; } 
.f20 { font-size: 1.6600000000000001em; } 
.f22 { font-size: 1.826em; } 
.f24 { font-size: 1.992em; } 
.f26 { font-size: 2.158em; } 
.f28 { font-size: 2.3240000000000003em; } 
.f30 { font-size: 2.49em; } 
.f32 { font-size: 2.656em; } 
.f34 { font-size: 2.822em; } 
.f36 { font-size: 2.988em; } 
.f38 { font-size: 3.1540000000000004em; } 
.f40 { font-size: 3.3200000000000003em; } 
.f42 { font-size: 3.486em; } 
.f44 { font-size: 3.652em; } 
.f46 { font-size: 3.818em; } 
.f48 { font-size: 3.984em; } 
.f50 { font-size: 4.15em; } 
.f52 { font-size: 4.316em; } 
.f54 { font-size: 4.482em; } 
.f56 { font-size: 4.648000000000001em; } 
.f58 { font-size: 4.814em; } 
.f60 { font-size: 4.98em; } 
.f62 { font-size: 5.146em; } 
.f64 { font-size: 5.312em; } 
.f66 { font-size: 5.478000000000001em; } 
.f68 { font-size: 5.644em; } 
.f70 { font-size: 5.8100000000000005em; } 
.f72 { font-size: 5.976em; } 
.f74 { font-size: 6.142em; } 
.f76 { font-size: 6.308000000000001em; } 
.f78 { font-size: 6.474em; } 
.f80 { font-size: 6.640000000000001em; } 
.f82 { font-size: 6.806em; } 
.f84 { font-size: 6.972em; } 
.f86 { font-size: 7.138000000000001em; } 
.f88 { font-size: 7.304em; } 
.f90 { font-size: 7.470000000000001em; } 
.f92 { font-size: 7.636em; } 
.f94 { font-size: 7.8020000000000005em; } 
.f96 { font-size: 7.968em; } 
.f98 { font-size: 8.134em; } 
.f100 { font-size: 8.3em; }

.regular { font-family: "open_sans_regular" !important; }
.bold { font-family: "open_sans_bold" !important; }
.extrabold { font-family: "open_sans_extrabold" !important; }
.light { font-family: "open_sans_light" !important; }
.light-italic { font-family: "open_sans_light_italic" !important; }


/** Font colors */
.almost-black { color: #3d0e00; }
.almost-white { color: #a1a1a1; }
.grey { color: 747474; }
.dark-grey { color: #373737; }
.teal { color: #3a93ab; }
.white { color: #ffffff; }
.purple { color: #7d4191; }
.dark-purple { color: #4b2558; }
.deep-purple { color: #2c0d3f; } /** Yeah. This is an easteregg. */
.yellow { color: #fff600; }
.green { color: #7ca745; }
.red { color:#a74a45;}


/** Layering classes */
.popup { z-index: 200; }
.gui { z-index: 100; }
.l { z-index: 20; } /** Left elements */
.r { z-index: 30; } /** Right elements have priority over left elements. */
.fg { z-index: 10; } /** Over the bg. */
.bg { z-index: 0; }





/** General elements */
#left { position: absolute; width: 50%; height: 100%; float: left; }
#right { position: absolute; width: 50%; height: 100%; left:50%; }
.country{ vertical-align: super; }
.clear { clear: both; }
.vcenter { position: absolute; top:50%; -ms-transform:translate(0,-50%); -webkit-transform:translate(0,-50%); -moz-transform:translate(0,-50%); -o-transform:translate(0,-50%); transform:translate(0,-50%); }
.text-center { text-align: center; }


/** Menu elements */
#menu { position: fixed; width: 100%; height: 9.259259%; }
#menu.translucid { background-color: rgba(0,0,0,0.8); }
#menu-logo { position: relative; float:left; display: block; width: 12.708333%; height: 100%; background: url(../img/logo_wannamigrate.png) center no-repeat; background-size: contain; margin-top: 0; margin-left: 2.864583%; }
#login-button { position: relative; float: right;  margin: 1.2% 1.875% 0 0; }

/** Language settings */
#language-container { float:right; width: 18.25%; height: 40%; margin-top: 1.666%; margin-right: 3%; }
.language-ul { list-style: none; padding: 0;  }
.language-ul li { width: 100%; height: 100%; }
.language-ul li a { display: block; text-decoration: none; width: 100%; height: 100%; }
.language-ul li a:hover span.country-name { text-decoration: underline; }
.flag { position: relative; display: inline-block; width: 1.833em; height: 1.833em; background-size: contain !important; vertical-align: center; }
.country-name { display: inline-block; margin-left: 0.12em; vertical-align: super; }
.dropdown-button { display: inline-block; width: 1.833em; height: 1.833em; background: url(../img/dropdown_button.png) no-repeat; background-size: cover; margin-left: 0.12em; }
#language-submenu { margin-top: 0.2em; }


/** Flags classes. This classes should match with the django language codes. */
.en { background: url(../img/flags/USA.png) no-repeat center; } /* US English */
.pt-br { background: url(../img/flags/Brazil.png) no-repeat center; } /* Brazil */



.bt { display: inline-block; text-decoration: none; width: auto; height: auto; text-align: center; border-radius: 0.25em; padding: 0.6em 1.5em; }
.bt-purple { color:#ffffff; text-shadow: 0px -1px 1px rgba(0,0,0,0.4); background: -webkit-linear-gradient( #915bbb, #9f6fc1); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #915bbb, #9f6fc1); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #915bbb, #9f6fc1); /* For Firefox 3.6 to 15 */ background: linear-gradient( #915bbb, #9f6fc1); /* Standard syntax */ box-shadow: 1px 2px 2px #8c5ab4; }
.bt-green { color:#ffffff; text-shadow: 0px -1px 1px rgba(0,0,0,0.4); background: -webkit-linear-gradient( #12a47b, #21b56e ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #12a47b, #21b56e ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #12a47b, #21b56e ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #12a47b, #21b56e ); /* Standard syntax */ box-shadow: 1px 2px 2px #159b71; }
.bt-blue { color:#ffffff; text-shadow: 0px -1px 1px rgba(0,0,0,0.4); background: -webkit-linear-gradient( #4575b8, #4e8ebf ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #4575b8, #4e8ebf ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #4575b8, #4e8ebf ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #4575b8, #4e8ebf ); /* Standard syntax */ box-shadow: 1px 2px 2px #4676b9; }

#bt-more { position: fixed; left:50%; bottom: 2%; display: block; width: 60px; height: 60px; margin-left: -30px; background: url(../img/bt_more.png) no-repeat; background-size: cover; }
#bt-more.page1 { background-position-y: -62px; }
#bt-more.page3 { background-position-y: -125px; }



/** Page 0 elements */
#page0-content { position: absolute; width: 100%; height: 100%; }
#page0-title { position: relative; width: 76%; text-align: center; margin-top: 18%; margin-left: 12%; text-shadow: 3px 3px 4px rgba(0,0,0,0.5); line-height: 1em;}
#page0-subtitle { position: relative; width: 60%; text-align: center; margin-left: 20%; margin-top: 3%; text-shadow: 3px 3px 4px rgba(0,0,0,0.5); }
.page0-overlay { width:100%; height:100%; background: url( "../img/diagonal_overlay.png" ) repeat; }
#p0-signup { position: relative; width: 26%; margin: 2.7% 0 0 37%; padding: 0.6em 0; }


/** Page 1 elements */
#l1h { padding: 43% 38% 0 5%; text-align: right; -ms-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -ms-transition-timing-function: linear; -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
#l1h.hide { -ms-transform:translate(-10%,0) !important; -webkit-transform:translate(-10%,0) !important; -moz-transform:translate(-10%,0) !important; -o-transform:translate(-10%,0) !important; transform:translate(-10%,0) !important; opacity: 0; }
#r1ul { margin: 38% 6% 0 35%; list-style-type: none;  -ms-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -ms-transition-timing-function: linear; -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
#r1ul.hide { -ms-transform:translate(10%,0) !important; -webkit-transform:translate(10%,0) !important; -moz-transform:translate(10%,0) !important; -o-transform:translate(10%,0) !important; transform:translate(10%,0) !important; opacity: 0; }
#r1ul > li { background-image: url( "../img/bullet-wanna.png"); background-size: auto 20px; background-repeat: no-repeat; background-position: 0px 13px; padding-left: 20px; }
#r1ul > li:last-child { margin-top: 7%; }
#r1-signup { position: relative; left: 50%; margin: 11% -135px; }


/** Page 2 elements */
.feature-container { width: 100%; height: 16%; }
.feature-container:first-child { height: 20% !important; background-color: #FFF !important; }
#l2 > .feature-container:nth-child(odd) { background-color: #ffce00; }
#l2 > .feature-container:nth-child(even) { background-color: #ffae00; }
#r2 > .feature-container:nth-child(odd){ background-color: #7d4191; }
#r2 > .feature-container:nth-child(even) { background-color: #8a549c; }

.feature { position: relative; width: 30%; height: 100%; -ms-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -ms-transition-timing-function: linear; -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
.feature.hide { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
.feature.left { background: #ffae00; }
.feature.left.hide { -ms-transform:translate(-30%,0) !important; -webkit-transform:translate(-30%,0) !important; -moz-transform:translate(-30%,0) !important; -o-transform:translate(-30%,0) !important; transform:translate(-30%,0) !important; }
.feature.right { background: #7d4191; -ms-transform:translate(-30%,0); -webkit-transform:translate(-30%,0); -moz-transform:translate(-30%,0); -o-transform:translate(-30%,0); transform:translate(-30%,0); }
.feature.right.hide { -ms-transform:translate(0,0) !important; -webkit-transform:translate(0,0) !important; -moz-transform:translate(0,0) !important; -o-transform:translate(0,0) !important; transform:translate(0,0) !important; }
.feature.full { width: 200%; height: 100%; top:59%; text-align: center; -ms-transform:translate(-50%,0) !important; -webkit-transform:translate(-50%,0) !important; -moz-transform:translate(-50%,0) !important; -o-transform:translate(-50%,0) !important; transform:translate(-50%,0) !important; }


.oddText { right: 75px; width: 150%; text-align: right; }
.evenText { left: 75px; width: 150%; text-align: left; }
.oddImage { right: -65px; width: 130px; height: 130px; }
.evenImage { left: -65px; width: 130px; height: 130px; }

#feature0-icon { background: url(../img/feature0_icon.png) no-repeat center center; background-size: cover; }
#feature1-icon { background: url(../img/feature1_icon.png) no-repeat center center; background-size: cover; }
#feature2-icon { background: url(../img/feature2_icon.png) no-repeat center center; background-size: cover; }
#feature3-icon { background: url(../img/feature3_icon.png) no-repeat center center; background-size: cover; }
#feature4-icon { background: url(../img/feature4_icon.png) no-repeat center center; background-size: cover; }


/** Page 3 elements */
.testimonial-container { position: absolute; top:25%; width: 100%; height: 40%; }
.testimonial { float: left; position: relative; width: 65%; height: 100%; }
.testimonial-image { float: left; position: relative; width: 35%; height: 100%; background: url(../img/testimonial_image.png) no-repeat right center; background-size: 54%; }
.testimonial-text { width: 60%; text-align: justify; margin-top: 20%; padding-left: 8%; }
.testimonial-separator { margin: 2% 0 2% 8%; width: 40%; height: 1px; background-color: #bd90df; }
.testimonial-user{ margin: 0; padding: 0 0 0 8%; }
.testimonial-user-job { margin: 0; padding: 0 0 0 8%; }
.quote { width: 6%; height: 8%; background: red top left; }
#open-quote { position: absolute; margin-left:-6%; background: url(../img/open_quote.png) no-repeat center center; background-size: contain; }
#close-quote { position: absolute; background: url(../img/open_quote.png) no-repeat center center; background-size: contain; -ms-transform:scale(-1,-1); -webkit-transform:scale(-1,-1); -moz-transform:scale(-1,-1); -o-transform:scale(-1,-1); transform:scale(-1,-1); }
#r3-signup { margin-left: -135px; position: relative; top: 70%; }


/** Page 4 elements */
.page4-footer { float:left; position: relative; width: 100%; height: 24%; }
.p4-wrapper { width: 60%; margin-left: 20%; text-align: center; }
#l4-logo { width: 40%; height: 25%; left:30%; background: url(../img/logo_wannamigrate.png) center center no-repeat; background-size: contain; }
#r4-title { margin-top: 22%; margin-bottom:0; padding:0; }
#r4-subtitle { margin-top: 5%; }

#social { position:relative; left: 50%; margin-left: -79px; width: 158px; height: 50px; margin-top: -25px; }
.social-button { display: inline-block; background-color: #ffde00; border-radius: 46px; width: 46px; height: 46px; margin-right: 5px; line-height: 46px; box-shadow: 0px 3px 0px #ce9600; text-align: center; color: #4d1f6c; }
.social-button:last-child{ margin-right: 0; }
#backers-separator { display: block; margin-bottom: 1em; position: relative; text-align: center; width: 60%; z-index: 1; margin: 3% 0 0 20%; }
#backers-separator:before { width: 38%; height: 10px; background-color: #ffffff; content: ''; margin: -5px 0 0 -19%; left: 50%; position: absolute; top: 50%; z-index: -1; }
#backers-separator:after { border-bottom: 1px solid #dfe0e6; content: ''; display: block; position: absolute; top: 49%; width: 100%; z-index: -2; }

#backers-container{ position: relative; left:50%; margin-top: 4%; width: 396px; margin-left: -198px; }
.backer { float: left; display: block; margin-right: 5%; }
.backer:last-child{ margin-right: 0; }
#fapema { width:110px; height:42px; background: url(../img/logo_fapema.png) no-repeat center center; background-size: contain; }
#startupchile { width:150px; height:62px; background: url(../img/logo_startupchile.png) no-repeat center -10px; background-size: contain; }
#finep {  width:95px; height:48px; background: url(../img/logo_finep.png) no-repeat center center; background-size: contain; }
#r4-signup { position: relative; left: 50%; margin: 10% -135px; }


/** Backgrounds section */
.section-item { position: absolute; width: 100%; height: 100%; display: none; -ms-transition-duration: .6s; -webkit-transition-duration: .6s; -moz-transition-duration: .6s; -o-transition-duration: .6s; transition-duration: .6s; -ms-transition-timing-function: linear; -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
#left > .section-item.active, #right > .section-item.active { display: block; -ms-transform:translate(0,0); -webkit-transform:translate(0,0); -moz-transform:translate(0,0); -o-transform:translate(0,0); transform:translate(0,0); }
#left > .section-item.next, #right > .section-item.prev { display: block; -ms-transform:translate(0,-100%); -webkit-transform:translate(0,-100%); -moz-transform:translate(0,-100%); -o-transform:translate(0,-100%); transform:translate(0,-100%); }
#left > .section-item.prev, #right > .section-item.next { display: block; -ms-transform:translate(0,100%); -webkit-transform:translate(0,100%); -moz-transform:translate(0,100%); -o-transform:translate(0,100%); transform:translate(0,100%); }

/** Background images of divs */
#l0 { background: url( "../img/l0.png" ) no-repeat; background-size: cover; background-position: right center; }
#l1 { background: url( "../img/l1.png" ) no-repeat; background-size: cover; background-position: right center; }
/** l2 has no bg */
#l3 { background: url( "../img/l3.png" ) no-repeat; background-size: cover; background-position: right center; }
#l4 { background: url( "../img/l4.png" ) no-repeat; background-size: cover; background-position: right center; }
#r0 { background: url( "../img/r0.png" ) no-repeat; background-size: cover; background-position: left center; }
#r1 { background: url( "../img/r1.png" ) no-repeat; background-size: cover; background-position: left center; }
/** r2 has no bg */
#r3 { background: url( "../img/r3.png" ) no-repeat; background-size: cover; background-position: right center; }
#r4 { background: url( "../img/r4.png" ) no-repeat; background-size: cover; background-position: right center; }


/** SIGNUP / LOGIN / PASSWORD RECOVERY CSS. */
/** General elements */
#dialog { position: absolute; margin-left: 37.3%; width: 24.4%; padding: 2%; border-radius: 2px; background: white; }
#overlay { content: ""; display: block; position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 150; background-color: rgba(0,0,0,0.8); }
#result { margin-top: 2%; }
/** General input classes */
.modal-body input { position: relative; display: block; padding: 3%; font-size: 7pt; border: solid 1px #ccc; border-radius: 5px; color: #888888; margin: 0; }
input.full { margin-top: 3%; display: block; width: 94%; }
input.half { display: inline-block; width: 42%; margin: 2% 3% 0 0; }
button.submit { cursor:pointer; display: inline-block; width: 46%; text-align: center; border: none; border-radius: 4px; padding: 2% 0 2% 0; margin-top: 2%; color: white; background: -webkit-linear-gradient( #7c9f49, #9bbb59 ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #7c9f49, #9bbb59 ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #7c9f49, #9bbb59 ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #7c9f49, #9bbb59 ); /* Standard syntax */ box-shadow: 0px 2px 0px #5f8a29; text-shadow: 0px -1px 1px rgba(0,0,0,0.4); }
a.switcher { text-decoration: none; display: block; width: 100%; text-align: center; border: none; border-radius: 4px; padding: 2% 0 2% 0; margin: 6% 0 5% 0; color: white; background: -webkit-linear-gradient( #8b8b8b, #979499 ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #8b8b8b, #979499 ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #8b8b8b, #979499 ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #8b8b8b, #979499 ); /* Standard syntax */ box-shadow: 0px 2px 0px #7c7c7c; text-shadow: 0px -1px 1px rgba(0,0,0,0.4); }
/** Forgot your password */
#login-link-reset-password { display:block; text-decoration: none; margin-top: 2%; }
#login-link-reset-password:hover { text-decoration: underline; }
/** Social signup */
#login-social-container { margin-top: 4%;}
#social-login-buttons-container { position: relative; width: 14em; margin: 2% auto; }
.social-login { display: inline-block; background-color: #ffde00; border-radius: 3em; width: 3em; height: 3em; margin-right: 0.5em; line-height: 3em; box-shadow: 0px 3px 0px #ce9600; text-align: center; color: #4d1f6c; margin-top: 2%; }
.social-login:last-child{ margin-right: 0; }
.social-login.facebook { color: white; background: -webkit-linear-gradient( #293876, #3080b0 ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #293876, #3080b0 ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #293876, #3080b0 ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #293876, #3080b0 ); /* Standard syntax */ box-shadow: 0px 3px 0px #2f77a9; }
.social-login.linkedin { color: white; background: -webkit-linear-gradient( #0179b1, #16c2da ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #0179b1, #16c2da ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #0179b1, #16c2da ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #0179b1, #16c2da ); /* Standard syntax */ box-shadow: 0px 3px 0px #019ac5; }
.social-login.google { color: white; background: -webkit-linear-gradient( #d14634, #e96c50 ); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient( #d14634, #e96c50 ); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient( #d14634, #e96c50 ); /* For Firefox 3.6 to 15 */ background: linear-gradient( #d14634, #e96c50 ); /* Standard syntax */ box-shadow: 0px 3px 0px #e36b56; }
/** Footer */
.modal-footer { padding-top:2%; margin-top: 10px; margin-bottom: 10px; border-top: solid 1px #DDD; text-align: center; }
.modal-footer > a { text-decoration: none; }
.modal-footer > a:hover { text-decoration: underline; }






/** 1024 */
@media screen and (min-width: 1024px) and (max-width: 1279px){
    #page0-title { margin-top: 20%; }
    #language-container { width: 18.25%; margin-top:2%; }
    #login-button { margin: 1.4% 1.875% 0 0; }
    #menu-logo { width: 15%; }
    #l1h { padding: 43% 40% 0 5%; }
    #r1ul { margin: 38% 6% 0 37%; }
    #r1ul > li:last-child { margin-top: 13%; }

}

/** 1280 */
@media screen and (min-width: 1280px) and (max-width: 1365px){

    #page0-title { margin-top: 15%; }
    #login-button { margin: 1.1% 1.875% 0 0; }
    #l1h { padding: 38% 38% 0 5%; }
    #r1ul { margin: 28% 6% 0 35%; }
    #r1ul > li:last-child { margin-top: 15%; }
    #backers-container { margin-top: 2%; }


/** 1366 - 1440 */
@media screen and (min-width: 1366px) and (max-width: 1920px){

    #page0-title { margin-top: 15%; }
    #login-button { margin: 1.1% 1.875% 0 0; }
    #l1h { padding: 38% 38% 0 5%; }
    #r1ul { margin: 28% 6% 0 35%; }
    #r1ul > li:last-child { margin-top: 15%; }
    #backers-container { margin-top: 2%; }

}



