.content
    &.social
        width 960px
        margin 0 auto 58px
        padding 58px 0 0 0
        overflow hidden

        .sidebar
            width 190px
            // border-right 1px solid #d7d7d7

            .itens
                fontrg()
                font-size 14px
                margin 0 0 20px 0
                border-bottom 1px solid #d7d7d7

                .title
                    padding 0 0 0 10px
                    // margin 0 0 8px 0
                    fontbd()
                    text-transform uppercase
                    color #777777

                ul
                    margin 15px 0 15px 0

                    .item
                        width 100%
                        margin 0 0 0 0
                        cursor pointer
                        overflow hidden

                        a
                            width 100%
                            padding 8px
                            float left
                            box()
                            fontsb()
                            font-size 13px
                            text-decoration none
                            color #888888


                        &:hover,
                        &.active
                            border-right 5px solid #ffc600
                            background #f5f5f5

                            a
                                color #68347e
                                // fontbd()

                &:last-child
                    border-bottom 0

            .bt-back
                display block
                width 178px
                float left
                padding 8px 10px
                margin 0 0 30px 0
                border 1px solid #E1C3E9
                border-radius 5px
                box()
                font-size 12px
                fontsb()
                text-align center
                color #68347e
                text-decoration none

                &:hover
                    background-color #f7effa

            .sidebar-questionView
                display block

                .itens
                    &.post-topics
                        .tags
                            overflow hidden
                            // margin-bottom 10px
                            padding 0 0 0 8px

                            .tag
                                float left
                                display inline-block
                                margin-bottom 8px

                                &:last-child
                                    margin-bottom 0

                                .tag-link
                                    display inline-block
                                    padding 5px 20px
                                    border 1px solid #ccc
                                    border-radius(15px)
                                    text-decoration none
                                    text-align center
                                    font-size 12px
                                    color #555

                                    &.active
                                        background-color #ebebeb
                                        border 0

                    &.post-stats,
                    &.post-share
                        ul
                            padding-left 10px

                        .item
                            position relative
                            padding 0 0 0 18px
                            box()

                            &:before
                                content ""
                                position absolute
                                top 0
                                bottom 0
                                left 0
                                margin auto 0
                                display block
                                width 16px
                                height 12px
                                replace('icon-data.png')

                            &.views
                                &:before
                                    background-position 0 -89px

                            &.answers
                                &:before
                                    background-position 0 bottom

                            &.twitter
                                &:before
                                    replace('icons-social.png')
                                    background-position 0 1px

                            &.facebook
                                &:before
                                    width 7px
                                    height 15px
                                    replace('icons-social.png')
                                    background-position 0 -11px

        .content
            position relative
            width 500px
            padding 0 30px
            border-left 1px solid #d7d7d7

            .tags
                clear both
                size 100% 45px

                .title
                    padding-bottom 7px
                    margin 0 0 20px
                    border-bottom 1px solid #d7d7d7

                .tag
                    float left
                    display inline-block
                    margin-right 5px

                    .tag-link
                        position relative
                        display inline-block
                        padding 5px 25px
                        padding-left 18px
                        border 1px solid #ccc
                        border-radius(15px)
                        text-decoration none
                        text-align center
                        font-size 12px
                        color #555

                        &:hover
                            background-color #ebebeb
                            // &:after
                            //     background-position 0 -25px

                        &:after
                            display none
                            // content ''
                            // position absolute
                            // right 7px
                            // top 8px
                            // square 7px
                            // replace('icon-delete.png')

                        &.country
                            background-color #ebebeb

            .question
                position relative
                padding 25px 0 20px
                border-bottom 1px solid #d7d7d7

                .data-question
                    .title-question
                        display block
                        padding 0 0 10px 0
                        line-height 1.3em
                        fontbd()
                        font-weight normal
                        font-size 18px
                        color #68347e

                    a
                        text-decoration none

                        &:hover
                            .title-question
                                text-decoration underline

                    .answer
                        display block
                        padding 0 0 20px 0
                        line-height 22px
                        font-size 14px
                        color #888

            .data
                height 30px
                overflow hidden

                .data-item
                    float left
                    display inline-block
                    height 30px
                    line-height 30px
                    margin 0 20px 0 0
                    font-size 10px
                    text-transform uppercase

                    .data-link
                        text-decoration none
                        font-size 10px
                        color #999

                        strong
                            font-weight normal

                        &.bt-follow,
                        &.bt-upvote
                            display block
                            size 115px 30px
                            line-height 30px
                            padding 0 0 0 12px
                            box()
                            text-transform capitalize
                            fontbd()
                            font-size 12px
                            border 1px solid #dfc3eb
                            border-radius(4px)
                            color #68347e

                            &:hover
                                background-color #f7effa

                            span
                                position relative
                                padding 0 0 0 18px

                                &:before
                                    content ''
                                    position absolute
                                    left 0
                                    top 3px
                                    size 16px 10px
                                    replace('icon-data.png')

                        &.bt-follow
                            display block
                            size 115px 30px
                            line-height 30px
                            padding 0 12px 0 12px
                            box()
                            text-transform capitalize
                            fontbd()
                            font-size 12px
                            border 1px solid #dfc3eb
                            border-radius(4px)
                            color #68347e

                            &:hover
                                background-color #f7effa

                            span
                                position relative
                                padding 0 0 0 0

                                &.name
                                    float left

                                    &:before
                                        display none

                                &.count
                                    float right

                                    &:before
                                        content ''
                                        position absolute
                                        left -20px
                                        top 9px
                                        size 16px 10px
                                        replace('icon-data.png')

                        &.bt-coments,
                        &.bt-downvote
                            fontsb()
                            color #68347e
                            font-size 12px
                            text-transform none

                    strong
                        fontbd()
                        font-weight normal
                        color #333

            .bt-options
                position absolute
                right 0
                bottom 0
                size 23px 30px
                replace('icon-share.png')
                transition none
                background-position 0 center

                &:hover
                    background-position -49px center

            .make-anonymous
                float left
                width 300px
                display block

                .checkbox
                    square 15px
                    display block
                    margin 8px 5px 0 0
                    border 1px solid #C2C2C2
                    border-radius 3px
                    float left

                span
                    margin-top 10px
                    display block
                    float left
                    font-size 14px

            .answers
                float left
                padding 30px 0 0
                background transparent
                border-bottom 1px solid #d7d7d7

                .answer
                    float left
                    width 100%
                    margin 0 0 40px 0

                    .thumb
                        float left
                        margin-top 18px

                    .post
                        position relative
                        float left
                        width 460px
                        padding 18px 12px
                        border 1px solid #FF9C00
                        box()

                        &:before
                            content ""
                            position absolute
                            top 12px
                            right 18px
                            square 32px
                            replace('icon-answer.png')

                        .user
                            margin 0 0 18px 0
                            width 88%

                            .name,
                            .info
                                color #68367D

                            .info
                                float left

                        .text-post
                            width 370px
                            float left
                            font-size 14px
                            color #555555
                            line-height 20px

                        .date-post
                            float left
                            margin 20px 0
                            font-size 10px
                            text-transform uppercase

                            strong
                                color #333333

                        .data
                            float left
                            width 100%
                            overflow visible

                            .data-list
                                .data-item
                                    text-transform none

                                    .data-link
                                        fontsb()
                                        font-size 12px
                                        color #68367D

                                        &.bt-upvote
                                            width 108px
                                            height 32px
                                            padding 0 18px 0 18px

                                            span
                                                padding 0
                                                float right

                                                &:before
                                                    display none

                                            &:hover
                                                background-color #f7effa

                                        &.bt-follow
                                            display block
                                            size 115px 30px
                                            line-height 30px
                                            padding 0 0 0 12px
                                            box()
                                            text-transform capitalize
                                            fontbd()
                                            font-size 12px
                                            border 1px solid #dfc3eb
                                            border-radius(4px)
                                            color #68347e

                                            &:hover
                                                background-color #f7effa

                                            span
                                                position relative
                                                padding 0 0 0 0

                                                &.name
                                                    float left

                                                    &:before
                                                        display none

                                                &.count
                                                    float right

                                                    &:before
                                                        content ''
                                                        position absolute
                                                        left -20px
                                                        top 9px
                                                        size 16px 10px
                                                        replace('icon-data.png')


                        .bt-options
                            right 18px

            .questions-answers
                .question
                    padding-bottom 10px

                    .data
                        margin-top 0
                        height auto

                        .data-list
                            .list-viewers,
                            .list-bt
                                float left
                                margin 0 0 10px 0

                            .list-bt
                                margin 0 0 5px 0

                            .list-viewers
                                .data-item
                                    .data-link
                                        position relative
                                        padding 0 0 0 22px

                                        &:before
                                            content ""
                                            position absolute
                                            top 0
                                            bottom 0
                                            left 0
                                            margin auto 0
                                            display block
                                            width 16px
                                            height 12px
                                            replace('icon-data.png')

                                        &.viewers
                                            &:before
                                                background-position 0 -89px

                                        &.link-answers
                                            &:before
                                                background-position 0 bottom

                .bt-addQuestion
                    button()
                    width 152px
                    float right
                    margin -20px 0 20px 0

                .content-questionsAnswers
                    float left
                    border-top 1px solid #d7d7d7

            .question-view
                display block

                .question
                    padding-top 0
                    padding-bottom 15px
                    border 0

                    .bt-options
                        bottom 7px

                    .link-question
                            float left

                        .answer
                            padding-bottom 10px

                    .data
                        margin-top 18px

                    .data-item
                        display inline-block
                        font-size 10px
                        text-transform uppercase

                        strong
                            fontbd()
                            font-weight normal
                            color #333

                .comment,
                .answers
                    .user
                        float left
                        width 88%

                        .name,
                        .thumb
                            float left
                            margin-right 12px

                        .name
                            color #000
                            font-size 14px
                            fontsb()

                        .info
                            display block
                            float right
                            font-size 11px
                            margin-top 2px

                    form
                        float left

                        textarea,
                        .bt-write
                            float left

                        textarea
                            width 445px
                            height 155px
                            margin-top 15px
                            padding 8px 12px
                            border 1px solid #D0B4DA
                            border-radius 5px
                            outline none
                            font-size 14px
                            fontrg()
                            color #888888

                        .bt-write
                            margin 10px 0 0 0
                            width 150px
                            height 40px
                            font-size 14px
                            fontsb()

                .comment
                    position relative
                    padding 18px 15px 25px 15px
                    background #F5F5F5
                    overflow hidden

            .question-following
                display block

                .following
                    display block
                    overflow hidden

                .title
                    display block
                    padding 0 0 20px 0
                    fontbd()
                    font-weight normal
                    font-size 18px
                    color #68347e

                .search
                    position relative
                    display block
                    size 325px auto
                    padding-bottom 50px

                    .bt-back
                        display none

                    label
                        display none

                    input
                        display block
                        size 325px 35px
                        padding 0 10px 0 14px
                        margin 3px 0 0 0
                        box()
                        border 1px solid #d0b5db
                        border-radius(3px)
                        line-height 35px
                        fontrg()
                        font-size 14px
                        background transparent
                        color #888

                    .bt-search
                        position absolute
                        right 0
                        bottom 50px
                        display block
                        square 35px
                        cursor pointer
                        replace('icon-lupa.png')

                .following-who
                    display block

                    .following-item
                        display block
                        height 90px
                        padding 15px 0
                        box()
                        border-top 1px solid #d7d7d7
                        overflow hidden

                        &:last-child
                            border-bottom 1px solid #d7d7d7

                        .identity
                            float left
                            width 300px

                            .thumb
                                float left
                                square 40px
                                margin 0 10px 0 0
                                overflow hidden

                            .data-professional
                                display block
                                width 190px
                                overflow hidden

                                .name
                                    display block
                                    padding 0 0 5px 0
                                    font-size 16px
                                    fontbd()
                                    font-weight normal
                                    color #313131

                                .expert
                                    display block
                                    line-height 20px
                                    font-size 14px
                                    color #888

                        .bt-unfollow
                            float right
                            size 105px 30px
                            margin 13px 0 0
                            line-height 30px
                            font-size 12px
                            fontbd()
                            font-weight normal
                            color #68347e

                .topics
                    width 100%
                    overflow hidden

                .title
                    display block
                    padding 0 0 20px 0
                    fontbd()
                    font-weight normal
                    font-size 18px
                    color #68347e

                .add-interest
                    display block
                    size 500px 130px

                    input
                        float left
                        width 325px
                        margin-right 14px
                        font-size 14px
                        color #888

                    .bt-add
                        display inline-block
                        width 110px
                        margin -5px 0 0 0
                        overflow hidden

                .tags
                    clear both
                    size 100% 45px

                    .title
                        padding-bottom 7px
                        margin 0 0 20px
                        border-bottom 1px solid #d7d7d7

                    .tag
                        float left
                        display inline-block
                        margin-right 5px

                        .tag-link
                            position relative
                            display inline-block
                            padding 5px 20px
                            border 1px solid #ccc
                            border-radius(15px)
                            text-decoration none
                            text-align center
                            font-size 12px
                            color #555

                            &:hover
                                background-color #ebebeb
                                // &:after
                                //     background-position 0 -25px

                            &:after
                                display none
                                // content ''
                                // position absolute
                                // right 7px
                                // top 8px
                                // square 7px
                                // replace('icon-delete.png')

                            &.country
                                background-color #ebebeb

            .question-postView,
            .question-postList
                .question
                    float left
                    padding-bottom 12px
                    padding-top 0
                    border 0

                    .data-question
                        .link-question
                            float left

                        .answer
                            padding-bottom 10px

                        .data-item
                            display inline-block
                            font-size 10px
                            text-transform uppercase

                            strong
                                fontbd()
                                font-weight normal
                                color #333

                    .data
                        margin-top 18px
                        height auto

                        .data-item
                            height auto

                            .bt-upvote
                                width 108px
                                height 32px
                                padding 0 18px 0 18px

                                span
                                    padding 0
                                    float right

                                    &:before
                                        display none
                .answers
                    border 0
                    padding 15px
                    background #F5F5F5

                    .form-comment
                        width 100%
                        float left
                        margin-bottom 18px

                        .user
                            float left
                            square(40px)

                        .text-coments
                            float left
                            width 295px
                            height 38px
                            margin 2px 10px 0 12px

                        .bt-comment
                            float right
                            width 112px
                            height 40px
                            font-size 14px

                    .answer
                        margin 0 0 20px 0

                        &.active
                            .post
                                background #FCFCFC
                                border 1px solid #E1E1E1

                                &:before
                                    replace('icon-answer-roxo.png')
                                    display block

                                .user
                                    .name
                                        color #68347e

                        .post
                            border 0
                            width 430px

                            &:before
                                display none

                            .text-post
                                width 90%

                            .user
                                margin 0 0 12px 0

                                .name
                                    color #000
                                    font-size 14px
                                    font-family 'open_sanssemibold'

                                .info
                                    display block
                                    float right
                                    font-size 11px
                                    margin-top 2px
                                    color #818181

            .question-postList
                .answers
                    margin-bottom 42px

                .bt-addQuestion
                    float right
                    width 155px
                    height 40px
                    font-size 14px

                .conten-postList
                    float left
                    border-top 1px solid #D7D7D7
                    border-bottom 1px solid #D7D7D7
                    margin 20px 0 0 0
                    padding 25px 0 0 0

                    .question
                        .data
                            margin-top 0

                            .data-list
                                .list-viewers,
                                .list-bt
                                    float left
                                    margin 0 0 10px 0

                                .list-bt
                                    margin 0 0 5px 0

                                .list-viewers
                                    .data-item
                                        .data-link
                                            position relative
                                            padding 0 0 0 22px

                                            &:before
                                                content ""
                                                position absolute
                                                top 0
                                                bottom 0
                                                left 0
                                                margin auto 0
                                                display block
                                                width 16px
                                                height 12px
                                                replace('icon-data.png')

                                            &.viewers
                                                &:before
                                                    background-position 0 -89px

                                            &.link-answers
                                                &:before
                                                    background-position 0 bottom

                        .tags
                            .tag
                                .tag-link
                                    padding 5px 25px

                                    &:after
                                        display none

            .add-post
                display block
                height auto
                padding-bottom 50px
                overflow hidden

                .title
                    display block
                    padding 0 0 20px 0
                    fontbd()
                    font-weight normal
                    font-size 18px
                    color #68347e

                .talk-about
                    textarea
                        display block
                        size 100% 75px
                        padding 0 10px 0 14px
                        margin 3px 0 0 0
                        resize none
                        box()
                        border 1px solid #d0b5db
                        border-radius(3px)
                        line-height 35px
                        fontrg()
                        font-size 14px
                        background transparent
                        color #888

                .say
                    padding 45px 0

                    textarea
                        display block
                        size 100% 195px
                        padding 0 10px 0 14px
                        margin 3px 0 0 0
                        resize none
                        box()
                        border 1px solid #d0b5db
                        border-radius(3px)
                        line-height 35px
                        fontrg()
                        font-size 14px
                        background transparent
                        color #888

                .add-topics
                    display block
                    size 500px auto

                    input
                        float left
                        width 375px
                        margin-right 14px
                        font-size 14px
                        color #888

                    .bt-add
                        display inline-block
                        width 110px
                        margin -5px 0 0 0
                        overflow hidden

                .tags
                    height 25px
                    padding 20px 0
                    margin 15px 0
                    border-top 1px solid #d7d7d7
                    border-bottom 1px solid #d7d7d7

                .make-anonymous
                    width 100%
                    padding-bottom 45px

                .bt-write
                    width 150px

            .add-question
                display block
                height auto
                padding-bottom 50px
                overflow hidden

                .title
                    display block
                    padding 0 0 20px 0
                    fontbd()
                    font-weight normal
                    font-size 18px
                    color #68347e

                .want-know
                    padding-bottom 45px

                    textarea
                        display block
                        size 100% 150px
                        padding 0 10px 0 14px
                        margin 3px 0 0 0
                        resize none
                        box()
                        border 1px solid #d0b5db
                        border-radius(3px)
                        line-height 35px
                        fontrg()
                        font-size 14px
                        background transparent
                        color #888

                .add-topics
                    display block
                    size 500px auto

                    input
                        float left
                        width 375px
                        margin-right 14px
                        font-size 14px
                        color #888

                    .bt-add
                        display inline-block
                        width 110px
                        margin -5px 0 0 0
                        overflow hidden

                .tags
                    height 25px
                    padding 20px 0
                    margin 15px 0
                    border-top 1px solid #d7d7d7
                    border-bottom 1px solid #d7d7d7

                .make-anonymous
                    width 100%
                    padding-bottom 45px

                .bt-add-question
                    width 150px

        .aside
            width 200px
            overflow hidden

            .related-content,
            .related-professionals
                padding 20px
                box()

                .title
                    font-size 14px
                    text-transform uppercase
                    fontbd()
                    color #68347e

                ul
                    margin 20px 0 0 0
                    font-size 12px
                    line-height 16px

                    li
                        margin 0 0 20px 0

                        &:last-child
                            margin 0

            .related-content
                background #828282
                margin 0 0 20px 0

                .title,
                ul
                    color #f5f5f5

            .related-professionals
                border 1px solid #E1E1E1
                background #F9F9F9

        .sidebar,
        .content,
        .aside
            float left
