@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body{
	font-family: 'Open Sans', sans-serif;
}
.clear{clear: both;}
/*top bar */
#topBar{
	width: 100%;
	height: 70px;
	background: #111111;
}
.fixTopBar{
	position: fixed;
	z-index: 2;
}
#logo{
	background: url('../img/logo1.jpg') no-repeat;
	width: 174px;
	height: 26px;
	display: block;
	float: left;
	margin-top: 22px;
	margin-left: 60px;
}
#topMenu{
	float: right;
	width: 560px;
	right: 10px;
    position: absolute;
}
#topMenu #topBarMenu li{
	float: left;
    margin-right: 20px;

}
#topMenu #topBarMenu li a{
	text-decoration: none;
	color: #dfdfdf;
	font-size: 14px;
	line-height: 70px;
	font-weight: 700;
}
#topMenu #topBarMenu li a:hover{
	color: #f2c402;
}
#topMenu img{
	float: left;
	margin-top: 15px;
}
#topMenu #topBarMenu a{float: left;}
#topMenu #popup{
	width: 180px;
	height: 116px;
	background: url("../img/popup.png") no-repeat;
	position: relative;
	top: -9px;
	left: 342px;
	display: block;
	padding-top: 9px;
	display: none;
	z-index: 9;
}
#topMenu #popup a{
	text-decoration: none;
	color: #555555;
	font-size: 16px;
	height: 53px;
	display: block;
	line-height: 53px;
	float: none;
	text-align: center;
	width: 100%;
}
#topMenu #popup a:hover{
	background: #FFFFFF;
}

.userName{
	text-decoration: none;
	color: #dfdfdf;
	font-size: 16px;
	line-height: 70px;
	margin-left: 20px;
}
.userName span{
	display: inline-block;
	width: 12px;
	height: 9px;
	background: url('../img/user_down_arrow.png') no-repeat;
	margin-left: 10px;
}
.userName:hover span{
	background-position: bottom;
}
.showIt{display: block !important;}

#contactBox{
	text-align: center;
	color: #FFFFFF;
}
#contactBox h1{
	font-weight: 700;
	font-size: 60px;
	margin:80px auto 65px;
}
#contactBox h2{
	font-size: 22px;
}
#contactBox p{
	margin-top: 30px;
	font-size: 16px;
}
#contactBox form{
	text-align: left;
	width:467px;
	margin: 25px auto;
	font-size: 14px;
}
#contactBox form label{
	color: #FFFFFF;
}
#contactBox form label span{
	display: block;
	margin-left: 20px;
}
#contactBox form input[type=text],#contactBox form textarea{
	outline: none;
	width: 447px;
	height: 45px;
	border:none;
	border-radius: 5px;
	margin-bottom: 0px;
	padding: 0px 10px;
	font-size: 16px;
	color: #845996 !important;
	font-weight: 700;
}
#contactBox form textarea{
	height: 200px;
}
#contactBox form input[type=submit], #professionalHelp form input[type=submit]{
	border-radius: 5px;
    margin-top: 20px;
	border: none;
	font-size: 0;
	width: 467px;
	background: url('../img/send_btn_contact.png');
	height: 42px;
}
.makeYellow{
	color: #ffce00;
}

/*how it works*/

.container{
	width: 960px;
	margin: 0 auto;
}
/*.howItWorksBox{
	padding-top: 
}*/
.howItWorksBox h1{
	color: #845996;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	margin: 90px auto 60px;
}
.howItWorksBox h2{
	color: #555555;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 25px;
}
.howItWorksBox p{
	text-align: center;
	color: #555555;
	font-size: 16px;
}
.makePurple{
	color: #845996;
}
.makeBold{
	font-weight: 700;
}
.step{
	height: 281px;
	border-top: 1px solid #c2c2c2;
	/*border-bottom: 1px solid #c2c2c2;*/
	padding: 50px 0;
}
.step > div{float: left;}
.orderNumber{
	font-size: 20px;
	color: #555555;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #e1e1e1;
	border-radius: 50px; 
	text-align: center;
	margin-left: 65px;
	margin-top: 113px;
}
.stepText{
	width: 290px;
	color: #555555;
	font-size: 16px;
	margin-left: 20px;
	margin-right: 30px;
}
.stepImg{
	width: 499px;
	height: 265px;
}
.stepImg1{
	background: url('../img/step1.jpg');
}

.stepImg2{
	background: url('../img/step2.jpg');
}

.stepImg3{
	background: url('../img/step3.jpg');
}

.stepImg4{
	background: url('../img/step4.jpg');
}
.titleHowItWork{
	color: #845996 !important;
	font-size: 20px !important;
	font-weight: 700;
	background: #FFFFFF;
	width: 220px;
	margin: 20px auto 0;
	position: relative;
	top:12px;
}

/*home*/

.column{
	width: 33.33%;
	float: left;
	height: 1080px;
}
#title1,#title2,#title3{
	width: 100%;
	height: 75px;
}
#title1{
	background: url('../img/title1.png') center bottom;
}

#title2{
	background: url('../img/title2.png') center bottom;
}

#title3{
	background: url('../img/title3.png') center bottom;
}

.titleNumber{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 2px solid #e1e1e1;
	border-radius: 30px;
	color: #FFFFFF;
	float: left;
}
.titleText{
	width: 260px;
	float: left;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	margin-left: 16px;
}
#title1 > div,#title2 > div,#title3 > div{
	width: 330px;
	margin: 0 auto;
	padding-top: 16px;
}
.splitBtn{
	border-top: 1px solid #c4c4c4;
	height: 1px;
	background: #FFF;
	width: 85%;
	margin: 0 auto;
}
.formBtn{display: block;}
.formType{
	float: left;
	width: 80px;
	height: 67px;
	margin-left: 10px;
	margin-top: 10px;
	/*border: 1px solid red;*/
	/*background-size: 100%;*/
}
.formProgressOut{
	float: left;
	width: 140px;
	margin-left: 20px;
	margin-right: 10px;
	/*margin-top: 5px;*/
}
.progressTrack{
	width: 140px;
	height: 16px;
	border-bottom: 1px solid #e1e1e1;
}
.progressFill{
	width: 200px;
	height: 16px;
	background-image: url('../img/progressBarPattern.png');
}
.progressFillGreen{
	background-color: #2fc81f;
}
.progressFillYellow{
	background-color: #e4ff00;
}
.progressFillOrange{
	background-color: #ffc000;
}
.progressFillDarkOrange{
	background-color: #ff7200;
} 
.progressFillSize0{width: 0%;}
.progressFillSize5{width: 5%;}
.progressFillSize10{width: 10%;}
.progressFillSize15{width: 15%;}
.progressFillSize20{width: 20%;}
.progressFillSize25{width: 25%;}
.progressFillSize30{width: 30%;}
.progressFillSize35{width: 35%;}
.progressFillSize40{width: 40%;}
.progressFillSize45{width: 45%;}
.progressFillSize50{width: 50%;}
.progressFillSize55{width: 55%;}
.progressFillSize60{width: 60%;}
.progressFillSize65{width: 65%;}
.progressFillSize70{width: 70%;}
.progressFillSize75{width: 75%;}
.progressFillSize80{width: 80%;}
.progressFillSize85{width: 85%;}
.progressFillSize90{width: 90%;}
.progressFillSize95{width: 95%;}
.progressFillSize100{width: 100%;}


.formProgressOut h3{color: #555555;font-weight: 600;font-size: 24px;line-height: 36px;}
.formProgressOut p{color: #777777;font-weight: 400;font-size: 12px;line-height: 27px;}
.formPersonal{
	background: url('../img/personal.png') no-repeat;
	background-size: 100%;
}
.formLanguage{
	background: url('../img/language.png') no-repeat;
	background-size: 100%;
}
.formEducation{
	background: url('../img/education.png') no-repeat;
	background-size: 100%;
}
.formWork{
	background: url('../img/work.png') no-repeat;
	background-size: 100%;
}
.formPercentage{
	/*width: px;*/
	float: left;
	color: #845996;
	font-size: 27px;
	font-weight: 700;
	margin-top: 20px;
}
.formPercentage span{
	font-size: 24px;
	font-weight: 600;
}
.formEdit{
	display: block;
	background: url('../img/editBtn.png');
	width: 34px;
	height: 34px;
	float: right;
	margin-right: 30px;
	margin-top: 24px;
	/*display: none;*/
}
.formBtn:hover{
	background: #FFF !important;
}
.formBtn:hover .formEdit{display: block;}

#diagram-id-1{
	background: url('../img/australia-disk.png') no-repeat center center;
	/*border:2px solid red;*/
}

#diagram-id-2{
	background: url('../img/canada-disk.png') no-repeat center center;
	/*border:2px solid red;*/
}

#diagram-id-3{
	background: url('../img/newzealand-disk.png') no-repeat center center;
	/*border:2px solid red;*/
}

.circleProgressBar{
	width: 80px;
	height: 80px;
	float: left;
}
.green6{background: url('../img/round-progress/green6.png') no-repeat; background-size: 100%;}
.green12{background: url('../img/round-progress/green12.png') no-repeat; background-size: 100%;}
.green18{background: url('../img/round-progress/green18.png') no-repeat; background-size: 100%;}
.green24{background: url('../img/round-progress/green24.png') no-repeat; background-size: 100%;}

.green30{background: url('../img/round-progress/green30.png') no-repeat; background-size: 100%;}
.green36{background: url('../img/round-progress/green36.png') no-repeat; background-size: 100%;}
.green42{background: url('../img/round-progress/green42.png') no-repeat; background-size: 100%;}
.green48{background: url('../img/round-progress/green48.png') no-repeat; background-size: 100%;}

.green54{background: url('../img/round-progress/green54.png') no-repeat; background-size: 100%;}
.green60{background: url('../img/round-progress/green60.png') no-repeat; background-size: 100%;}
.green66{background: url('../img/round-progress/green66.png') no-repeat; background-size: 100%;}
.green72{background: url('../img/round-progress/green72.png') no-repeat; background-size: 100%;}

.green78{background: url('../img/round-progress/green78.png') no-repeat; background-size: 100%;}
.green84{background: url('../img/round-progress/green84.png') no-repeat; background-size: 100%;}
.green90{background: url('../img/round-progress/green90.png') no-repeat; background-size: 100%;}
.green96{background: url('../img/round-progress/green96.png') no-repeat; background-size: 100%;}

.australiaProgressBar{
	width: 80px;
	height: 80px;
	background: url('../img/australia-disk.png') no-repeat center center;
	background-size: 100%;
}

.yellow6{background: url('../img/round-progress/yellow6.png') no-repeat; background-size: 100%;}
.yellow12{background: url('../img/round-progress/yellow12.png') no-repeat; background-size: 100%;}
.yellow18{background: url('../img/round-progress/yellow18.png') no-repeat; background-size: 100%;}
.yellow24{background: url('../img/round-progress/yellow24.png') no-repeat; background-size: 100%;}

.yellow30{background: url('../img/round-progress/yellow30.png') no-repeat; background-size: 100%;}
.yellow36{background: url('../img/round-progress/yellow36.png') no-repeat; background-size: 100%;}
.yellow42{background: url('../img/round-progress/yellow42.png') no-repeat; background-size: 100%;}
.yellow48{background: url('../img/round-progress/yellow48.png') no-repeat; background-size: 100%;}

.yellow54{background: url('../img/round-progress/yellow54.png') no-repeat; background-size: 100%;}
.yellow60{background: url('../img/round-progress/yellow60.png') no-repeat; background-size: 100%;}
.yellow66{background: url('../img/round-progress/yellow66.png') no-repeat; background-size: 100%;}
.yellow72{background: url('../img/round-progress/yellow72.png') no-repeat; background-size: 100%;}

.yellow78{background: url('../img/round-progress/yellow78.png') no-repeat; background-size: 100%;}
.yellow84{background: url('../img/round-progress/yellow84.png') no-repeat; background-size: 100%;}
.yellow90{background: url('../img/round-progress/yellow90.png') no-repeat; background-size: 100%;}
.yellow96{background: url('../img/round-progress/yellow96.png') no-repeat; background-size: 100%;}

.canadaProgressBar{
	width: 80px;
	height: 80px;
	background: url('../img/canada-disk.png') no-repeat center center;
	background-size: 100%;
}

.orange6{background: url('../img/round-progress/orange6.png') no-repeat; background-size: 100%;}
.orange12{background: url('../img/round-progress/orange12.png') no-repeat; background-size: 100%;}
.orange18{background: url('../img/round-progress/orange18.png') no-repeat; background-size: 100%;}
.orange24{background: url('../img/round-progress/orange24.png') no-repeat; background-size: 100%;}

.orange30{background: url('../img/round-progress/orange30.png') no-repeat; background-size: 100%;}
.orange36{background: url('../img/round-progress/orange36.png') no-repeat; background-size: 100%;}
.orange42{background: url('../img/round-progress/orange42.png') no-repeat; background-size: 100%;}
.orange48{background: url('../img/round-progress/orange48.png') no-repeat; background-size: 100%;}

.orange54{background: url('../img/round-progress/orange54.png') no-repeat; background-size: 100%;}
.orange60{background: url('../img/round-progress/orange60.png') no-repeat; background-size: 100%;}
.orange66{background: url('../img/round-progress/orange66.png') no-repeat; background-size: 100%;}
.orange72{background: url('../img/round-progress/orange72.png') no-repeat; background-size: 100%;}

.orange78{background: url('../img/round-progress/orange78.png') no-repeat; background-size: 100%;}
.orange84{background: url('../img/round-progress/orange84.png') no-repeat; background-size: 100%;}
.orange90{background: url('../img/round-progress/orange90.png') no-repeat; background-size: 100%;}
.orange96{background: url('../img/round-progress/orange96.png') no-repeat; background-size: 100%;}

.newzealandProgressBar{
	width: 80px;
	height: 80px;
	background: url('../img/newzealand-disk.png') no-repeat center center;
	background-size: 100%;
}
.countriesProgress{
	float: left;
	width: 170px;
	margin-left: 10px;
}
.countriesProgress > p{
	font-size: 18px;
	color: #555555;
	font-weight: 600;
}
.textUnderLeft{
	display: inline;
	font-size: 38px;
	font-weight: 700;
	color: #845996;
	position: relative;
	top: -10px;
}
.textUnderRight{
	display: inline-block;
}
.textUnderRight p:nth-child(1){
	font-size: 16px;
	color: #845996;
}
.textUnderRight p:nth-child(2){
	font-size: 12px;
	color: #888888;
	font-weight: 300;
}
.textUnderRight p:nth-child(2) span{
	font-weight: 600;
	color: #845996;
}
.countries{
	width: 290px;
	margin: 0 auto;
	/*padding-top: 75px;
	padding-bottom: 75px;*/
}


#selectCountry{
	background: url('../img/select-country.png');
	width: 182px;
	padding-left: 60px;
	height: 84px;
	color: #888888;
	font-size: 22px;
	margin: 0 auto;
}
#selectCountry p:nth-child(1){font-weight: 600;line-height:24px;padding-top: 29px;}
#selectCountry p:nth-child(2){font-weight: 300;line-height:24px;}

.stepGuideBtn{
	margin: 20px auto;
	width: 400px;
	height: 80px;
	display: block;
	text-decoration: none;
}
.stepGuideBtn:hover{background-color: #559008;}
.stepGuideBtn span{
	color: #FEFEFE;
	font-size: 18px;
	line-height: 80px;
	font-weight: 600;
	padding-left: 150px;
}
.checkBtn{
	background: #7ca745 url('../img/check.png') no-repeat left;
}

.applyBtn{
	background: #7ca745 url('../img/apply.png') no-repeat left;
}

.movingBtn{
	background: #7ca745 url('../img/moving.png') no-repeat left;
}
.lowPoints img{
	margin-bottom: 10px;
}
.lowPoints{
	text-align: center;
	font-size: 18px; 
	color: #c60a20;
	margin-bottom: 90px;
}

.australiaSelect,
.canadaSelect,
.newzealandSelect{
	display: none;
}

.whiteBg{
	background-color: #FFF;
}

.countrySelected {
    background-color: #E7E7E7;
}

/*moving-to*/
.column25{
	width: 25%;
	float: left;
	background: #111111;
}
.column25 p{
	margin: 0;
	text-align: center;
	color: #FFF;
	font-size: 32px;
	background: rgba(106,71,130,0.7);
	line-height: 90px;
	height: 90px;
}
.column75{
	width: 75%;
	float: left;
	padding-top: 70px;

}
.columnAustralia{
	background: url("../img/australia.jpg") no-repeat center top;
	position: fixed;
	top: 70px;
}
.columnCanada{
	background: url("../img/canada.jpg") no-repeat center top;
	position: fixed;
	top: 70px;
}
.columnNewZealand{
	background: url("../img/newzealand.jpg") no-repeat center top;
	position: fixed;
	top: 70px;
}
.tab1,.tab2,.tab3{
	display: block;
	float: left;
	width: 33.33%;
	height: 90px;
	line-height: 90px;
	text-decoration: none;
	background: #ebebeb;
	text-align: center;
	font-size: 20px;
	color: #888888;
}
.tab1,.tab3{
	background: #dfdfdf;
}
.tab1:hover,.tab2:hover,.tab3:hover{
	background: #f8f8f8;
	color: #845996;
}
.tab-active,.tab-active:hover{
	background: url('../img/active-tab.png') no-repeat center bottom;
	height: 100px;
	color: #845996;
}

.movingStepsContainer{
	margin: 20px auto;
	width: 815px;
	height: 400px;
	/*background: #000;*/
}

.movingStepsContainer p.movingIntroduction {
	font-size: 17px;
	color: #555555;
    margin-bottom: 25px;
}

.movingStepsNumber{
	background: url('../img/stepBg.png');
	width: 142px;
	height: 54px;
	line-height: 54px;
	float: left;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.movingStepsNumber span{
	text-align: center;
	border: 2px solid #FFF;
	width: 30px;
	/*padding: 5px;*/
	line-height: 30px;
	/*height: 30px;*/
	display: inline-block;
	border-radius: 30px;
}
.movingStepsContent{
	width: 670px;
	float: left;
	border-top: 1px solid #845996;
	margin-top: 26px;
}
.movingStepsContent h3{
	font-weight: bold;
	color: #559008;
	font-size: 20px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.movingStepsContent p{
	font-size: 16px;
	color: #555555;
	font-weight: 400;
	padding-left: 15px;
    margin-bottom: 10px;
}

.movingStepsContainer p a, .halfWidth a{
    font-size: 16px;
    font-weight: 400;
	color: #559008;
}

.movingStepsContent p a:hover, .halfWidth a:hover{
	color: #845996;
}

.doItYellow .movingStepsNumber{
	background: url('../img/stepBg1.png');
	color: #845996;
}
.doItYellow .movingStepsContent{
	border-top: 1px solid #ffce00;
}

.halfWidth{
	width: 50%;
	float: left;
}

.circleProgressBarBig{
	width: 256px;
	height: 256px;
	float: left;
}
.bigGreen6{background: url('../img/round-progress/bigGreen6.png') no-repeat; background-size: 100%;}
.bigGreen12{background: url('../img/round-progress/bigGreen12.png') no-repeat; background-size: 100%;}
.bigGreen18{background: url('../img/round-progress/bigGreen18.png') no-repeat; background-size: 100%;}
.bigGreen24{background: url('../img/round-progress/bigGreen24.png') no-repeat; background-size: 100%;}

.bigGreen30{background: url('../img/round-progress/bigGreen30.png') no-repeat; background-size: 100%;}
.bigGreen36{background: url('../img/round-progress/bigGreen36.png') no-repeat; background-size: 100%;}
.bigGreen42{background: url('../img/round-progress/bigGreen42.png') no-repeat; background-size: 100%;}
.bigGreen48{background: url('../img/round-progress/bigGreen48.png') no-repeat; background-size: 100%;}

.bigGreen54{background: url('../img/round-progress/bigGreen54.png') no-repeat; background-size: 100%;}
.bigGreen60{background: url('../img/round-progress/bigGreen60.png') no-repeat; background-size: 100%;}
.bigGreen66{background: url('../img/round-progress/bigGreen66.png') no-repeat; background-size: 100%;}
.bigGreen72{background: url('../img/round-progress/bigGreen72.png') no-repeat; background-size: 100%;}

.bigGreen78{background: url('../img/round-progress/bigGreen78.png') no-repeat; background-size: 100%;}
.bigGreen84{background: url('../img/round-progress/bigGreen84.png') no-repeat; background-size: 100%;}
.bigGreen90{background: url('../img/round-progress/bigGreen90.png') no-repeat; background-size: 100%;}
.bigGreen96{background: url('../img/round-progress/bigGreen96.png') no-repeat; background-size: 100%;}

.australiaMap{
	width: 256px;
	height: 256px;
	background: url('../img/map-australia.png') no-repeat;
	background-size: 100%;
}
.canadaMap{
	width: 256px;
	height: 256px;
	background: url('../img/map-canada.png') no-repeat;
	background-size: 100%;
}
.newZealandMap{
	width: 256px;
	height: 256px;
	background: url('../img/map-newZealand.png') no-repeat;
	background-size: 100%;
}
.bigProgress{
	margin: 0 auto;
	width: 256px;
	height: 256px;
	padding: 20px 0;
}
.stats{
	width: 400px;
	margin: 40px auto 0;
}
.statsName{
	width: 100px;
	float: left;
	text-align: right;
	padding-right: 10px;
	font-size: 16px;
	color: #555555;
	font-weight: normal;
}
.statsProgress{
	width: 140px;
	height: 10px;
	float: left;
	border-bottom: 1px solid #e1e1e1;
	margin-top: 6px;
}
.innerStatsProgress{
	height: 10px;
	background: #ffc000 url('../img/progressBarPattern.png');
}
.statsPoints{
	font-size: 16px;
	color: #888888;
}
.statsPoints span{
	padding-left: 10px;
	color: #845996;
}

.warning{
	width: 95%;
	margin: 0 auto;
	height: 75px;
	line-height: 75px;
	font-size: 22px;
	color: #c60a20;
	font-weight: 700;
	background: #ebebeb;
	text-align: center;
	border-radius: 5px;
}

.success{
	width: 95%;
	margin: 0 auto;
	height: 75px;
	line-height: 75px;
	font-size: 22px;
	color: #859C01;
	font-weight: 700;
	background: #ebebeb;
	text-align: center;
	border-radius: 5px;
}

.smallLineBreak{
	width: 95%;
	margin: 60px auto 0;
	height: 1px;
	background: #e1e1e1;
}
.hints{
	color: #845996;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	width: 100px;
	background: #FFF;
	position: relative;
	top: -17px;

}
#hints {
	width: 100%;
	margin: 0 auto;
}
#hints .hintp{
	font-weight: normal;
	font-size: 14px;
	color: #555555;
	float: left;
	width: 90%;
	margin-left: 10px;
}
#hints .hintq{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #e1e1e1;
	border-radius: 30px;
	float: left;
	text-align: center;
}

#hints ul{
	list-style-type: disc;
	font-weight: normal;
	font-size: 14px;
	color: #555555;
	margin-left: 80px; 
}

/*forms*/

.grayscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
.stopTheFloat{
	float: none;
}
.formBtnTitle{
	/*float: left;*/
	color: #845996;
	font-size: 20px;
	font-weight: 600;
	line-height: 80px;
}
.formBtn1{cursor: pointer;}
.formBtn1:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    /*filter: gray; /* IE 6-9 */
}
.activeFormBtn{
	background: #FFF;
}
.formBox{
	/*width: 700px;*/
	float: left;
	/*height: 100px;*/
	/*background: #000;*/
}
.formBox #update{
	padding-left: 35px;
	height: 99px;
	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
}
.formBox #update h2{
	color: #845996;
	font-size: 24px;
	padding-top: 20px;
	font-weight: 700; 
}
.formBox #update p{
	color: #888888;
	font-size: 14px;
	width:80%;
}

.saveBtn{
	background: url('../img/save.png') top;
	width: 162px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #FFF;
	display: block;
	text-decoration: none;
	position: absolute;
	right: 30px;
	top: 115px;
}
.saveBtn:hover{
	background-position: bottom;
}

.opened-features{
	width: 260px;
	position: absolute;
	right: 0px;
	top: 200px;
}
.opened-features p{
	font-weight: 300;
	color: #845996;
	font-size: 27px;
	background: #ffce00;
	padding: 18px;
	padding-left: 45px;
}
.opened-features a{
	color: #FFF;
	font-size: 10px;
	text-decoration: none;
	display: block;
	width: 260px;
	height: 60px;
	/*padding-left: 140px;*/
}
.opened-features a span{
	padding-left: 135px;
	font-size: 11px;
	display: block;
	padding-top: 7px;
}
.opened-features a:nth-child(2){
	background: #845996 url('../img/speak-english.png') left no-repeat;
	/*background-size: 100%;*/
}
.opened-features a:nth-child(3){
	background: #9366a6 url('../img/pen.png') left no-repeat;
	/*background-size: 100%;*/
}
.opened-features a:nth-child(4){
	background: #845996 url('../img/hats.png') left no-repeat;
	/*background-size: 100%;*/
}

.line-break{
	width: 466px;
	height: 12px;
	background: url('../img/line-break.png');
}
/*checkbox*/
input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:35px;
height:26px; 
display:inline-block;
line-height:26px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:14px;
color: #888888;
vertical-align:middle;
cursor:pointer;

}
input[type=checkbox].css-checkbox:hover + label.css-label {
background-position: 0 -27px;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -54px;
}
label.css-label {
background-image:url('../img/checkbox1.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


input[type=radio].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
padding-left:35px;
height:26px; 
display:inline-block;
line-height:26px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:14px;
color: #888888;
vertical-align:middle;
cursor:pointer;

}
input[type=radio].css-checkbox:hover + label.css-label {
background-position: 0 -27px;
}
input[type=radio].css-checkbox:checked + label.css-label {
background-position: 0 -54px;
}
label.css-label {
background-image:url('../img/checkbox1.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.formBox{margin-top: 70px;}
.formBox form{
	width: 466px;
	margin: 20px auto;
	/*border: 1px solid blue;*/
	position: relative;
	left: -140px;
}
.formBox form p{
	font-size: 16px;
	color: #555555;
	font-weight: 600;
}
label{
	font-size: 14px;
	color: #888888;
	padding-left: 10px;
	line-height: 24px;
}
label > input[type=text]{
	display: block;
	height: 40px;
	line-height: 40px;
	width: 420px;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 0 20px;
	border: 1px solid #cccccc;
	font-size: 16px;
	font-weight: 700;
	color: #845996;
}
label > input[type=text]:focus{
	border: 1px solid #845996;
}
.inputError{
	border: 2px solid #ed1c24 !important;
}
form .has-error li {
    color: #ed1c24;
    font-size: 14px;
}

form .has-error input, form .has-error textarea, form .has-error select {
    border: 2px solid #ed1c24 !important;
}

.break10{
	width: 100%;
	height: 10px;
	margin: 0;
	padding: 0;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 225px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../img/dropdown-arrow1.png") no-repeat 93% -30%;
}
.select-style:hover {
	background-position: 93% 110%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            font-size: 16px;
	/*font-weight: 700;*/
	/*color: #845996;*/
	color: #888888;
	font-style: italic;
}

.select-style select:focus {
    outline: none;
}


.closeBtn{
	background: url('../img/closeBtn.png') top;
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}
.closeBtn:hover{
	background-position: bottom;
}

.addAnother{
	background: url('../img/addAnotherBtn.png') bottom;
	width: 120px;
	height: 26px;
	line-height: 26px;
	display: block;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
}
.addAnother:hover{
	background-position: top;
}
.which-country{
	position: relative;
	/*height: */
	padding: 20px 0 20px 20px;
	background: #f9f9f9;
	margin-bottom: 7px;
}
.pushRight20{
	margin-left: 20px;
}

.fullWidth{
	width: 100% !important;
}
.leftArrow{
	background: url('../img/leftarrow.png');
	width: 9px;
	height: 20px;
	display: inline-block;
	margin: 0 15px;
	position: relative;
	top: 5px;
}
.staticFooter{
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	background: #111111;
}
.staticFooter > div{
	width: 395px;
	height: 70px;
	margin: 0 auto;
}
.staticFooter > div a{
	text-decoration: none;
	color: #888888;
	font-size: 12px;
	line-height: 70px;
	display: inline-block;
}
.staticFooter > div a:hover,.staticFooter > div a.activeFooterLink{
	color: #fccc00;
}
.nextBtn{
	text-decoration: none;
	color: #FFF;
	position: fixed;
	right: 0px;
	bottom: 0px;
	display: block;
	line-height: 70px;
	padding: 0 45px;
	background: #363636;
	border-left: 1px solid #494949;
}
.nextBtn:hover{
	background: #fccc00;
}

.previousBtn{
	text-decoration: none;
	color: #FFF;
	position: fixed;
	left: 0px;
	bottom: 0px;
	display: block;
	line-height: 70px;
	padding: 0 45px;
	background: #363636;
	border-left: 1px solid #494949;
}
.previousBtn:hover{
	background: #fccc00;
}

.updateFix{
	position: fixed;
	width: 100%;
	z-index: 1;
}
.takeMeAwayFromTheTop130px{
	top: 130px;
	padding-bottom: 100px;
}
.takeMeAwayFromTheTop100px{
	top: 100px;
	padding-bottom: 100px;
}
.saveBtnSpecial{
	top: 31px;
	right: 54px;
}

/*.select-style select option:nth-child(1){
	color: red;
}*/

/*.firstOption{
	color:red !important;
}*/
.selectChange{
	font-weight: 700;
	font-style: normal !important;
	color: #845996 !important;
}
.smallInput {
	float: left;
}
.smallInput input{
	width: 138px !important;
}
.smallSelect{
	width: 120px !important;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.lineBetween{
	width: 10px;
	text-align: center;
	float: left;
	line-height: 80px;
	color: #888888;
	padding-left: 5px;
	font-size: 14px;
}

.evenSmallerInput input{
	width: 80px !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
    font-size: 16px;
    font-weight: 400
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-style: italic;
   font-size: 16px;
   font-weight: 400
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-style: italic;
   font-size: 16px;
   font-weight: 400
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-style: italic;
   font-size: 16px;
   font-weight: 400
}

.bigAdditional {
background: url('../img/bigAdditional.png') top;
width: 466px;
height: 50px;
line-height: 50px;
display: block;
color: #FFF;
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
text-align: center;
text-decoration: none;
}
.additionalBox{
	margin-top: 30px;
	width: 466px;
	border: 1px solid #e2e2e2;
}
.additionalBox p{
	line-height: 48px;
	background: #f9f9f9;
	padding-left: 15px;
	border-bottom: 1px solid #e2e2e2;
	color: #777777;
	font-size: 18px;
	font-weight: 600;
}
.additionalBoxBody{
	padding: 30px;
}

.forgotPass{
	color: #7ca745;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}
.forgotPass:hover{
	color: #559008;
	text-decoration: underline;
}


/* ALERTS (ERRORS, SUCCESS) */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}





.input-text
{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 420px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 20px;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: 700;
    color: #845996;
}
.input-text:disabled { background-color: #EEE;  }
.input-text:focus{ border: 1px solid #845996; } 