{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <!-- Wrapper -->
    <div id="wrapper" class="contact-wrapper">

        <!-- Main -->
        <section id="main" class="main">

            <div class="inner">
                <header class="major">
                    <h1>{% trans "Contact Us" %}</h1>
                </header>

                <div class="row">

                    <div class="6u 12u$(small)">

                        <!-- Form -->
                        <form method="post" action="">

                            {% csrf_token %}

                            <div class="row uniform">

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.name.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.name }}
                                        <span><span>{{ form.name.label }}</span></span>
                                    </label>
                                    {{ form.name.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.email.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.email }}
                                        <span><span>{{ form.email.label }}</span></span>
                                    </label>
                                    {{ form.email.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$ form-field {% if form.message.errors %}has-error{% endif %}">
                                    <label>
                                        {{ form.message }}
                                        <span><span>{{ form.message.label }}</span></span>
                                    </label>
                                    {{ form.message.errors }}
                                </div>

                                <!-- Break -->
                                <div class="12u$">
                                    <ul class="actions">
                                        <li>
                                            <input type="submit" value="{% trans "Send Message" %}" class="special" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="6u 12u$(small)">

                        <div class="address">
                            <p>
                                <strong>{% trans "Wanna Migrate" %}</strong>
                                <br />{% trans "28 Rothschild Avenue, Rosebery" %}
                                <br />{% trans "Sydney - NSW - Australia" %}
                                <br />{% trans "Australian Business Number: 48316158565" %}
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}

{% block scripts %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){


        });


    </script>

{% endblock scripts %}
