{% extends "site/layouts/internal.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}
    <link href="{% static 'site/css/signin.css' %}" rel="stylesheet">


{% endblock head %}


{% block content %}

<!-- Page Header -->
<!--div class="section-header">
    <h1 class="f18 bold">{% trans "Login" %}</h1>
    <p class="f10 regular">{% trans "Join now to the World's largest immigration platform." %}</p>
</div-->

<div class="cards-wrapper">
    {% if error %}
        <div class="alert-danger">{{ error }}</div>
    {% endif %}
    {% if success %}
        <div class="alert-success">{{ success }}</div>
    {% endif %}
</div>
<div class="cards-wrapper">
    
    <div class="signin-card">
    	{% include form_template %}  
    </div>
</div>

{% endblock content %}