{% load staticfiles %}
{% load i18n %}
<!-- HEADER --> 
<div class="modal-header f18 bold purple regular text-center"> {% trans 'Sign in' %} </div>
<!-- ./HEADER -->
<!-- BODY -->
<div class="modal-body">
    <!-- LOGIN -->
    <form id="login_form_email" class="" method="post" role="form" action="{% url 'site:login' %}">
      {% csrf_token %}
      {{ form.email }}
      {{ form.password }}
      <button id="login-submit" type="submit" class="submit f12">{% trans "Login" %}</button>
      <a id="login-link-reset-password" class="f10 green" href="{% url 'site:recover_password' %}">
        {% trans "Forgot your password?" %}
      </a>
    </form>
    <!-- ./LOGIN -->
    
    <!-- LOGIN/SIGNUP VIA SOCIAL NETWORKS -->
    {% include "site/signin/social_login.html" %}  
    <!-- ./LOGIN/SIGNUP VIA SOCIAL NETWORKS -->

    <a id="login-switch-to-signup" class="switcher f12" href="{% url 'site:signup' %}">
        {% trans "Don't have an account? Sign-Up" %}
    </a>
</div>

<!-- LOGIN FOOTER -->
<div class="modal-footer f10 grey regular">
    {% url 'site:terms' as terms_url %}
    {% url 'site:privacy' as privacy_url %}
    {% blocktrans %}
        If you click "Log in with Facebook/Linkedin/Twitter" and are not our user, you will be registered and accepting Wanna Migrate's
        <a class="bold green" target="_blank" href="{{ terms_url }}">Terms and Conditions</a>
        and  <a class="bold green" target="_blank" href="{{ privacy_url }}">Privacy Police</a>
    {% endblocktrans %}
</div>
<!-- ./LOGIN FOOTER -->