{% load staticfiles %}
{% load i18n %}
<!-- HEADER --> 
<div class="modal-header f18 bold purple regular text-center">
  {% trans 'Password recovery' %}
</div>
<!-- ./HEADER -->

<!-- BODY -->
<div class="modal-body">
    <!-- PASSWORD RECOVERY -->
    <p class="primary f12 grey">
        {% trans "Fill in your email address and you will receive a link to reset your password." %}
    </p>
    <form id="login_form_email" class="" method="post" role="form" action="{% url 'site:recover_password' %}">
      {% csrf_token %}
      {{ form.email }}
      <button id="password_recovery_submit" type="submit" class="submit half f12">{% trans "Recover Password" %}</button>
    </form>

    <a id="password_recovery_link_login" class="switcher f12" href="{% url 'site:login' %}">« {% trans "Go Back" %}</a>
    <!-- ./PASSWORD RECOVERY -->
</div>
<!-- PASSWORD RECOVERY FOOTER -->
<div class="modal-footer  f10 grey regular">
    {% trans 'Still having problems? Please go to our' %} <a class="bold green" href="{% url 'site:contact' %}">{% trans 'Contact Form' %}</a>
</div>
<!-- ./PASSWORD RECOVERY FOOTER -->