{% extends "_layouts/site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

    {{ block.super }}

    <link href="{% static 'site/css/internal.css' %}" rel="stylesheet">

{% endblock head %}


{% block content %}

<!-- Page Header -->
<div class="section-header">
    <h1>{% trans "Password Recovery" %}</h1>
    <p>{% trans "Recover your password" %}</p>
</div>
{% if finished %}
    <div class="edit-container">
        {% trans "You have successfully updated your password." %}

        <br /><br />

        <a href="{% url 'site:home' %}">{% trans "Click Here to go back and login again" %}</a>
    </div>
{% else %}
    <div class="edit-container">
        {% include "site/_common/status.html" %}
    </div>
    <div class="edit-container">
        {% include "site/_common/form.html" %}
    </div>
{% endif %}
    

{% endblock content %}