{% load staticfiles %}
{% load i18n %}
<!-- HEADER --> 
<div class="modal-header f18 bold purple regular text-center">{% trans 'Sign up' %}</div>
<!-- ./HEADER -->

<!-- BODY -->
<div class="modal-body">
    <!-- SIGNUP -->
    <form id="signup_form_email" class="signup_item" method="post" role="form" action="{% url 'site:signup' %}">
        {% csrf_token %}
        {{ form.name }}
        {{ form.email }}
        {{ form.email_confirmation }}
        {{ form.password }}
        <button id="signup_button_submit" type="submit" class="submit f12">{% trans "Sign-Up" %}</button>
      </form>
      <!-- SIGNUP -->
    
    <!-- LOGIN/SIGNUP VIA SOCIAL NETWORKS -->
    {% include "site/signin/social_login.html" %}  
    <!-- ./LOGIN/SIGNUP VIA SOCIAL NETWORKS -->
    
    <a id="login-switch-to-signup" class="switcher signup_item f12 login-switcher" href="{% url 'site:login' %}">
        {% trans "Already registered?" %} <span class="bold"> {% trans "Log in" %} </span>
    </a>

</div>
<!-- SIGNUP FOOTER -->
<div class="modal-footer signup_item f10 grey regular">
    {% url 'site:terms' as terms_url %}
    {% url 'site:privacy' as privacy_url %}
    {% blocktrans %}
        By clicking on Sign up, you will be automatically accepting Wanna Migrate's
        <a class="bold green" target="_blank" href="{{ terms_url }}">Terms and Conditions</a>
        and  <a class="bold green" target="_blank" href="{{ privacy_url }}">Privacy Police</a>
    {% endblocktrans %}
</div>
<!-- ./SIGNUP FOOTER -->