{% load staticfiles %}
{% load i18n %}
<div id="login-social-container" class="login_item signup_item">
    <div class="f14 regular dark-grey text-center">
        {% trans "Alternatively, you can sign up using:" %}
    </div>
    <div id="social-login-buttons-container">
        <a title="{% trans "Login with Facebook" %}" href="{% url 'social:begin' 'facebook' %}" class="social-login facebook f16">
            <i class="fa fa-facebook"></i>
        </a>
        <a title="{% trans "Login with Linkedin" %}" href="{% url 'social:begin' 'linkedin' %}" class="social-login linkedin f16">
            <i class="fa fa-linkedin"></i>
        </a>
        <a title="{% trans "Login with Google" %}" href="{% url 'social:begin' 'google-oauth2' %}" class="social-login google f16">
            <i class="fa fa-google"></i>
        </a>
    </div>
</div>
<div class="clear"></div>