{% extends "admin/layouts/main.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{% static 'admin/js/jquery.formset.js' %}"></script>

	<script type="text/javascript">

		/**
		 * Jquery On Load
		 *
		 */
		$(document).ready(function() {

            // Jquery Formset
            $( '#main_form tbody tr' ).formset();

			// JS FORM Validation
			$( "#main_form" ).submit( function() {
				return validate_empty_fields( this, '{{ question_form.get_required_fields }}' );
			});

			// JS for onload
			{{ on_load|default:'' }}
			
		});
		
	</script>
	
{% endblock head %}


{% block content %}

            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">Add New Immigration Rule</h1>
                </div>
                
            </div>
            
            {% include "admin/layouts/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Immigration Rule Details
                        </div>
                                                
                        <div class="panel-body">

                            <form action="{{ action_url|default:'' }}" method="post" id="main_form">

                                <div class="row">
                                    <div class="col-lg-6">

                                        {% csrf_token %}

                                        {% for field in question_form %}

                                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                                {{ field.errors }}
                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="datatable_data">

                                        <thead>
                                            <tr>
                                                <th>Answer</th>
                                                <th>Category</th>
                                                {% for country in countries %}
                                                    <th>{{ country.name }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>

                                        <tbody>

                                            {{ answer_formset.management_form }}
                                            {% for answer_form in answer_formset %}
                                                <tr>
                                                    <td>
                                                        {{ answer_form.id }}
                                                        <div class="form-group {% if answer_form.description.errors %}has-error{% endif %}">
                                                            {{ answer_form.description }}
                                                            {{ answer_form.description.errors }}
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group {% if answer_form.answer_category.errors %}has-error{% endif %}">
                                                            {{ answer_form.answer_category }}
                                                            {{ answer_form.answer_category.errors }}
                                                        </div>
                                                    </td>

                                                    {% for field in answer_form %}
                                                        {% if 'points_' in field.name %}
                                                            <td>
                                                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                                                    {{ field }}
                                                                    {{ field.errors }}
                                                                </div>
                                                                &nbsp;
                                                                Points
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}

                                        </tbody>

                                    </table>
                                </div>

                                <div class="text-center buttons">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i>Save</button>
                                    <a href="{{ cancel_url }}" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
                                </div>

                            </form>
                            
                        </div>
                   
                    </div>
                    
                </div>
            
            </div>

{% endblock content %}







