{% load constants_extras %}
<!-- Facebook Login SDK -->
<script>
  
  /** Starts the login with facebook action. */
  function fb_login() {
      FB.login(statusChangeCallback);
  }
   
  /** Callback function that is called when the facebook's api returns.
  This method handles the login response and threat its results.
  @param response The response object from facebook's api. */
  function statusChangeCallback(response) {
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
          // Logged into your app and Facebook. Redirect...
          alert("logged with facebook");
          //window.location = "{{ login_redirect }}";
      } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.

      } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.

      }
  }

  // Initializes the facebook api
  window.fbAsyncInit = function() {
      FB.init({
          appId: '{% get_constant_value "FACEBOOK_APP_ID" %}',
          cookie: true, // enable cookies to allow the server to access 
          // the session
          xfbml: true, // parse social plugins on this page
          version: 'v2.1' // use version 2.1
      });
  };

   // Load the SDK asynchronously
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- ./Facebook Login SDK -->


<!-- LinkedIn Login SDK Hosted -->
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
  api_key: {% get_constant_value "LINKEDIN_APP_ID" %}
  onLoad: onLinkedInLoad
  authorize: false
</script>
<!-- ./LinkedIn Login SDK Hosted -->

<!-- LinkedIn Login SDK Custom -->
<script type="text/javascript">

  /** Replaces the linkedIn default button. This functions is a workaround. */
  function replace_linkedin_button() {
    var linkedin_login_img_src = "http://thumb.mais.uol.com.br/14306616-small.jpg"
    var bt_linkedin_login_img = $("<img/>").addClass("linkedin_login_button").attr("src", linkedin_login_img_src);
    // Changes the LinkedIn button to a custom image
    $('a[id*=li_ui_li_gen_]').html(bt_linkedin_login_img);
  }

  /** Initialize things when the linkedin api is ready, such as replace of linkedin button and register a callback to handle when the user log in. */
  function onLinkedInLoad() {
      replace_linkedin_button();
      IN.Event.on(IN, "auth", onLinkedInAuth);
  }

  /** Callback function. Handles the user information provided by the linkedin app. */
  function onLinkedInAuth() {
      IN.API.Profile("me").result(displayProfiles);
  }

  // example function threating the data provided by the linkedin.
  function displayProfiles(profiles) {
      member = profiles.values[0];
      alert("<p id=\"" + member.id + "\">Hello " + member.firstName + " " + member.lastName + "</p>");;
  }
</script>
<!-- ./LinkedIn Login SDK Custom -->

<!-- Custom js -->
<script type="text/javascript">
  function switch_to_login()
  {
    $( ".password_recovery_item" ).hide();
    $( ".signup_item" ).hide();
    $( ".login_item" ).fadeIn();
  }

  function switch_to_signup()
  {
    $( ".login_item" ).hide();
    $( ".signup_item" ).fadeIn();
  }

  function switch_to_password_recovery()
  {
    $( ".login_item" ).hide();
    $( ".password_recovery_item" ).fadeIn();
  }

  $(document).ready(function(){
    switch_to_login();
  });
  
</script>
<!-- ./Custom js -->


<div id="login_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/218944-872e78045bad898911a3e4a97724c658-medium_jpg.jpg" />
        </div>
        <div class="modal-body">

            <div class="login_item signup_item">
              <a href="javascript:fb_login();"><img src="https://pbs.twimg.com/profile_images/503940439909494784/0z4644EY_normal.png"></a>

              <script type="IN/Login"></script>

              <strong class="line-thru">ou</strong>
            </div>

            <!-- LOGIN -->
            <form id="login_form_email" class="login_item" method="post" role="form" action="">
              <div class="hidden ajax_spinner"></div>
              <fieldset>
                <ul>
                  <li>
                    <label for="login_username">E-mail:</label>
                    <input placeholder="E-mail" type="text" id="login_input_email" name="email" />
                  </li>
                  <li>
                    <label for="login_password">Senha:</label>
                    <input placeholder="Senha" type="password" id="login_input_password" name="password">
                  </li>
                </ul>
              </fieldset>
              <button id="login_button_submit" type="submit" class="btn btn-success">Entrar</button>
            </form>

            <a id="login_link_reset_password" class="login_item" href="javascript:switch_to_password_recovery();">Esqueceu sua senha?</a>

            <p class="primary login_item">
              Não tem uma conta? <a id="login_link_signup" href="javascript:switch_to_signup();" >Inscrever-se</a>
            </p>
            <!-- ./LOGIN -->

            <!-- SIGNUP -->
            <form id="signup_form_email" class="signup_item" method="post" role="form" action="">
                <div class="hidden ajax_spinner"></div>
                <fieldset>
                  <ul>
                    <li>
                      <label for="signup_input_email">E-mail:</label>
                      <input placeholder="E-mail" type="text" id="signup_input_email" name="email" />
                    </li>
                    <li>
                      <label for="signup_input_email_confirm">Confirmação de e-mail:</label>
                      <input placeholder="Confirme seu e-mail" type="text" id="signup_input_email_confirm" name="email_confirm" />
                    </li>
                    <li>
                      <label for="signup_input_password">Senha:</label>
                      <input placeholder="Senha" type="password" id="signup_input_password" name="password">
                    </li>
                  </ul>
                </fieldset>
                <button id="signup_button_submit" type="submit" class="btn btn-success">Inscrever</button>
              </form>
              <p class="primary signup_item">
                Já possui cadastro? <a id="login_link_signup" href="javascript:switch_to_login();" class="js-link">Efetuar login!</a>
              </p>
              <!-- SIGNUP -->

            <!-- PASSWORD RECOVERY -->
            <p class="primary password_recovery_item">
              Informe seu e-mail abaixo e lhe enviaremos um link de redefinição de senha.
            </p>
            <form id="login_form_email" class="password_recovery_item" method="post" role="form" action="">
              <div class="hidden ajax_spinner"></div>
              <fieldset>
                <ul>
                  <li>
                    <label for="password_recovery_email">E-mail:</label>
                    <input placeholder="E-mail" type="text" id="password_recovery_email" name="email" />
                  </li>
                </ul>
              </fieldset>
              <button id="password_recovery_submit" type="submit" class="btn btn-success">Enviar</button>
            </form>
            <p class="primary password_recovery_item">
              <a id="password_recovery_link_login" href="javascript:switch_to_login();" class="js-link">« Voltar</a>
            </p>
            <!-- ./PASSWORD RECOVERY -->


        </div>
        <!-- LOGIN FOOTER -->
        <div class="modal-footer login_item">
            Ao clicar nos botões do facebook ou do linkedin e não for usuário do Wanna Migrate, você será automaticamente cadastrado e estará aceitando os <a href="#">Termos e condições</a> e a <a href="#">Política de privacidade</a> do Wanna Migrate.
        </div>
        <!-- ./LOGIN FOOTER -->
        <!-- SIGNUP FOOTER -->
        <div id="modal_footer" class="modal-footer signup_item">
            Ao cadastrar-se na plataforma você declara estar de acordo com os <a href="#">Termos e condições</a> e a <a href="#">Política de privacidade</a> do Wanna Migrate.
        </div>
        <!-- ./SIGNUP FOOTER -->
        <!-- PASSWORD RECOVERY FOOTER -->
        <div id="modal_footer" class="modal-footer password_recovery_item">
            Ainda com problemas? Entre em contato com o nosso <a href="">suporte.</a>
        </div>
        <!-- ./PASSWORD RECOVERY FOOTER -->
    </div>
  </div>
</div>