{% load i18n %}
{% load staticfiles %}
{% load string_extras %}

<ul id="user-stats-content-people-list">
    {% for content in contents %}
        <li class="user-stats-content-people-item">
            <a href="{{ content.url }}">
                {% if content.avatar %}
                    <img src="{% static content.avatar %}" class="user-stats-content-people-link-image" />
                {% else %}
                    <img src="{% static 'site/img/thumb-professional.jpg' %}" class="user-stats-content-people-link-image" />
                {% endif %}
                <p class="user-stats-content-people-link-name">{{ content.name }}</p>
            </a>
        </li>
    {% empty %}
        <li class="empty">{% trans "Empty" %}</li>
    {% endfor %}
</ul>