{% load i18n %}
{% load staticfiles %}
{% load string_extras %}
<ul id="user-stats-content-post">
    {% for content in contents %}
        <li class="user-stats-content-post-item">
            <a href="{{ content.url }}">
                <h3 class="user-stats-content-post-item-link-title">
                    {{ content.title }}
                </h3>
                <p class="user-stats-content-post-item-link-description">
                    {% autoescape off %}
                        {{ content.body|striptags|truncate_smart:250 }}
                    {% endautoescape %}
                </p>
            </a>
        </li>
    {% empty %}
        <li class="empty">{% trans "Empty" %}</li>
    {% endfor %}
</ul>