{% extends "_layouts/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% load string_extras %}

{% block head %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/tooltipster.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "common/jquery-tooltipster/css/themes/tooltipster-wannamigrate.css"%}" />

{% endblock head %}

{% block content %}

    <div class="content payment">
        <div class="professional">
            <div class="top">
                <h2 class="title">{% trans 'Hiring Professional' %}</h2>
            </div>
            <div class="identity">
                <div class="thumb">
                    {% if provider.user.userpersonal.avatar %}
                        <img src="{{ provider.user.userpersonal.avatar.size100x100.url }}" alt="{{ provider.display_name }}" />
                    {% else %}
                        <img src="{% static 'site/img/thumb-professional.jpg' %}" alt="{{ provider.display_name }}" />
                    {% endif %}
                </div>
                <div class="data-professional">
                    <strong class="name">{{ provider.display_name }}</strong>
                    <p class="expert">{{ provider.headline }}</p>
                    <div class="rate" data-score="{{ provider.review_score }}">
                        <span class="count">({{ provider.user.userstats.total_reviews|kmi }})</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="services tooltip" title="{% trans service_type.description %}">
            <h2 class="title">{% trans 'Service' %}</h2>
            <strong class="service {{ service_type.icon_css_class }}">{% trans service_type.name %}</strong>
        </div>
        <div class="interactions">
            <ul class="interaction-list">
                <li class="interaction-item">
                    <a href="#" class="interaction-link bt-card active">{% trans 'Credit Card' %}</a>
                </li>

                <!--
                <li class="interaction-item">
                    <a href="#" class="interaction-link bt-billet">{% trans 'Boleto' %}</a>
                </li>


                <li class="interaction-item">
                    <a href="#" class="interaction-link bt-paypal">{% trans 'Paypal' %}</a>
                </li>
                -->
            </ul>
            <div class="credit-card" id="credit-card">

                {% include "site/_common/status.html" %}

                <form id="payment_credit_card_form" class="payment-form" method="post" action="{% url 'marketplace:payment' %}#payment_credit_card_form">

                    {% csrf_token %}
                    {{ form.token }}
                    {{ form.payment_type }}

                    <!--
                    <fieldset class="address">
                        <strong>Endereço de cobrança:</strong>
                        <div class="same field">
                            <input type="radio">
                            <label for="same">Usar o mesmo endereço cadastrado</label>
                        </div>
                        <div class="other field">
                            <input type="radio">
                            <label for="same">Usar outro endereço</label>
                        </div>
                    </fieldset>
                    -->
                    <fieldset class="data">

                        <div class="total-price">{% trans 'Total' %}: R$ {{ total_price }}</div>

                        <div class="card-flags">
                            <ul>
                                <li class="visa active">Visa</li>
                                <li class="mastercard">Mastercard</li>
                                <li class="diners">Diners Club</li>
                                <li class="american">American Express</li>
                            </ul>
                        </div>
                        <div class="card-number field error-element">
                            <label for="id_credit_card_number">{% trans 'Card Number' %}</label>
                            <input data-iugu="number" id="number" type="text" value="" autocomplete="off" />
                        </div>
                        <div class="name field error-element">
                            <label for="id_credit_card_name">{% trans 'Cardholder Name' %}</label>
                            <input data-iugu="full_name" id="full_name" type="text" value="" autocomplete="off" />
                        </div>
                        <div class="expiration-date field error-element">
                            <label for="expiration-date">{% trans 'Expiry Date' %}</label>
                            <div class="month error-element">
                                <select id="expiry_month" class="default-select small">
                                    <option value="01">01 - {% trans 'January' %}</option>
                                    <option value="02">02 - {% trans 'February' %}</option>
                                    <option value="03">03 - {% trans 'March' %}</option>
                                    <option value="04">04 - {% trans 'April' %}</option>
                                    <option value="05">05 - {% trans 'May' %}</option>
                                    <option value="06">06 - {% trans 'June' %}</option>
                                    <option value="07">07 - {% trans 'July' %}</option>
                                    <option value="08">08 - {% trans 'August' %}</option>
                                    <option value="09">09 - {% trans 'September' %}</option>
                                    <option value="10">10 - {% trans 'October' %}</option>
                                    <option value="11">11 - {% trans 'November' %}</option>
                                    <option value="12">12 - {% trans 'Dezember' %}</option>
                                </select>
                                <input data-iugu="expiration" id="expiration" type="hidden" />
                            </div>
                            <div class="year error-element">
                                <select id="expiry_year" class="default-select small">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2017</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                </select>
                            </div>
                        </div>
                        <div class="security-code field error-element">
                            <label for="id_credit_card_cvv">{% trans 'Security Code (CVV)' %}</label>
                            <input data-iugu="verification_value" id="verification_value" type="text" value="" autocomplete="off" maxlength="5" />
                        </div>
                        <!--
                        <div class="hire-purchase field">
                            <label for="hire-purchase">Número de parcelas</label>
                            <select name="" id="" class="custom-select">
                                <option value="1x">1x de R$ 90,00 sem juros</option>
                                <option value="2x">2x de R$ 45,00 sem juros</option>
                            </select>
                        </div>
                        -->
                        <button class="bt-pay button" id="pay_button" type="submit">{% trans 'Pay Now' %}</button>
                    </fieldset>
                </form>
            </div>

            <div class="credit-card billet" id="billet" style="display: none;">

                {% include "site/_common/status.html" %}

                <form id="payment_boleto_form" class="payment-form" method="post" action="{% url 'marketplace:payment' %}#payment_boleto_form">

                    {% csrf_token %}

                    {{ form.token }}

                    {{ form.payment_type }}

                    <fieldset class="data">

                        <strong>{% trans 'The confirmation can take up to 3 days after the payment.' %}</strong>

                        <div class="same field">
                            <input type="checkbox" disabled="disabled" checked="checked" />
                            <label for="id_is_boleto">{% trans 'I want to pay by Boleto' %}</label>
                        </div>

                        <button class="bt-pay button" id="pay_button" type="submit">{% trans 'Pay Now' %}</button>

                    </fieldset>



                </form>

            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}

    {{ block.super }}

    <!-- Custom JS Libraries -->
    <script type="text/javascript" src="https://js.iugu.com/v2"></script>
    <script type="text/javascript" src="{% static 'common/formatter/js/formatter.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/jquery-tooltipster/js/jquery.tooltipster.js' %}"></script>

    <!-- INLINE JS -->
    <script type="text/javascript">

        $( document ).ready( function() {

            // Activating the payment processor IUGU
            Iugu.setAccountID( "{{ payment_api_account_id }}" );

            // Sets test mode
            {% if payment_api_test_mode %}
                Iugu.setTestMode( true );
            {% endif %}

            // Formatter settings
            Iugu.setup();

            // JS FORM Submission
            $( ".payment-form" ).submit( function() {

                // Hide payment button to avoid double order
                $( "#pay_button").hide();

                // Checks payment type
                var payment_type = $( "#id_payment_type" );
                if ( payment_type.val() == '' ){
                    payment_type.val( 'credit-card' )
                }

                // If type is boleto, there's nothing to validate
                if ( payment_type.val() == 'boleto' ){
                    return true;
                }

                // JS required fields validation
                var required = 'number,full_name,expiry_month,expiry_year,verification_value';
                if ( !validate_empty_fields( this, required ) ) {
                    return false;
                }

                // Set expiry date in the format 'mm/yyyy'
                $( "#expiration").val( $( "#expiry_month" ).val() + '/' + $( "#expiry_year" ).val() );

                // Call our Payment Token request function
                var form = $( this );
                var tokenResponseHandler = function( data ) {

                    if ( data.errors ) {
                        $( "#pay_button").show();
                        //console.log(data.errors);
                        //alert( "{% trans 'Error Savind Credit Card' %}: " + JSON.stringify( data.errors ) );
                        error_message = '{% trans 'Invalid Information:' %}';
                        for ( var error in data.errors ){
                            if ( error == 'number' ){
                                hightlight_error_element( 'number' );
                                error_message += ' [{% trans 'Card Number' %}] ';
                            } else if ( error == 'full_name' || error == 'first_name' || error == 'last_name' ){
                                hightlight_error_element( 'full_name' );
                                error_message += ' [{% trans 'Cardholder Name' %}]';
                            } else if ( error == 'expiration' ){
                                hightlight_error_element( 'expiry_month' );
                                hightlight_error_element( 'expiry_year' );
                                error_message += ' [{% trans 'Expiry Date' %}]';
                            } else if ( error == 'verification_value' ){
                                hightlight_error_element( 'verification_value' );
                                error_message += ' [{% trans 'Security Code (CVV)' %}]';
                            }
                        }
                        display_error_message( error_message, true );
                        $( "#number").focus();

                    } else {
                        $( "#id_token" ).val( data.id );
                        form.get(0).submit();
                    }

                }

                Iugu.createPaymentToken( this, tokenResponseHandler );
                return false;

            });

            // Automatically set credit card flag by number
            $( '#number').keyup( function( event ) {
                var flag = Iugu.utils.getBrandByCreditCardNumber( $(this).val() );
                if ( flag ){
                    if ( flag == 'visa' ){
                        $( ".card-flags .visa" ).trigger( "click" );
                    } else if ( flag == 'mastercard' ){
                        $( ".card-flags .mastercard" ).trigger( "click" );
                    } else if ( flag == 'diners' ){
                        $( ".card-flags .diners" ).trigger( "click" );
                    } else if ( flag == 'amex' ){
                        $( ".card-flags .american" ).trigger( "click" );
                    }
                }
            });

            // Credit Card Flag Selection
            $('.card-flags li').click(function(event) {
                event.preventDefault()
                $('.card-flags li').removeClass('active');
                $(this).addClass('active');
            });

            // Activate tooltips
            $( '.tooltip' ).tooltipster( {
                maxWidth: 300,
                position: 'right',
                theme: 'tooltipster-wannamigrate',
                touchDevices: false
            });

            // Create review stars of professional
            $( '.rate' ).raty({
                starOff : '{% static 'site/img/star-off.png' %}',
                starOn  : '{% static 'site/img/star-on.png' %}',
                readOnly: true,
                score: function() {
                    return $( this ).attr( 'data-score' );
                }
            });

            // Payment Method Change
            $( '.interaction-link' ).click( function( event ) {
                event.preventDefault()
                $( '.interaction-link' ).removeClass( 'active' );
                $( this ).addClass( 'active' );
                if ( $( this ).hasClass( 'bt-card' ) ) {
                    $('#credit-card').show();
                    $('#billet').hide();
                    $( "#id_payment_type" ).val( 'credit-card' );
                } else if ($(this).hasClass( 'bt-billet' ) ) {
                    $('#credit-card').hide();
                    $('#billet').show();
                    $( "#id_payment_type" ).val( 'boleto' );
                }
            });

        });

    </script>

    {% include "_layouts/analytics.html" %}

{% endblock scripts %}